/******* Fontes Personalizadas ******/
@import url(http://fonts.googleapis.com/css?family=Lato);

body,
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
.block-title strong,
#search,
.header-language-container,
.page-header,
.nav-primary a,
.products-grid .product-name,
.products-list .product-name,
.price-box,
.button,
.footer, .footer button{
    font-family: "Lato";
}


/******* Geral ******/
.header-language-background,
.bx-wrapper .bx-pager.bx-default-pager a.active {
    background-color: #01a4e9;
}

.block-title h2,
.block-title h3,
.block-title strong,
.cms-index-index .subtitle,
.products-grid .product-name,
.products-list .product-name {
    color: #a4a4a4;
}

/********* Topo **********/
.logo {
    max-width: 300px;
    margin: 0;
    display: inline-block;
    text-align: center;
    float: none;
    width: auto;
}

.page-header-container .store-language-container {
    display: none;
}

.logo .large{
    /*transform: none;*/
    top:45px;
}
#header.page-header{
    max-width:100%;
    padding: 0;
}
#header .page-header-container,
#header-nav #nav{
    max-width: 1260px;
    padding: 0 30px;
    margin: 0 auto;
}
#header .header-language-background{
    /*font-size:10px;*/
}
#header .phone-header{
    background: url(/media/wysiwyg/ico-sprite.png) no-repeat -2px -708px;
    display:inline-block;
    padding-left: 20px;
    line-height: 12px;
    font-size: 10px;
    display:inline-block;
}

#header .chatonline{
    display:inline-block;
    color:#FFFFFF;
    padding-left:20px;
    margin-left: 10px;
    background: url(/media/wysiwyg/ico-sprite.png) no-repeat -2px -671px;
}

#header .redes-sociais {padding-left: 15px;}
#header .redes-sociais a{
    background: url(/media/wysiwyg/ico-sprite.png) no-repeat;
    display:inline-block;
    width:20px;
    height:20px;
    margin-top:10px;
}
#header .redes-sociais .twitter		{background-position: 0 -737px;}
#header .redes-sociais .instagram	{background-position: -20px -737px;}
#header .redes-sociais .pinterest	{background-position: -42px -737px;}
#header .redes-sociais .facebook		{background-position: -63px -737px;}
#header .redes-sociais .google		{background-position: -82px -737px;}
#header .redes-sociais .youtube		{background-position: -105px -737px;}

#header-search{
    top:25px;
    margin-left:60px;


}
#search {
    width: 100%;
    height: 40px;
    padding-right: 60px;
    background-color: #f0f0f0;
    border: 0;
    border-radius: 20px;
    font-size: 12px;
    color: #b0b7b6;
    padding-left: 20px;

}


/* Media Queries Desktop */
@media only screen and (min-width: 770px){
    .skip-cart {
        top: 25px;
        right: 30px;
    }
    .skip-cart .icon {
        background-image: url(/media/wysiwyg/ico-sprite.png);
        background-position: -50px -96px;
    }
    .skip-link .label{
        text-transform: capitalize;
    }

    #header-cart.block-cart{
        top: 63px;
    }
    a.skip-active{
        border: solid 1px #eee;
    }
    #header-links{
        display: block;
        position: absolute;
        top: 32px;
        right: 165px;
    }
    #header-links span{
        display:none;
    }
    #header-links span a{
        background-image: url(/media/wysiwyg/ico-sprite.png);
    }
    #header-links span.favorito a{
        background-position: 2px -185px;
        padding-left: 25px;
        height: 28px;
        display: block;
        line-height: 28px;
        margin-right: 20px;
    }
    #header-links span.meus-pedidos a{
        background-position: 2px -215px;
        padding-left: 25px;
        height: 28px;
        display: block;
        line-height: 28px;
    }
}

/* Media Queries Desktop */
@media only screen and (min-width: 980px){
    #header-links span.meus-pedidos{
        display:inline-block;
        margin-right:10px;
    }
}

/* Media Queries Desktop */
@media only screen and (min-width: 1150px){
    #header-links span.favorito{
        display:inline-block;
    }
}


/***** Menu ******/
#header-nav {
    background-color: #fce7ba;
    clear: both;
    border:0;
}

#header-nav #nav {
    text-align: center;
}

#header-nav #nav .nav-primary {
    padding:0;
    display: inline-block;
    margin: 0 auto;
}

.nav-primary li.level0>a:hover,
.nav-primary li.level1 a:hover{
    color: #05c;
}

.nav-primary li.level0>a {
    text-transform: uppercase;
    font-weight: bold;
    color: #f89d57;
    border: 0;
    text-align: left;
    padding: 10px 0 10px 0;
    margin: 0 25px;
}

.nav-primary li {
    text-align: left;
}

.nav-primary li.level0>ul{
    top:60px;
}
.nav-primary li.level1 ul{
    top:0;
}
/******* Home *********/
.faixa-mini{
    display: inline-block;
    text-align: center;
    width: 100%;
}
.faixa-mini>div{
    display:inline-block;
    margin:0 auto;
}

.faixa-mini div div{
    padding:14px;
    display:inline-block;
}
.faixa-mini img{
    max-width:100%
}

.products-grid .nr-pcl {
    width: 100%;
    display: inline-block;
}

.products-grid .add-to-links {
    display: none;
}

.main-container header.h2.subtitle {
    color: #707070;
    text-transform: none;
    font-size: 18px;
    padding: 15px 0 15px 57px;
    font-size: 24px;
    text-align: left;
    background: url(/media/wysiwyg/ico-sprite.png) no-repeat;
    background-position: 1px -1029px;
    margin: 15px 0;
    font-weight: bold;
}
.category-products .products-grid>li{
    border: 1px solid #ebebeb;
}
.category-products .products-grid .product-image {
    border: 0;
    border-bottom: 1px solid #ebebeb;
}

.category-products .products-grid .product-name,
.category-products .products-list .product-name {
    text-transform: none;
    color:#312829;
}
.category-products .products-grid .product-info {
    padding: 0 10px 95px;
}
.category-products .products-grid .actions{
    margin-left: -10px;
}
/* Media Queries Celular */
@media only screen and (max-width: 770px){
    .products-grid .actions {
        position: relative;
    }
    .category-products .products-grid .product-info {
        padding: 0 10px;
    }
}
.category-products .button{
    background: #01a4e9;
    border-radius: 20px;
    width: 80%;
    height: 40px;
    line-height: 28px;
}






/******** Página de Detalhes **********/
.product-view .add-to-cart-buttons .button{
    background: #01a4e9;
}
/******** Checkout **********/
.checkout-types .btn-checkout,
.opc .buttons-set button.button{
    background: #01a4e9;
    border-radius: 20px;
    padding: 10px 20px;
}

/******** Footer *********/
#footer .footer-bar {
    background: #f89d57;
    margin: 0 auto;
}
#footer .footer-news .block-subscribe{
    margin: 0;
    padding: 0;
}
#footer .footer-news .block-title,
#footer .footer-news .block-content .form-subscribe-header{
    display:none;
}
#footer .footer-bar .footer-container{
    padding: 0;
    text-align:center;
}
#footer .footer-bar .textnews {
    display: inline-block;
    width: 54%;
    margin: 15px 0;
    float: left;
}
#footer .footer-bar .footer-news{
    display: inline-block;
    width: 45%;
    padding: 15px 0;
    position:relative;
}
#footer .footer-bar .selo {
    display: inline-block;
    margin: 10px;
    width: 71px;
}
#footer .footer-bar .selo img{
    max-width:100%;
}
#footer .footer-bar .texto {
    display: inline-block;
    padding: 10px;
    width: 84%;
}
#footer .footer-bar span{
    color:#FFF;
    float: left;
}
#footer .footer-bar  .titulo {
    font-size: 20px;
}
#footer .footer-bar  .sub-titulo{
    font-size: 14px;
}
#footer .footer-bar .block-subscribe .block-content,
#footer .footer-bar .block-subscribe .input-box,
#footer .footer-bar .block-subscribe .input-box .actions{
    float: left;
    margin:0;
}
#footer .footer-bar .block-subscribe .block-content{
    width:100%;
}
#footer .footer-bar .block-subscribe .input-box{
    width:90%;
}
#footer .footer-bar .block-subscribe .input-box input{
    width: 100%;
    height: 39px;
    border-radius: 20px;
}
#footer .footer-bar .block .actions .button {
    float: right;
    height: 39px;
    background: #5299C5;
    text-transform: capitalize;
    border-radius: 20px;
    padding: 0 30px;
    position: absolute;
    right: 0;
    top:15px;
}
#footer .footer-bar .block-subscribe .block-content div{
    float:left;
    margin:0;
    padding:0;
}
/* Media Queries Celular */
@media only screen and (max-width: 650px){
    #footer .footer-bar .textnews {
        width:90%;
        min-width:inherit;
    }
    #footer .footer-bar .footer-news{
        width:90%;
        min-width:inherit;
        margin:0 auto;
    }
    #footer .footer-bar .titulo{
        font-size:16px;
    }
    #footer .footer-bar .sub-titulo{
        font-size: 13px;
    }
    #footer .footer-bar .block-subscribe .block-content{
        width:90%
    }
}

#footer .footer-container .footer{
    text-align:center;
}
#footer .footer-container .footer .cols{
    width: 49%;
    display: inline-block;
    text-align:left;
    vertical-align: top;
    min-width:460px;
    margin-bottom: 20px;
}
#footer .footer .sub-cols {
    width: 33%;
    display: inline-block;
    padding-right: 10px;
    min-width: 150px;
    vertical-align: top;
    margin-bottom:20px;
    text-align:left;
}
#footer .footer .sub-col3 {
    width:32%;
}
#footer .footer .sub-cols h3{
    font-size:14px;
    font-weight:bold;
    z-index: 2;
    position: relative;
    background: #FFF;
    text-align:left;
    color:#707070;
}
#footer .footer .sub-cols ul{
    border-top: 1px solid #f89d57;
    margin-top: -19px;
    padding-top: 30px;
    z-index: 1;
    position: relative;
    text-align:left;
}
#footer .footer .sub-cols ul li {
    font-size: 11px;
    text-align:left;
    list-style-type: square;
    margin-left: 15px;
    line-height: 26px;
}
#footer .footer .col1 .sub-cols ul li {
    border-bottom: 1px dotted #ccc;
}
#footer .footer div .sub-cols h3{
    width: auto;
    display: inline-block;
    padding-right: 15px;
}
#footer .footer .col2 .sub-col1{
    width:39%;
    vertical-align: top;
}
#footer .footer .col2 .sub-col2{
    width:60%;
}
#footer .footer .redes-sociais ul li,
#footer .footer .contatos ul li {
    background: url(/media/wysiwyg/ico-sprite.png) no-repeat;
    list-style-type: none;
    margin: 0;
    padding-left: 40px;
    line-height: 33px;
    height: 33px;
}
#footer .footer .redes-sociais ul li.twitter 	{ background-position: 0 -765px;}
#footer .footer .redes-sociais ul li.instagram 	{ background-position: 0 -798px; }
#footer .footer .redes-sociais ul li.facebook 	{ background-position: 0 -830px;}
#footer .footer .redes-sociais ul li.youtube 	{ background-position: 0 -864px;}
#footer .footer .contatos ul li {
    line-height: 36px;
    height: 36px;
    margin-bottom:10px;
}
#footer .footer .contatos ul li.end { background-position: 0 -904px;}
#footer .footer .contatos ul li.tel { background-position: 0 -948px;}
#footer .footer .contatos ul li.fax { background-position: 0 -991px;}
#footer .footer .contatos ul li span {
    line-height: 19px;
    float: left;
    clear: both;
}
/* Media Queries Celular */
@media only screen and (max-width: 510px){
    #footer .footer-container .footer .col1{
        text-align: center;
        width: 100%;
        min-width: inherit;
    }
    #footer .footer .col1 .sub-cols{
        width: 49%;
        min-width: inherit;
    }
    #footer .footer-container .footer .cols,
    #footer .footer .col1 .sub-col3,
    #footer .footer .col2 .sub-col1,
    #footer .footer .col2 .sub-col2,
    #footer .footer .cols{
        width: 100%;
        min-width: inherit;
    }
    #footer .footer .sub-cols {
        width:100%;
    }
}
#footer .footer .full-col{
    clear:both;
    width:100%;
}
#footer .footer  .full-col .sub-cols{
    min-width: 230px;
}
#footer .footer .full-col ul li {
    background: url(/media/wysiwyg/ico-sprite.png) no-repeat;
    list-style-type: none;
    margin: 0;
    display:inline-block;
    line-height: 25px;
    height: 25px;
}

#footer .footer .full-col .sub-col1 ul li{
    width: 29px;
}
#footer .footer .full-col .sub-col1 ul li.visa		{ background-position: -1px -243px; }
#footer .footer .full-col .sub-col1 ul li.master		{ background-position: -36px -243px;}
#footer .footer .full-col .sub-col1 ul li.dinners	{ background-position: -70px -243px; }
#footer .footer .full-col .sub-col1 ul li.itau		{ background-position: -106px -243px;}
#footer .footer .full-col .sub-col1 ul li.boleto		{ background-position: -140px -243px;}
#footer .footer .full-col .sub-col1 ul li.amex		{ background-position: -175px -243px;}


#footer .footer .full-col .sub-col2 ul li.correios	{ background-position: -1px -271px; }
#footer .footer .full-col .sub-col2 ul li.sedex		{ background-position: -73px -271px;width: 65px;}
#footer .footer .full-col .sub-col2 ul li.pac		{ background-position: -138px -270px;}

#footer .footer .full-col .sub-col3 ul li{
    /*width: 71px;*/
}
#footer .footer .full-col .sub-col3 ul li.blindado	{ background-position: -1px -294px;}
#footer .footer .full-col .sub-col3 ul li.certsign	{ background-position: -77px -294px; width: 64px;}
#footer .footer .full-col .sub-col3 ul li.seguro		{ background-position: -149px -294px;}
.footer address{
    display:none;
}

/* Modificação */

@media only screen and (min-width: 771px) {
    .page-header-container {
        position: relative !important;
        min-height: 100px !important;
    }
}

body button.btn-cart:hover, body button.btn-proceed-checkout:hover, body button.btn-checkout:hover {
    background: #3ec6ff;
}

body .page-title h1, body .page-title h2, body .product-name h1, body .product-name .h1, body .price-box .price, body .h2, body h2 {
    color:#f89d57;
}

body .page-title h1, body .page-title h2, body .product-name h1, body .product-name .h1 {
    border:0;
}

body .category-products .products-grid .product-info { padding-bottom: 0;}

body .block-related .actions, .products-grid .actions { position: inherit; }

span.whatsapp-atendimento {
    background: url(/media/wysiwyg/whatsapp.png) 7px 0px no-repeat;
    padding-left: 25px;
}

body li.cc {
    background: inherit !important;
    width: 37px !important;
    height: 27px !important;
}

li.cc.vs {
    background: url("/media/wysiwyg/sprite_payment_methods.png") no-repeat !important;
}

li.cc.ms {
    background: url("/media/wysiwyg/sprite_payment_methods.png") no-repeat !important;
    background-position: 0px -29px !important;
}

li.cc.dn {
    background: url("/media/wysiwyg/sprite_payment_methods.png") no-repeat !important;
    background-position: 0px -55px !important;
}

li.cc.am {
    background: url("/media/wysiwyg/sprite_payment_methods.png") no-repeat !important;
    background-position: 0px -83px !important;
}

li.cc.el {
    background: url("/media/wysiwyg/sprite_payment_methods.png") no-repeat !important;
    background-position: 0px -112px !important;
}

li.cc.bt {
    background: url("/media/wysiwyg/sprite_payment_methods.png") no-repeat !important;
    background-position: 0px -139px !important;
}

.category-products .toolbar {
    display: none;
}

.category-products .toolbar {
    display: none;
}

.category-products .toolbar-bottom .toolbar {
    display: block;
}

.col3-layout .col-wrapper {
    width: 100%;
}

.block-layered-nav .block-subtitle--filter,
.block-layered-nav .block-subtitle--filter:hover {
    background-color: #01A4E9;
}

.col3-layout .col-right {
    display: none;
}