body,
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
.block-title strong,
#search,
.header-language-container,
.page-header,
.nav-primary a,
.products-grid .product-name,
.products-list .product-name,
.block-layered-nav .block-content>dl>dt,
.price-box,
.button,
.footer, .footer button{
    font-family: "PT Sans";
    text-transform: none;
}

/********* Topo **********/
.logo{
    width: 25.2%;
    height:auto;
    margin: -20px 0 10px;
}
.logo .large {
    top: 0;
    transform: none;
}

/* Default / General */
.block-layered-nav .block-subtitle--filter:hover {
    background-color: #cc0000;
}

body a:hover {
    color: #cc0000;
}

body .input-text {
    border-radius: 0;
}

body .block-title h2,
body .block-title h3,
body .block-title strong {
    width: 100%;
    padding-bottom: 13px;
    display: inline-block;
    font-family: "PT Sans";
    text-transform: uppercase;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #d5d5d5;
}

.block-layered-nav {
    padding: 24px;
    border: 5px solid #f5f5f5;
}

body .block-layered-nav .block-content > dl > dt,
body .block-layered-nav .block-content > dl > dd {
    border: none;
    background: none transparent;
}

.block-layered-nav .block-content #narrow-by-list2 li.level0 a,
body .block-layered-nav .block-content > dl > dt {
    font-family: "PT Sans";
    font-size: 18px;
    color: #686565;
    text-transform: none;
}

.block-layered-nav .block-content #narrow-by-list2 li.level0 a {
    padding: 7px 10px;
}

.block-layered-nav .block-content #narrow-by-list2 li.level0 a:hover {
    color: #cc0000;
}

body .breadcrumbs li {
    font-family: "PT Sans";
    color: #7b7b7b;
}

body .breadcrumbs strong {
    color: #cc0000;
}

body .breadcrumbs span {
    padding: 0 2px;
}

/* Buttons */
body .products-grid button.btn-cart,
body .col-main .products-grid button.btn-cart,
body .button,
body .cart-table .product-cart-actions .button,
body #co-shipping-method-form .buttons-set .button,
body .footer .button,
body .owl-carousel.owl-theme .owl-controls .owl-buttons div,
body button.btn-cart:focus,
body button.btn-proceed-checkout:focus,
body button.btn-checkout:focus,
body .button:focus,
body .cart-table .product-cart-actions .button:focus,
body #co-shipping-method-form .buttons-set .button:focus,
body .footer .button:focus,
body .owl-carousel.owl-theme .owl-controls .owl-buttons div:focus,
body .products-grid button.btn-cart:hover,
body .col-main .products-grid button.btn-cart:hover,
body .button:hover,
body .cart-table .product-cart-actions .button:hover,
body #co-shipping-method-form .buttons-set .button:hover,
body .footer .button:hover,
body .owl-carousel.owl-theme .owl-controls .owl-buttons div:hover,
body .button:active,
body .cart-table .product-cart-actions .button:active,
body #co-shipping-method-form .buttons-set .button:active,
body .footer .button:active,
body .owl-carousel.owl-theme .owl-controls .owl-buttons div:active,
body button.btn-cart,
body button.btn-proceed-checkout,
body button.btn-checkout,
body button.btn-cart:hover,
body button.btn-proceed-checkout:hover,
body button.btn-checkout:hover,
body button.btn-cart:active,
body button.btn-proceed-checkout:active,
body button.btn-checkout:active {
    background: none #cc0000;
}

body .input-text,
body .input-text:focus {
    color: #7b7b7b;
    border: 1px solid #7b7b7b;
}

body .input-text:focus {
    color: #000;
}

/* Sidebar */
.sidebar .no-effect-banner > div {
    border: 1px solid #FFF;
    margin: 0 auto 18px;
    display: block;
    box-shadow: 0 1px 4px #CCC;
}

.block-layered-nav dl dd ol > li > span,
.block-layered-nav dl dd ol > li > a {
    color: #7b7b7b;
    font-size: 16px;
    padding-left: 25px;
    position: relative;
}

.block-layered-nav dl dd ol > li > span:before,
.block-layered-nav dl dd ol > li > a:before {
    content: " ";
    width: 20px;
    height: 21px;
    display: block;
    left: 0;
    position: absolute;
    top: 3px;
    background: url("../../wysiwyg/sprites/play-btn.png") 0 0 no-repeat;
}


/* Resets */
body .block-related .product-info,
body .products-grid .product-info {
    padding-bottom: 0;
    position: static;
    min-height: inherit;
}

.catalog-category-view .block-related .product-info,
.catalog-category-view .products-grid .product-info {
    position: relative;
}

/* Header */

.cms-index-index .page > #header {
    min-height: 698px;
    position: relative;
}

.main-top-container {
    position: relative;
    z-index: 2;
}

body:not(.cms-index-index) .main-top-container {
    background: url('../../wysiwyg/background/bg-header.png') 0 0 repeat;
}

.top-container {
    left: 0;
    margin: 0 auto;
    max-width: inherit;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.toplinks {
    float: right;
}

.toplinks li {
    line-height: 12px;
    padding: 0 22px;
    border-right: 1px solid #7b7b7b;
}

.toplinks li.last {
    border-right: none;
}

.header-language-background {
    background-color: rgba(255, 255, 255, 0.67);
}

.header-language-background,
.header-language-background a {
    color: #FFF;
}

#header .page-header-container,
.header-nav-container {
    max-width: 1260px;
    padding: 0 30px;
    margin: 0 auto;
}

/* Search */
#header #header-search {
    width: 58%;
    float: left;
    margin-top: 42px;
    position: inherit;
    left: inherit;
    right: inherit;
    top: inherit;
}

#header #header-search #search {
    height: 38px;
    font-size: 12px;
    color: #000;
    font-weight: bold;
    font-family: "Arial", Verdana, sans-serif;
    border: 1px solid #7b7b7b;
    background-color: rgba(255, 255, 255, 0.67);
}

#header #header-search .button.search-button {
    display: inline-block;
    width: 25px;
    height: 24px;
    padding: 0;
    margin: 7px 9px 0 0;
    overflow: hidden;
    background: url('../../wysiwyg/sprites/sprite-main.png') -2px -436px no-repeat;
}

#search_mini_form .search-button::before {
    display: none;
}

#header #header-search .button.search-button span {
    text-indent: -9999px;
    text-align: left;
    display: none;
}

/* Top Cart */
.skip-link {
    background-color: transparent;
}

.skip-links {
    width: 124px;
    clear: none;
    overflow: inherit;
    margin-top: 48px;
    position: relative;
    border: 1px solid #FFF;
    background-color: #FFF;
}

#header .skip-cart {
    height: auto;
    margin: 0;
    padding: 0;
    position: inherit;
    top: inherit;
    line-height: 25px;
    right: inherit;
}

#header .skip-cart .label {
    display: none;
}

.skip-cart.no-count .count {
    width: auto;
    height: inherit;
    min-height: 26px;
    line-height: 25px;
    font-family: "PT Sans";
    font-size: 12px;
    margin-left: 7px;
    text-transform: none;
    position: inherit;
    top: inherit;
    right: inherit;
    float: left;
    display: inline-block;
}

.skip-cart .count {
    width: auto;
    font-size: 12px;
    margin-left: 7px;
    text-transform: none;
}

.skip-cart .count:before {
    display: none;
}

.skip-cart .count:after {
    content: "itens -";
    margin-left: 4px;
}

.mini-cart-subtotal {
    color: #cc0000;
    line-height: 25px;
    margin: 0 10px 0 6px;
    font-size: 12px;
}

.mini-cart-subtotal .price {
    font-family: "PT Sans";
}

#header .skip-link .icon {
    width: 38px;
    height: 32px;
    position: absolute;
    left: 122px;
    top: -3px;
    background: none #cc0000;
}

#header .skip-link .icon:after {
    content: " ";
    width: 13px;
    height: 18px;
    margin: 6px 0 0 13px;
    display: block;
    overflow: hidden;
    background: url('../../wysiwyg/sprites/sprite-main.png') -82px -315px no-repeat;
}

/* Menu */
#header-nav {
    background-color: #000;
    clear: both;
    position:relative;
}
.nav-primary {
    width: 100%;
    padding: 0;
    margin: 0;
    display: table;
}
#nav .nav-primary li.level-top {
    display: table-cell;
    text-align: center;
    transition: box-shadow 250ms linear 0s, background-color 500ms linear 0s;
}
#nav .nav-primary li.level-top:hover {
    background-color: #ffffff;
    box-shadow: 0 6px 0 #cc0000 inset;
    transition: box-shadow 250ms linear 0s;
}
#nav .nav-primary li.level-top:hover a {
    color: #000;
}
#header-nav #nav {
    width: 100%;
    margin:0 30px;
}
#header-nav .header-bar{
    max-width: 1260px;
    margin: 0 auto;
    position: relative;
    padding: 0 30px;
}
#header-nav ul.level1{
    top:0;
}

.nav-primary li.level0 > a {
    width: 100%;
    color: #FFF;
    font-weight: bold;
    font-size: 16px;
    padding: 0;
    border: none;
    font-family: "PT Sans";
}

/* Banner */
.top-container {
    margin: 0 auto;
    width: 100%;
    max-width: inherit;
    padding: 0;
}

.bx-wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1260px;
    padding: 0;
}

/* Product List */
.block-related .link-compare,
.products-grid .link-compare {
    display: none;
}

.products-grid .item .actions .button {
    width: 34px;
    height: 29px;
    text-indent: -9999px;
    overflow: hidden;
    background-color: #404040;
    line-height: inherit;
    padding: 0;
    position: relative;
}

.block-related .add-to-links,
.products-grid .add-to-links {
    margin-bottom: 0;
    position: absolute;
    right: 6px;
    top: 210px;
    z-index: 50;
}

.catalog-category-view .block-related .add-to-links,
.catalog-category-view .products-grid .add-to-links {
    top: -75px;
}

.products-grid .item .actions .button:hover {
    background-color: #C00;
}

.products-grid .item .actions .button:before {
    content: " ";
    display: block;
    left: 10px;
    position: absolute;
    top: 4px;
}

.products-grid .add-to-links .link-wishlist {
    width: 27px;
    height: 27px;
    text-indent: -9999px;
    overflow: hidden;
    border-radius: 2px;
    position: relative;
    background-color: #dfdfdf;
}

.products-grid .add-to-links .link-wishlist:before {
    content: " ";
    display: block;
    position: absolute;
    left: 6px;
    top: 8px;
}

/* Titles */
.page-title h1,
.page-title h2,
.widget .subtitle,
.widget .subtitle .second-title,
.block-related .block-title h2,
.box-up-sell h2 {
    font-family: "PT Sans";
    font-size: 20px;
    color: #404040;
    text-decoration: none;
    padding-bottom: 15px;
    margin-bottom: 19px;
    border-bottom: 1px solid #f5f5f5;
}

.block-related .block-title h2,
.box-up-sell h2 {
    font-weight: bold;
    text-transform: uppercase;
}

.widget .subtitle .second-title {
    color: #7b7b7b;
}

.products-grid .ratings {
    display: none;
}

/* Product Name - Product List */
.crosssell .product-name,
.block-related .product-name,
.products-grid .product-name,
.products-list .product-name {
    min-height: 38px;
    font-family: "PT Sans";
    font-weight: bold;
    color: #7b7b7b;
    text-align: left;
    font-size: 14px;
    margin-bottom: 16px;
    text-transform: none;
}

/* Price - Product List */
.price-box .price-label {
    display: none;
}

.block-related .price-box,
.products-grid .price-box {
    float: left;
    text-align: left;
    width: 86.5%;
    margin: 0;
    line-height: 29px;
}

.col2-left-layout .block-related .price-box,
.col2-left-layout .products-grid .price-box {
    width: 83%;
}

.block-related .actions,
.products-grid .actions {
    bottom: inherit;
    float: left;
    min-height: auto;
    padding-top: 0;
    position: static;
    width: 13.5%;
}

.col2-left-layout .block-related .actions,
.col2-left-layout .products-grid .actions {
    width: 17%;
}

.block-related .price-box .special-price .price,
.products-grid .price-box .special-price .price,
.products-grid .price-box .minimal-price .price,
.block-related .price-box .minimal-price .price,
.products-grid .price-box .price-to .price,
.block-related .price-box .price-to .price {
    font-family: "PT Sans";
    font-weight: bold;
    font-size: 18px;
    color: #cc0000;
}

.block-related .price-box .old-price .price,
.products-grid .price-box .old-price .price,
.products-grid .price-box .price-from .price,
.block-related .price-box .price-from .price {
    font-family: "PT Sans";
    font-weight: normal;
    font-size: 18px;
    color: #7b7b7b;
}

/* Titles */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h2.product-name,
h3.product-name,
h4.product-name,
h5.product-name,
p.product-name,
.osc-title,
#customer-reviews h2,
#customer-reviews h3 span {
    color: #cc0000;
}

/* Product Line */
body .block-related .product-image:before,
body .products-grid .product-image:before {
    background: none repeat scroll 0 0 #ed0d37;
    bottom: -1px;
    top: inherit;
    content: " ";
    display: block;
    height: 1px;
    left: 2%;
    margin: 0 auto;
    position: absolute;
    width: 10%;
    z-index: 2;
    transition: width 250ms linear 0s;
}

body .block-related .item:hover .product-image:before,
body .products-grid .item:hover .product-image:before {
    width: 96%;
    transition: width 250ms linear 0s;
}

.block-related .product-image, .products-grid .product-image {
    box-shadow: 0 1px 0 #d8d5d5;
    position: relative;
    padding-bottom: 19px;
    margin-bottom: 16px;
}

.product-image,
.no-touch .product-image:hover,
.no-touch .product-img-box .product-image:hover:not(.zoom-available) {
    border: none;
}

/* Product List */
body .block-related > li,
body .products-grid > li {
    width: 22.1%;
}

.col2-left-layout .block-related > li,
.col2-left-layout .products-grid > li {
    width: 22.96%;
}

body .block-related > li:nth-child(3n+1),
body .products-grid > li:nth-child(3n+1) {
    clear: none;
}

body .block-related > li:nth-child(4n+1),
body .products-grid > li:nth-child(4n+1) {
    clear: left;
}

body .block-related > li:nth-child(3n),
body .products-grid > li:nth-child(3n) {
    margin-right: 3.7037%;
}


body .block-related > li:nth-child(4n+4),
body .products-grid > li:nth-child(4n+4),
.products-grid--max-4-col > li:nth-child(4n+4) {
    margin-right: 0 !important;
}

/* Labels */
.label-container,
.label-container {
    width: 100%;
}

.product-img-box .label-container {
    width: 379px;
    right: 0;
    left: inherit;
}

.label.price-label {
    float: right;
    margin: 7px 7px 0 0;
}

.label.new-label {
    float: left;
    margin: 7px 0 0 7px;
}

/* Footer */
.block-layered-nav {
    padding: 0;
}

.left-container {
    width: 58%;
    margin-right: 2%;
    margin-bottom: 20px;
    float: left;
}

.right-container {
    width: 40%;
    float: right;
}

.footer-contact-container {
    margin-bottom: 10px;
}

.footer-bar {
    width: 100%;
    float: left;
    clear: both;
}

.footer-bar.bar-1 {
    padding: 43px 0 37px;
    background-color: #f5f5f5;
}

.footer-bar.bar-2 {
    padding: 14px 0 11px 0;
    background-color: #404040;
}

.footer-line {
    margin: 0 auto;
    width: 100%;
    max-width: 1260px;
    padding: 0 30px;
}

.footer-line .sub-cols {
    float: left;
    width: 33%;
}

.footer-line .sub-cols .title {
    font-size: 14px;
    color: #404040;
    margin: 0 0 8px 0;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "PT Sans";
}

.footer-line .sub-cols {
    font-size: 14px;
    color: #7b7b7b;
    font-family: "PT Sans";
}

.footer-line.line3 .sub-cols {
    float: left;
    width: 33.33%;
}

.footer-line.line3 .sub-cols .title {
    font-size: 12px;
    color: #bfbfbf;
    text-transform: uppercase;
    font-family: "PT Sans";
}

.footer-line.line3 .sub-cols li {
    float: left;
    margin-right: 14px;
}

/* Contato Information - Footter */
.contacts-block .contact-block,
.contacts-block .icons-contact,
.contacts-block .contact-block-text {
    float: left;
}

.contacts-block .contact-block-text {
    font-size: 14px;
    font-family: "PT Sans";
    color: #404040;
    margin: 2px 35px 0 15px;
}

/* Newsletter - Footer */
#footer .block-subscribe .block-title {
    width: 56px;
    height: 35px;
    display: inline-block;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
    float: left;
    margin: 6px 18px 0 0;
    background: url('../../wysiwyg/sprites/sprite-main-version2.png') -2px -114px no-repeat;
}

#footer .block-subscribe .block-title > * {
    display: none;
}

#footer .block-subscribe .input-text {
    width: 100%;
    height: 25px;
    padding: 0 10px;
    border: 1px solid #000;
    background-color: #FFF;
}

#footer .block-subscribe .input-box,
#footer .block-subscribe .actions {
    float: left;
    margin: 12px 0 0 3px;
    padding: 0;
}

#footer .block-subscribe .input-box {
    width: 52.5%;
    margin-right: 2px;
    margin-left: 25px;
}

#footer .form-subscribe-header {
    float: left;
    margin-top: 15px;
}

#footer .block-subscribe button.button {
    padding: 2px 7px;
    border: 1px solid #000;
}

#footer .block-subscribe button.button,
#footer .block-subscribe button.button:hover,
#footer .block-subscribe button.button:active {
    background-color: #404040;
}

/* Product View */
.product-img-box {
    width: auto;
    float: left;
    padding: 0;
    margin-bottom: 4px;
}

.product-img-box .product-img-box {
    width: 378px;
    float: right;
    border: 1px solid #f5f5f5;
}

.product-img-box .product-image {
    width: 380px;
    float: right;
    margin-bottom: 0;
}

.catalog-product-view .availability {
    display: none;
}

.product-view .sharing-links {
    width: 100%;
}

.product-image-thumbs a {
    border: 1px solid #FFF;
    box-shadow: 0 1px 4px #CCC;
    display: inline-block;
    height: 60px;
    width: 60px;
}

.product-image-thumbs li {
    display: block;
}

.product-image-thumbs li a img {
    height: auto;
    width: 100%;
}

.left-column {
    float: left;
    width: 38.33%;
}

.product-view .product-shop {
    width: 59.97%;
    padding-left: 1.7%;
}

.product-view .more-views {
    margin-right: 19px;
    float: left;
}

.product-view .product-shop .extra-info {
    clear: none;
    max-width: inherit;
    padding: 0;
}

.info-top .rating-links {
    display: none;
}

.catalog-product-view .product-name h1 {
    border: medium none;
    float: left;
    margin: 0 25px 0 0;
    padding: 0;
    font-family: "PT Sans";
    font-size: 16px;
    color: #000;
}

.product-view .product-shop .info-top .ratings {
    margin: 0;
}

.product-view .product-shop .info-top .ratings .rating-box {
    margin: 3px 0 0;
}

.product-view .product-shop .short-description {
    font-size: 14px;
    font-family: "PT Sans";
    color: #7b7b7b;
    line-height: 16px;
}

.product-view .add-to-cart-wrapper {
    width: 100%;
    padding-left: 0;
}

.product-view .add-to-cart-buttons {
    float: right;
}

.collateral-tabs .tab-content .std {
    font-size: 14px;
    font-family: "PT Sans";
    color: #7b7b7b;
}

.product-view .add-to-cart-wrapper,
.product-view .block-related {
    padding-left: 0;
}

.product-collateral .toggle-tabs,
.product-collateral > dl > dd {
    border: 5px solid #f5f5f5;
}

.product-collateral .toggle-tabs {
    border: 0;
    background: none transparent;
}

.product-collateral .toggle-tabs li {
    border-width: 5px;
    margin-right: 7px;
    margin-bottom: -5px;
}

.product-collateral .toggle-tabs li {
    border-top: 5px solid #f5f5f5;
    border-right: 5px solid #f5f5f5;
    border-left: 5px solid #f5f5f5;
    background-color: #F5F5F5;
}

.product-collateral .toggle-tabs li.current {
    background-color: #f5f5f5;
    border: 5px solid #f5f5f5;
    border-width: 5px 5px 0;
}

.product-collateral .toggle-tabs li > span {
    bottom: 0;
    color: #404040;
    font-family: "PT Sans";
    font-size: 14px;
}

.product-view .product-shop,
.product-img-box,
.product-collateral,
.product-view .block-related,
.box-collateral {
    margin-bottom: 50px;
}

.product-view .product-essential {
    margin-bottom: 30px;
}

.product-view .price-box .old-price,
.product-view .price-box .special-price {
    display: block;
}

.product-view .product-shop .price-box .old-price .price-label {
    font-size: 14px;
    font-weight: normal;
    text-transform: none;
}

.product-view .product-shop .price-box .old-price .price {
    font-size: 18px;
    font-weight: normal;
}

.product-view .product-shop .price-box .old-price .price-label,
.product-view .product-shop .price-box .old-price .price {
    color: #7b7b7b;
    font-family: "PT Sans";
}

.product-view .product-shop .price-box .special-price .price-label,
.product-view .product-shop .price-box .special-price .price {
    color: #cc0000;
    font-family: "PT Sans";
}

.product-view .product-shop .price-box .special-price .price-label {
    font-size: 18px;
    font-weight: normal;
    text-transform: none;
}

.product-view .product-shop .price-box .special-price .price {
    font-size: 24px;
    font-weight: normal;
}

/* Product View - Price */
.product-view .product-shop .price-box .regular-price .price,
.product-view .product-shop .price-box .special-price .price,
.product-view .product-shop .price-box .full-product-price .price {
    font-weight: normal;
    font-size: 24px;
    font-family: "PT Sans";
    color: #cc0000;
}

.sharing-btns {
    width: 100%;
    float: left;
}

.sharing-btns .sharing-btn {
    float: right;
    margin-left: 4px;
}

.sharing-btns .sharing-btn #___plusone_0 {
    width: 60px !important;
}

#twitter-widget-0 {
    width: 90px !important;
}

.product-view .product-shop .review-link {
    float: right;
}

.product-view .add-to-links .link-wishlist,
.product-view .product-shop .review-link {
    position: relative;
    padding: 2px 10px 2px 30px;
    border-radius: 2px;
    margin-right: 2px;
    font-family: "PT Sans";
    color: #f5f5f5;
    font-size: 12px;
    background-color:  #404040;
}

.product-view .add-to-links .link-compare {
    display: none;
}

.product-view .add-to-links .link-wishlist:before,
.product-view .product-shop .review-link:before {
    content: " ";
    display: block;
    left: 9px;
    position: absolute;
    top: 5px;
}

.product-view .add-to-box {
    width: 100%;
    float: right;
}

.product-view .add-to-cart,
.product-view .parcelamento,
.product-view .desconto-boleto {
    margin: 0;
    padding-bottom: 0;
}

.product-view .add-to-links {
    clear: none;
    float: right;
}

.product-view .add-to-cart-buttons .button {
    border-radius: 3px;
    margin-bottom: 0;
    height: 56px;
}

.product-view .add-to-cart-buttons .button span span {
    padding-left: 45px;
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
}

.product-view .add-to-cart-buttons .button span span:before {
    content: " ";
    display: block;
    left: 0;
    position: absolute;
    top: -11px;
}

.product-options,
.product-options-bottom {
    border: none;
    padding-right: 0;
}

.product-view .add-to-cart-wrapper .product-options-bottom .add-to-links,
.product-view .add-to-cart-wrapper .review-link {
    display: none;
}

.amconf-image {
    transition: all 180ms linear 0s;
    filter: drop-shadow(0px 0 0 #000000);
}

.amconf-image-container {
    border: 1px solid #ffffff;
    box-shadow: 0 1px 4px #cccccc;
    display: block;
    margin: 0 8px 18px 0;
}

.amconf-image-selected {
    box-shadow: 0 0 0 2px #cc0000;
    filter: drop-shadow(0px 6px 3px #000000);
}

/* Clears */
.footer-contact-container:after,
.contacts-block:after,
.left-container:after,
.right-container:after,
.block-content:after,
.skip-links:after,
.footer-line:after,
#footer .block-subscribe:after,
.page-header-container:after { display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }

/* Sprite - CSS */
.icons-cc, .icons-trusted, .icons-norton, .icons-mail, .icons-chat,
.icons-internet, .icons-tel, .icons-dolar, .icons-new, .icons-left-arrow,
.icons-left-arrow-active, .icons-right-arrow, .icons-right-arrow-active, .icons-visa, .icons-twitter,
.icons-twitter-hover, .icons-gplus, .icons-gplus-hover, .icons-boleto, .icons-dinners,
.icons-master, .icons-magnifier, .icons-small-left-arrow, .icons-small-left-arrow-active, .icons-small-right-arrow,
.icons-small-right-arrow-active, .icons-amex, .icons-pinterest, .icons-pinterest-hover, .icons-nav-active,
.icons-heart, .icons-bag, .icons-face, .icons-face-hover, .icons-nav, .label.new-label, .label.price-label, .add-to-links .link-wishlist:before,
.products-grid .item .actions .button:before,
.owl-carousel.owl-theme .owl-controls .owl-buttons .owl-next,
.owl-carousel.owl-theme .owl-controls .owl-buttons .owl-prev
{ display: inline-block; background: url('../../wysiwyg/sprites/sprite-main-version2.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }

.icons-cc { background-position: -2px -0px; width: 99px; height: 36px; }
.icons-trusted { background-position: -2px -38px; width: 98px; height: 36px; }
.icons-norton { background-position: -2px -76px; width: 84px; height: 36px; }
.icons-mail { background-position: -2px -114px; width: 56px; height: 35px; }
.icons-chat { background-position: -2px -151px; width: 48px; height: 48px; }
.icons-internet { background-position: -52px -151px; width: 47px; height: 49px; }
.icons-tel { background-position: -2px -201px; width: 45px; height: 42px; }

.icons-dolar,
.label.price-label { background-position: -49px -202px; width: 39px; height: 39px; }

.icons-new,
.label.new-label { background-position: -49px -243px; width: 39px; height: 39px; }

.icons-left-arrow { background-position: -2px -245px; width: 38px; height: 52px; }
.icons-left-arrow-active { background-position: -42px -284px; width: 38px; height: 52px; }
.icons-right-arrow { background-position: -2px -299px; width: 38px; height: 52px; }
.icons-right-arrow-active { background-position: -42px -338px; width: 38px; height: 52px; }
.icons-visa { background-position: -60px -114px; width: 34px; height: 23px; }
.icons-twitter { background-position: -2px -353px; width: 32px; height: 27px; }
.icons-twitter:hover { background-position: -2px -382px; }
.icons-gplus { background-position: -36px -392px; width: 30px; height: 28px; }
.icons-gplus:hover { background-position: -68px -392px; }
.icons-boleto { background-position: -2px -411px; width: 29px; height: 23px; }
.icons-dinners { background-position: -33px -422px; width: 28px; height: 23px; }
.icons-master { background-position: -63px -422px; width: 28px; height: 23px; }
.icons-magnifier { background-position: -2px -436px; width: 25px; height: 24px; }
.icons-small-left-arrow { background-position: -29px -447px; width: 24px; height: 33px; }
.icons-small-left-arrow-active { background-position: -55px -447px; width: 24px; height: 33px; }
.icons-small-right-arrow { background-position: -2px -462px; width: 24px; height: 33px; }
.icons-small-right-arrow-active { background-position: -28px -482px; width: 24px; height: 33px; }
.icons-amex { background-position: -54px -482px; width: 23px; height: 23px; }
.icons-pinterest { background-position: -2px -497px; width: 21px; height: 27px; }
.icons-pinterest:hover { background-position: -54px -507px; }
.icons-nav-active { background-position: -82px -284px; width: 15px; height: 15px; }

.icons-heart,
.add-to-links .link-wishlist:before { background-position: -82px -301px; width: 14px; height: 12px; }

.icons-bag,
.products-grid .item .actions .button:before { background-position: -82px -315px; width: 13px; height: 18px; }

.icons-face { background-position: -82px -335px; width: 13px; height: 27px; }
.icons-face:hover { background-position: -82px -364px; }
.icons-nav { background-position: -88px -76px; width: 10px; height: 10px; }

.owl-carousel.owl-theme .owl-controls .owl-buttons .owl-prev { background-position: -29px -447px; width: 24px; height: 33px; min-width: auto; border-radius: 0; }
.owl-carousel.owl-theme .owl-controls .owl-buttons .owl-prev:hover {
    background: url("../../wysiwyg/sprites/sprite-main.png") no-repeat scroll -55px -447px transparent ;
}

.owl-carousel.owl-theme .owl-controls .owl-buttons .owl-next { background-position: -2px -462px; width: 24px; height: 33px; min-width: auto; border-radius: 0; right: -27px; }
.owl-carousel.owl-theme .owl-controls .owl-buttons .owl-next:hover {
    background: url("../../wysiwyg/sprites/sprite-main.png") no-repeat scroll -28px -482px transparent ;
}

.owl-carousel.owl-theme .owl-controls .owl-buttons div {
    min-width: inherit;
    min-height: inherit;
}

/* Sprite Default - Change url */
.icon-sprite,
.btn-remove2,
.ratings .rating-box,
.ratings .rating-box .rating,
.sorter > .sort-by .sort-by-switcher,
.sorter > .view-mode .grid,
.sorter > .view-mode .list,
.skip-nav .icon,
.skip-search .icon,
#search_mini_form .search-button::before,
.skip-account .icon,
.skip-cart .icon,
.product-view .sharing-links a,
.review-summary-table .rating-box .rating-number::after,
.ratings-table .rating-box,
.ratings-table .rating-box .rating {
    background-image: url("../../wysiwyg/sprites/icon_sprite.png");
}

/* Sprite - Product */
.icons-mail-to-friend,
.icons-big-bag,
.icons-rule,
.icons-white-heart,
.icons-white-star,
.send-mail-prod,
.product-view .add-to-links .link-wishlist:before,
.product-view .product-shop .review-link:before,
.product-view .add-to-cart-buttons .button span span:before
{ display: inline-block; background: url("../../wysiwyg/sprites/sprite-product.png") no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }

.icons-mail-to-friend,
.send-mail-prod { background-position: -2px -0px; width: 80px; height: 20px; }

.icons-big-bag,
.product-view .add-to-cart-buttons .button span span:before { background-position: -2px -22px; width: 29px; height: 43px; }

.icons-rule { background-position: -33px -22px; width: 23px; height: 21px; }

.icons-white-heart,
.product-view .add-to-links .link-wishlist:before { background-position: -58px -22px; width: 14px; height: 12px; }

.icons-white-star,
.product-view .product-shop .review-link:before { background-position: -58px -36px; width: 13px; height: 12px; }

/* Responsive */
@media (max-width: 767px) {
    /* header */
    .logo {
        float: none;
        height: auto;
        margin: 10px auto 0;
        text-align: center;
        width: 100%;
    }
    .logo .small {
        display: inline-block;
    }

    .skip-links {
        border: none;
        margin: 0;
        clear: both;
        width: 100%;
        position: static;
    }

    #header .skip-link .icon:after,
    .skip-cart.no-count .count,
    .mini-cart-subtotal {
        display: none;
    }

    #header .skip-cart {
        height: 44px;
        line-height: inherit;
    }

    #header .skip-link .icon {
        width: 30px;
        height: 30px;
        background-color: transparent;
        background-image: url("../../wysiwyg/sprites/icon_sprite.png");
        left: inherit;
        top: inherit;
        position: inherit;
    }

    #header .skip-link.skip-nav .icon {
        background-position: 4px 4px;
    }

    #header .skip-link.skip-search .icon {
        background-position: 4px -146px;
    }

    #header .skip-link.skip-account .icon {
        background-position: 4px -44px;
    }

    #header .skip-link.skip-account .icon {
        background-position: 4px -44px;
    }

    #header .skip-link.skip-cart .icon {
        margin-top: 8px;
        background-position: 0 -95px;
    }

    #header .page-header-container,
    .header-nav-container {
        padding: 0;
    }

    /* Menu */
    #header-nav #nav {
        margin: 0;
    }

    .nav-primary,
    #nav .nav-primary li.level-top {
        display: block;
    }

    /* Search */
    #header #header-search {
        width: 100%;
        margin-top: 0;
    }

    /* Top Links */
    .toplinks {
        width: 100%;
    }

    .minicart-wrapper {
        float: left;
        padding: 8px 10px;
        width: 100%;
    }

    #header-account li a,
    .nav-primary a.level0 {
        text-align: center;
    }

    .header-minicart.skip-active .block-cart,
    .block-cart.skip-active {
        margin: 0;
    }

    /* Product List */
    body .block-related > li,
    body .products-grid > li,
    .col2-left-layout .block-related > li,
    .col2-left-layout .products-grid > li {
        width: 100%;
    }

    .block-related .add-to-links,
    .products-grid .add-to-links {
        top: inherit;
        bottom: 140px;
    }

    /* Footer */
    .left-container,
    .right-container {
        width: 100%;
    }

    .footer-line .sub-cols {
        margin-bottom: 10px;
        text-align: center;
        width: 100%;
    }

    .footer-line.line3 .sub-cols {
        margin-bottom: 15px;
        width: 100%;
    }

    .contacts-block .contact-block-text {
        margin-right: 0;
    }

    #footer .block-subscribe .block-title {
        margin-top: 20px;
    }

    #footer .block-subscribe {
        float: left;
        width: 100%;
    }

    .right-container {
        float: right;
    }

    /* Product View */
    .owl-carousel.owl-theme .owl-controls .owl-buttons .owl-prev {
        left: 0;
    }

    .owl-carousel.owl-theme .owl-controls .owl-buttons .owl-next {
        right: 0;
    }

    .left-column,
    .product-view .product-shop,
    .product-img-box,
    .product-img-box .label-container,
    .product-img-box .product-image {
        width: 100%;
    }

    .product-view .product-shop,
    .product-img-box,
    .product-collateral,
    .product-view .block-related,
    .box-collateral,
    .sharing-btns {
        margin-bottom: 15px;
    }

    .sharing-btns .sharing-btn {
        width: 50%;
        margin-left: 0;
    }

}

@media (min-width: 768px) and (max-width: 769px) {
    /* header */
    .logo {
        float: none;
        height: auto;
        margin: 10px auto 0;
        text-align: center;
        width: 100%;
    }
    .logo .small {
        display: inline-block;
    }

    .skip-links {
        border: none;
        margin: 0;
        clear: both;
        width: 100%;
        position: static;
    }

    #header .skip-link .icon:after,
    .skip-cart.no-count .count,
    .mini-cart-subtotal {
        display: none;
    }

    #header .skip-cart {
        height: 44px;
        line-height: inherit;
    }

    #header .skip-link .icon {
        width: 30px;
        height: 30px;
        background-color: transparent;
        background-image: url("../../wysiwyg/sprites/icon_sprite.png");
        left: inherit;
        top: inherit;
        position: inherit;
    }

    #header .skip-link.skip-nav .icon {
        background-position: 4px 4px;
    }

    #header .skip-link.skip-search .icon {
        background-position: 4px -146px;
    }

    #header .skip-link.skip-account .icon {
        background-position: 4px -44px;
    }

    #header .skip-link.skip-account .icon {
        background-position: 4px -44px;
    }

    #header .skip-link.skip-cart .icon {
        margin-top: 8px;
        background-position: 0 -95px;
    }

    #header .page-header-container,
    .header-nav-container {
        padding: 0;
    }

    /* Menu */
    #header-nav #nav {
        margin: 0;
    }

    .nav-primary,
    #nav .nav-primary li.level-top {
        display: block;
    }

    /* Search */
    #header #header-search {
        width: 100%;
        margin-top: 0;
    }

    /* Top Links */
    .toplinks {
        width: 100%;
    }

    .minicart-wrapper {
        float: left;
        padding: 8px 10px;
        width: 100%;
    }

    #header-account li a,
    .nav-primary a.level0 {
        text-align: center;
    }

    .header-minicart.skip-active .block-cart,
    .block-cart.skip-active {
        margin: 0;
    }

    /* Product List */
    body .block-related > li,
    body .products-grid > li,
    .col2-left-layout .block-related > li,
    .col2-left-layout .products-grid > li {
        width: 46%;
    }

    .block-related .add-to-links,
    .products-grid .add-to-links {
        bottom: 139px;
        top: inherit;
    }

    /* Footer */
    .left-container,
    .right-container {
        width: 100%;
    }

    #footer .block-subscribe {
        float: left;
    }

    #footer .block.block-subscribe > form {
        float: left;
    }

    #footer .block-subscribe .block-title {
        margin-top: 18px;
    }

    .block-layered-nav {
        padding: 0;
    }

    /* Product View */
    .owl-carousel.owl-theme .owl-controls .owl-buttons .owl-prev {
        left: 0;
    }

    .owl-carousel.owl-theme .owl-controls .owl-buttons .owl-next {
        right: 0;
    }

    .left-column,
    .product-view .product-shop,
    .product-img-box,
    .product-img-box .label-container,
    .product-img-box .product-image {
        width: 100%;
    }

    .product-view .product-shop,
    .product-img-box,
    .product-collateral,
    .product-view .block-related,
    .box-collateral,
    .sharing-btns {
        margin-bottom: 15px;
    }

    .sharing-btns .sharing-btn {
        width: 50%;
        margin-left: 0;
    }

}

@media (min-width: 770px) and (max-width: 977px) {
    /* Header */
    .header-container-left {
        padding: 0 25px;
    }

    /* Search */
    #header #header-search {
        width: 32%;
    }

    /* Menu */
    #header-nav #nav {
        margin: 0;
    }

    /* Product List */
    body .block-related > li,
    body .products-grid > li,
    .col2-left-layout .block-related > li,
    .col2-left-layout .products-grid > li {
        width: 46%;
    }

    .block-related .add-to-links,
    .products-grid .add-to-links {
        bottom: 139px;
        top: inherit;
    }

    .block-layered-nav {
        padding: 0;
    }

    /* Sidebar */
    .sidebar .no-effect-banner {
        width: 100%;
    }

    .sidebar .no-effect-banner > div,
    .sidebar .no-effect-banner > div a {
        max-width: 100%;
    }

    /* Product View */
    .owl-carousel.owl-theme .owl-controls .owl-buttons .owl-prev {
        left: 0;
    }

    .owl-carousel.owl-theme .owl-controls .owl-buttons .owl-next {
        right: 0;
    }

    .left-column,
    .product-view .product-shop,
    .product-img-box,
    .product-img-box .label-container,
    .product-img-box .product-image {
        width: 100%;
    }

    .product-view .product-shop,
    .product-img-box,
    .product-collateral,
    .product-view .block-related,
    .box-collateral,
    .sharing-btns {
        margin-bottom: 15px;
    }

    .sharing-btns .sharing-btn {
        width: 50%;
        margin-left: 0;
    }
}

@media (min-width: 978px)  and (max-width: 1279px) {
    /* Product View */
    .owl-carousel.owl-theme .owl-controls .owl-buttons .owl-prev {
        left: 0;
    }

    .owl-carousel.owl-theme .owl-controls .owl-buttons .owl-next {
        right: 0;
    }

    .product-img-box,
    .product-img-box .label-container,
    .product-img-box .product-image {
        width: 100%;
    }

    #footer .block-subscribe .input-box {
        width: 38%;
    }
}

#footer .full-line .block-subscribe {
    margin-bottom: 45px;
}

.cart-table .btn-empty {
    display: none;
}