/******* Geral ******/
input {
    outline: 0;
}

.logo{
    width: 16.66666667%;
    max-width: 300px;
    text-align: left;
    height: auto;
}
.logo .large{
    top: 0;
    transform: none;
}

.block-title h2,
.block-title h3,
.block-title strong,
.cms-index-index .subtitle,
.products-grid .product-name,
.products-list .product-name {
    color: #a4a4a4;
}

/********* Topo **********/
#header.page-header{
    max-width:100%;
    padding: 0;
}
#header .page-header-container,
#header-nav #nav{
    max-width: 1260px;
    padding: 0 30px;
    margin: 0 auto;
    clear: both;
}
#header .header-language-background{
    font-size:10px;
}
#header .store-language-container i{
    font-size:14px;
}
#header .phone-header{
    display:inline-block;
    line-height: 12px;
    font-size: 10px;
    margin-right:20px;
}

#header .chatonline{
    display:inline-block;
    color:#FFFFFF;
}

#header .redes-sociais {padding-left: 15px;}
#header .redes-sociais a{
    display:inline-block;
    width:30px;
    height:20px;
    margin-top: 7px;
    font-size: 19px;
}
#header .redes-sociais .twitter		{background-position: 0px -737px;}
#header .redes-sociais .instagram	{background-position: -20px -737px;}
#header .redes-sociais .pinterest	{background-position: -42px -737px;}
#header .redes-sociais .facebook		{background-position: -63px -737px;}
#header .redes-sociais .google		{background-position: -82px -737px;}
#header .redes-sociais .youtube		{background-position: -105px -737px;}

#header-search{
    top: 20px;
    left: 360px;
    width: 35%;
}
#search {
    width: 100%;
    height: 40px;
    padding-right: 60px;
    background-color: #f0f0f0;
    border: 0;
    border-radius: 20px;
    font-size: 12px;
    color: #b0b7b6;
    padding-left: 20px;

}


/* Media Queries Desktop */
@media only screen and (min-width: 770px){
    .skip-cart {
        top: 20px;
        right: 30px;
    }
    .skip-cart .icon {
        background-image: url(/media/wysiwyg/ico-sprite.png);
        background-position: -50px -95px;
        display: none;
    }

    #header-cart.block-cart{
        top: 63px;
    }
    a.skip-active{
        border: solid 1px #eee;
    }
    #header-links{
        display: block;
        position: absolute;
        top: 28px;
        right: 165px;
    }
    #header-links span{
        display:none;
        padding: 6px 10px;
    }

    #header-links span i{
        font-size:14px;
        margin-right: 5px;
    }
}

/* Media Queries Desktop */
@media only screen and (min-width: 980px){
    #header-links span.meus-pedidos{
        display:inline-block;
    }
}

/* Media Queries Desktop */
@media only screen and (min-width: 1150px){
    #header-links span.favorito{
        display:inline-block;
    }
}



/***** Menu ******/
#header-nav {
    border-top: 1px dotted #000;
    border-bottom: 1px dotted #000;
    clear: both;
}

#header-nav #nav .nav-primary {
    margin-top: 0;
    padding:0;
}

.nav-primary a{
    text-transform: uppercase;
}

.nav-primary li.level0>a {
    text-transform: uppercase;
    font-weight: bold;
    border: 0;
    text-align: left;
    padding: 10px 60px 10px 0;
}


.nav-primary li.level0>ul{
    top:60px;
}
.nav-primary li.level1 ul{
    top:0;
}
/******* Home *********/
.faixa-mini{
    display: inline-block;
    text-align: center;
    width: 100%;
}
.faixa-mini>div{
    display:inline-block;
    width: 49%;
    min-width:200px;
}

.faixa-mini div div{
    padding:14px;
    display:inline-block;
    width: 49%;
    min-width: 200px;
}
.faixa-mini img{
    max-width:100%;
    min-width: 200px;
    display: inline-block;
}

.main-container header.h2.subtitle {
    text-transform: none;
    font-size: 18px;
}
.category-products .products-grid>li{
    border: 1px solid #ebebeb;
}
.category-products .products-grid .product-image {
    border: 0;
    border-bottom: 1px solid #ebebeb;
    padding:5px;
}

.category-products .products-grid .product-name,
.category-products .products-list .product-name {
    text-transform: none;
    color:#312829;
    min-height: 40px;
}

.category-products .button{
    width: 80%;
    height: 40px;
    line-height: 28px;
}
.price-box .price{
    font-weight:normal;
}
.products-grid .add-to-links li {
    width: 50%;
    float: left;
    border: 0;
    min-width: 80px;
}
.products-grid .add-to-links li:first-child {
    border-right: 1px dotted #000;
}
.products-grid .add-to-links li a{
    background: url(/media/wysiwyg/ico-sprite.png) no-repeat;
    text-indent:-9999px;
    display:inline-block;
    height:20px;
    margin:0 10px;
}
.products-grid .add-to-links li .link-wishlist{
    background-position: 1px -1049px;
    width: 66px;
    float:right;

}
.products-grid .add-to-links li .link-compare{
    background-position: 1px -1034px;
    width: 70px;
    float:left;
}

/* Media Queries Celular */
@media only screen and (max-width: 770px){
    #header-search{
        width: 100%;
    }
    .products-grid .actions{
        position:relative;
    }
    .category-products .products-grid .product-info{
        padding:0 10px;
    }

    .products-grid .add-to-links li{
        width: 100%;
        display: inline-block;
    }
    .products-grid .add-to-links li:first-child{
        border:0;
    }
    .products-grid .add-to-links li .link-compare,
    .products-grid .add-to-links li .link-wishlist{
        float:none;
    }
}

/******** Footer *********/
#footer .footer-bar {
    margin: 0 auto;
}
#footer .footer-news .block-subscribe{
    margin: 0;
    padding: 0;
}
#footer .footer-news .block-title,
#footer .footer-news .block-content .form-subscribe-header{
    display:none;
}
#footer .footer-bar .footer-container{
    padding: 0;
    text-align:center;
}
#footer .footer-bar .textnews {
    display: inline-block;
    width: 55%;
    min-width: 624px;
}
#footer .footer-bar .footer-news{
    display: inline-block;
    min-width: 470px;
    padding: 15px 0;
    position:relative;
}
#footer .footer-bar .selo {
    display: inline-block;
    margin: 10px;
    width: 71px;
}
#footer .footer-bar .selo img{
    max-width:100%;
}
#footer .footer-bar .texto {
    display: inline-block;
    padding: 10px;
    width: 84%;
}
#footer .footer-bar span{
    float: left;
}

#footer .footer-bar  .titulo {
    font-size: 19px;
}
#footer .footer-bar  .sub-titulo{
    font-size: 14px;
}
#footer .footer-bar .block-subscribe .block-content,
#footer .footer-bar .block-subscribe .input-box,
#footer .footer-bar .block-subscribe .input-box .actions{
    float: left;
    margin:0;
}
#footer .footer-bar .block-subscribe .block-content{
    width:100%;
}
#footer .footer-bar .block-subscribe .input-box{
    width:90%;
}
#footer .footer-bar .block-subscribe .input-box input{
    width: 100%;
    height: 39px;
    border-radius: 20px;
}
#footer .footer-bar .block .actions .button {
    float: right;
    height: 39px;
    text-transform: capitalize;
    border-radius: 20px;
    padding: 0 30px;
    position: absolute;
    right: 0;
    top:15px;
}
#footer .footer-bar .block-subscribe .block-content div{
    float:left;
    margin:0;
    padding:0;
}
/* Media Queries Celular */
@media only screen and (max-width: 1250px){
    #footer .footer-bar .titulo{
        font-size: 17px;
    }
    #footer .footer-bar .sub-titulo{
        font-size: 13px;
    }
}
/* Media Queries Celular */
@media only screen and (max-width: 650px){
    #footer .footer-bar .textnews {
        width:90%;
        min-width:inherit;
    }
    #footer .footer-bar .footer-news{
        width:90%;
        min-width:inherit;
        margin:0 auto;
    }
    #footer .footer-bar .titulo{
        font-size:14px;
    }
    #footer .footer-bar .sub-titulo{
        font-size: 11px;
    }
    #footer .footer-bar .block-subscribe .block-content{
        width:90%
    }
}
#footer .footer-container .footer{
    text-align: left;
    border:0;
}
#footer .footer-container .footer .cols{
    width: 49%;
    display: inline-block;
    text-align:left;
    vertical-align: top;
    min-width:460px;
    margin-bottom: 20px;
}
#footer .footer .sub-cols {
    width: 33%;
    display: inline-block;
    padding-right: 10px;
    min-width: 150px;
    vertical-align: top;
    margin-bottom:20px;
    text-align:left;
}
#footer .footer .sub-col3 {
    width:32%;
}
#footer .footer .sub-cols h3{
    font-size:12px;
    font-weight:bold;
    z-index: 2;
    position: relative;
    text-align:left;
}
#footer .footer .sub-cols ul{
    margin-top: -19px;
    padding-top: 30px;
    z-index: 1;
    position: relative;
    text-align:left;
}
#footer .footer .sub-cols ul li {
    font-size: 11px;
    text-align:left;
    list-style-type: square;
    margin-left: 15px;
    line-height: 26px;
}
#footer .footer .sub-cols ul li a{
    color:#828282;
}
#footer .footer div .sub-cols h3{
    width: auto;
    display: inline-block;
    padding-right: 15px;
    background:#FFF;
}

#footer .footer .col2 .sub-col1{
    width:39%;
    vertical-align: top;
}
#footer .footer .col2 .sub-col2{
    width:60%;
}

#footer .footer .redes-sociais li,
#footer .footer .contatos li {
    background: url(/media/wysiwyg/ico-sprite.png) no-repeat;
    list-style-type: none;
    margin: 0;
    padding-left: 40px;
    line-height: 33px;
    height: 33px;
}

#footer .footer .contatos li {
    padding-left: 48px;
}

#footer .footer .redes-sociais li.twitter 	{ background-position: 0 -765px;}
#footer .footer .redes-sociais li.instagram 	{ background-position: 0 -798px; }
#footer .footer .redes-sociais li.facebook 	{ background-position: 0 -830px;}
#footer .footer .redes-sociais li.youtube 	{ background-position: 0 -864px;}
#footer .footer .contatos li {
    line-height: 36px;
    height: 36px;
    margin-bottom:10px;
}
#footer .footer .contatos li.end { background-position: 0 -904px;}
#footer .footer .contatos li.tel { background-position: 0 -948px;}
#footer .footer .contatos li.whatsapp { background-position: -2px -1075px;}
#footer .footer .contatos li.fax { background-position: 0 -991px;}
#footer .footer .contatos li span {
    line-height: 19px;
    float: left;
    clear: both;
}
/* Media Queries Celular */
@media only screen and (max-width: 510px){
    #footer .footer-container .footer .col1{
        text-align: center;
        width: 100%;
        min-width: inherit;
    }
    #footer .footer .col1 .sub-cols{
        width: 49%;
        min-width: inherit;
    }
    #footer .footer-container .footer .cols,
    #footer .footer .col1 .sub-col3,
    #footer .footer .col2 .sub-col1,
    #footer .footer .col2 .sub-col2,
    #footer .footer .cols{
        width: 100%;
        min-width: inherit;
    }
    #footer .footer .sub-cols {
        width:100%;
    }
}
#footer .footer .full-col{
    clear:both;
    width:100%;
}
#footer .footer  .full-col .sub-cols{
    min-width: 230px;
}
#footer .footer .full-col ul li {
    background: url(/media/wysiwyg/ico-sprite.png) no-repeat;
    list-style-type: none;
    margin: 0;
    display:inline-block;
    line-height: 25px;
    height: 25px;
}

#footer .footer .full-col .sub-col1 ul li{
    width: 29px;
}
#footer .footer .full-col .sub-col1 ul li.visa		{ background-position: -1px -243px; }
#footer .footer .full-col .sub-col1 ul li.master		{ background-position: -36px -243px;}
#footer .footer .full-col .sub-col1 ul li.dinners	{ background-position: -70px -243px; }
#footer .footer .full-col .sub-col1 ul li.itau		{ background-position: -106px -243px;}
#footer .footer .full-col .sub-col1 ul li.boleto		{ background-position: -140px -243px;}
#footer .footer .full-col .sub-col1 ul li.amex		{ background-position: -175px -243px;}

#footer .footer .full-col .sub-col2 ul li{
    width: 71px;
}
#footer .footer .full-col .sub-col2 ul li.correios	{ background-position: -1px -270px; }
#footer .footer .full-col .sub-col2 ul li.sedex		{ background-position: -73px -270px;width: 65px;}
#footer .footer .full-col .sub-col2 ul li.pac		{ background-position: -138px -270px;}

#footer .footer .full-col .sub-col3 ul li{
    width: 71px;
}
#footer .footer .full-col .sub-col3 ul li.blindado	{ background-position: -1px -294px;}
#footer .footer .full-col .sub-col3 ul li.certsign	{ background-position: -77px -294px; width: 64px;}
#footer .footer .full-col .sub-col3 ul li.seguro		{ background-position: -149px -294px;}
.footer address{
    display:none;
}

.skip-cart .count{
    background:transparent;
}

#scroll-to-top {
    display: none;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9999;
    cursor: pointer;
    text-indent: -9999px;
    background: url(../../wysiwyg/icons.png) 15px -185px no-repeat #ddd;
    transition: opacity 300ms ease-in-out;
    -moz-transition: opacity 300ms ease-in-out;
    -webkit-transition: opacity 300ms ease-in-out;
    -o-transition: opacity 300ms ease-in-out;
}

#scroll-to-top:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

/* Personalização */

.footer .subtitle {
    color: #333;
    display: block;
    font-family: Bitter, georgia, serif;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
    font-weight: normal;
    padding: 8px 0;
    text-transform: none;
    text-align: left;
}

.numbered-list {
    counter-reset: section;
}

.numbered-list li {
    line-height: 40px;
}

.numbered-list li:before {
    counter-increment: section;
    content: counter(section);
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 10px;
    font-size: 16px;
    line-height: 29px;
    background-color: #2C266C;
    border-radius: 100%;
    font-weight: bold;
    text-align: center;
    color: #FFF;
    transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
    -moz-transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
    -webkit-transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
    -o-transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
}

.numbered-list li:hover:before {
    background-color: #5BD2EC;
    transition: all 450ms ease-in-out;
    -moz-transition: all 450ms ease-in-out;
    -webkit-transition: all 450ms ease-in-out;
    -o-transition: all 450ms ease-in-out;
}

.arrow-list li:before {
    content: ">";
    display: inline-block;
    margin-right: 12px;
    transition: all 150ms ease-out;
    -moz-transition: all 150ms ease-out;
    -webkit-transition: all 150ms ease-out;
    -o-transition: all 150ms ease-out;
}

.arrow-list li:hover:before {
    transform: translateX(5px);
}

.footer-end {
    padding: 15px 0;
    background-color: #2C266C;
    color: #FFF;
}

.owl-carousel.owl-theme.slider-marcas .owl-controls .owl-buttons div {
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(/media/wysiwyg/slider-arrows.png);
    background-repeat: no-repeat;
    background-color: #ddd;
    cursor: pointer;
    text-decoration: none;
    text-indent: -999px;
    overflow: hidden;
    transition: opacity 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
    -moz-transition: opacity 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
    -webkit-transition: opacity 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
    -o-transition: opacity 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
}

.owl-carousel.owl-theme.slider-marcas .owl-controls .owl-buttons div:hover {
    background-color: #333;
}

.owl-carousel.slider-marcas .owl-controls .owl-buttons .owl-prev{
    background-position: -10px -10px;
    margin-right: 1px;
}

.owl-carousel.slider-marcas .owl-controls .owl-buttons .owl-prev:hover {
    background-position: -10px -60px;
}

.owl-carousel.slider-marcas .owl-controls .owl-buttons .owl-next {
    background-position: -60px -10px;
}

.owl-carousel.slider-marcas .owl-controls .owl-buttons .owl-next:hover {
    background-position: -60px -60px;
}

.lb-new,
.lb-sale {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 1.1666em;
    font-weight: bold;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -webkit-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    background-color: #5bd2ec;
    color: #ffffff;
    float: right;
    line-height: 60px;
}

.item:hover .lb-sale,
.item:hover .lb-new {
    width: 70px;
    height: 70px;
    line-height: 70px;
}

.lb-sale {
    float: left;
    background-color: #F12B63;
}

.lb-new p { margin: 0; }

.products-grid .product-image .label-container {
    width: 100%;
}

.owl-carousel.owl-theme.owl-numbered .owl-controls .owl-buttons div {
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    background-image: url(/media/wysiwyg/slider-arrows.png);
    background-repeat: no-repeat;
    background-color: #fff;
    cursor: pointer;
    text-decoration: none;
    text-indent: -999px;
    overflow: hidden;
    transition: opacity 600ms ease-in-out, background-color 150ms ease-in-out, background-position 300ms ease-in-out;
    -moz-transition: opacity 600ms ease-in-out, background-color 150ms ease-in-out, background-position 300ms ease-in-out;
    -webkit-transition: opacity 600ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
    -o-transition: opacity 600ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
    opacity: 0;
    filter: alpha(opacity=0);
}

.owl-carousel.owl-theme.owl-numbered:hover .owl-controls .owl-buttons div {
    opacity: 1;
    filter: alpha(opacity=100);
}

.owl-carousel.owl-theme.owl-numbered .owl-controls .owl-buttons .owl-prev {
    background-position: 0 0;
    left: 1.5%;
    top: 45%;
}
.owl-carousel.owl-theme.owl-numbered .owl-controls .owl-buttons .owl-next {
    background-position: -50px 0;
    right: 1.5%;
    top: 45%;
}

.owl-carousel.owl-theme.owl-numbered .owl-controls .owl-pagination {
    display: block;
    text-align: right;
}

.owl-carousel.owl-theme.owl-numbered .owl-controls .owl-pagination .owl-page span {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(/media/wysiwyg/pager.png);
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    text-indent: -999px;
    overflow: hidden;
    border: none;
}

.owl-carousel.owl-theme.owl-numbered .owl-controls .owl-pagination .owl-page.active span {
    background-position: 0 -30px;
    cursor: default;
}

#bar {
    background-color: #2C266C;
}

body {
    border-top: 5px solid #2C266C;
}

.middle-banner .no-effect-banner {
    width: 100%;
    display: table;
    margin-bottom: 30px;
    text-align: center;
}

.middle-banner .no-effect-banner > div:last-child {
    margin-right: 0;
}
.middle-banner .no-effect-banner > div {
    width: 23%!important;
    float: left;
    margin-right: 3%;
}

.middle-banner .no-effect-banner > div:nth-child(3) {
    width: 48%!important;
    margin-right: 0;
}

.middle-banner .no-effect-banner > div img {
    display: inline-block;
    width: 100%;
}

.col-sm-3 .no-effect-banner > div {
    width: 100%!important;
    margin-left: -10px;
}

.col-sm-3 .no-effect-banner > div img {
    width: 100%;
}

@media only screen and (min-width: 500px){
    .col-sm-3 .no-effect-banner > div {
        width: 100%!important;
        height: auto !important;
        margin: 0!important;
    }
}

#header-nav {
    border: none;
}

#custommenu {
    margin: 0 0 10px 0;
    display: table;
    border-bottom: 5px solid #2C266C;
    background-color: #f5f5f5;
}

div.menu a.level0 {
    font-family: Bitter, georgia, serif;
    font-size: 16px;
    position: relative;
}

div.menu a.level0:hover {
    background-color: #5bd2ec;
    color: #ffffff;
}

.learn-more {
    display: inline-block;
    width: 100%;
    margin: 5px 0;
    color: #333333;
    font-size: 14px;
}

.learn-more:after {
    content: ">";
    display: inline-block;
    margin-left: 10px;
}

.header-language-background {
    background-color: #FFF;
}

.header-language-background,
.header-language-background a {
    color: #2C266C;
}

.header-language-container .fa {
    font-size: 16px;
    margin-right: 5px;
}

.header-language-container .welcome-message {
    float: right;
    margin-top: 0;
    margin-right: -56px;
}

.header-language-container .f-right > ul {
    float: right;
}

.vertical-footer {
    width: 100%;
    display: table;
    margin: 25px 0 0;
}

.vertical-footer .redes-sociais {
    display: table;
}

.vertical-footer .redes-sociais li {
    float: left;
    margin-right: 8px;
    height: 35px;
    width: 35px;
    line-height: 33px;
    font-size: 18px;
    text-indent: 4px;
    text-align: center;
    border-radius: 50%;
    color: #FFF;
    background-color: #2C266C;
    transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
    -moz-transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
    -webkit-transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
    -o-transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
}

.vertical-footer .redes-sociais li:hover {
    background-color: #5BD2EC;
    transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
    -moz-transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
    -webkit-transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
    -o-transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
}

.vertical-footer .redes-sociais li .fa:before,
.vertical-footer .redes-sociais li .fa {
    color: #FFF;
}

.vertical-footer .links {
    float: right;
}

.square-links > li {
    float: left;
}

.square-links a {
    display: block;
    line-height: 32px;
    padding: 0 7px;
    text-decoration: none;
    transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
    -moz-transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
    -webkit-transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
    -o-transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
}

.square-links a:hover {
    background-color: #2C266C;
    color: #FFF!important;
    text-decoration: none;
    transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
    -moz-transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
    -webkit-transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
    -o-transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
}

.header-minicart .block-subtitle,
.header-minicart-desktop .block-subtitle {
    color: #2C266C;
}

.top-links {
    display: table;
    float: right;
}

.top-links li {
    float: left;
    margin: 0 5px;
}

div.menu .menu0 a {
    width: 60px;
    height: 49px;
    overflow: hidden;
    text-indent: -99999px;
    background: url(/media/wysiwyg/home.png) center center no-repeat #2C266C!important;
}

div.menu:last-child {
    float: right;
}

div.menu a {
    line-height: 30px;
}

div.menu a span {
    height: auto!important;
}

div.menu a:link,
div.menu a:visited {
    height: 49px;
    padding: 0 20px;
    background-color: transparent;
}

div.menu[onmouseover^="wpShowMenuPopup"] a:link {
    padding: 0 25px 0 15px;
}

div.menu a.level0:hover span {
    color: #FFF!important;
}

.header-v-0-0-0-1 #search_mini_form {
    margin-top: 35px;
}

.top-links.square-links a {
    line-height: 33px;
}

.customer-off .custom-links li:nth-child(5) {
    display: none;
}

.customer-on .custom-links li:nth-child(4) {
    display: none;
}

.header-v-0-0-0-1 .skip-cart {
    text-align: right;
}

@media only screen and (max-width: 769px) {
    .header-v-0-0-0-1 .skip-cart {
        text-align: center;
    }

    .logo {
        width: 100%;
        max-width: inherit;
        text-align: center;
    }
}

#search_mini_form .button .fa {
    margin-right: 8px;
}

.header-language-container .store-language-container {
    margin-left: -26px;
}

.skip-cart, .skip-cart-desktop {
    text-transform: none;
}

.header-v-0-0-0-1 .skip-cart-desktop {
margin-top: 16px;
}

a.skip-active {
    border: none;
}

#header-cart.skip-active {
    right: 15px;
}

div[onmouseover^="wpShowMenuPopup"] a:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #2C286C;
    position: absolute;
    right: 8px;
    top: 47%;
}

div[onmouseover^="wpShowMenuPopup"]:hover a:before {
    color: #FFF;
}

.mini-cart-subtotal {
    margin-left: 5px;
    color: #2C266C;
}

.mini-cart-subtotal:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #2C286C;
    display: inline-block;
    margin: 0 0 0 5px;
    transform: translateY(-1px);
}

div.wp-custom-menu-popup {
    padding: 15px;
}

div.block2 img {
    margin-bottom: 10px;
}

div.block2 p {
    color: #2C266C;
    font-size: 12px;
}

div.block2 .learn-more {
    float: left;
    color: #2C266C;
    font-weight: bold;
}

.product-view .add-to-cart-wrapper .add-to-links {
    font-weight: bold;
    color: #2C266C;
    margin-bottom: 20px;
}

.product-view .add-to-cart-wrapper .add-to-links .link-wishlist:before {
    content: "\f004";
    font-family: 'FontAwesome';
    margin-right: 10px;
}

body .add_to_registry_button {
	background: #FFF url(http://www.robertosimoescasa.com.br/skin/frontend/rwd/rscasa/images/icon-presente.png) no-repeat center;
	text-indent: -999999px;
}