<div class="footer-bar">
    <div class="footer-container">
        <div class="textnews">
            <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('footer_texto_news')->toHtml(); ?>
        </div>
        <div class="footer-news">
            <?php echo $this->getLayout()->createBlock('newsletter/subscribe')->setTemplate('newsletter/subscribe.phtml')->toHtml(); ?>
        </div>
    </div>
</div>
<div class="footer-container container">
    <div class="footer row">
        <div class="col-sm-3">
            <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('custom_footer_1')->toHtml(); ?>
        </div>
        <div class="col-sm-3">
            <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('custom_footer_2')->toHtml(); ?>
        </div>
        <div class="col-sm-2">
            <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('custom_footer_5')->toHtml(); ?>
        </div>
        <div class="col-sm-4">
            <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('custom_footer_4')->toHtml(); ?>
        </div>
    </div>
    <div class="row vertical-footer">
        <div class="col-sm-6">
            <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('custom_footer_3')->toHtml(); ?>
        </div>
        <div class="col-sm-6">
            <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('footer-another-links')->toHtml(); ?>
        </div>
    </div>
    <div class="row">
        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('custom_footer_6')->toHtml(); ?>
    </div>
</div>
<div class="footer-end">
    <div class="footer-end-wrapper container">
        <div class="row">
            <div class="row">
                <div class="col-sm-6">
                    <?php echo $this->getCopyright(); ?>
                </div>
                <div class="col-sm-6">
                    <div class="f-right">
                        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('custom_footer_7')->toHtml(); ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<?php echo $this->getChildHtml('currency_switcher') ?>

<div id="scroll-to-top">To top</div>
<script type="text/javascript">
    jQuery(window).scroll(function(){
        if (jQuery(this).scrollTop() > 100)
        {
            jQuery('#scroll-to-top').fadeIn();
        }
        else
        {
            jQuery('#scroll-to-top').fadeOut();
        }
    });
    jQuery(document).ready(function(){
        jQuery('#scroll-to-top').click(function(e){
            jQuery("html, body").animate({scrollTop: 0}, 600, "easeOutCubic");
            return false;
        });
    });
</script>