<div class="header-language-background">
    <div class="header-language-container">
        <div class="store-language-container col-sm-6">
            <?php echo $this->getChildHtml('store_language') ?>
            <?php echo $this->getTelefone(); ?>
        </div>
        <div class="f-right col-sm-6">
            <?php echo $this->getChildHtml('currency_switcher') ?>
            <?php echo $this->getChildHtml('welcomename') ?>
            <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('top-info')->toHtml(); ?>
        </div>
    </div>
</div>

<?php if(!Mage::getSingleton('customer/session')->isLoggedIn()) {
            echo '<header id="header" class="page-header header-v-0-0-0-1 customer-off">';
        } else {
            echo '<header id="header" class="page-header header-v-0-0-0-1 customer-on">';
        }
?>

    <div class="page-header container">
        <a class="logo col-sm-2" href="<?php echo $this->getUrl('') ?>">
            <img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" class="large" />
            <img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" class="small" />
        </a>

        <div class="top-search-container col-sm-5 hidden-xs">
            <?php echo $this->getChildHtml('topSearch') ?>
        </div>

        <div class="header-minicart-desktop col-sm-5 hidden-xs">
            <div class="top-links">
                <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('top-links')->toHtml(); ?>
            </div>
            <?php echo $this->getChildHtml('minicart_head'); ?>
        </div>

        <!-- Skip Links -->
        <div class="skip-links">
            <a href="#header-nav" class="skip-link skip-nav">
                <i class="fa fa-th-list"></i>
                <span class="label"><?php echo $this->__('Menu'); ?></span>
            </a>

            <a href="#header-search" class="skip-link skip-search hidden-md hidden-lg hidden-sm">
                <i class="fa fa-search"></i>
                <span class="label"><?php echo $this->__('Search'); ?></span>
            </a>

            <a href="#header-account" class="skip-link skip-account">
                <i class="fa fa-user"></i>
                <span class="label"><?php echo $this->__('Account'); ?></span>
            </a>

            <!-- Cart -->
            <div class="header-minicart hidden-md hidden-lg hidden-sm">
                <?php echo $this->getChildHtml('minicart_head_mobile'); ?>
            </div>
        </div>

        <!-- Search -->
        <div id="header-search" class="skip-content">
            <?php echo $this->getChildHtml('mobileSearch') ?>
        </div>

        <!-- Account -->
        <div id="header-account" class="skip-content">
            <?php echo $this->getChildHtml('topLinks') ?>
        </div>
    </div>
    <!-- Navigation -->
    <div id="header-nav" class="skip-content">
        <?php echo $this->getChildHtml('topMenu') ?>
    </div>
    <?php echo $this->getAdditionalHtml() ?>
</header>

<?php echo $this->getChildHtml('topContainer'); ?>

<div class="container home-banners">
    <div class="row">
        <div class="col-sm-9">
            <?php echo $this->getChildHtml('topBanner'); ?>
        </div>
        <div class="col-sm-3">
            <?php echo $this->getChildHtml('home.smallbanner'); ?>
        </div>
    </div>
</div>
