/*
    #Main Selectors
        #Main Background - [background_color]
        #Main Links - [links_main]
        #Main Links hover - [links_hover_main]
        #Main Text - [text_main]
        #Main Titles - [heading_color]
        #Main Subtitles - [subtitles_main]
        #Main product list Buttons
            #Main product list Buttons text - [buttons_list_text_main]
            #Main product list Buttons text hover - [buttons_list_text_hover_main]
            #Main product list Buttons background - [buttons_list_background_main]
            #Main product list Buttons background hover - [buttons_list_background_hover_main]
            #Main product list Buttons background active - [buttons_list_background_hover_main]
        #Main Buttons
            #Buttons text - [buttons_text_main]
            #Buttons text hover - [buttons_text_hover_main]
            #Buttons background - [buttons_background_main]
            #Buttons background hover - [buttons_background_hover_main]
            #Buttons background active - [buttons_background_hover_main]
        #Main Action buttons
            #Action buttons text - [buttons_action_text_main]
            #Action buttons text hover - [buttons_action_text_hover_main]
            #Action buttons background - [buttons_action_background_main]
            #Action buttons background hover - [buttons_action_background_hover_main]
            #Action buttons background active - [buttons_action_background_hover_main]
        #Main Product list
            #Main Product list name - [product_list_name_main]
            #Main Product list name hover - [product_list_name_hover_main]
        #Main Form
            #Form Label/Text - [form_text_main]
            #Form Border - [form_border_main]
            #Form Focus - [form_text_main]
        #Main Prices
            #Prices Text default (regular) - [prices_text_main]
            #Prices Text (from/old) - [prices_text_old_main]
            #Prices Text Variant (to/special) - [prices_text_special_main]
            #Prices Label (from/old) - [prices_text_label_old_main]
            #Prices Label (to/special) - [prices_text_label_special_main]
        #Main Alert Msg
            #Alert Success
                #Success Text - [alert_success_text_main]
                #Success Border - [alert_success_border_main]
                #Success Background - [alert_success_background_main]
            #Error
                #Error Text - [alert_error_text_main]
                #Error Border - [alert_error_border_main]
                #Error Background - [alert_error_background_main]
            #Notice
                #Notice Text - [alert_notice_text_main]
                #Notice Border - [alert_notice_border_main]
                #Notice Background - [alert_notice_background_main]
        #Checkout step numbers - [checkout_numbers_main]
    #Menu
        #Menu Links/Text - [links_menu]
        #Menu Links hover - [links_hover_menu]
        #Menu Background - [background_menu]
    #Header
        #Header Text - [text_header]
        #Header Links - [links_header]
        #Header Links hover - [links_hover_header]
        #Header Titles - [titles_header]
        #Header Background - [background_header]
    #Footer
        #Footer Text - [text_footer]
        #Footer Links - [links_footer]
        #Footer Links hover - [links_hover_footer]
        #Footer Titles - [titles_footer]
        #Footer Background - [background_footer]
*/

/* ##### #Main Selectors ##### */

/* - #Main Background */
body,
.wrapper {
    background-color: #000;
}

/* - #Main Links */
body .page a,
body .page a span,
.nav-primary li.level0 > a,
#footer .footer .sub-cols ul li a {
    color: red;
}

body .page a:hover,
body .page a:hover span,
.nav-primary li.level0 > a:hover,
#footer .footer .sub-cols ul li a:hover {
    color: green;
}

/* - #Main Text */
body,
ul,
div,
td,
body .page p,
body .page span,
.breadcrumbs strong,
.cart-table thead th,
.cart-table tbody td,
.block-layered-nav .block-content > dl > dt,
.block-layered-nav dl dd ol > li > a .count {
    color: blue;
}

/* - #Main Titles */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.main-container header,
.page-title h1,
.page-title h2,
    /* In the cart page, has some elements with above selector */
.product-name h1,
.product-name .h1,
.category-title h1,
.block-title h1,
.block-title h2,
.block-title h3,
.block-title strong,
.block-related .block-title h2,
.main-container header.h2.subtitle,
body.catalogsearch-result-index .page-title h1{
    color: yellow;
}

/* - #Main Subtitles */
.osc-title,
h2.product-name,
h3.product-name,
h4.product-name,
h5.product-name,
p.product-name,
.data-table th,
.data-table th span,
.block-account li strong,
.block-cms-menu li strong,
.opc .section.allow .step-title:hover h2,
.opc .section.active .step-title h2,
.onestepcheckout-cart-table thead th {
    color: #259f1f;
}

/* - #Main product list Buttons */
/* -- #Main product list Buttons text */
.products-grid .item .button,
.products-list .item .button {
    color: #d11047;
}

/* -- #Main product list Buttons text hover */
.products-grid .item .button:hover,
.products-list .item .button:hover {
    color: #d11047;
}

/* -- #Main product list Buttons background */
.products-grid .item .button,
.products-list .item .button {
    background-color: #d11047;
}

/* -- #Main product list Buttons background hover */
.products-grid .item .button:hover,
.products-list .item .button:hover {
    background-color: #000;
}

/* -- #Main product list Buttons background active */
.products-grid .item .button:active,
.products-list .item .button:active {
    background-color: #000; /* use the same of hover */
}

/* #Main Buttons */
.products-grid .item .button,
.products-list .item .button,
.products-grid .item .button span,
.products-list .item .button span {
    color: #6e000d;
}

.products-grid .item .button:hover,
.products-list .item .button:hover,
.products-grid .item .button:hover span,
.products-list .item .button:hover span {
    color: #00CCCC;
}

.products-grid .item .button:active,
.products-list .item .button:active,
.products-grid .item .button:active span,
.products-list .item .button:active span {
    color: #000;
}

/* #Main buttons */

/* #Buttons Text */
body a.button,
body a.button span,
body .wrapper button.button,
body .wrapper button.button span,
.products-grid .item .button,
.products-list .item .button,
.cart-table .product-cart-actions .button,
#co-shipping-method-form .buttons-set .button,
.owl-carousel.owl-theme .owl-controls .owl-buttons div {
    color: blue;
}

/* #Buttons Text hover */
a.button:hover,
.wrapper button.button:hover,
.products-grid .item .button:hover,
.products-list .item .button:hover,
.cart-table .product-cart-actions .button:hover,
#co-shipping-method-form .buttons-set .button:hover,
.owl-carousel.owl-theme .owl-controls .owl-buttons div:hover,
a.button:active,
.wrapper button.button:active,
.products-grid .item .button:active,
.products-list .item .button:active,
.cart-table .product-cart-actions .button:active,
#co-shipping-method-form .buttons-set .button:active,
.owl-carousel.owl-theme .owl-controls .owl-buttons div:active {
    background-color: blue;
}

/* #Buttons Background */
a.button,
.wrapper button.button,
.products-grid .item .button,
.products-list .item .button,
.cart-table .product-cart-actions .button,
#co-shipping-method-form .buttons-set .button,
.owl-carousel.owl-theme .owl-controls .owl-buttons div {
    background-color: red;
}

/* #Buttons Background hover */
body a.button:hover,
body a.button span:hover,
body .wrapper button.button:hover span,
body .wrapper button.button:hover,
.products-grid .item .button:hover,
.products-list .item .button:hover,
.cart-table .product-cart-actions .button:hover,
#co-shipping-method-form .buttons-set .button:hover,
.owl-carousel.owl-theme .owl-controls .owl-buttons div:hover,
body a.button:active,
body a.button span:active,
body .wrapper button.button:active span,
body .wrapper button.button:active,
.products-grid .item .button:active,
.products-list .item .button:active,
.cart-table .product-cart-actions .button:active,
#co-shipping-method-form .buttons-set .button:active,
.owl-carousel.owl-theme .owl-controls .owl-buttons div:active {
    color: red;
}

/* #Main Action buttons */
/* Adicionar seletores para carrinho do topo, pagina de detalhe do produto, carrinho e checkout */

/* #Action buttons text */
.product-view .add-to-cart-buttons .button

/* #Action buttons text hover */

/* #Action buttons background */

/* #Action buttons background hover */

/* #Action buttons background active */

/* #Main Product list */
/* #Main Product list name */
.block-related .product-name,
.products-grid .product-name,
.products-list .product-name,
.block-related .product-name a,
.products-grid .product-name a,
.products-list .product-name a {
    color: green;
}

/* #Main Product list name hover */
.block-related .product-name:hover,
.products-grid .product-name:hover,
.products-list .product-name:hover,
.block-related .product-name a:hover,
.products-grid .product-name a:hover,
.products-list .product-name a:hover {
    color: violet;
}

/* #Main Form */
/* #Form Label/Text */
label,
form .legend {
    color: #6262FF; /* pegar variavel de cor titulos */
    font-size: 12px;
}

/* #Form Border */
select,
textarea,
.input-text,
.form-list select {
    color: #6262FF; /* pegar variavel de cor do texto default */
    border-color: red;
}

/* #Form Focus */
select:focus,
textarea:focus,
.input-text:focus,
.form-list select:focus {
    color: #6262FF; /* pegar variavel de cor do texto default */
    border-color: red; /* Pegar váriavel da borda acima */
}

/* #Main Prices */
/* #Prices Text default (regular) */
.block-related .price-box .regular-price .price,
.products-grid .price-box .regular-price .price,
.products-list .price-box .regular-price .price {
    font-size: 10px;
    color: springgreen;
}

/* #Prices Text (from/old) */
.block-related .price-box .old-price .price,
.products-grid .price-box .old-price .price,
.products-list .price-box .old-price .price,
.block-related .price-box .price-from .price,
.products-grid .price-box .price-from .price,
.products-list .price-box .price-from .price {
    font-size: 10px;
    color: #6e000d;
}

/* #Prices Text Variant (to/special) */
.block-related .price-box .special-price .price,
.products-grid .price-box .special-price .price,
.products-list .price-box .special-price .price,
.block-related .price-box .price-to .price,
.products-grid .price-box .price-to .price,
.products-list .price-box .price-to .price,
.block-related .price-box .minimal-price .price,
.products-grid .price-box .minimal-price .price,
.products-list .price-box .minimal-price .price {
    font-size: 10px;
    color: #440088;
}

/* #Prices Label (from/old) */
.block-related .price-box .old-price .price-label,
.products-grid .price-box .old-price .price-label,
.products-list .price-box .old-price .price-label,
.block-related .price-box .price-from .price-label,
.products-grid .price-box .price-from .price-label,
.products-list .price-box .price-from .price-label {
    font-size: 10px;
    color: #d11047;
}

/* #Prices Label (to/special) */
.block-related .price-box .special-price .price-label,
.products-grid .price-box .special-price .price-label,
.products-list .price-box .special-price .price-label,
.block-related .price-box .price-to .price-label,
.products-grid .price-box .price-to .price-label,
.products-list .price-box .price-to .price-label,
.block-related .price-box .minimal-price .price-label,
.products-grid .price-box .minimal-price .price-label,
.products-list .price-box .minimal-price .price-label {
    font-size: 10px;
    color: #d11047;
}

/* #Main Alert Msg */

/* #Alert Success */
/* #Success Text */
.success {
    color: #63AB2C
}

/* #Success Border */
.messages .success-msg li {
    border-left: 5px solid #63AB2C
}

.messages .success-msg li:before {
    border-left: 6px solid #63AB2C;
}

/* #Success Background */
.messages .success-msg {
    background-color: green;
}

/* #Error */
/* #Error Text */
.error {
    color: red;
}

/* #Error Border */
.messages .error-msg li {
    border-left: 5px solid red
}

.messages .error-msg li:before {
    border-left: 6px solid red;
}

/* #Error Background */
.messages .error-msg {
    background-color: red;
}

/* #Notice */
/* #Notice Text */
.notice {
    color: #E26703;
}

/* #Notice Border */
.messages .notice-msg li {
    border-left: 5px solid #E26703
}

/* #Notice Background */
.messages .notice-msg li:before {
    border-left: 6px solid #E26703;
}

/* #Checkout step numbers */
.opc .section .step-title .number,
.opc .section.allow.active .step-title .number,
.no-touch .opc .section.allow:hover .step-title .number {
    background-color: #d11047;
}

/* ##### End #Main Selectors ##### */

/* ##### #Menu ##### */
/* #Menu Links/Text */
#header .page-header-container,
#header-nav #nav,
.nav-primary a,
.nav-primary li.level0 > a {
    color: red;
}

/* #Menu Background */
#header-nav {
    background-color: blue;
}

/* ##### #End Menu ##### */

/* ##### #Header ##### */
/* #Header Text */
#header ul,
#header div,
#header td,
#header p,
#header span {
    color: yellow;
}

/* #Header Links */
#header a,
#header a span {
    color: #970101;
}

/* #Header Titles */
#header h1, #header .h1,
#header h2, #header .h2,
#header h3, #header .h3,
#header h4, #header .h4,
#header h5, #header .h5,
#header h6, #header .h6,
.main-container header,
#header .page-title h1,
#header .page-title h2,
    /* In the cart page, has some elements with above selector */
#header .product-name h1,
#header .product-name .h1,
#header .category-title h1,
#header .block-title h1,
#header .block-title h2,
#header .block-title h3,
#header .block-title strong,
#header .block-related .block-title h2,
.main-container header.h2.subtitle {
    color: yellow;
}

/* #Header Background */
#header {
    background-color: #FAFAFA;
}

/* ##### #End Header ##### */

/* ##### #Footer ##### */
/* #Footer Text */
#footer ul,
#footer div,
#footer td,
#footer p,
#footer span {
    color: yellow;
}

/* #Footer Links */
#footer a,
#footer a span,
#footer .footer .sub-cols ul li a {
    color: yellow;
}

/* #Footer Titles */
#footer h1, #footer .h1,
#footer h2, #footer .h2,
#footer h3, #footer .h3,
#footer h4, #footer .h4,
#footer h5, #footer .h5,
#footer h6, #footer .h6,
#footer .page-title h1,
#footer .page-title h2,
    /* In the cart page, has some elements with above selector */
#footer .product-name h1,
#footer .product-name .h1,
#footer .category-title h1,
#footer .block-title h1,
#footer .block-title h2,
#footer .block-title h3,
#footer .block-title strong,
#footer .block-related .block-title h2 {
    color: yellow;
}

/* #Footer Background */
#footer {
    background-color: #FAFAFA;
}

/* ##### #End Footer ##### */