.wrapper {
    background: none transparent!important;
}

/* Cores */
body .input-text:focus {
    border: 1px solid #d4d4d4;
}

body a {
    color: #909090;
}

body a:hover {
    color: #275b73;
    text-decoration: none;
}

body  .block-subtitle,
body #customer-reviews h2,
body #customer-reviews h3 span {
    color: #474747;
}

.block-layered-nav dl dd ol > li > a .count {
    color: #275b73;
}

/* General / Defaults */
.page-title h1,
.page-title h2,
.product-name h1,
.product-name .h1 {
    margin: 5px 0;
}

.std {
    color: #888888;
    font-family: "Lato";
}

body .block-title h2,
body .block-title h3,
body .block-title strong {
    font-family: "Lato";
    color: #1F495C;
}

body .block-title {
    padding: 0 13px;
}

.sidebar .block-layered-nav .block-subtitle--filter:hover,
body .block-layered-nav .block-content > dl > dt,
body:not(.customer-account) .block:first-child .block-title {
    background-color: #1F495C;
}

body:not(.customer-account) .block:first-child .block-title strong span,
body .block-layered-nav .block-content > dl > dt a,
body .block-layered-nav .block-content > dl > dt {
    color: #FFF;
    font-family: "Lato";
    font-weight: bold;
}

body .pages .current,
body .pages .current:hover {
    color: #FFF;
    background-color: #1f495c;
}

body .osc-title,
body h2.product-name,
body h3.product-name,
body h4.product-name,
body h5.product-name,
body p.product-name{
    color: #000;
    font-family: "Lato";
}

.dashboard .col2-set .col-1 .box-title a,
.dashboard .col2-set .col-2 .box-title a {
    position: static;
    left: inherit;
    top: inherit;
    padding-left: 0;
}

.block-layered-nav dl dd ol > li > ul {
    margin-left: 15px;
}

.block-layered-nav dl dd ol > li > ul li {
    list-style: none;
}

.block-layered-nav dl dd ol > li > ul li a:before {
    content: "-";
    margin-right: 10px;
}

body label,
body .pager .amount,
body .block-progress dt {
    font-family: "Lato";
}

body .block-progress dt {
    margin: 0 0 6px 12px;
}

body .input-text {
    border: 2px solid #d4d4d4;
}

/* Header */
#header {
    font-family: "Lato";
}

#header .header-language-background {
    background: none transparent;
    border-bottom: 1px solid #e9e9e9;
    font-family: "Lato";
    line-height: 38px;
    height: auto;
}

#header .header-language-container,
#header .page-header {
    font-family: "Lato";
}

#header .header-toolbar {
    height: auto;
    line-height: inherit;
    font-size: inherit;
    background-color: transparent;
    margin-bottom: 10px;
}

#header .header-container-left {
    float: left;
}

#header .header-container-right {
    float: right;
}

#header .header-toolbar-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    border-bottom: 1px solid #cccccc;
    position: relative;
    z-index: 2;
}

#header .header-toolbar-wrapper:before {
    left: 100%;
}

#header .header-toolbar-wrapper:after,
#header .header-toolbar-wrapper:before {
    border-bottom: 1px solid #cccccc;
    content: " ";
    display: block;
    position: absolute;
    top: 100%;
    width: 150px;
    z-index: 1;
}

#header .header-toolbar-wrapper:after {
    right: 100%;
}

#header-nav {
    width: 100%;
    clear: both;
}

#header .toplinks {
    float: left;
}

#header .welcome-message {
    margin: 0;
    font-size: 11px;
    font-weight: 400;
    color: #909090;
    text-transform: uppercase;
}

#header .toplinks li a {
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
}

#header .phone-header {
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    color: #909090;
    text-transform: uppercase;
}

#header .info-top {
    float: right;
    margin: 5px 35px 0 0;
}

#header .tel-top {
    float: right;
}

#header .header-language-background,
#header .header-language-background a {
    color: #909090;
}

#header .header-language-background a:hover {
    color: #275b73;
}

/* Search */
#header #search {
    border: 2px solid #d4d4d4;
    font-size: 15px;
    height: 36px;
    line-height: 30px;
    color: #909090;
}

/* Menu */
#header .header-nav-container {
    margin: 0 auto;
    max-width: 1260px;
    padding: 0 30px;
}

#header #header-nav {
    width: 100%;
    background-color: #1F495C;
}

#header .header-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

#header .nav-primary {
    margin: 0;
    padding: 0;
}

#header .nav-primary li.level0 > a {
    border: none;
}

#header #nav .nav-primary li.level1 ul {
    left: 250px;
    top: 0;
}

#header #nav .nav-primary .level0.nav-5 li.level1 ul,
#header #nav .nav-primary .level0.nav-6 li.level1 ul,
#header #nav .nav-primary .level0.nav-7 li.level1 ul,
#header #nav .nav-primary .level0.nav-8 li.level1 ul {
    left: -250px;
    top: 0;
}

#header #nav li a {
    width: 100%;
    text-align: center;
    display: inline-block;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    padding: 10px 15px;
    border: none;
    font-family: "Lato";
    transition: background-color 500ms linear 0s;
}

#header #nav li a:hover {
    transition: background-color 100ms linear 0s;
}

#header #nav li:hover a.level-top {
    position: relative;
    background-color: #275B73;
}

#header .nav-primary {
    width: 100%;
    display: table;
    position: relative;
}

#header .nav-primary li.level0,
#header .nav-primary a.level0,
#header .nav-primary a.level-top {
    display: table-cell;
    position: relative;
}

#header .skip-links {
    clear: none;
    overflow: inherit;
}

#header #header-search {
    width: 55%;
    height: 36px;
    position: static;
    left: inherit;
    top: inherit;
    float: left;
    margin-top: 20px;
    border-radius: 0 0 3px 3px;
    overflow: hidden;
}

.minicart-wrapper .mini-products-list .product-details {
    float: left;
    margin-left: 15px;
    width: calc(100% - 70px);
}

#header .subtotal {
    line-height: 21px;
}

.skip-active .block-cart,
.block-cart.skip-active {
    position: relative;
    z-index: 10;
}

.close.skip-link-close {
    float: right;
    font-size: 35px;
}

.minicart-wrapper .mini-products-list .product-details .product-name {
    padding-top: 0;
    font-weight: bold;
}

.mini-products-list .qty.cart-item-quantity {
    margin: 0 10px;
    min-height: 32px;
    text-align: center;
    width: 42px;
}

.minicart-wrapper .mini-products-list li {
    margin-bottom: 15px;
}

#header #header-cart.skip-active {
    top: 80px;
}

.mini-cart-actions .cart-link {
    line-height: 30px;
}

/* Sub Menu */
#header .nav-primary li.level0 ul {
    top: 50px;
    padding: 0;
    border: none;
    z-index: 11;
    background-color: #275B73;
}

#nav .level0 li {
    width: 100%;
    float: left;
}

#header #nav .level0 li a {
    padding: 4px 15px;
    text-align: left;
}

/* Header Cart */
#header .skip-cart {
    position: relative;
    background: url("../../wysiwyg/top_cart.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 44px;
    margin: 15px 0 0;
    padding: 0;
    right: inherit;
    top: inherit;
    width: 50px;
}

#header .mini-cart-subtotal {
    background-color: transparent;
    margin: 15px 55px 0 0;
    float: left;
    text-decoration: none;
}

#header .mini-cart-subtotal {
    text-decoration: none;
}

#header .mini-cart-subtotal .price {
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
    color: #909090;
}

#header .count {
    background: none repeat scroll 0 0 #353535;
    border-radius: 20px;
    color: #FFF!important;
    display: block;
    font-size: 10px;
    font-weight: 400;
    left: 30px;
    line-height: 17px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 16px;
    height: auto;
    font-family: "Lato";
}

#header .skip-cart .label {
    display: none;
}

.minicart-wrapper {
    padding: 10px;
    box-shadow: 0 5px 11px 2px #878787;
}

.mini-cart-actions .cart-link {
    float: left;
}

/* Banner home */
.banners-home {
    float: right;
}

body .bx-wrapper .bx-pager.bx-default-pager a {
    border-color: rgba(39,91,115,0.8);
}

body .bx-wrapper .bx-pager.bx-default-pager a.active {
    background-color: rgba(39,91,115,0.5);
}

/* Footer Icons */
#footer .textnews .badge {
    background-color: #a9a9a9;
    border: 8px solid #FFF;
    border-radius: 175px;
    height: 175px;
    float: left;
    margin: -61px 0 -47px;
    position: relative;
    z-index: 1;
    transition: all 200ms ease 0s;
    width: 175px;
}

#footer .textnews .badge p {
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    line-height: 40px;
    padding-top: 17px;
    text-align: center;
}

#footer .textnews .badge p img {
    display: inline-block;
}

#footer .textnews .news-lb {
    float: left;
    font-size: 20px;
    margin-left: 5%;
    width: 70%;
}

#footer .footer {
    font-family: "Lato";
}

#footer .payment-icons li,
#footer .security-icons li {
    float: left;
    margin: 0 20px 0 0;
}

#footer .payment-icons span.ico.mastercard {
    background-position: -264px 0;
    width: 31px;
}

#footer .payment-icons span.ico.visa {
    background-position: -300px 0;
    width: 40px;
}

#footer .payment-icons span.ico.diners {
    background-position: -385px 0;
    width: 28px;
}

#footer .payment-icons span.ico.amex {
    background-position: -347px 0;
    width: 31px;
}

#footer .payment-icons span.ico.boleto {
    background-position: -222px 0;
    width: 37px;
}

#footer .payment-icons span.ico,
#footer .security-icons span.ico {
    background: url("../../wysiwyg/footer_icons.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 21px;
}

#footer .custom-footer-content .custom-links li {
    background: none transparent;
    display: block;
    line-height: 1.7em;
    padding: 0;
    margin: 5px 0;
}

#footer .custom-footer-content em {
    font-style: normal;
}

#footer .security-icons span.ico.comodo {
    background-position: -486px 0;
    width: 15px;
}

#footer .security-icons span.ico.seguro {
    background-position: -424px 0;
    width: 48px;
}

#footer .col {
    float: left;
}

#footer .footer-top,
#footer .footer-bottom {
    width: 100%;
    float: left;
    clear: both;
}

#footer .footer-top {
    margin-bottom: 10px;
    padding-bottom: 0;
    padding-top: 20px;
}

#footer .footer-bottom {
    border-bottom: 2px solid #e4e4e4;
    border-top: 2px solid #e4e4e4;
    margin-bottom: 10px;
    padding: 25px 0;
    background-color: #FFF;
}

#footer .footer-top .col,
#footer .footer-bottom .col { width: 30%; margin-right: 3.33%; }

#footer .footer-top .col {
    width: 21%;
}

#footer .title {
    color: #275B73;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 3px;
    text-transform: uppercase;
    font-family: Lato;
}

#footer div.title-divider span {
    display: none;
}

.title-divider {
    background: none repeat scroll 0 0 #d2d2d2;
    height: 1px;
    overflow: hidden;
    width: 100%;
    margin-bottom: 5px;
}

#footer .custom-links,
#footer .security-icons {
    padding: 5px 0 0;
}

#footer .security-icons {
    padding-left: 0;
}

#footer .custom-links a {
    font-family: "Lato",​sans-serif;
    font-size: 12.8px;
    font-weight: 400;
    font-style: normal;
    color: #909090;
    text-decoration: none;
    line-height: 19.2px;
    transition: all 200ms ease 0s;
}

#footer .custom-links a::before {
    content: ">";
    font-family: Lato;
    font-size: 16px;
    margin-right: 6px;
}

#footer .custom-links a:hover {
    color: #275B73;
}

#footer .footer-bottom .custom-footer-content .ico.seguro {
    background-position: -424px 0;
    width: 48px;
}

#footer .footer-bottom .custom-footer-content .ico.comodo {
    background-position: -486px 0;
    width: 15px;
}

#footer .footer-bottom .custom-footer-content .ico {
    background: url("../../wysiwyg/footer_icons.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 21px;
}

#footer .footer-container {
    padding: 0 15px;
}

#footer .footer-bottom-container {
    margin: 0 auto;
    max-width: 1260px;
    padding: 15px;
    position: relative;
}

.footer-newsletter {
    min-height: 135px;
    background: #275B73;
}

.footer-bottom .custom-footer-content li {
    float: left;
    margin-right: 10px;
}

.footer-newsletter-container {
    margin: 0 auto;
    max-width: 1260px;
}

.footer-newsletter-container .block-title,
.footer-newsletter-container .form-subscribe-header {
    display: none;
}

.footer-newsletter-container .textnews {
    width: 65%;
    font-size: 24px;
    color: #FFF;
    float: left;
    font-weight: 400;
    line-height: 28px;
    margin: 40px 0 0;
}

.footer-newsletter-container .block-subscribe {
    width: 35%;
    float: left;
}

.footer-newsletter-container .block-content {
    float: left;
    border: 3px solid #e1e4da;
    height: 48px;
    line-height: 48px;
    padding: 0;
    margin-top: 40px;
    background: #FFF;
}

.footer-newsletter-container .block-subscribe .input-text {
    height: 40px;
    border: none;
    float: left;
    font-size: 13px;
    text-indent: 12px;
    color: #000;
    background: none transparent;
}

.footer-newsletter-container .block-subscribe .actions,
.footer-newsletter-container .block-subscribe .input-box {
    float: left;
    margin: 0;
}

.footer-newsletter-container .block-subscribe .actions {
    width: 16.33%;
}

.footer-newsletter-container .block-subscribe .input-box {
    width: 83.67%;
}

.footer-newsletter-container .block-subscribe button {
    width: 100%;
    border-left: 0 none;
    cursor: pointer;
    position: relative;
    float: left;
    font-size: 30px;
    padding: 0 6px;
    height: 42px;
    border-left: 3px solid #e1e4da;
    transition: all 200ms ease 0s;
    overflow: hidden;
    text-align: center;
    color: #999699;
    background: none #FFF;
}

.footer-newsletter-container .block-subscribe button span {
    text-indent: -9999px;
    display: inline-block;
}

.footer-newsletter-container .block-subscribe button:before {
    content: "+";
    display: inline-block;
}

.footer-newsletter-container .block-subscribe button:hover {
    color: #FFF;
    background: #275B73;
}

/* Titles */
body h1,
body .h1,
body h2,
body .h2,
body .page-title h1,
body .page-title h2,
body .product-name h1,
body .product-name .h1,
body .block-related .block-title h2 {
    font-family: "Lato",​sans-serif;
    font-size: 17px;
    font-weight: 600;
    font-style:	normal;
    color: #FFFFFF;
    line-height: 30px;
    letter-spacing: 1px;
    vertical-align:	top;
}

.category-products .h2,
body .page-title:not(.title-buttons) h1,
body .page-title:not(.title-buttons) h2,
body.catalog-product-view .product-name h1,
body.catalog-product-view .product-name .h1,
body .block-related .block-title h2 {
    height: 30px;
    position: relative;
    text-align: center;
    background-color: #ee647e;
    border-radius: 2px;
    /*text-shadow: 1px 1px #e6e6d8, 2px 2px #275B73;*/
}

.category-products .h2:before,
.category-products .h2:after,
body .page-title:not(.title-buttons) h1:before,
body .page-title:not(.title-buttons) h1:after,
body .page-title:not(.title-buttons) h2:before,
body .page-title:not(.title-buttons) h2:after,
body .block-related .block-title h2:before,
body .block-related .block-title h2:after {
    content: " ";
    position: absolute;
    width: 100px;
    height: 11px;
    display: none;
    /*border-top: 2px solid #1F495C;
    border-bottom: 2px solid #1F495C;*/
}

body h1:before,
body .h1:before,
body h2:before,
body .h2:before,
body .page-title h1:before,
body .page-title h2:before,
body .product-name h1:before,
body .product-name .h1:before,
body .block-related .block-title h2:before {
    margin: 7px 0 0 -110px;
}

body h1:after,
body .h1:after,
body h2:after,
body .h2:after,
body .page-title h1:after,
body .page-title h2:after,
body .product-name h1:after,
body .product-name .h1:after,
body .block-related .block-title h2:after  {
    margin: 7px 0 0 10px;
}

h3:before {
    margin: 5px 0 0 -110px;
}

h3:after {
    margin: 5px 0 0 10px;
}

/* Product Name */
body .block-related .product-name,
body .products-grid .product-name,
body .products-list .product-name {
    min-height: 80px;
    font-family: "Lato",​sans-serif;
    font-size: 13px;
    font-weight: normal;
    font-style:	normal;
    color: #275B73;
    text-decoration: none;
    line-height: 15.6px;
    text-align:	center;
}

body .price-box .price,
body .price {
    font-family: "Lato",​sans-serif;
    font-size: 14px;
    font-weight: 700;
    font-style:	normal;
    color: #275b73;
    line-height: 20px;
    text-align:	center;
    vertical-align:	top;
}

body .price-box .old-price .price {
    font-weight: normal;
    color: #275b73;
}

.availability.available-soon,
.availability.out-of-stock {
    background-color: #c2c2c2;
    border-radius: 2px;
    color: #ffffff;
    margin-bottom: 0;
    padding: 8px 0;
}

body .availability.out-of-stock span {
    color: #FFF;
    font-weight: bold;
}

.nr-pcl {
    font-family: "Lato",​sans-serif;
}

/* Removes */
.skip-cart .count::after,
.skip-cart .count::before,
.catalog-category-view .sidebar .block-subcategories,
.customer-account .block-categories,
.customer-account .block-compare,
.sidebar .block-reorder,
.sidebar .block-viewed,
.product-view .link-compare,
.more-views > h2,
#show-parcelas,
.product-view .availability,
body .block-related .add-to-links,
body .products-grid .add-to-links {
    display: none;
}

/* Buttons */
body .products-grid button.btn-cart,
body .col-main .products-grid button.btn-cart,
body .button,
body .cart-table .product-cart-actions .button,
body #co-shipping-method-form .buttons-set .button,
body .footer .button,
body .owl-carousel.owl-theme .owl-controls .owl-buttons div {
    background: none #0BCDC5;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 2px;
    border-radius: 2px;
    font-family: "Lato",​sans-serif;
    transition: background-color 150ms linear 0s;
}

body .products-grid button.btn-cart:hover,
body .col-main .products-grid button.btn-cart:hover,
body .button:hover,
body .cart-table .product-cart-actions .button:hover,
body #co-shipping-method-form .buttons-set .button:hover,
body .footer .button:hover,
body .owl-carousel.owl-theme .owl-controls .owl-buttons div:hover {
    transition: background-color 150ms linear 0s;
}

body button.btn-cart:focus,
body button.btn-proceed-checkout:focus,
body button.btn-checkout:focus,
body .button:focus,
body .cart-table .product-cart-actions .button:focus,
body #co-shipping-method-form .buttons-set .button:focus,
body .footer .button:focus,
body .owl-carousel.owl-theme .owl-controls .owl-buttons div:focus,
body .products-grid button.btn-cart:hover,
body .col-main .products-grid button.btn-cart:hover,
body .button:hover,
body .cart-table .product-cart-actions .button:hover,
body #co-shipping-method-form .buttons-set .button:hover,
body .footer .button:hover,
body .owl-carousel.owl-theme .owl-controls .owl-buttons div:hover,
body .button:active,
body .cart-table .product-cart-actions .button:active,
body #co-shipping-method-form .buttons-set .button:active,
body .footer .button:active,
body .owl-carousel.owl-theme .owl-controls .owl-buttons div:active {
    background: none #275B73;
}

/* Final Buttons */

body button.btn-cart,
body button.btn-proceed-checkout,
body button.btn-checkout,
body button.btn-cart:hover,
body button.btn-proceed-checkout:hover,
body button.btn-checkout:hover,
body button.btn-cart:active,
body button.btn-proceed-checkout:active,
body button.btn-checkout:active {
    background: none repeat scroll 0 0 #0FBD35;
}

/* Product List */
body .block-related .button,
body .products-grid .button,
body .products-list .button {
    width: 100%;
}

/* Reset */
body .std > ul:not(.products-grid) {
    list-style: none;
}

body .std > ul:not(.products-grid) li {
    margin: 0;
}

/* Breadcrumbs */
body .bradcrumbs {
    margin: 0 0 28px;
}

body .breadcrumbs li {
    text-transform: none;
    font-family: "Lato";
}

.breadcrumbs strong {
    color: #909090;
}

/* Sprite */
body .icon-sprite,
body .btn-remove2,
body .ratings .rating-box,
body .ratings .rating-box .rating,
body .sorter > .sort-by .sort-by-switcher,
body .sorter > .view-mode .grid,
body .sorter > .view-mode .list,
body .skip-nav .icon,
body .skip-search .icon,
body #search_mini_form .search-button::before,
body .skip-account .icon,
body .skip-cart .icon,
body .product-view .sharing-links a,
body .review-summary-table .rating-box .rating-number::after,
body .ratings-table .rating-box,
body .ratings-table .rating-box .rating {
    background-image: url("../../wysiwyg/icon_sprite.png");
}

/* Product View */
body .product-collateral .toggle-tabs {
    background-color: #275B73;
    border-radius: 4px;
}

body .product-collateral .toggle-tabs li.current > span {
    box-shadow: 0 5px 14px -5px #353535 inset;
    background: none transparent;
}

body .product-collateral .toggle-tabs li {
    border: none!important;
}

body .product-collateral .toggle-tabs li > span {
    color: #FFF;
    font-family: "Lato";
    bottom: inherit;
    line-height: 36px;
    padding: 2px 30px 0 30px;
}

body .product-collateral .toggle-tabs li.current span,
body .product-collateral .toggle-tabs li:hover span {
    color: #FFF;
}

body .product-view .product-essential .extra-info .ratings .rating-box,
body .product-view .product-essential .extra-info .ratings .amount {
    float: right;
}

body .product-view .ratings .rating-links {
    margin: 8px 10px;
}

.product-view .price-box .regular-price .price,
.product-view .price-box .special-price .price {
    font-size: 25px;
}

.product-image,
.no-touch .product-img-box .product-image:hover:not(.zoom-available) {
    border-color: #EDEDED !important;
    padding: 4px;
    border-radius: 2px;
}

.products-grid .product-image {
    border-color: #ededed!important;
}

.price-info {
    margin-bottom: 35px;
}

body .product-options-bottom,
body .product-options {
    border: none;
    color: #353535;
    background: #ebebeb;
}

body .product-options p.required {
    text-align: right;
    font-weight: bold;
    background: rgba(255,255,255,0.2);
    padding: 5px 10px;
}

.product-options dt {
    color: #353535;
}

.product-view .price-box .old-price {
    line-height: 23px;
}

.product-view .special-price .price-label {
    line-height: 30px;
}

/* Clears */
#header #header-search:after,
#footer .footer:after,
.header-language-container:after,
#header-account:after,
.skip-links:after,
.minicart-actions:after,
.banners-list:after,
.footer-newsletter-container:after,
.header-toolbar-content:after {
    content: ".";
    overflow: hidden;
    display: block;
    height: 0;
    line-height: 0;
    font-size: 0;
    clear: both;
}

/* Checkout */
.form-list .control label, .sp-methods dt label, #checkout-shipping-method-load .sp-methods dd label, #co-shipping-method-form .sp-methods dd label, .product-options ul.options-list label { max-width: 300px; }

/* Success */
#bannerEbit {
    text-align: center;
}
#bannerEbit img {
    display: inline-block;
    margin: 10px 0;
}

.block-layered-nav.block-subcategories .block-content {
    padding-left: 28px;
}

body:not(.customer-account) .block:first-child .block-title {
    padding: 10px!important;
}

/* Customer Account */
.block-account li a,
.block-cms-menu li a {
    padding-left: 30px;
}

/* Checkout */
body .opc .section.allow .step-title .number,
body .opc .section .step-title .number,
body .opc .section.allow.active .step-title .number,
body.no-touch .opc .section.allow:hover .step-title .number {
    background-color: #1f495c!important;
}

.link-boleto {
    clear: both;
    display: block;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

.link-boleto img {
    display: inline-block;
}

/* Responsive */
@media (max-width: 480px) {
    /* Header */
    #header .info-top {
        margin: 5px 0 0;
        text-align: center;
    }

    #header #header-search {
        float: none;
        height: auto;
    }

    #header .skip-cart {
        width: 20%;
    }

    #header .header-toolbar {
        padding: 0 12px;
    }

    #header .tel-top {
        width: 100%;
        clear: both;
        text-align: center;
    }

    #header .skip-links {
        width: 100%;
        clear: both;
    }

    .topLinks-container,
    #header .toplinks {
        width: 100%;
    }

    #header .toplinks li {
        width: 46%;
        float: left;
        text-align: center;
    }

    #header .logo {
        width: 100%;
    }

    .skip-link {
        width: 26%;
    }

    #header .skip-link .label,
    .bx-wrapper {
        display: none;
    }

    .block-related .actions,
    .products-grid .actions {
        bottom: inherit;
        position: static;
        min-height: auto;
    }

    .block-related .product-info,
    .products-grid .product-info {
        min-height: auto!important;
    }

    .banners-list {
        width: 100%;
    }

    .banner-list {
        width: 48%;
        margin: 0 1%;
    }

    .banner-list > a {
        text-align: center;
        width: 100%;
        display: block;
    }

    .banner-list > a img {
        display: inline-block;
    }

    #header #header-search {
        width: 100%;
        margin-top: 0;
    }

    #header #header-account li a,
    #header .nav-primary a.level0 {
        text-align: center;
    }

    #header .skip-cart{
        margin: 0;
        background: none transparent;
    }

    #header .logo .small {
        display: inline-block;
    }

    /* Menu */
    #header .nav-primary li.level0,
    #header .nav-primary a.level0,
    #header .nav-primary a.level-top {
        display: block;
    }

    .toolbar .limiter label {
        display: inline;
    }

    /* Removes */
    .main .product-view .parcelamento .tabela-parcelamento,
    #header #nav li:hover a.level-top::before,
    #header .banners-list,
    #header .count,
    #header .mini-cart-subtotal,
    #header .header-toolbar .toplinks {
        display: none;
    }

    /* Content */
    #comprar-masculino {
        border-left: 0 none !important;
        padding: 0 !important;
    }

    .banners-home {
        display: none;
    }

    /* Product View */
    body .product-view .product-shop .extra-info,
    body .product-view .product-shop .price-info {
        max-width: 100%;
    }

    body .product-view .product-essential .extra-info .ratings .rating-box {
        margin-top: 13px;
    }

    body .product-view .product-shop .short-description {
        margin-bottom: 25px;
    }


    body .product-view .product-shop,
    body .product-view .add-to-cart-wrapper,
    body .product-view .block-related,
    body .product-img-box,
    body .product-collateral {
        float: left;
    }

    /* Checkout */
    button.btn-proceed-checkout {
        margin-right: 0!important;
    }

    /* Footer */
    .footer-newsletter-container .textnews,
    .footer-newsletter-container .block-subscribe {
        width: 96%;
        margin-right: 2%;
        margin-left: 2%;
    }

    .footer-newsletter-container .block-content,
    .footer-newsletter-container .block-subscribe > form,
    .footer-newsletter-container .block-subscribe .input-text {
        width: 100%;
    }

    #footer .footer-top .col,
    #footer .footer-bottom .col {
        width: 100%;
        text-align: center;
        margin-bottom: 25px;
    }

    #footer .custom-links,
    #footer .security-icons {
        padding-left: 0;
    }

    #footer .textnews .badge {
        display: none;
    }

}

@media (min-width: 480px) and (max-width: 767px) {
    /* Header */
    #header .logo .small {
        display: inline-block;
    }

    #header #header-search {
        float: none;
        height: auto;
    }

    #header .skip-cart {
        width: 20%;
    }

    #header .info-top {
        margin: 5px 0 0;
        text-align: center;
    }

    #header .header-toolbar {
        padding: 0 12px;
    }

    #header .tel-top {
        width: 100%;
        clear: both;
        text-align: center;
    }

    #header .skip-links {
        width: 100%;
        clear: both;
    }

    .topLinks-container,
    #header .toplinks {
        width: 100%;
    }

    #header .toplinks li {
        width: 46%;
        float: left;
        text-align: center;
    }

    #header .logo {
        width: 100%;
    }

    .skip-link {
        width: 26%;
    }

    #header .skip-link .label,
    .bx-wrapper {
        display: none;
    }

    .block-related .actions,
    .products-grid .actions {
        bottom: inherit;
        position: static;
        min-height: auto;
    }

    .block-related .product-info,
    .products-grid .product-info {
        min-height: auto!important;
    }

    .banners-list {
        width: 100%;
    }

    .banner-list {
        width: 48%;
        margin: 0 1%;
    }

    .banner-list > a {
        text-align: center;
        width: 100%;
        display: block;
    }

    .banner-list > a img {
        display: inline-block;
    }

    #header #header-search {
        width: 100%;
        margin-top: 0;
    }

    #header #header-account li a,
    #header .nav-primary a.level0 {
        text-align: center;
    }

    #header .skip-cart{
        margin: 0;
        background: none transparent;
    }

    /* Menu */
    #header .nav-primary li.level0,
    #header .nav-primary a.level0,
    #header .nav-primary a.level-top {
        display: block;
    }

    .toolbar .limiter label {
        display: inline;
    }

    /* Removes */
    .main .product-view .parcelamento .tabela-parcelamento,
    #header #nav li:hover a.level-top::before,
    #header .banners-list,
    #header .count,
    #header .mini-cart-subtotal,
    #header .header-toolbar .toplinks {
        display: none;
    }

    /* Content */
    #comprar-masculino {
        border-left: 0 none !important;
        padding: 0 !important;
    }

    .banners-home {
        display: none;
    }

    /* Product View */
    .product-view .product-shop .extra-info,
    .product-view .product-shop .price-info {
        max-width: 100%;
    }

    /* Checkout */
    button.btn-proceed-checkout {
        margin-right: 0!important;
    }

    /* Footer */
    .footer-newsletter-container .textnews,
    .footer-newsletter-container .block-subscribe {
        width: 96%;
        margin-right: 2%;
        margin-left: 2%;
    }

    .footer-newsletter-container .block-content,
    .footer-newsletter-container .block-subscribe > form,
    .footer-newsletter-container .block-subscribe .input-text {
        width: 100%;
    }

    #footer .footer-top .col,
    #footer .footer-bottom .col {
        width: 100%;
        text-align: center;
        margin-bottom: 25px;
    }

    #footer .custom-links,
    #footer .security-icons {
        padding-left: 0;
    }

    #footer .textnews .badge {
        display: none;
    }
}

@media (min-width: 800px) and (max-width: 1200px) {
    .header-language-background .header-language-container {
        padding: 0 22px;
    }
}

@media (min-width: 768px) and (max-width: 769px) {

    /* Header */
    #header .info-top {
        margin: 5px 0 0;
        text-align: center;
    }

    #header .header-toolbar {
        padding: 0 12px;
    }

    #header .toplinks li {
        width: 46%;
        float: left;
        text-align: center;
    }

    #header .logo {
        width: 100%;
    }

    .skip-link {
        width: 26%;
    }

    #header .skip-link .label,
    .bx-wrapper {
        display: none;
    }

    .block-related .actions,
    .products-grid .actions {
        bottom: inherit;
        position: static;
        min-height: auto;
    }

    .block-related .product-info,
    .products-grid .product-info {
        min-height: auto!important;
    }

    .banners-list {
        width: 100%;
    }

    .banner-list {
        width: 48%;
        margin: 0 1%;
    }

    .banner-list > a {
        text-align: center;
        width: 100%;
        display: block;
    }

    .banner-list > a img {
        display: inline-block;
    }

    #header #header-search {
        width: 100%;
        margin-top: 0;
    }

    #header #header-account li a,
    #header .nav-primary a.level0 {
        text-align: center;
    }

    #header .skip-cart{
        margin: 0;
        background: none transparent;
    }

    #header .header-toolbar-content .toplinks {
        display: none;
        min-width: 258px;
    }

    #header .welcome-message {
        display: inline-block;
    }

    #header .info-top {
        margin-right: 55px;
    }

    #header .skip-cart {
        width: 25%;
    }

    #header #header-cart.skip-active {
        left: 9px;
        top: 225px;
        width: 98%;
        position: absolute;
    }

    #header .toplinks,
    #header-account {
        width: 100%;
    }

    .page-header-container .logo .small {
        display: inline-block;
    }

    /* Menu */
    #header .nav-primary li.level0,
    #header .nav-primary a.level0,
    #header .nav-primary a.level-top {
        display: block;
    }

    .toolbar .limiter label {
        display: inline;
    }

    /* Removes */
    .main .product-view .parcelamento .tabela-parcelamento,
    #header #nav li:hover a.level-top::before,
    #header .banners-list,
    #header .count,
    #header .mini-cart-subtotal {
        display: none;
    }

    /* Content */
    #comprar-masculino {
        border-left: 0 none !important;
        padding: 0 !important;
    }

    .banners-home {
        display: none;
    }

    /* Product View */
    .product-view .product-shop .extra-info,
    .product-view .product-shop .price-info {
        max-width: 100%;
    }

    /* Checkout */
    button.btn-proceed-checkout {
        margin-right: 0!important;
    }

    /* Footer */
    .footer-newsletter-container .textnews,
    .footer-newsletter-container .block-subscribe {
        width: 96%;
        margin-right: 2%;
        margin-left: 2%;
    }

    .footer-newsletter-container .block-content,
    .footer-newsletter-container .block-subscribe > form,
    .footer-newsletter-container .block-subscribe .input-text {
        width: 100%;
    }

    #footer .footer-top .col,
    #footer .footer-bottom .col {
        width: 45%;
        text-align: center;
        margin-bottom: 25px;
    }

    #footer .custom-links,
    #footer .security-icons {
        padding-left: 0;
    }

    #footer .textnews .badge {
        display: none;
    }

}

@media (min-width: 770px) and (max-width: 977px) {

    /* Header */
    #header .info-top {
        margin: 5px 0 0;
        text-align: center;
    }

    #header .header-toolbar {
        padding: 0 12px;
    }

    #header .toplinks li {
        width: 46%;
        float: left;
        text-align: center;
    }

    #header .logo {
        width: 100%;
        height: auto;
    }

    .skip-link {
        width: 26%;
    }

    #header .skip-link .label,
    .bx-wrapper {
        display: none;
    }

    .block-related .actions,
    .products-grid .actions {
        bottom: inherit;
        position: static;
        min-height: auto;
    }

    .block-related .product-info,
    .products-grid .product-info {
        min-height: auto!important;
    }

    .banners-list {
        width: 100%;
    }

    .banner-list {
        width: 48%;
        margin: 0 1%;
    }

    .banner-list > a {
        text-align: center;
        width: 100%;
        display: block;
    }

    .banner-list > a img {
        display: inline-block;
    }

    #header #header-search {
        width: 100%;
        margin-top: 0;
    }

    #header #header-account li a,
    #header .nav-primary a.level0 {
        text-align: center;
    }

    #header .header-toolbar-content .toplinks {
        display: none;
        min-width: 258px;
    }

    #header .welcome-message {
        display: inline-block;
    }

    #header .info-top {
        margin-right: 55px;
    }

    #header #header-cart.skip-active {
        left: 9px;
        top: 225px;
        width: 98%;
        position: absolute;
    }

    #header .toplinks,
    #header-account {
        width: 100%;
    }

    .page-header-container .logo .small {
        display: inline-block;
    }

    .toolbar .limiter label {
        display: inline;
    }

    #header .logo {
        max-width: 245px;
    }

    #header .mini-cart-subtotal {
        margin-right: 0;
    }

    #header #nav li a {
        font-size: 12px;
        padding-right: 8px;
        padding-left: 8px;
    }

    #header #header-search {
        width: 45%;
        margin-top: 20px;
        margin-left: 18px;
    }

    /* Removes */
    #header .header-toolbar-wrapper::after,
    #header .header-toolbar-wrapper::before,
    #header .logo .large,
    .main .product-view .parcelamento .tabela-parcelamento,
    #header #nav li:hover a.level-top::before,
    #header .banners-list,
    #header .skip-cart .icon {
        display: none;
    }

    /* Content */
    #comprar-masculino {
        border-left: 0 none !important;
        padding: 0 !important;
    }

    .main .col-main {
        width: 69%;
    }

    .col1-layout .main .col-main  {
        width: 100%;
    }

    /* Product View */
    .product-view .product-shop .extra-info,
    .product-view .product-shop .price-info {
        max-width: 100%;
    }

    body .product-view .add-to-cart-wrapper {
        width: 30%;
    }

    body .product-view .container-product-basic-and-image-gallery {
        width: 70%;
    }

    /* Checkout */
    button.btn-proceed-checkout {
        margin-right: 0!important;
    }

    /* Footer */
    .footer-newsletter-container .textnews,
    .footer-newsletter-container .block-subscribe {
        width: 96%;
        margin-right: 2%;
        margin-left: 2%;
    }

    .footer-newsletter-container .block-content,
    .footer-newsletter-container .block-subscribe > form,
    .footer-newsletter-container .block-subscribe .input-text {
        width: 100%;
    }

    #footer .footer-top .col,
    #footer .footer-bottom .col {
        width: 45%;
        text-align: center;
        margin-bottom: 25px;
    }

    #footer .custom-links,
    #footer .security-icons {
        padding-left: 0;
    }

    #footer .textnews .badge {
        display: none;
    }
}

@media (min-width: 978px)  and (max-width: 1279px) {
    .skip-cart .icon {
        display: none!important;;
    }

    #header #header-search {
        width: 37%;
    }

    .footer-newsletter-container .textnews {
        width: 58%;
        margin-left: 12px;
    }

    #header .header-toolbar-wrapper::after,
    #header .header-toolbar-wrapper::before {
        display: none;
    }

    #header .header-toolbar-wrapper {
        padding: 0 20px;
    }

}

@media (max-width: 1208px) {
    #footer .textnews .badge {
        display: none;
    }
}

@media (min-width: 1280px) {
    .skip-cart .icon {
        display: none!important;
    }
}