#ajaxcartpro-progress,
#ajaxcartpro-add-confirm,
#ajaxcartpro-remove-confirm{
	position: fixed;
	border: none;
	border-radius: 4px;
	text-align: center;
	padding: 25px;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
	z-index: 9999;
    color: black;
    overflow:  auto;
    min-height: 60px;
    min-width:  200px;
    width: auto;
    height: auto;
	/*position:absolute;*/
	/*top: expression(parseInt(document.documentElement.scrollTop, 10) +200+ "px");*/

    backface-visibility: hidden;
    -webkit-perspective: 1300px;
    -moz-perspective: 1300px;
    perspective: 1300px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateY(-70deg);
    -moz-transform: rotateY(-70deg);
    -ms-transform: rotateY(-70deg);
    transform: rotateY(-70deg);
    -webkit-transition: all 0.3s 0.5s;
    -moz-transition: all 0.3s 0.5s;
    transition: all 0.3s 0.1s;
    opacity: 0;
}

.ajaxcartpro-add-confirm-wrapper {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateY(-70deg);
    -moz-transform: rotateY(-70deg);
    -ms-transform: rotateY(-70deg);
    transform: rotateY(-70deg);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
}

#ajaxcartpro-add-confirm.ajaxcartpro-box-show {
    min-height: inherit;
}

.ajaxcartpro-box-show .ajaxcartpro-add-confirm-wrapper {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    opacity: 1;
    visibility: visible;
}

#acp-overlay.ajaxcartpro-box-hide,
.ajaxcartpro-box-hide,
#ajaxcartpro-progress.ajaxcartpro-box-hide{
    opacity: 0;
    visibility: hidden;
}

#ajaxcartpro-add-confirm.ajaxcartpro-box-show,
#ajaxcartpro-progress.ajaxcartpro-box-show,
#ajaxcartpro-remove-confirm.ajaxcartpro-box-show{
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    opacity: 1;
}

#ajaxcartpro-add-confirm p,
#ajaxcartpro-remove-confirm p{
	width: 260px;
}

.acp-msg-block{
    color:#df280a;
    font-weight:bold;
    background-image: none;
    padding:0!important;
    min-height:0!important;
    border-style: solid !important;
    border-width: 1px !important;
    font-size: 12px !important;
}

#acp-configurable-block #bundle-product-wrapper
{
    z-index: 1000;
}

#acp-configurable-block dl
{
    text-align: left;
    padding-left: 10px;
}

#acp-configurable-block .price
{
    font-size: 14px;
}

#acp-configurable-block .product-name
{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

#acp-overlay
{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#000;
    -moz-opacity: 0.3;
    opacity:.30;
    filter: alpha(opacity=30);
    z-index: 100;
}
#acp-overlay[id]{ /* IE6 and below Can't See This */
    position:fixed;
}

#acp-product-options
{
    min-width: 400px;
    position: fixed;
    overflow:  auto;
    z-index:1000;
    background-color: white;
    padding: 10px;
    width: auto;
    height: auto;
    /*position:absolute;*/
    /*top: expression(parseInt(document.documentElement.scrollTop, 10) +window.ACPTop+ "px");*/
}

#acp-product-options .aw-acp-continue,
#acp-product-options .aw-acp-checkout{
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

#acp-product-options .aw-acp-btn-container{
    margin: 5px auto 5px auto;
    padding-left: 20px;
}

#acp-product-options .giftcard-send-form{
    margin: 0;
}

#acp-product-options .product-options dt label.required em {
    color: #EB340A;
    margin-left: 5px;
}

#acp-product-options #product-options-wrapper
{
    margin:0;
    text-align:center;
}
.map-popup
{
    z-index: 1001 !important;
}


.ajax-cart-separator {
    color: #FFF;
    font-weight: bold;
    margin: 0 10px;
}

/* Loader */
[role="progressbar"][aria-busy="true"] {
    position: relative;
    width: 55px;
    height: 55px;
    margin: 25px auto;
}
[role="progressbar"][aria-busy="true"]::before {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 15px;
    height: 15px;
    content: '';
    box-shadow:
        20px 0 0 rgba(255, 255, 255, 0),
        40px 0 0 rgba(255, 255, 255, 0),
        0 -20px 0 rgba(255, 255, 255, 0),
        20px -20px 0 rgba(255, 255, 255, 0),
        40px -20px 0 rgba(255, 255, 255, 0),
        0 -40px rgba(255, 255, 255, 0),
        20px -40px rgba(255, 255, 255, 0),
        40px -40px rgba(242, 205, 123, 0);
    animation: loader 5.4s linear forwards infinite;
}
[role="progressbar"][aria-busy="true"]::after {
    position: absolute;
    bottom: 10px;
    left: 0;
    display: block;
    width: 15px;
    height: 15px;
    background-color: #fff;
    opacity: 0;
    content: '';
    animation: base 5.4s linear forwards infinite;
}

@keyframes base {
    0% {
        bottom: 10px;
        opacity: 0;
    }
    5%, 50% {
        bottom: 0;
        opacity: 1;
    }
    55%, 100% {
        bottom: -10px;
        opacity: 0;
    }
}
@keyframes loader {
    0% {
        box-shadow:
            20px -10px rgba(255, 255, 255, 0),
            40px 0 rgba(255, 255, 255, 0),
            0 -20px rgba(255, 255, 255, 0),
            20px -20px rgba(255, 255, 255, 0),
            40px -20px rgba(255, 255, 255, 0),
            0 -40px rgba(255, 255, 255, 0),
            20px -40px rgba(255, 255, 255, 0),
            40px -40px rgba(255, 255, 255, 0);
    }
    5% {
        box-shadow:
            20px -10px rgba(255, 255, 255, 0),
            40px 0 rgba(255, 255, 255, 0),
            0 -20px rgba(255, 255, 255, 0),
            20px -20px rgba(255, 255, 255, 0),
            40px -20px rgba(255, 255, 255, 0),
            0 -40px rgba(255, 255, 255, 0),
            20px -40px rgba(255, 255, 255, 0),
            40px -40px rgba(255, 255, 255, 0);
    }
    10% {
        box-shadow:
            20px 0 white,
            40px -10px rgba(255, 255, 255, 0),
            0 -20px rgba(255, 255, 255, 0),
            20px -20px rgba(255, 255, 255, 0),
            40px -20px rgba(255, 255, 255, 0),
            0 -40px rgba(255, 255, 255, 0),
            20px -40px rgba(255, 255, 255, 0),
            40px -40px rgba(255, 255, 255, 0);
    }
    15% {
        box-shadow:
            20px 0 white,
            40px 0 white,
            0 -30px rgba(255, 255, 255, 0),
            20px -20px rgba(255, 255, 255, 0),
            40px -20px rgba(255, 255, 255, 0),
            0 -40px rgba(255, 255, 255, 0),
            20px -40px rgba(255, 255, 255, 0),
            40px -40px rgba(255, 255, 255, 0);
    }
    20% {
        box-shadow:
            20px 0 white,
            40px 0 white,
            0 -20px white,
            20px -30px rgba(255, 255, 255, 0),
            40px -20px rgba(255, 255, 255, 0),
            0 -40px rgba(255, 255, 255, 0),
            20px -40px rgba(255, 255, 255, 0),
            40px -40px rgba(255, 255, 255, 0);
    }
    25% {
        box-shadow:
            20px 0 white, 40px 0 white,
            0 -20px white, 20px -20px white,
            40px -30px rgba(255, 255, 255, 0),
            0 -40px rgba(255, 255, 255, 0),
            20px -40px rgba(255, 255, 255, 0),
            40px -40px rgba(255, 255, 255, 0);
    }
    30% {
        box-shadow:
            20px 0 white,
            40px 0 white,
            0 -20px white,
            20px -20px white,
            40px -20px white,
            0 -50px rgba(255, 255, 255, 0),
            20px -40px rgba(255, 255, 255, 0),
            40px -40px rgba(255, 255, 255, 0);
    }
    35% {
        box-shadow:
        20px 0 white, 40px 0 white, 0 -20px white, 20px -20px white, 40px -20px white, 0 -40px white, 20px -50px rgba(255, 255, 255, 0), 40px -40px rgba(255, 255, 255, 0);
    }
    40% {
        box-shadow:
        20px 0 white, 40px 0 white, 0 -20px white, 20px -20px white, 40px -20px white, 0 -40px white, 20px -40px white, 40px -50px rgba(255, 255, 255, 0);
    }
    45%, 55% {
        box-shadow:
        20px 0 white, 40px 0 white, 0 -20px white, 20px -20px white, 40px -20px white, 0 -40px white, 20px -40px white, 40px -40px white;
    }
    60% {
        box-shadow:
            20px 10px rgba(255, 255, 255, 0),
            40px 0 white, 0 -20px white,
            20px -20px white,
            40px -20px white,
            0 -40px white,
            20px -40px white,
            40px -40px white;
    }
    65% {
        box-shadow:
            20px 10px rgba(255, 255, 255, 0),
            40px 10px rgba(255, 255, 255, 0),
            0 -20px white,
            20px -20px white,
            40px -20px white,
            0 -40px white,
            20px -40px white,
            40px -40px white;
    }
    70% {
        box-shadow:
            20px 10px rgba(255, 255, 255, 0),
            40px 10px rgba(255, 255, 255, 0),
            0 -10px rgba(255, 255, 255, 0),
            20px -20px white,
            40px -20px white,
            0 -40px white,
            20px -40px white,
            40px -40px white;
    }
    75% {
        box-shadow:
            20px 10px rgba(255, 255, 255, 0),
            40px 10px rgba(255, 255, 255, 0),
            0 -10px rgba(255, 255, 255, 0),
            20px -10px rgba(255, 255, 255, 0),
            40px -20px white,
            0 -40px white,
            20px -40px white,
            40px -40px white;
    }
    80% {
        box-shadow:
            20px 10px rgba(255, 255, 255, 0),
            40px 10px rgba(255, 255, 255, 0),
            0 -10px rgba(255, 255, 255, 0),
            20px -10px rgba(255, 255, 255, 0),
            40px -10px rgba(255, 255, 255, 0),
            0 -40px white,
            20px -40px white,
            40px -40px white;
    }
    85% {
        box-shadow:
            20px 10px rgba(255, 255, 255, 0),
            40px 10px rgba(255, 255, 255, 0),
            0 -10px rgba(255, 255, 255, 0),
            20px -10px rgba(255, 255, 255, 0),
            40px -10px rgba(255, 255, 255, 0),
            0 -30px rgba(255, 255, 255, 0),
            20px -40px white,
            40px -40px white;
    }
    90% {
        box-shadow:
            20px 10px rgba(255, 255, 255, 0),
            40px 10px rgba(255, 255, 255, 0),
            0 -10px rgba(255, 255, 255, 0),
            20px -10px rgba(255, 255, 255, 0),
            40px -10px rgba(255, 255, 255, 0),
            0 -30px rgba(255, 255, 255, 0),
            20px -30px rgba(255, 255, 255, 0),
            40px -40px white;
    }
    95%, 100% {
        box-shadow:
            20px 10px rgba(255, 255, 255, 0),
            40px 10px rgba(255, 255, 255, 0),
            0 -10px rgba(255, 255, 255, 0),
            20px -10px rgba(255, 255, 255, 0),
            40px -10px rgba(255, 255, 255, 0),
            0 -30px rgba(255, 255, 255, 0),
            20px -30px rgba(255, 255, 255, 0),
            40px -30px rgba(242, 205, 123, 0);
    }
}

#ajaxcartpro-progress {
    min-height: 200px;
}

#ajaxcartpro-progress .loader-text {
    color: #FFF;
    font-weight: bold;
    text-align: center;
}