/******* Fontes Personalizadas ******/
@import url(http://fonts.googleapis.com/css?family=Arial);


body,
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
.block-title strong,
#search,
.header-language-container,
.page-header,
.nav-primary a,
.products-grid .product-name,
.products-list .product-name,
.block-layered-nav .block-content>dl>dt,
.price-box,
.button,
.footer, .footer button{
    font-family: "Arial";
}

/********* Top Link **********/
.page .header-language-background{
    display:none;
}

/********* Cabeçalho 1**********/
#header{
    clear:both;
    background-attachment: fixed
}

.search-autocomplete::before {
    display: none !important;
}

.welcome-message {
    margin: 37px 0 0 30px;
}

#header.page-header{
    max-width:100%;/* largura total do cabeçalho */
    padding: 0;/* espaço em ambas as laterais do primeiro cabeçalho */
    background:#FFffff;/* Cor do 1º Cabeçalho */
    background-attachment: fixed
}
#header .page-header-container{
    max-width: 1260px;/* Largura dos itens do primeiro cabeçalho */
    padding: 0 60px;/* distancia do logo- quanto menor, mais pra esquerda */
    margin: 0 auto;
}
#header .skip-link .label {
    text-transform: uppercase;/* Palavra Carrinho-maiusculo ou minuscula, etc. */
}

/* Media Queries Desktop */
@media only screen and (min-width: 770px){
    .skip-cart { /* Carrinho de Compras */
        top: 22px;/* Posição do Carrinho de Compras-menor numero mais pra cima */
        right: 60px; /* Distancia da direita para esquerda */
        background:transparent;
        color:#000000; /* Cor da letra do MEU CARRINHO */
    }
    .skip-cart .icon {
        background-image: url(http://loritextil.com.br/wp-content/uploads/2015/03/carrinho24.jpg); /* Icone do Carrinho */
        background-position: -50px -95px;/* menor valor mais pra Direita---altura menor valor pra baixo*/
        margin-right: -2px;/*Distancia entre o icone do carrinho e palavra carrinho*/
    }

    #header-cart.block-cart{
        top: 63px;/*não mudou nada*/
    }
    a.skip-active{
        border: outset 2px #000000;/*cor e grossura da borda do carrinho quando clicado em cima*/
    }
    #header-links{
        display: inline;/* grossura da borda do carrinho(bloked grosso)(inline fino)*/
        position: absolute;/*posição abosuta, não mexer*/
        top: 34px;/* distancia do topo das palavras favoritos, minha conta etc.*/
        right: 223px; /* distancia da direita das palavras favoritos, minha conta etc.*/
    }
    #header-links .links li{
        display:inline-block;
    }
    #header-links li a{
        background-image: url("wysiwyg/ttt_1.png");
        padding-left: 25px;
        color:#000000;/* Cor da letras, Favoritos,Meu carrinho,Meus pedidos */
    }
    #header-links li.link1 a{
        background-position: 2px -192px;
    }
    #header-links li.link2 a{
        background-position: -46px -53px;
    }
    #header-links li.link3 a{
        background-position: 2px -121px;
    }
}

/**** icone de Busca ****/
/* Media Queries Desktop */
@media only screen and (min-width: 770px){
    #header-search {
        display: block;
        width: 20%;
        height: 10px;/* Altura da barra */
        padding: 0px;
        top: 5px;
        right: 60px;/* Distancia da direita para esquerda */
        left: initial;
    }
    #header-search.mini-search{
        display:none;
    }
    .search-autocomplete:before{
        display:block;
    }
}

/*****  Segundo Cabeçalho *****/
#header-nav {
    background-color: #000000;/* Cor da barra */
    clear: both;/*objeto flutuantes para esquerda ou direita*/
    position:relative;/********* descobrir ******/
}
#header-nav #nav {
    width: 100%;/********* não mudou nada******/
    margin:0 30px;/********* não mudou nada ******/
}
#header-nav .header-bar{
    max-width: 1260px;/**Largura da barra**/
    margin: 0 auto;/********* descobrir ******/
    position: relative;/********* descobrir ******/
    padding: 0 60px;/********* espaço das letras das categorias do segundo cabeçalho ******/
}
#header-nav ul.level1{
    top:0px;
}
/* Segundo Cabeçalho */
@media only screen and (min-width: 770px){
    #header-nav #nav {
        width: 50%;/********* altura da barra ******/
        margin:0;
    }

    .nav-primary {
        padding: 0;
    }
    .nav-primary li.level0>a {
        border: 0;
        color: #ffffff;/* Cor da fonte */
        padding: 2px 20px 7px 0;/*1-Altura da barra-2-*/
        font-size: 14px;/* Tamanho da fonte */
        font-weight: bolder;/* Estilo da fonte */
    }
    .nav-primary li.level0>a:hover {
        color: #828282;/* Mudar cor quando vai emcima da palavra */
    }
    .nav-primary li.level0 ul {
        top: 49px;/* escada emcima do menu categorias */
    }
    .nav-primary li.level:hover{
        background:#000000;/* Não sei */
    }
}
/* Media Queries Celular */
@media only screen and (max-width: 771px){
    #header-nav {
        margin: 0 30px;
    }
    #header-nav .header-bar{
        padding:0 10px;
    }
    #header-nav #nav{
        margin:0;
    }
    .nav-primary li.level0>a {
        text-transform: uppercase;
        border: 0;
        padding: 10px 0;
        border-bottom: 1px solid #333;
        color: #000;
    }
    .no-touch #header-account a:hover,
    .no-touch .nav-primary a:hover{
        background-color: #f4f4f4;
        color:#333;
    }
}

/******** Home *********/
header.h2.subtitle{
    color: #070707; /******** Cor do Sub-titulo "Destaque" *********/
    border-bottom: 0px solid #000000;/*Cor e largura da linha do Sub-titulo "Destaque" */
}
.barra-face{
    width:100%;
    margin:0 auto;
    background:#ffffff;/*Não sei*/
}
.barra-face img{
    max-width:100%;
    margin:0 auto;
    border-bottom: 2px solid #000000;
}
.products-grid .product-name,
.products-list .product-name{
    text-transform: none;
}

/******* Página dos Produtos ******/
.catalog-product-view .main-container.col1-layout {
    background: #ffffff; /*Cor da Pagina do produto*/
}
.product-img-box  .product-image{
    float:right;/******* Posição da Foto principal ******/
    width:80%;/******* Tamanho da Foto principal ******/
}
.product-img-box .more-views{
    float:Left;/******* Posição das Fotos pequenas ******/
    width:20%;/******* Tamanho das Fotos pequenas ******/
}


/******* Rodapé  *******/
#footer {
    background-color: #ffffff; /*COR DO ULTIMO RODAPÉ */
    max-width: 1280px;/* Largura dos itens do primeiro cabeçalho */
    padding: 0 60px;/* distancia do logo- quanto menor, mais pra esquerda */
    margin: 0 auto;
}
#footer .footer-bar{
    background: #ffffff; /*COR DO RODAPÉ AONDE ESTA ESCRITO , AJUDA, MINHA CONTA, ETC. */
    padding-top: 10px;
    text-align: center;
}
#footer .footer-bar .sub-cols{
    width: 19%;
    display: inline-block;
    margin-right: 10px;
    min-width: 80px;
    vertical-align: top;
    margin-top: 20px;
    text-align:left;
}
#footer .footer-bar .sub-col5{
    margin-right:0;
}
#footer .footer-bar .sub-cols h3{
    color: #363636;/*COR DO TITULOS, MINHA CONTA, AJUDA, ETC */
    border-bottom: 2px solid #363636;/*sublinhado dos titulos, MINHA CONTA, AJUDA, ETC*/
    padding-bottom: 10px;
    margin-bottom: 22px;
}
.footer,
.footer address {
    border:none;
}

.footer address {
    padding: 0;
}

.footer .block-subscribe .actions .button {
    border: 1px solid #f00;/*cor da borda do botão newsletter*/
    border-left:0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

/* Bandeiras de pagamento */
.bandeiras li{
    float:left;
    color: transparent;
    font-size:0;
    background: url(/media/wysiwyg/rodape_pagamento_1.png) no-repeat;
    width: 1000px;
    height: 35px;
    margin: 12px 12px 0 0;
}
.bandeiras .visa {background-position: -64px 0;}
.bandeiras .master {background-position: -128px 0px;}
.bandeiras .diners {background-position: -1px -47px;}
.bandeiras .elo {background-position: -128px -47px;}
.bandeiras .american {background-position: -65px -93px;}
.bandeiras .boleto{background-position: -1px -138px; }

.footer h4,
.footer .block-title strong {
    color: #363636;/*cor do titulo do rodapé*/
    font-weight: bold;
    letter-spacing: 0.03em;
    text-transform: uppercase;/*deixar texto maiusculo*/
    border-bottom: 1px solid #00FF00;/*sublinhado das letras no titulo do rodapé*/
    padding-bottom: 16px;
    display:block;
}
.footer .links li {
    border-bottom: 1px solid #090909;/*sublinhado das letras no rodapé*/
    line-height: 1.3em;
    padding: 5px 0px;
}
.footer .links{
    min-width: 350px;/*posição do rodape pagementos*/
    min-height:50px;
}


/* Media Queries Desktop */
@media only screen and (min-width: 771px){
    .footer .bottom-container .widget-static-block {
        width: 70%;
        margin-bottom: 35px;
    }

    .footer a:hover,
    .footer .links a:hover {
        color: #ffffff;/*cor das letras quando passa o mouse em cima rodapé*/
        text-decoration:none;
    }

    .footer .block-subscribe .actions .button {
        width: 100%;
    }

}

/* Media Queries Celular */
@media only screen and (max-width: 480px){
    .footer .bottom-container .widget-static-block {
        margin-bottom: 35px;
        text-align: justify;
    }

    .footer .links {
        width:100%;
        clear:both;
    }

    .footer address {
        font-size: 13px;
    }

    .f-left {
        float: none;
        display: table;
        clear: both;
    }

    .footer a:hover,
    .footer .links a:hover {
        color: #d6ff00;/*não mudou nada*/
        text-decoration:none;
    }


}

.footer .block-title,
.footer address {
    color:#000000;/*cor das letras no final do rodapé"""todos os direitos reservados"""*/
    border:0;
}
#rodapefinal {
    border: 1px solid black;
}

#topo-topo {
    width:100%;
    height:10px;
    background-color:#000000;
}
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box:border-box;
}

.social {
    position: fixed;
    left: 0;
    top: 200px;
    z-index:2000;
}

.social ul {
    list-style:none;
}

.social ul li a {
    display: inline-block;
    color: #fff;
    background: #000;
    padding:10px 15px;
    text-decoration: none;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease;
}

.social ul li .icon-facebook {background:#3b5998;}
.social ul li .icon-twitter {background:#00abf0;}
.social ul li .icon-google-plus {background:#d95232;}
.social ul li .icon-youtube {background:#DC2725;}
.social ul li .icon-mail4 {background:#666666;}

.social ul li a:hover {
    padding: 10px 30px;
    background: #000;
}

/* Responsive Layout */
@media (max-width: 480px) {
    /* Header */
    .header-middle,
    .page-header-container .store-language-container {
        display: none;
    }

    #header .page-header-container {
        padding: 0;
    }

    .logo {
        width: 100%;
    }

    .logo .small {
        max-width: 65%;
        display: inline-block;
    }

    /* Menu */
    .nav-primary li.level0 > a {
        color: #FFF;
    }

    .no-touch #header-account a:hover,
    .no-touch .nav-primary a:hover {
        color: #FFF;
        background-color: #000;
    }

    /* Content */
    .block-related .actions,
    .products-grid .actions {
        position: relative;
        padding-bottom: 0;
    }

    .block-related .product-info,
    .products-grid .product-info {
        padding-bottom: 0;
    }

    .block-related > li:nth-child(2n+1),
    .products-grid > li:nth-child(2n+1) {
        clear: none;
    }

    /* Product View */
    .product-view .ratings .rating-links {
        clear: none;
        margin-top: 4px;
    }

    .product-view .product-shop .extra-info,
    .product-view .product-shop .price-info {
        width: 100%;
        max-width: 100%;
    }

    /* Checkout */
    button.btn-proceed-checkout {
        margin-right: 0;
    }

    /* Footer */
    #footer {
        padding: 0;
    }

    #footer .footer-bar .sub-cols {
        width: 100%;
    }

    .footer-final-content {
        width: 100%;
    }

    .footer-final-content img {
        width: 100%;
    }

}

@media (min-width: 480px) and (max-width: 767px) {
    /* Header */
    #header .page-header-container {
        padding: 0;
    }

    .logo {
        width: 100%;
    }

    .logo .small {
        max-width: 65%;
        display: inline-block;
    }

    .header-middle-container > p img {
        width: 95%;
    }

    .welcome-message {
        display: none;
    }

    /* Footer */
    #footer {
        padding: 0;
    }

    #footer .footer-bar .sub-cols {
        width: 48%;
    }

    .footer-final-content {
        width: 100%;
    }

    .footer-final-content img {
        width: 100%;
    }

}

@media (max-width: 767px) {

}

@media (min-width: 768px) and (max-width: 977px) {
    /* Header */
    #header .page-header-container {
        padding: 0;
    }

    .logo {
        width: 100%;
    }

    .logo .small {
        max-width: 65%;
        display: inline-block;
    }

    .header-middle-container > p img {
        width: 95%;
    }

    .welcome-message {
        display: none;
    }

    /* Footer */
    #footer {
        padding: 0;
    }

    #footer .footer-bar .sub-cols {
        width: 48%;
    }

    .footer-final-content {
        width: 100%;
    }

    .footer-final-content img {
        width: 100%;
    }

}

@media (min-width: 978px)  and (max-width: 1279px) {
    /* Footer */
    #footer {
        padding: 0;
    }

    #footer .footer-bar .sub-cols {
        width: 18%;
    }

    .footer-final-content {
        width: 100%;
    }

    .footer-final-content img {
        width: 100%;
    }

}

@media (max-width: 1080px) {
    .welcome-message {
        display: none;
    }
}

@media (min-width: 770px)  and (max-width: 978px) {
    #header .logo .large {
        display: none;
    }

    .logo {
        text-align: left;
        text-indent: 30px;
    }

    .logo .small {
        max-width: 59%;
        margin-top: 22px;
    }

    #header-nav #nav {
        width: 100%;
    }

}

@media (min-width: 1280px) {

}