@charset "UTF-8";
/* Classe para clear */
.clearer, .page-header,
.page-header-container, .about, .lista-servicos, .navega, .container {
    *zoom: 1;
}
.clearer:before, .page-header:before,
.page-header-container:before, .about:before, .lista-servicos:before, .navega:before, .container:before, .clearer:after, .page-header:after,
.page-header-container:after, .about:after, .lista-servicos:after, .navega:after, .container:after {
    content: "";
    display: table;
}
.clearer:after, .page-header:after,
.page-header-container:after, .about:after, .lista-servicos:after, .navega:after, .container:after {
    clear: both;
}

/* Estilos Globais */
body {
    color: #7f6c53;
}

hr {
    border: none;
    border-top: 1px solid #584630;
    margin: 2em 0;
}

a {
    color: #584630;
}

/* Layout */
.wrapper {
    background-color: #090909;
}
@media only screen and (min-width: 771px) {
    .wrapper {
        background-image: url("/media/wysiwyg/imagens-tema/bg.jpg");
        background-repeat: no-repeat;
        background-position: center top;
    }
}

.main-container {
    background-color: #d6c1a2;
}
@media only screen and (min-width: 771px) {
    .main-container {
        margin-top: -45px;
        margin-bottom: 50px;
        padding-top: 70px;
        position: relative;
        z-index: 10;
    }
}

/* Títulos */
h1,
.h1,
h2, .h2,
h3, .h3,
h4, .h4,
#search,
.page-title h1,
.page-title h2,
.product-name h1,
.product-name .h1,
.block-related .block-title h2 {
    color: #7f6c53;
    font-family: "Dancing Script", script;
    text-transform: none;
    border: none;
}

.page-title h1,
.page-title h2,
.product-name h1,
.product-name .h1 {
    font-size: 35px;
}

h1, .h1 {
    font-size: 35px;
}

h2, .h2 {
    font-size: 25px;
}

.category-products .h2.subtitle {
    font-size: 35px;
}

.block-title strong {
    color: #090909;
    font-family: "Dancing Script", script;
    text-transform: none;
    font-size: 20px;
}

/* Botões */
.button,
.cart-table .product-cart-actions .button,
#co-shipping-method-form .buttons-set .button,
.footer .button {
    background-color: #a68d68;
    border: 1px dashed #fff;
}
.button:hover,
.cart-table .product-cart-actions .button:hover,
#co-shipping-method-form .buttons-set .button:hover,
.footer .button:hover {
    background-color: #af9978;
}
.button:active,
.cart-table .product-cart-actions .button:active,
#co-shipping-method-form .buttons-set .button:active,
.footer .button:active {
    background-color: #8a7351;
}

/* Botão do carrinho */
button.btn-cart,
button.btn-proceed-checkout,
button.btn-checkout {
    background-color: #b4a05f;
}
button.btn-cart:hover,
button.btn-proceed-checkout:hover,
button.btn-checkout:hover {
    background-color: #bcaa70;
}
button.btn-cart:active,
button.btn-proceed-checkout:active,
button.btn-checkout:active {
    background-color: #aa9550;
}

/* Migalhas */
.breadcrumbs {
    padding: 0 30px 15px;
    margin: -15px -30px 15px;
    border-bottom: 1px dashed #3a2b19;
}
.breadcrumbs .back-button {
    font-weight: normal;
}

/* Barra de Ferramentas */
.toolbar {
    background-color: #c1a781;
    color: #7f6c53;
    border: none;
}

.pages .current,
.pages .current:hover {
    background-color: #d6c1a2;
    border-color: #d6c1a2;
    color: #7f6c53;
    font-weight: bold;
}

/* Navegação em camadas */
.block-layered-nav .block-content > dl > dt {
    color: #090909;
    font-family: "Dancing Script", script;
    text-transform: none;
    font-size: 20px;
    background-color: #c1a781;
}

@media only screen and (max-width: 770px) {
    .block-layered-nav .block-subtitle--filter {
        background-color: #584630;
    }

    .block-layered-nav .block-subtitle--filter:hover {
        background-color: #9c8643;
    }
}
/* Menu de Categorias Lateral */
.nav_vert li {
    margin: 0 0 10px 0;
}
.nav_vert li a {
    border-radius: 5px;
    background: url("/media/wysiwyg/imagens-tema/repeat-btn.jpg") top center repeat-x #3a2b19;
    display: block;
}
.nav_vert li a span {
    display: block;
    line-height: 28px;
    color: #d7d7d7;
    font-size: 12px;
    background: url("/media/wysiwyg/imagens-tema/seta.png") 7px 11px no-repeat;
    padding: 0 0 0 15px;
    font-weight: bold;
}
.nav_vert li a:hover {
    text-decoration: none;
    background-image: url("/media/wysiwyg/imagens-tema/repeat-btnh.jpg");
}
.nav_vert li.level0 > ul {
    margin-left: 10px;
    margin-top: 5px;
}
.nav_vert li.level0 > ul li {
    margin-bottom: 5px;
}

/* Listagem de Produtos */
.block-related .product-name,
.products-grid .product-name,
.products-list .product-name {
    color: #7f6c53;
}

/* Preços */
.price-box .price {
    color: #9c8643;
}

.price-box .minimal-price-link .label,
.price-box .price-label {
    color: #7f6c53;
}

.price-box .price-from,
.price-box .price-to .price-label{
    display:none;
}

/* Header */
.page .header-language-background {
    background-color: #3a2b19;
    height: 10px;
    padding: 0;
}

#header {
    clear: both;
    position: relative;
    z-index: 30;
}
@media only screen and (max-width: 770px) {
    #header {
        margin-bottom: 10px;
    }
}

#header.page-header {
    max-width: 100%;
    padding: 0;
}

#header .page-header-container {
    width: 100%;
    max-width: 1260px;
    padding: 0 0px;
    margin: 0 auto;
}

/* Header Links */
@media only screen and (min-width: 771px) {
    #header-links {
        display: block;
        position: absolute;
        top: 35px;
        right: 16.35417%;
        width: 27.8125%;
    }

    #header-links .links li {
        display: inline-block;
    }

    #header-links li a {
        background-image: url("/media/wysiwyg/imagens-tema/ico-sprite.png");
        padding-left: 25px;
        color: white;
    }

    #header-links li.link1 a {
        background-position: 2px -192px;
        display: none;
    }

    #header-links li.link2 a {
        background-position: -46px -53px;
    }

    #header-links li.link3 a {
        background-position: 2px -221px;
    }
}
/* Menu */
#header-nav {
    background-color: transparent;
    border: 1px solid #584630;
    clear: both;
    position: relative;
    margin-bottom: 13px;
}
@media only screen and (min-width: 771px) {
    #header-nav {
        margin-top: 80px;
    }
}

.nav-primary {
    width: 100%;
    margin: 0;
    padding: 0;
    display: table;
}

.nav-primary li.level0 {
    display: table-cell;
    float: none;
    border-right: 1px solid #584630;
    padding: 18px 0;
}

.nav-primary li.level0.last {
    border: none;
}

.nav-primary li.level0,
.nav-primary a.level0,
.nav-primary a.level-top {
    color: white;
    font-size: 14px;
    line-height: 19px;
}
.nav-primary li.level0:hover,
.nav-primary li.level0:hover > a,
.nav-primary a.level0:hover,
.nav-primary a.level-top:hover {
    color: #a68d68;
}
.nav-primary li.level0 > a {
    width: 100%;
    text-align: center;
    border: none;
    text-transform: none;
}

@media only screen and (min-width: 771px) {
    .nav-primary a.level0,
    .nav-primary a.level-top {
        padding: 0 20px;
    }
    .nav-primary li.level0 ul.level0 {
        top: 100%;
    }
    .nav-primary li.level0 ul {
        font-size: 12px;
        background-color: #a68d68;
        border-color: #3a2b19;
    }
    .nav-primary li.level1 a {
        color: white;
        border-bottom-color: #d6c1a2;
    }
    .nav-primary li.level1 a:hover {
        color: #3a2b19;
    }
}

@media only screen and (min-width: 771px) {
    .page-header-container {
        position: relative;
        max-width: 1260px;
        margin: 0 auto;
    }
}
/* Header Search */
#header-search .search-button:before {
    background-image: url("/media/wysiwyg/imagens-tema/ico-sprite.png");
    background-position: 5px -145px;
}
@media only screen and (min-width: 771px) {
    #header-search {
        display: block;
        width: 26.66667%;
        height: 40px;
        padding: 0;
        top: 22px;
        left: 26.66667%;
    }
}

#header .skip-link .label {
    text-transform: capitalize;
}

@media only screen and (min-width: 771px) {
    #header-search #search {
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        background-color: rgba(224, 224, 224, 0.1);
        border: 1px dashed #FFF;
        color: #7f6c53;
        font-size: 18px;
    }
    #header-search #search::-webkit-input-placeholder {
        color: #7f6c53;
    }
    #header-search #search:-moz-placeholder {
        /* Firefox 18- */
        color: #7f6c53;
    }
    #header-search #search::-moz-placeholder {
        /* Firefox 19+ */
        color: #7f6c53;
    }
    #header-search #search:-ms-input-placeholder {
        color: #7f6c53;
    }
}
/* Header Cart */
@media only screen and (min-width: 771px) {
    .skip-cart {
        top: 22px;
        right: 0;
        width: 19.58333%;
        background-color: transparent;
        padding: 0;
        text-align: right;
    }
    .skip-cart .label {
        color: white;
        font-family: "Dancing Script", script;
        font-size: 18px;
        vertical-align: middle;
    }

    .skip-cart .icon {
        background-image: url("/media/wysiwyg/imagens-tema/ico-sprite.png");
        background-position: -50px -95px;
        margin-right: -2px;
    }

    #header-cart.block-cart {
        top: 63px;
    }

    a.skip-active {
        border: solid 1px #eee;
    }
}
/* Header Layout */
@media only screen and (min-width: 771px) {
    .left-container {
        float: left;
        width: 21.5873%;
    }

    .right-container {
        position: relative;
        float: right;
        width: 76.19048%;
    }
}
/* Agendamento */
.agendamento {
    font-family: "Dancing Script", script;
    color: white;
    font-size: 18px;
}
#header .agendamento {
    text-align: center;
}
#header .agendamento span {
    display: inline-block;
}
@media only screen and (min-width: 771px) {
    .agendamento {
        position: absolute;
        left: 0;
        top: 22px;
        width: 26.25%;
    }
    #header .agendamento {
        text-align: left;
    }
    .agendamento span {
        display: block;
    }
}

.telefone-agendamento {
    color: #7f6c53;
    padding-left: 20px;
    background: transparent url("/media/wysiwyg/imagens-tema//i_fone-cinza.png") center left no-repeat;
}

/* ============================================ *
 * Logo
 * ============================================ */
.logo {
    display: block;
    width: auto;
    text-align: center;
    margin: 0 auto;
    height: auto;
    max-width: none;
    float: none;
    -moz-transition: all 500ms ease 0;
    -o-transition: all 500ms ease 0;
    -webkit-transition: all 500ms ease;
    -webkit-transition-delay: 0;
    transition: all 500ms ease 0;
}
.logo img {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}
.logo .large {
    transform: none;
    top: auto;
}
.logo .small {
    width: 170px;
}

.logo:hover {
    opacity: 1;
}

.logo-home {
    display: none;
}

@media only screen and (min-width: 771px) {
    .cms-home .logo .large {
        display: none;
    }
    .cms-home .logo-home {
        display: block;
    }
}
/* Footer */
#footer {
    background-color: #584630;
    border-top: 30px solid #3a2b19;
}

.footer {
    border: 0;
    color: #d6c1a2;
}
.footer a,
.footer a:visited {
    color: white;
}
.footer h4,
.footer .block-title strong {
    font-size: 25px;
    color: #d6c1a2;
    text-transform: none;
}
.footer > .links {
    display: none;
}
.footer .block-title {
    border-color: #d6c1a2;
    padding-bottom: 10px;
}
@media only screen and (max-width: 770px) {
    .footer .links {
        float: none;
        width: auto;
    }
}
.footer .links a {
    color: white;
}
.footer .links a:hover {
    color: white;
}
.footer address {
    border: none;
    padding: 0;
    color: #d6c1a2;
}

@media only screen and (min-width: 980px) {
    .bottom-container {
        width: 70%;
    }
}
/* Endereço */
.about {
    margin-bottom: 30px;
}
.about .endereco {
    padding-left: 30px;
    background: transparent url("/media/wysiwyg/imagens-tema//i_estacao.png") center left no-repeat;
}
.about .label-estacao {
    font-weight: bold;
    color: white;
}
.about .agendamento {
    position: static;
    width: auto;
    font-size: 20px;
}
.about .label-agendamento {
    display: block;
    margin-bottom: 5px;
}
.about .telefone-agendamento {
    color: #d6c1a2;
}
.about .e-mail {
    padding-left: 20px;
    background: transparent url("/media/wysiwyg/imagens-tema//i_envelope-cinza.png") center left no-repeat;
}
.about h4 {
    border-bottom: 1px solid #d6c1a2;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

/* Bandeiras de pagamento */
.bandeiras li {
    float: left;
    color: transparent;
    font-size: 0;
    background: url("/media/wysiwyg/sprite-pagamento.png") no-repeat;
    width: 53px;
    height: 35px;
    margin: 12px 12px 0 0;
}

.bandeiras .visa {
    background-position: -64px 0;
}

.bandeiras .master {
    background-position: -128px 0px;
}

.bandeiras .diners {
    background-position: -1px -47px;
}

.bandeiras .elo {
    background-position: -128px -47px;
}

.bandeiras .american {
    background-position: -65px -93px;
}

.bandeiras .boleto {
    background-position: -1px -138px;
}

/* Redes Sociais */
.footer .redes-sociais ul li,
.footer .contatos ul li {
    text-transform: none;
    background: url("/media/wysiwyg/imagens-tema//ico-sprite.png") no-repeat;
    list-style-type: none;
    margin: 0;
    padding-left: 40px;
    line-height: 33px;
    height: 33px;
}

.footer .redes-sociais ul li.twitter {
    background-position: 0 -765px;
}

.footer .redes-sociais ul li.instagram {
    background-position: 0 -798px;
}

.footer .redes-sociais ul li.facebook {
    background-position: 0 -830px;
}

.footer .redes-sociais ul li.youtube {
    background-position: 0 -864px;
}

.footer .contatos ul li {
    line-height: 36px;
    height: 36px;
    margin-bottom: 10px;
}

/* Product View */
.product-name h1 {
    border-color: #c1a781;
}

@media only screen and (min-width: 720px){
    .container-product-basic-and-image-gallery {
        width: 65%;
    }
    .product-view .add-to-cart-wrapper {
        width: 35%;
    }
}
@media only screen and (max-width: 720px){
    .product-view .add-to-cart-wrapper {
        width: 100%;
    }
}
.product-options ul.options-list label {
    font-weight: normal;
    width: auto;
    margin: 0;
    padding: 0;
}
/* Sprites */
.icon-sprite,
.btn-remove2,
.ratings .rating-box,
.ratings .rating-box .rating,
.sorter > .sort-by .sort-by-switcher,
.sorter > .view-mode .grid,
.sorter > .view-mode .list,
.skip-nav .icon,
.skip-search .icon,
#search_mini_form .search-button:before,
.skip-account .icon,
.skip-cart .icon,
.product-view .sharing-links a,
.review-summary-table .rating-box .rating-number:after,
.ratings-table .rating-box,
.ratings-table .rating-box .rating {
    background-image: url("/media/wysiwyg/imagens-tema/ico-sprite.png");
    background-size: 211px 1063px;
}

/* Abas */
.product-collateral .toggle-tabs {
    background-color: #c1a781;
    border: none;
}

/* Reviews */
#customer-reviews h3 span {
    color: #090909;
}

/* Botões e opções */
.product-view .add-to-cart,
.product-view .add-to-links a,
.product-options,
.product-options dd {
    border-color: #c1a781;
}

/* Remover Checkbox dos kits */
.product-options ul.options-list li input{
    display:none;
}


/* Produtos Relacionados */
.block-related {
    margin-top: 2em;
}

.block-related .block-title h2 {
    font-size: 34px;
}

/* BX Slider pager */
.bx-wrapper .bx-pager {
    text-align: right;
    font-size: .85em;
    font-family: Arial;
    font-weight: bold;
    color: #666;
    max-width: 1280px;
    padding: 0;
    margin: 0 auto;
    bottom: 0;
    position: relative;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    text-indent: -9999px;
    width: 16px;
    height: 16px;
    margin: 0 0 0 7px;
    outline: 0;
    border: 1px solid #fff;
    background-color: #3a2b19;
    border-radius: 100%;
    float: none;
    display: inline-block;
    text-align: left;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover {
    background-color: #584630;
}

.bx-wrapper .bx-pager.bx-default-pager a.active {
    background-color: #b4a05f;
}

/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev,
.bx-wrapper .bx-next {
    background-image: url("/media/wysiwyg/imagens-tema/controls.png");
}

/* Estilos da Home */
.cms-index-index .main-container {
    margin-top: 30px;
    padding-top: 30px;
    background-color: transparent;
    border: 1px solid #584630;
    color: #7f6c53;
}
.cms-index-index .main-container h1, .cms-index-index .main-container .h1,
.cms-index-index .main-container h2, .cms-index-index .main-container .h2,
.cms-index-index .main-container h3, .cms-index-index .main-container .h3,
.cms-index-index .main-container h4, .cms-index-index .main-container .h4,
.cms-index-index .main-container #search,
.cms-index-index .main-container .page-title h1,
.cms-index-index .main-container .page-title h2,
.cms-index-index .main-container .product-name h1,
.cms-index-index .main-container .product-name .h1,
.cms-index-index .main-container .block-related .block-title h2 {
    color: white;
}
.cms-index-index .price-box .price {
    color: white;
}
.cms-index-index .price-box .old-price .price {
    color: #7f6c53;
}
.cms-index-index .add-to-links a {
    color: white;
}
.cms-index-index p {
    font-size: 14px;
}
.cms-index-index #header .bx-wrapper {
    margin-top: 10px;
}

/* Lista de Serviços */
.lista-servicos {
    padding: 0;
    margin: 2.5em 0 !important;
}
.lista-servicos li {
    margin: 0 !important;
    float: left;
    list-style: none;
    width: 49.58264%;
}
@media only screen and (max-width: 599px) {
    .lista-servicos li:nth-child(2n) {
        margin-right: 0;
    }
}
@media only screen and (min-width: 600px) {
    .lista-servicos li {
        width: 30.80134%;
    }
    .lista-servicos li:nth-child(3n) {
        margin-right: 0;
    }
}
@media only screen and (min-width: 980px) {
    .lista-servicos li {
        width: 10.26711%;
        margin-right: 0.83472% !important;
        margin-bottom: 0.83472% !important;
    }
    .lista-servicos li:nth-child(3n) {
        margin-right: 0.83472% !important;
    }
    .lista-servicos li:nth-child(9n) {
        margin-right: 0;
    }
}
.lista-servicos li strong {
    display: block;
    background-color: #756146;
    background: linear-gradient(-188deg, #756146 47%, #584630 53%);
    /* W3C */
    color: #d6c1a2;
    text-transform: uppercase;
    font-family: "Amatic SC", "Dancing Script", script;
    line-height: 31px;
    text-align: center;
    font-size: 25px;
    letter-spacing: -0.025ex;
}
.lista-servicos li a {
    text-align: center;
}
.lista-servicos li a:hover {
    text-decoration: none;
}
.lista-servicos li a:hover strong {
    color: white;
}
.lista-servicos li img {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

/* Página de Serviços */
.navega li {
    float: left;
    height: 57px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.navega li a {
    display: block;
    height: 57px;
    color: #977e59;
    font-size: 22px;
    font-family: "Dancing Script", script;
    padding: 17px 60px 0 20px;
    background: url("/media/wysiwyg/imagens-tema/btConta.jpg") no-repeat top right;
}
.navega li a:hover {
    text-decoration: none;
    background-position: right -57px;
}

.navega li a:hover {
    color: #e7e7e7;
}

@media only screen and (min-width: 771px) {
    .midias1 {
        float: left;
        clear: right;
    }
}
.midias1 > div {
    float: left;
}

img.f-left {
    margin-right: 10px;
    margin-bottom: 10px;
}

/* Flo-control grid (Leonardo Baptista Lopes) ============================================ */
.break_0_1 {
    width: 6.33333%;
}

.break_0_push_1 {
    left: 8.33333%;
}

.break_0_pull_1 {
    left: -8.33333%;
}

.break_0_2 {
    width: 14.66667%;
}

.break_0_push_2 {
    left: 16.66667%;
}

.break_0_pull_2 {
    left: -16.66667%;
}

.break_0_3 {
    width: 23%;
}

.break_0_push_3 {
    left: 25%;
}

.break_0_pull_3 {
    left: -25%;
}

.break_0_4 {
    width: 31.33333%;
}

.break_0_push_4 {
    left: 33.33333%;
}

.break_0_pull_4 {
    left: -33.33333%;
}

.break_0_5 {
    width: 39.66667%;
}

.break_0_push_5 {
    left: 41.66667%;
}

.break_0_pull_5 {
    left: -41.66667%;
}

.break_0_6 {
    width: 48%;
}

.break_0_push_6 {
    left: 50%;
}

.break_0_pull_6 {
    left: -50%;
}

.break_0_7 {
    width: 56.33333%;
}

.break_0_push_7 {
    left: 58.33333%;
}

.break_0_pull_7 {
    left: -58.33333%;
}

.break_0_8 {
    width: 64.66667%;
}

.break_0_push_8 {
    left: 66.66667%;
}

.break_0_pull_8 {
    left: -66.66667%;
}

.break_0_9 {
    width: 73%;
}

.break_0_push_9 {
    left: 75%;
}

.break_0_pull_9 {
    left: -75%;
}

.break_0_10 {
    width: 81.33333%;
}

.break_0_push_10 {
    left: 83.33333%;
}

.break_0_pull_10 {
    left: -83.33333%;
}

.break_0_11 {
    width: 89.66667%;
}

.break_0_push_11 {
    left: 91.66667%;
}

.break_0_pull_11 {
    left: -91.66667%;
}

.break_0_12 {
    width: 98%;
}

.break_0_push_12 {
    left: 100%;
}

.break_0_pull_12 {
    left: -100%;
}

.break_0_1, .break_0_2, .break_0_3, .break_0_4, .break_0_5, .break_0_6, .break_0_7, .break_0_8, .break_0_9, .break_0_10, .break_0_11, .break_0_12 {
    display: inline;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
}

.break_0_push_1, .break_0_pull_1, .break_0_push_2, .break_0_pull_2, .break_0_push_3, .break_0_pull_3, .break_0_push_4, .break_0_pull_4, .break_0_push_5, .break_0_pull_5, .break_0_push_6, .break_0_pull_6, .break_0_push_7, .break_0_pull_7, .break_0_push_8, .break_0_pull_8, .break_0_push_9, .break_0_pull_9, .break_0_push_10, .break_0_pull_10, .break_0_push_11, .break_0_pull_11, .break_0_push_12, .break_0_pull_12 {
    position: relative;
}

.break_0_clear {
    clear: left;
}

.container {
    margin-left: -0.78%;
    margin-right: -0.78%;
}

@media only screen and (min-width: 599px) {
    .break_1_1 {
        width: 6.33333%;
    }

    .break_1_push_1 {
        left: 8.33333%;
    }

    .break_1_pull_1 {
        left: -8.33333%;
    }

    .break_1_2 {
        width: 14.66667%;
    }

    .break_1_push_2 {
        left: 16.66667%;
    }

    .break_1_pull_2 {
        left: -16.66667%;
    }

    .break_1_3 {
        width: 23%;
    }

    .break_1_push_3 {
        left: 25%;
    }

    .break_1_pull_3 {
        left: -25%;
    }

    .break_1_4 {
        width: 31.33333%;
    }

    .break_1_push_4 {
        left: 33.33333%;
    }

    .break_1_pull_4 {
        left: -33.33333%;
    }

    .break_1_5 {
        width: 39.66667%;
    }

    .break_1_push_5 {
        left: 41.66667%;
    }

    .break_1_pull_5 {
        left: -41.66667%;
    }

    .break_1_6 {
        width: 48%;
    }

    .break_1_push_6 {
        left: 50%;
    }

    .break_1_pull_6 {
        left: -50%;
    }

    .break_1_7 {
        width: 56.33333%;
    }

    .break_1_push_7 {
        left: 58.33333%;
    }

    .break_1_pull_7 {
        left: -58.33333%;
    }

    .break_1_8 {
        width: 64.66667%;
    }

    .break_1_push_8 {
        left: 66.66667%;
    }

    .break_1_pull_8 {
        left: -66.66667%;
    }

    .break_1_9 {
        width: 73%;
    }

    .break_1_push_9 {
        left: 75%;
    }

    .break_1_pull_9 {
        left: -75%;
    }

    .break_1_10 {
        width: 81.33333%;
    }

    .break_1_push_10 {
        left: 83.33333%;
    }

    .break_1_pull_10 {
        left: -83.33333%;
    }

    .break_1_11 {
        width: 89.66667%;
    }

    .break_1_push_11 {
        left: 91.66667%;
    }

    .break_1_pull_11 {
        left: -91.66667%;
    }

    .break_1_12 {
        width: 98%;
    }

    .break_1_push_12 {
        left: 100%;
    }

    .break_1_pull_12 {
        left: -100%;
    }

    .break_1_1, .break_1_2, .break_1_3, .break_1_4, .break_1_5, .break_1_6, .break_1_7, .break_1_8, .break_1_9, .break_1_10, .break_1_11, .break_1_12 {
        display: inline;
        float: left;
        margin-left: 1%;
        margin-right: 1%;
    }

    .break_1_push_1, .break_1_pull_1, .break_1_push_2, .break_1_pull_2, .break_1_push_3, .break_1_pull_3, .break_1_push_4, .break_1_pull_4, .break_1_push_5, .break_1_pull_5, .break_1_push_6, .break_1_pull_6, .break_1_push_7, .break_1_pull_7, .break_1_push_8, .break_1_pull_8, .break_1_push_9, .break_1_pull_9, .break_1_push_10, .break_1_pull_10, .break_1_push_11, .break_1_pull_11, .break_1_push_12, .break_1_pull_12 {
        position: relative;
    }

    .break_1_clear {
        clear: left;
    }

    .break_0_clear {
        clear: none;
    }
}
@media only screen and (min-width: 979px) {
    .break_2_1 {
        width: 6.33333%;
    }

    .break_2_push_1 {
        left: 8.33333%;
    }

    .break_2_pull_1 {
        left: -8.33333%;
    }

    .break_2_2 {
        width: 14.66667%;
    }

    .break_2_push_2 {
        left: 16.66667%;
    }

    .break_2_pull_2 {
        left: -16.66667%;
    }

    .break_2_3 {
        width: 23%;
    }

    .break_2_push_3 {
        left: 25%;
    }

    .break_2_pull_3 {
        left: -25%;
    }

    .break_2_4 {
        width: 31.33333%;
    }

    .break_2_push_4 {
        left: 33.33333%;
    }

    .break_2_pull_4 {
        left: -33.33333%;
    }

    .break_2_5 {
        width: 39.66667%;
    }

    .break_2_push_5 {
        left: 41.66667%;
    }

    .break_2_pull_5 {
        left: -41.66667%;
    }

    .break_2_6 {
        width: 48%;
    }

    .break_2_push_6 {
        left: 50%;
    }

    .break_2_pull_6 {
        left: -50%;
    }

    .break_2_7 {
        width: 56.33333%;
    }

    .break_2_push_7 {
        left: 58.33333%;
    }

    .break_2_pull_7 {
        left: -58.33333%;
    }

    .break_2_8 {
        width: 64.66667%;
    }

    .break_2_push_8 {
        left: 66.66667%;
    }

    .break_2_pull_8 {
        left: -66.66667%;
    }

    .break_2_9 {
        width: 73%;
    }

    .break_2_push_9 {
        left: 75%;
    }

    .break_2_pull_9 {
        left: -75%;
    }

    .break_2_10 {
        width: 81.33333%;
    }

    .break_2_push_10 {
        left: 83.33333%;
    }

    .break_2_pull_10 {
        left: -83.33333%;
    }

    .break_2_11 {
        width: 89.66667%;
    }

    .break_2_push_11 {
        left: 91.66667%;
    }

    .break_2_pull_11 {
        left: -91.66667%;
    }

    .break_2_12 {
        width: 98%;
    }

    .break_2_push_12 {
        left: 100%;
    }

    .break_2_pull_12 {
        left: -100%;
    }

    .break_2_1, .break_2_2, .break_2_3, .break_2_4, .break_2_5, .break_2_6, .break_2_7, .break_2_8, .break_2_9, .break_2_10, .break_2_11, .break_2_12 {
        display: inline;
        float: left;
        margin-left: 1%;
        margin-right: 1%;
    }

    .break_2_push_1, .break_2_pull_1, .break_2_push_2, .break_2_pull_2, .break_2_push_3, .break_2_pull_3, .break_2_push_4, .break_2_pull_4, .break_2_push_5, .break_2_pull_5, .break_2_push_6, .break_2_pull_6, .break_2_push_7, .break_2_pull_7, .break_2_push_8, .break_2_pull_8, .break_2_push_9, .break_2_pull_9, .break_2_push_10, .break_2_pull_10, .break_2_push_11, .break_2_pull_11, .break_2_push_12, .break_2_pull_12 {
        position: relative;
    }

    .break_2_clear {
        clear: left;
    }

    .break_0_clear, .break_1_clear {
        clear: none;
    }
}
/* ======================================================================================= */
img.left {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.break_0_12 break_2_4 .e-mail {
    margin-top: 22px;
    display: block;
}

.bloco_revendedores {
    background: #C8B292;
    border-radius: 5px;
    padding: 10px;
    width: 785px;
}

.bloco_revendedores .page-title {
    display: none;
}

.bloco_revendedores .fields .field:nth-child(2) {
    float: left;
}

.bloco_revendedores #contactForm {
    width: 365px;
    padding: 0;
    float: left;
}

.separador_revendedores {
    /* border: 1px solid red; */
    float: left;
    width: 365px;
    margin-right: 20px;
    border-right: 1px dotted #D6C1A2;
    margin-top: 5px;
    margin-left: 5px;
    height: 345px;
}

.separador_revendedores h3 {
    font-size: 25px;
    font-weight: bold;
}

section.fernando {
    background: #C1A781;
    padding: 15px 15px 1px 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    position:relative;
}

section.fernando h2 {
    color: #1a1a1a;
}

.btBio {
    position: absolute;
    right: 12px;
    bottom: 15px;
}

.btBio a {
    width:235px;
    display: block;
    height: 57px;
    color: #977e59;
    font-size: 22px;
    font-family: "Dancing Script", script;
    padding: 17px 60px 0 20px;
    background: url("/media/wysiwyg/imagens-tema/btConta.jpg") no-repeat top right;
}

.btBio a:hover {
    width:235px;
    background: url("/media/wysiwyg/imagens-tema/btConta.jpg") no-repeat bottom right;
}

ul.galeria li {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.category-contato .category-title {
    display:none;
}

.bloco_contato {
    background: #C8B292;
    border-radius: 7px;
    padding: 20px;
    max-width: 850px;
    margin-top:20px;
}

.lado_esquerdo {
    /* background: red; */
    width: 375px;
    float: left;
    border-right: 1px dotted #D6C1A2;
    margin-right: 20px;
}

.lado_direito {
    float: left;
    width: 405px;
}

.lado_esquerdo .size19 {
    font-size: 19px;
    margin-top: 10px;
    font-family: "Dancing Script", script;
    font-weight: bold;
}

.lado_esquerdo .size12 {
    font-size: 12px !important;
    margin: 10px 0px;
}

p.ptsans.size12.icn-metro {
    float: left;
    /* background: blue; */
}

.span_end {
    float: left;
    /* background: green; */
    width: 200px;
    margin-top: 12px;
    margin-left: 6px;
}

.endereco a {
    width: 317px;
    height: 139px;
    display: block;
    color: #595146;
    background-image: url(/media/wysiwyg/contato/lupa.gif);
    /* padding: 139px 0 0 40px; */
    font-family: "Dancing Script", script;
    font-size: 25px;
    padding-top: 110px;
    padding-left: 36px;
    margin-top: 15px;
}

.endereco a:hover {
    background: url(/media/wysiwyg/contato/lupa.gif) bottom !important;
}

ul.galeria li {
    list-style: none;
    margin: 0 !important;
    padding: 0;
    margin-right: 20px !important;
    margin-bottom: 20px !important;
}