/******* Fontes Personalizadas ******/
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
.block-title strong {
    font-family: "Varela Round";
}

/******* Geral ******/
.main-container,
.footer-before-container,
.footer-container {
    padding: 0 30px;
}

.header-language-background,
.block-layered-nav .block-subtitle--filter:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
    background-color: #3D665E;
}

.block-title h2,
.block-title h3,
.block-title strong,
.cms-index-index .subtitle,
.products-grid .product-name,
.products-list .product-name {
    color: #2B4540;
}

.products-grid .product-name,
.products-list .product-name,
.products-grid .product-description,
.products-list .product-description {
    font-size: 12px;
    color: #8F8F8F;
    min-height: 29px;
    font-family: "Varela Round";
}

.products-grid .product-description,
.products-list .product-description {
    margin-bottom: 25px;
}

.box-up-sell .product-name a {
    padding-top: 10px;
    display: block;
    font-size: 13px;
    font-family: Arial, Verdana, sans-serif;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.box-up-sell .owl-theme .owl-controls .owl-pagination {
    display: none;
}

.block-title {
    border: none;
}

.add-to-links a {
    font-size: 12px;
}

.opc .section .step-title .number,
.opc .section.allow.active .step-title .number,
.no-touch .opc .section.allow:hover .step-title .number {
    background-color: #3D665E;
}

.opc .section.allow .step-title .number {
    background-color: #A4A4A4;
}

.input-text:focus {
    border-color: #3D665E;
}

a.button,
.button,
.cart-table .product-cart-actions .button,
#co-shipping-method-form .buttons-set .button,
.footer .button {
    background-color: #315C54;
    color: #FFF;
    border: none;
    border-radius: 2px;
    font-size: 12px;
    font-family: "Varela Round";
    font-weight: normal;
    text-transform: uppercase;
}

.button:focus,
.cart-table .product-cart-actions .button:focus,
#co-shipping-method-form .buttons-set .button:focus,
.footer .button:focus,
a.button:hover,
.button:hover,
.cart-table .product-cart-actions .button:hover,
#co-shipping-method-form .buttons-set .button:hover,
.footer .button:hover {
    color: #FFF;
    border-color: #3D665E;
    background-color: #3D665E;
}

.opc .section.allow .step-title:hover h2,
.opc .section.active .step-title h2,
.header-minicart .info-wrapper td,
.header-minicart .subtotal .price,
.header-minicart .subtotal .label,
.header-minicart .block-subtitle,
.header-minicart .product-details .product-name a,
.skip-cart,
.price-box .price {
    color: #3D665E;
    font-weight: bold;
}

.header-minicart .subtotal {
    border: #3D665E solid 1px;
    background: none;
}

.no-touch .product-image:hover {
    border-color: #3D665E;
}

.product-view .add-to-cart-buttons .button,
.btn-checkout {
    border: none;
    background-color: #3D665E;
    color: #FFF;
}

/******* Cabeçalho *******/
.skip-links {
    clear: none;
}

/* Media Queries Desktop */
@media only screen and (min-width: 771px) {
    #header-search {
        left: 0;
        width: 30%;
        top: 25px;
    }

    .logo {
        max-width: 119px;
        margin: 0 13px 0 0;
        float: none;
    }

    .skip-cart {
        top: 25px;
    }

    #header-cart.skip-active {
        top: 32px;
    }
}

/******* Rodapé  *******/
#footer {
    background-color: #252525;
    color: #A4A4A4;
}

.footer,
.footer address {
    border: none;
}

.footer address {
    padding: 0;
}

.footer .block-subscribe .actions .button {
    border: 1px solid #C0C0C0;
    border-left: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

/* Bandeiras de pagamento */
.bandeiras li {
    float: left;
    color: transparent;
    font-size: 0;
    background: url('/media/signabase/default/sprite.png') no-repeat;
    width: 53px;
    height: 35px;
    margin: 12px 12px 0 0;
}

.bandeiras .visa {
    background-position: -64px 0;
}

.bandeiras .master {
    background-position: -128px 0px;
}

.bandeiras .diners {
    background-position: -1px -47px;
}

.bandeiras .elo {
    background-position: -128px -47px;
}

.bandeiras .american {
    background-position: -65px -93px;
}

.bandeiras .boleto {
    background-position: -1px -138px;
}

/* Media Queries Desktop */
@media only screen and (min-width: 771px) {
    .footer .bottom-container .widget-static-block {
        width: 70%;
        margin-bottom: 35px;
    }

    .footer h4,
    .footer .block-title strong {
        color: #E5E5E5;
        font-weight: normal;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        border-bottom: 1px solid #393939;
        padding-bottom: 16px;
        display: block;
    }

    .footer .links li {
        border-bottom: 1px solid #393939;
        line-height: 1.3em;
        padding: 5px 0px;
    }

    .footer a:hover,
    .footer .links a:hover {
        color: #D1D1D1;
        text-decoration: none;
    }

    .footer .block-subscribe .actions .button {
        width: 100%;
    }

}

/* Media Queries Celular */
@media only screen and (max-width: 480px) {
    .footer .bottom-container .widget-static-block {
        margin-bottom: 35px;
        text-align: justify;
    }

    .footer .links {
        width: 100%;
    }

    .footer address {
        font-size: 13px;
    }

    .f-left {
        float: none;
        display: table;
        clear: both;
    }

    .footer a:hover,
    .footer .links a:hover {
        color: #D1D1D1;
        text-decoration: none;
    }

}

.footer .block-title,
.footer address {
    color: #999;
}

/******* Conteudo  *******/
/******* Sidebar  *******/
/* Media Queries Desktop */
@media only screen and (min-width: 771px) {
    .block-layered-nav .block-content > dl > dt {
        background: none;
    }
}

/******* Página de Detalhes  *******/

/* Media Queries Desktop */
@media only screen and (min-width: 771px) {
    .product-name h1,
    .product-name .h1 {
        border: none;
    }

    .container-product-basic-and-image-gallery .product-img-box {
        padding: 0 15px 0 0;
        min-height: 542px;
    }

}

/* Sprite */
.icon-reddot, .icon-siteblindado, .icon-correios, .icon-siteseguro, .icon-sedex,
.icon-certisign, .icon-pac, .icon-youtube, .icon-facebook, .icon-gplus,
.icon-pinterest, .icon-instagram, .icon-boleto, .icon-itau, .icon-mastercard,
.icon-money, .icon-tel, .icon-visa, .icon-dinners, .icon-mail,
.icon-place, .icon-cart, .icon-magnifier, .icon-down-arrow, .icon-right-arrow {
    display: inline-block;
    background: url('../../../media/wysiwyg/sprite.png') no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
}

.icon-reddot {
    background-position: -2px -0px;
    width: 85px;
    height: 58px;
}

.icon-siteblindado {
    background-position: -2px -60px;
    width: 53px;
    height: 16px;
}

.icon-correios {
    background-position: -2px -78px;
    width: 51px;
    height: 10px;
}

.icon-siteseguro {
    background-position: -2px -90px;
    width: 49px;
    height: 17px;
}

.icon-sedex {
    background-position: -2px -109px;
    width: 47px;
    height: 11px;
}

.icon-certisign {
    background-position: -2px -122px;
    width: 45px;
    height: 17px;
}

.icon-pac {
    background-position: -2px -141px;
    width: 45px;
    height: 10px;
}

.icon-youtube {
    background-position: -51px -109px;
    width: 34px;
    height: 32px;
}

.icon-facebook {
    background-position: -49px -143px;
    width: 33px;
    height: 32px;
}

.icon-gplus {
    background-position: -2px -153px;
    width: 33px;
    height: 32px;
}

.icon-pinterest {
    background-position: -37px -177px;
    width: 33px;
    height: 32px;
}

.icon-instagram {
    background-position: -2px -187px;
    width: 32px;
    height: 32px;
}

.icon-boleto {
    background-position: -57px -60px;
    width: 22px;
    height: 16px;
}

.icon-itau {
    background-position: -55px -78px;
    width: 22px;
    height: 16px;
}

.icon-mastercard {
    background-position: -36px -211px;
    width: 22px;
    height: 16px;
}

.icon-money {
    background-position: -60px -211px;
    width: 22px;
    height: 16px;
}

.icon-tel {
    background-position: -2px -221px;
    width: 22px;
    height: 22px;
}

.icon-visa {
    background-position: -26px -229px;
    width: 22px;
    height: 16px;
}

.icon-dinners {
    background-position: -50px -229px;
    width: 21px;
    height: 16px;
}

.icon-mail {
    background-position: -2px -245px;
    width: 19px;
    height: 15px;
}

.icon-place {
    background-position: -23px -247px;
    width: 15px;
    height: 22px;
}

.icon-cart {
    background-position: -72px -177px;
    width: 12px;
    height: 17px;
}

.icon-magnifier {
    background-position: -53px -96px;
    width: 11px;
    height: 11px;
}

.icon-down-arrow {
    background-position: -79px -78px;
    width: 6px;
    height: 3px;
}

.icon-right-arrow {
    background-position: -81px -60px;
    width: 4px;
    height: 9px;
}

/* Sprite Details */
.d-icon-facebook, .d-icon-gplus, .d-icon-instagram {
    display: inline-block;
    background: url('../../../media/wysiwyg/sprite-details.png') no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
}

.d-icon-facebook {
    background-position: -2px -0px;
    width: 28px;
    height: 27px;
}

.d-icon-gplus {
    background-position: -2px -29px;
    width: 28px;
    height: 27px;
}

.d-icon-instagram {
    background-position: -2px -58px;
    width: 28px;
    height: 27px;
}

/* Removes */
.catalogsearch-result-index .col3-layout .col-right,
#search_mini_form .search-button:before,
.product-view .add-to-links .link-compare,
.product-view .availability,
.product-view .desconto-boleto,
.product-options p.required,
.products-grid .amconf-block,
.bx-wrapper .bx-pager,
.widget .amconf-block,
.cms-home .col-left .block-layered-nav .block-title {
    display: none;
}

/* Header */
.header-language-background {
    background: none transparent;
    border-bottom: 1px solid #E0E0E0;
}

.logo,
#header-nav,
.header-language-container .toplinks,
.header-language-container .top-cart {
    float: left;
}

.logo {
    height: 48px;
    margin-top: 15px;
    margin-bottom: 16px;
}

.logo .large {
    top: inherit;
    transform: translateY(0);
}

.header-language-background a {
    font-family: "Varela Round";
    font-size: 12px;
    color: #B4B4B4;
}

/* Header Search */
#header-search {
    width: 17.7%;
    height: 25px;
    float: right;
    position: relative;
    left: inherit;
    top: inherit;
    border-left: none;
    border-right: 1px solid #E0E0E0;
}

#header-search #search {
    border: none;
    height: 25px;
    line-height: 25px;
    font-family: "Varela Round";
    font-size: 11px;
    padding: 0 5px 0 34px;
    color: #B4B4B4;
}

#search_mini_form .search-button {
    width: 11px;
    height: 11px;
    padding: 0;
    display: inline-block;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
    left: 15px;
    top: 7px;
    background: url('../../../media/wysiwyg/sprite.png') -53px -96px no-repeat;
}

/* Menu */
#custommenu {
    position: relative;
}

div.wp-custom-menu-popup {
    top: 25px !important;
    left: 0 !important;
    background: #FFF;
    padding: 0;
    border: none;
    box-shadow: 0 5px 13px rgba(0, 0, 0, 0.2);
}

a.level1:hover,
a.level1.act,
a.level1.actParent {
    color: #315C54;
}

#custommenu div.block2 {
    padding: 0;
}

#custommenu .wp-custom-menu-popup .custom-links,
.main-container .custom-links {
    font-size: 15px;
    color: #797979;
    padding: 28px 0 0 42px;
    font-family: "Varela Round";
}

div.menu li a:before,
div.wp-custom-menu-popup li a:before,
.main-container .custom-links a:before {
    content: "•";
    font-family: "Varela Round";
    font-size: 15px;
    margin-right: 4px;
    font-weight: normal;
}

div.menu a,
div.wp-custom-menu-popup a,
.main-container .custom-links a {
    font-size: 15px;
    color: #797979;
    font-family: "Varela Round";
    line-height: 27px;
}

#custommenu {
    padding-bottom: 0;
}

#custommenu,
#header-search {
    margin: 28px 0 0 0;
}

#header-nav {
    max-width: 855px;
    background-color: transparent;
}

#header-nav .parentMenu a.level0 {
    color: #5C5C5C;
    font-size: 12px;
    border-right: 1px solid #E0E0E0;
    font-family: "Varela Round";
    min-width: 136px;
    text-align: center;
}

#header-nav #menu61 .parentMenu a.level0 {
    border-right: none;
    color: #D4C5B4;
    text-decoration: underline;
}

div.menu a span {
    padding-top: 0;
}

div.menu a:link,
div.menu a:visited {
    height: 25px;
    line-height: 25px;
    padding: 0 22px;
}

.level0.parent > ul {
    margin-bottom: 15px;
    padding-left: 12px;
}

.sidebar .block-categories {
    display: none;
}

div.menu a,
div.wp-custom-menu-popup a {
    display: inline-block;
}

.itemMenuName.level1 {
    float: left;
    clear: both;
}

.parentMenu {
    padding-bottom: 26px;
}

/* Top Cart */
.header-language-background .header-minicart {
    margin: 0;
    padding: 0 20px 0 15px;
    border-left: 1px solid #E0E0E0;
    border-right: 1px solid #E0E0E0;
}

.header-language-background .top-cart .block-title a {
    color: #2B4540;
}

.header-language-background .top-cart .block-title .title-cart {
    margin: 0 5px 0 7px;
}

.header-language-background .top-cart .block-title .icon-cart {
    margin-bottom: -2px;
}

/* Top Links */
.toplinks li,
.header-language-background .links ul li {
    padding-left: 15px;
    padding-right: 15px;
}

.header-language-background .toplinks li:before {
    content: "•";
    color: #E0E0E0;
    text-indent: -15px;
    display: inline-block;
}

.header-language-background .toplinks li.first:before {
    display: none;
}

.toplinks li:last-child,
.header-language-background .links ul li:last-child {
    padding-right: 15px;
}

/* Banner */
.bx-wrapper .bx-viewport {
    float: left;
}

/* Clears */
.page-header-container:after,
#header-account:after,
.certifications:after,
.category-banner:after,
.bx-wrapper:after,
.footer-wrapper .footer:after,
.footer-links-container:after,
.products-grid .add-to-links:after,
#custommenu:after {
    display: block;
    content: ".";
    clear: both;
    font-size: 0;
    line-height: 0;
    height: 0;
    overflow: hidden;
}

/* Footer */
#footer {
    background-color: transparent;
}

.footer-container {
    margin: 0;
    max-width: inherit;
    width: 100%;
    padding: 0;
}

.footer {
    margin: 0 auto;
    max-width: 1260px;
    padding: 15px;
    position: relative;
}

.footer-wrapper {
    background-color: #252525;
}

.footer .about {
    width: 100%;
    float: left;
    padding-top: 7px;
    margin-bottom: 21px;
}

.footer .about .small-logo {
    margin-top: 15px;
}

.footer .about .small-logo,
.footer .about-container {
    float: left;
}

.footer .about-container {
    max-width: 1070px;
    margin-left: 40px;
}

.footer .about .title {
    font-size: 14px;
    color: #CBCBCB;
    font-family: "Varela Round";
    border: none;
    padding: 0;
    margin: 0 0 5px 0;
}

.footer .about .context {
    font-size: 12px;
    color: #CBCBCB;
    line-height: 18px;
    font-family: "Varela Round";
}

.footer .footer-links-container {
    width: 100%;
    float: left;
    margin: 40px 0 33px 0;
}

.footer .footer-links-container .sub-cols {
    width: 22%;
    float: left;
    margin-right: 3.275%;
}

.footer .footer-links-container .sub-cols .title {
    font-size: 14px;
    color: #CBCBCB;
    font-family: "Varela Round";
    padding-bottom: 6px;
    margin-bottom: 15px;
    border-bottom: 1px solid #E6E6E6;
}

.footer .footer-links-container .sub-cols li {
    line-height: 19px;
}

.footer .footer-links-container .sub-cols li a {
    font-size: 12px;
    color: #CBCBCB;
    font-family: "Varela Round";
}

.footer .footer-links-container .sub-col4 li {
    margin-bottom: 20px;
}

.footer .footer-links-container .sub-col4 .icon-container {
    float: left;
    min-width: 35px;
}

.footer .footer-links-container .sub-col4 .icon-text {
    float: left;
}

.footer .footer-links-container .sub-col5 {
    width: 20.3%;
    margin-right: 0;
}

.sub-col4 .icon {
    margin-top: 9px;
}

.footer .footer-links-container .social-icon {
    float: left;
    margin-right: 9px;
}

.footer-seals .sub-cols {
    float: left;
    width: 14%;
    margin-right: 3%;
}

.footer-seals .sub-cols.last {
    margin-right: 0;
}

.footer-seals .title {
    font-size: 13px;
    color: #808080;
    padding-bottom: 7px;
    margin-bottom: 10px;
    border-bottom: 1px solid #808080;
}

.footer-seals .icon {
    margin-right: 10px;
}

.copyright {
    width: 100%;
    float: right;
    border-bottom: 1px solid #E0E0E0;
}

.footer-seals .sub-cols.cols-1 {
    width: 47%;
}

.certifications li {
    float: left;
    margin-right: 10px;
}

.certifications img {
    max-height: 44px;
}

/* Sidebar */
.col-left {
    width: 24%;
}

.col-left-first {
    margin-bottom: 0;
}

.block-layered-nav .block-content > dl > dt {
    border-radius: 2px 2px 0 0;
}

.block-layered-nav .block-content > dl > dt,
.block-layered-nav .block-content > dl > dd {
    border-color: #CCC;
}

.block-layered-nav .block-content > dl > dt a {
    font-size: 14px;
    font-family: "Varela Round";
    color: #2B4540;
    text-transform: uppercase;
}

.block-layered-nav .block-content > dl > dd li {

}

.block-layered-nav dl dd ol > li > span,
.block-layered-nav dl dd ol > li > a {
    font-size: 13px;
    font-family: "Varela Round";
    color: #2B4540;
    text-transform: none;
    padding: 5px 0;
}

/* Newsletter */
.col-left.sidebar .block.an-subscribe {
    min-height: 149px;
    background: url('../../../media/wysiwyg/bg-newsletter.gif') 0 0 no-repeat;
}

.col-left.sidebar .block.an-subscribe .block-title {
    margin: 0;
}

.col-left.sidebar .block.an-subscribe .block-title strong {
    max-width: 125px;
    font-size: 17px;
    color: #525252;
    text-transform: none;
    padding-left: 0;
    display: inline-block;
    margin-left: 142px;
    margin-top: 22px;
    margin-bottom: 6px;
    line-height: 17px;
}

.col-left.sidebar .block.an-subscribe .block-content {
    padding: 0;
    margin: 0;
}

.col-left.sidebar .block.an-subscribe .an-buttons {
    padding: 0;
    margin: 0;
}

.col-left.sidebar .block.an-subscribe .an-buttons .button {
    border-radius: 2px;
    background-color: #CDBAAE;
    border: none;
    text-transform: none;
    margin-right: 15px;
    font-size: 13px;
    color: #FFF;
    float: right;
    font-family: "Varela Round";
}

.an-subscribe button span {
    border: none;
    background-color: transparent;
}

.an-subscribe form#advancednewsletter-form {
    padding: 15px;
    background-color: #FFF;
}

.an-segments .block.an-subscribe {
    margin-bottom: 10px;
}

.an-subscribe .block-title strong {
    padding: 5px 15px 0 12px;
    font-family: "Varela Round";
    color: #2B4540;
    display: inline-block;
}

/* Default Styles */
.widget .subtitle,
.block-title h2,
.block-title h3,
.block-title strong {
    font-size: 15px;
    color: #2B4540;
    font-family: "Varela Round";
    text-transform: uppercase;
    font-weight: normal;
    margin-top: 17px;
    margin-bottom: 7px;
}

.page-title h1,
.page-title h2,
.product-name h1,
.product-name .h1,
.block-related .block-title h2 {
    color: #2B4540;
    margin-top: 7px;
    font-family: "Varela Round";
}

.category-description.std {
    margin-bottom: 12px;
}

.box-collateral.box-up-sell h2 {
    color: #FD8A77;
    font-family: "Varela Round";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
    text-rendering: optimizelegibility;
    text-transform: uppercase;
}

.box-up-sell li {
    text-align: center;
}

.catalog-product-view .box-up-sell .products-grid .owl-item li {
    margin-left: 9px;
}

h2, .h2 {
    color: #2B4540;
    font-size: 18px;
    font-family: "Varela Round";
}

h3, .h3 {
    font-family: "Varela Round";
}

.cms-home section.widget.category-products {
    border-top: 2px solid #C4C4C4;
}

.cms-home header.h2.subtitle {
    margin-bottom: 30px !important;
}

.button,
.cart-table .product-cart-actions .button,
#co-shipping-method-form .buttons-set .button,
.footer .button {
    background: none repeat scroll 0 0 #CACACA;
    border-radius: 2px;
    border: none;
    color: #FFF;
    font-size: 12px;
    font-family: "Varela Round";
    font-weight: normal;
    text-transform: none;
}

button.btn-cart,
button.btn-proceed-checkout,
button.btn-checkout {
    padding: 7px 46px;
}

/* Product List - Prices */
.products-grid .price-box .old-price .price,
.products-grid .price-box .price-from .price,
.block-related .price-box .old-price .price,
.block-related .price-box .price-from .price {
    color: #8F8F8F;
    font-size: 12px;
    font-weight: normal;
    font-family: "Varela Round";
}

.products-grid .price-box .regular-price .price,
.products-grid .price-box .special-price .price,
.products-grid .price-box .price-to .price,
.product-view .block-related .price-box .regular-price .price,
.product-view .block-related .price-box .special-price .price,
.product-view .block-related .price-box .price-to .price {
    color: #315C54;
    font-size: 15px;
    font-weight: normal;
    font-family: "Varela Round";
}

.products-grid .price-box,
.block-related .price-box {
    min-height: 22px;
}

.products-grid .actions,
.block-related .actions {
    min-height: inherit;
    padding-top: 0;
    position: relative;
}

.product-image,
.no-touch .product-img-box .product-image:hover:not(.zoom-available) {
    border: none;
}

.products-grid .add-to-links,
.product-view .block-related .add-to-links {
    width: 134px;
    float: none;
    margin: 7px auto 0 auto;
}

.products-grid .add-to-links a,
.block-related .add-to-links a {
    font-size: 11px;
    color: #8F8F8F;
    padding: 0;
    font-family: "Varela Round";
}

.products-grid .add-to-links li,
.block-related .add-to-links li {
    float: right;
}

.products-grid .add-to-links .separator,
.block-related .add-to-links .separator {
    display: block;
    float: right;
    padding: 0 12px;
}

.products-grid .product-info {
    padding-bottom: 0;
}

.products-grid .product-info {
    min-height: inherit !important;
}

.block-layered-nav.block-subcategories .block-title {
    margin-bottom: 0;
}

.block-layered-nav.block-subcategories .block-title strong {
    font-size: 15px;
    padding-left: 27px;
    position: relative;
    line-height: 25px;
    -moz-user-select: none;
    border-color: #CCC;
    border-style: solid;
    border-width: 1px;
    color: #5D5D5D;
    display: block;
    font-family: "Arial", Verdana, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.4;
    margin: 0;
    padding: 7px 10px;
    position: relative;
    text-rendering: optimizespeed;
    text-transform: uppercase;
}

.block-layered-nav.block-subcategories .block-content {
    border-color: #CCC;
    border-style: solid;
    border-width: 0 1px 1px;
    margin: 0;
    padding: 10px;
}

.block-layered-nav.block-subcategories .block-content a,
.block-layered-nav.block-subcategories .block-content span {
    color: #2B4540;
    font-family: "Varela Round";
    font-size: 13px;
    text-transform: none;
}

/* Product View */
.product-view .product-shop {
    width: 30.8%;
}

.product-img-box {
    padding-left: 0;
}

/*
hr.amconf-hr {
    transform: none!important;
    width: 100%!important;
    height: 100%!important;
    top: 0!important;
    left: 0!important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    -webkit-opacity: 0.7;
    -moz-opacity: 0.7;
    opacity: 0.7;
}*/

hr.amconf-hr {
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.9914448613738104, M12=-0.13052619222005157,M21=0.13052619222005157, M22=0.9914448613738104);
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.9914448613738104, M12=-0.13052619222005157, M21=0.13052619222005157, M22=0.9914448613738104,sizingMethod='auto expand')";
    zoom: 1;
    color: white;
    border-color: white;
    background-color: white;
    position: absolute;
    top: 9px;
    width: 100%;
    z-index: 4;
    margin-left: -4px;
}

.button, .cart-table .product-cart-actions .button, #co-shipping-method-form .buttons-set .button, .footer .button, .owl-carousel.owl-theme .owl-controls .owl-buttons div {
    background-color: #3D665E;
}

.button:hover, .cart-table .product-cart-actions .button:hover, #co-shipping-method-form .buttons-set .button:hover, .footer .button:hover, .owl-carousel.owl-theme .owl-controls .owl-buttons div:hover {
    background-color: #3D665E;
}

/* Thumbnails */
.product-img-box .more-views .owl-item a {
    border: 1px solid #E0E0E0;
    display: block;
    margin-left: 2px;
}

.nav-a .owl-buttons .icon-wrap:before,
.nav-a .owl-buttons .icon-wrap:after {
    left: 35%;
}

.nav-a.owl-carousel.owl-theme .owl-controls .owl-buttons .owl-prev,
.nav-a .owl-buttons div.prev {
    left: -28px;
    top: 50%;
}

.nav-a.owl-carousel.owl-theme .owl-controls .owl-buttons .owl-next,
.nav-a .owl-buttons div.next {
    right: -30px;
    top: 50%;
}

.more-views > h2 {
    display: none;
}

.nav-a .owl-buttons div:hover .icon-wrap:before,
.nav-a .owl-buttons div:hover .icon-wrap:after {
    background: none #3D665E;
}

.product-image-thumbs li:first-child {
    margin-left: 0;
}

.product-view .more-views {
    max-width: 580px;
    padding: 0 10px;
}

.product-view .product-essential {
    margin-bottom: 41px;
}

.product-view .more-views .product-image-thumbs li {
    width: 99px;
    height: 86px;
    border-radius: 2px;
    margin-right: 11px;
    overflow: hidden;
}

.product-view .more-views .product-image-thumbs li:nth-child(5n+5) {
    margin-right: 0;
}

.product-image-thumbs a {
    border: none;
}

.product-view .more-views .product-image-thumbs li img, .product-view .more-views .product-image-thumbs li a {
    height: auto;
    width: 100%;
}

.catalog-product-view .product-collateral .std {
    font-family: "Varela Round";
    font-size: 16px;
    color: #8C8C8C;
    line-height: 25px;
}

.catalog-product-view .product-name h1,
.catalog-product-view .product-name .h1 {
    text-transform: uppercase;
    color: #5C5C5C;
    font-size: 18px;
    font-family: "Varela Round";
    border-bottom: 1px solid #E0E0E0;
    font-weight: normal;
    padding-bottom: 8px;
}

/* Related Products */
.catalog-product-view .box-collateral.box-up-sell h2 {
    font-family: "Varela Round";
    color: #2B4540;
    margin-bottom: 10px;
}

/* Breadcrumbs */
.breadcrumbs {
    clear: both;
    float: left;
    margin: 15px 0 35px 0;
    overflow: hidden;
    width: 100%;
}

.breadcrumbs span,
.breadcrumbs strong {
    font-family: "Varela Round";
    font-size: 12px;
    color: #B4B4B4;
    text-transform: uppercase;
}

/* Sharing icons */
.product-view .container-sharing {
    margin-top: 19px;
}

.product-view .container-sharing a {
    margin: 0 5px 0 0;
}

.product-view .container-sharing > * {
    float: left;
}

.product-view .label-sharing {
    margin-right: 13px;
    line-height: 30px;
    color: #949494;
}

/* Product Images */
.product-view .product-img-box {
    width: 582px;
}

.product-view .product-img-box .product-image {
    width: 580px;
    border-radius: 5px;
    border: 1px solid #E0E0E0;
}

.product-view .more-views {
    width: 580px;
    max-width: inherit;
    padding: 0 20px;
}

.product-view .more-views .product-image-thumbs li {
    width: 96px;
    height: 95px;
    border: none;
}

.product-view .more-views .product-image-thumbs li:hover {
    border: 1px solid #E0E0E0;
}

.product-view .product-shop .short-description {
    color: #949494;
    font-family: "Varela Round";
    font-size: 13px;
    line-height: 13px;
}

.container-product-basic-and-image-gallery {
    width: 870px;
}

/* Product Tabs */
.product-collateral .toggle-tabs {
    background-color: #ECECEC;
}

.product-collateral .toggle-tabs li > span {
    font-family: "Varela Round";
    font-size: 13px;
    color: #5C5C5C;
}

.product-view .add-to-cart {
    padding-bottom: 0;
    margin-bottom: 0;
    float: right;
}

.product-view .add-to-cart-wrapper {
    width: auto;
    clear: none;
    float: none;
    padding: 0 20px;
    border: 1px solid #E0E0E0;
    border-radius: 2px;
}

.product-view .add-to-cart-wrapper-container {
    width: 26%;
    text-align: center;
    padding: 0;
    float: right;
}

/* Prices */
.product-view .price-info {
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 3px;
    margin-bottom: 12px;
}

.product-view .price-box {
    margin: 9px 0 0;
}

.product-view .price-box .old-price,
.product-view .price-box .regular-price,
.product-view .price-box .special-price {
    display: block;
}

.product-view .price-box .regular-price {
    margin-top: 15px;
}

.product-view .price-box .price-label {
    display: none;
}

.product-view .price-box .old-price .price {
    font-size: 13px;
    font-family: "Varela Round";
    color: #949494;
    font-weight: normal;
}

.product-view .price-box .special-price {
    padding: 0;
    font-weight: bold;
    margin-top: 4px;
}

.product-view .price-box .regular-price .price,
.product-view .price-box .special-price .price {
    font-size: 22px;
    font-family: "Varela Round";
    color: #315C54;
    padding: 0;
    font-weight: bold;
}

.product-view .parcelamento {
    margin: 0 0 7px;
}

.product-view .parcelamento .nr-pcl,
.available-qty-container {
    font-size: 11px;
    font-family: "Varela Round";
    color: #949494;
}

.available-qty-container {
    text-align: right;
}

.product-view .add-to-links {
    float: right;
    margin-top: 3px;
}

.product-view .add-to-links li a.link-wishlist,
.product-view .add-to-links li a.link-compare {
    font-size: 11px;
    font-family: "Varela Round";
    color: #949494;
    border: none;
    padding: 0;
    text-decoration: underline;
}

.product-view .add-to-links li a.link-wishlist:before {
    Content: "Adicionar aos ";
}

.product-view .block-shipping-estimate .block-title {
    text-align: left;
}

.product-view .block-shipping-estimate .block-title strong {
    font-size: 13px;
    font-family: "Varela Round";
    color: #949494;
    text-transform: none;
}

.product-view .add-to-cart .qty-wrapper label {
    font-size: 13px;
    color: #8C8C8C;
    font-family: "Varela Round";
    font-weight: "normal";
}

.product-view .add-to-cart-buttons {
    float: right;
}

.product-view .add-to-cart .qty-wrapper,
.product-view .add-to-cart-buttons .button {
    margin-bottom: 0;
}

.product-view .block-shipping-estimate input[type="text"] {
    width: 65%;
}

.catalog-product-view .add-to-cart-wrapper .shipping-estimation-form button.button {
    float: right;
}

.product-view .block.block-shipping-estimate {
    margin-top: 20px;
}

.product-options {
    border: 1px solid #E0E0E0;
    clear: none;
    margin: 0 0 20px 0;
    padding: 0;
    position: relative;
    width: auto;
    border-width: 0 0 1px 0;
}

.product-options-bottom {
    background-color: rgba(0, 0, 0, 0);
    border: medium none;
    margin: 0;
    padding: 0;
}

.product-options dt {
    text-align: left;
}

.product-options dt label {
    color: #949494;
    font-size: 13px;
    font-family: "Varela Round";
}

.amconf-image-selected {
    border-color: #3D665E;
}

.product-view .block-shipping-estimate .block-shipping-results {
    text-align: left;
    color: #949494;
}

/* Video banner */
.bx-wrapper iframe {
    width: 33.98%;
    height: 92%;
    position: absolute;
    /*right: 475px;	*/
    right: 20%;
    top: 13px;
}

.sac_header {
    color: #315C54;
    font-size: 13px;
    margin-left: 4px;
}

.cart .checkout-types.top,
.cart-forms .discount {
    display: none;
}

.input-text.validate-cc-cvn {
    width: 55px !important;
}

/* Category Banner */
.category-banner .no-effect-banner > div {
    width: 33% !important;
    float: left;
    min-height: 295px;
    text-align: center;
}

/* Extras */
ul.certifications {
    margin-top: 15px;
}

a.link-boleto {
    width: 425px;
    margin: 30px auto;
    display: block;
}

.category-banner .no-effect-banner > div img {
    display: inline-block;
}

@media (max-width: 849px) {
    .category-banner .no-effect-banner > div {
        width: 100% !important;
        text-align: center;
    }

    .category-banner .no-effect-banner > div img {
        display: inline-block;
    }

}

@media (min-width: 850px) and (max-width: 1255px) {
    .category-banner .no-effect-banner > div {
        width: 50% !important;
    }
}

.zoomWindow {
    background-color: #FFF !important;
}

/* Sprite */
.icon-sprite, .btn-remove2, .ratings .rating-box, .ratings .rating-box .rating, .sorter > .sort-by .sort-by-switcher, .sorter > .view-mode .grid, .sorter > .view-mode .list, .skip-nav .icon, .skip-search .icon, #search_mini_form .search-button::before, .skip-account .icon, .skip-cart .icon, .product-view .sharing-links a, .review-summary-table .rating-box .rating-number::after, .ratings-table .rating-box, .ratings-table .rating-box .rating {
    background-image: url("../../wysiwyg/sprite/icon_sprite.png");
    background-repeat: no-repeat;
    text-indent: -9999px;
}

/* Responsive */
@media (max-width: 480px) {
    /* Header */

    .main-container,
    .footer-before-container, .footer-container {
        width: 100%;
        float: left;
    }

    #header .info-top {
        margin: 5px 0 0;
        text-align: center;
    }

    #header #header-search {
        float: none;
        height: auto;
    }

    #header .skip-cart {
        width: 20%;
    }

    #header .header-toolbar {
        padding: 0 12px;
    }

    #header .tel-top {
        width: 100%;
        clear: both;
        text-align: center;
    }

    #header .skip-links {
        width: 100%;
        clear: both;
    }

    .topLinks-container,
    #header .toplinks {
        width: 100%;
    }

    #header .toplinks li {
        width: 46%;
        float: left;
        text-align: center;
    }

    #header .logo {
        width: 100%;
        height: auto;
    }

    .skip-link {
        width: 26%;
    }

    #header .skip-link .label,
    .bx-wrapper {
        display: none;
    }

    .block-related .actions,
    .products-grid .actions {
        bottom: inherit;
        position: static;
        min-height: auto;
    }

    .block-related .product-info,
    .products-grid .product-info {
        min-height: auto !important;
    }

    .banners-list {
        width: 100%;
    }

    .banner-list {
        width: 48%;
        margin: 0 1%;
    }

    .banner-list > a {
        text-align: center;
        width: 100%;
        display: block;
    }

    .banner-list > a img {
        display: inline-block;
    }

    #header #header-search {
        width: 100%;
        margin-top: 0;
    }

    #header #header-account li a,
    #header .nav-primary a.level0 {
        text-align: center;
    }

    #header .skip-cart {
        margin: 0;
        background: none transparent;
    }

    #header .logo .small {
        display: inline-block;
        padding: 0;
    }

    .minicart-wrapper {
        float: left;
        padding: 15px;
        width: 100%;
    }

    /* Menu */
    #header-nav {
        width: 100%;
        padding: 0;
    }

    #custommenu-mobile .button,
    #custommenu-mobile .button.open {
        width: 77px;
        height: 44px;
        padding: 0;
        background-position: center center;
    }

    #header .nav-primary li.level0,
    #header .nav-primary a.level0,
    #header .nav-primary a.level-top {
        display: block;
    }

    .toolbar .limiter label {
        display: inline;
    }

    /* Removes */
    .main .product-view .parcelamento .tabela-parcelamento,
    #header #nav li:hover a.level-top::before,
    #header .banners-list,
    #header .count,
    #header .mini-cart-subtotal,
    #header .header-toolbar .toplinks {
        display: none;
    }

    /* Content */
    #comprar-masculino {
        border-left: 0 none !important;
        padding: 0 !important;
    }

    .banners-home {
        display: none;
    }

    .category-banner .no-effect-banner > div img {
        width: 100%;
    }

    /* Product View */
    body .product-view .product-shop .extra-info,
    body .product-view .product-shop .price-info {
        max-width: 100%;
    }

    body .product-view .product-essential .extra-info .ratings .rating-box {
        margin-top: 13px;
    }

    body .product-view .product-shop .short-description {
        margin-bottom: 25px;
    }

    body .product-view .product-shop,
    body .product-view .add-to-cart-wrapper,
    body .product-view .block-related,
    body .product-img-box,
    body .product-collateral {
        float: left;
    }

    /* Checkout */
    button.btn-proceed-checkout {
        margin-right: 0 !important;
    }

    /* Footer */
    .footer-newsletter-container .textnews,
    .footer-newsletter-container .block-subscribe {
        width: 96%;
        margin-right: 2%;
        margin-left: 2%;
    }

    .footer .footer-links-container .sub-cols,
    .footer .footer-links-container .sub-col5,
    .footer-seals .sub-cols.cols-1,
    .footer-seals .sub-cols {
        width: 100%;
        margin: 0;
    }

    #footer .footer-top .col,
    #footer .footer-bottom .col {
        width: 100%;
        text-align: center;
        margin-bottom: 25px;
    }

    #footer .custom-links,
    #footer .security-icons {
        padding-left: 0;
    }

    #footer .textnews .badge {
        display: none;
    }

    .footer .footer-links-container {
        margin: 0;
    }

    .footer .about-container {
        margin: 15px 0 0;
    }

    .footer-seals .sub-cols.cols-1 {
        margin-bottom: 10px;
    }

    .certifications li {
        margin-bottom: 8px;
    }

    /* Product List */
    .block-related > li,
    .products-grid > li {
        width: 100%;
    }

    .products-grid .item button.btn-cart,
    .products-list .item button.btn-cart{
        background-color: #3D665E;
    }

    .products-grid .item button.btn-cart:hover,
    .products-list .item button.btn-cart:hover{
        background-color: #3D665E;
    }

    /* Product View */
    .product-view .product-name {
        margin-top: 22px;
    }

    .product-view .product-img-box,
    .product-view .product-img-box .product-image,
    .product-view .more-views,
    .product-view .product-shop,
    .product-view .add-to-cart-wrapper-container {
        width: 100%;
    }

    .product-view .block-shipping-estimate .block-title {
        width: 100%;
        float: left;
    }

    .product-view .add-to-cart-buttons {
        width: 100%;
        margin-top: 10px;
    }

}

@media (min-width: 480px) and (max-width: 767px) {
    /* Header */
    #header .logo .small {
        display: inline-block;
    }

    #header #header-search {
        float: none;
        height: auto;
    }

    #header .skip-cart {
        width: 20%;
    }

    #header .info-top {
        margin: 5px 0 0;
        text-align: center;
    }

    #header .header-toolbar {
        padding: 0 12px;
    }

    #header .tel-top {
        width: 100%;
        clear: both;
        text-align: center;
    }

    #header .skip-links {
        width: 100%;
        clear: both;
    }

    .topLinks-container,
    #header .toplinks {
        width: 100%;
    }

    #header .toplinks li {
        width: 46%;
        float: left;
        text-align: center;
    }

    #header .logo {
        width: 100%;
    }

    .skip-link {
        width: 26%;
    }

    #header .skip-link .label,
    .bx-wrapper {
        display: none;
    }

    .block-related .actions,
    .products-grid .actions {
        bottom: inherit;
        position: static;
        min-height: auto;
    }

    .block-related .product-info,
    .products-grid .product-info {
        min-height: auto !important;
    }

    .banners-list {
        width: 100%;
    }

    .banner-list {
        width: 48%;
        margin: 0 1%;
    }

    .banner-list > a {
        text-align: center;
        width: 100%;
        display: block;
    }

    .banner-list > a img {
        display: inline-block;
    }

    #header #header-search {
        width: 100%;
        margin-top: 0;
    }

    #header #header-account li a,
    #header .nav-primary a.level0 {
        text-align: center;
    }

    #header .skip-cart {
        margin: 0;
        background: none transparent;
    }

    /* Menu */
    #header .nav-primary li.level0,
    #header .nav-primary a.level0,
    #header .nav-primary a.level-top {
        display: block;
    }

    .toolbar .limiter label {
        display: inline;
    }

    /* Removes */
    .main .product-view .parcelamento .tabela-parcelamento,
    #header #nav li:hover a.level-top::before,
    #header .banners-list,
    #header .count,
    #header .mini-cart-subtotal,
    #header .header-toolbar .toplinks {
        display: none;
    }

    /* Content */
    #comprar-masculino {
        border-left: 0 none !important;
        padding: 0 !important;
    }

    .banners-home {
        display: none;
    }

    /* Product View */
    .product-view .product-shop .extra-info,
    .product-view .product-shop .price-info {
        max-width: 100%;
    }

    /* Checkout */
    button.btn-proceed-checkout {
        margin-right: 0 !important;
    }

    /* Footer */
    .footer-newsletter-container .textnews,
    .footer-newsletter-container .block-subscribe {
        width: 96%;
        margin-right: 2%;
        margin-left: 2%;
    }

    .footer-newsletter-container .block-content,
    .footer-newsletter-container .block-subscribe > form,
    .footer-newsletter-container .block-subscribe .input-text {
        width: 100%;
    }

    #footer .footer-top .col,
    #footer .footer-bottom .col {
        width: 100%;
        text-align: center;
        margin-bottom: 25px;
    }

    #footer .custom-links,
    #footer .security-icons {
        padding-left: 0;
    }

    #footer .textnews .badge {
        display: none;
    }

    /* Product View */
    .product-view .product-name {
        margin-top: 22px;
    }

    .product-view .product-img-box,
    .product-view .product-img-box .product-image,
    .product-view .more-views,
    .product-view .product-shop,
    .product-view .add-to-cart-wrapper-container {
        width: 100%;
    }

    .product-view .block-shipping-estimate .block-title {
        width: 100%;
        float: left;
    }

    .product-view .add-to-cart-buttons {
        width: 100%;
        margin-top: 10px;
    }

}

@media (min-width: 768px) and (max-width: 980px) {
    #header #header-search {
        width: 21%;
        margin-top: 28px;
    }

    .toplinks li,
    .header-language-background .links ul li {
        padding-left: 5px;
        padding-right: 5px;
    }

    body #header .toplinks,
    body #header .toplinks li,
    body #header-account {
        width: auto;
    }

    .header-language-background {
        height: auto;
    }

    .top-line-1 {
        width: 100%;
        text-align: center;
    }

    body #header .logo {
        max-width: inherit;
    }

    .main-container, .footer-before-container, .footer-container {
        width: 100%;
        float: left;
    }

    body #header-nav {
        width: 100%;
        max-width: inherit;
    }

    #header-search {
        height: 27px;
        border: 1px solid #e0e0e0;
    }

    #custommenu {
        display: table;
    }

    div.menu {
        display: table-cell;
        float: none;
    }

    .parentMenu {
        width: 100%;
    }

    #header-nav .menu:last-child .parentMenu a.level0 {
        border-right: none;
    }

    body #header #header-search {
        margin-top: 0;
    }

    /* Product View */
    .product-view .product-name {
        margin-top: 22px;
    }

    .product-view .product-img-box,
    .product-view .product-img-box .product-image,
    .product-view .more-views {
        width: 100%;
    }

    .product-view .product-shop,
    .product-view .add-to-cart-wrapper-container {
        width: 48%;
    }

    .product-view .product-shop {
        float: left;
    }

    .product-view .block-shipping-estimate .block-title {
        width: 100%;
        float: left;
    }

    .product-view .add-to-cart-buttons {
        width: 100%;
        margin-top: 10px;
    }

}

@media (min-width: 768px) and (max-width: 769px) {

    /* Header */
    .skip-links {
        clear: both;
    }

    #header .skip-link,
    body #header .skip-cart {
        width: 25%;
    }

    #header .info-top {
        margin: 5px 0 0;
        text-align: center;
    }

    #header .header-toolbar {
        padding: 0 12px;
    }

    #header .toplinks li {
        width: 46%;
        float: left;
        text-align: center;
    }

    #header .logo {
        width: 100%;
    }

    .skip-link {
        width: 26%;
    }

    #header .skip-link .label,
    .bx-wrapper {
        display: none;
    }

    .block-related .actions,
    .products-grid .actions {
        bottom: inherit;
        position: static;
        min-height: auto;
    }

    .block-related .product-info,
    .products-grid .product-info {
        min-height: auto !important;
    }

    .banners-list {
        width: 100%;
    }

    .banner-list {
        width: 48%;
        margin: 0 1%;
    }

    .banner-list > a {
        text-align: center;
        width: 100%;
        display: block;
    }

    .banner-list > a img {
        display: inline-block;
    }

    #header #header-search {
        width: 100%;
        margin-top: 0;
    }

    #header #header-account li a,
    #header .nav-primary a.level0 {
        text-align: center;
    }

    #header .skip-cart {
        margin: 0;
        background: none transparent;
    }

    #header .header-toolbar-content .toplinks {
        display: none;
        min-width: 258px;
    }

    #header .welcome-message {
        display: inline-block;
    }

    #header .info-top {
        margin-right: 55px;
    }

    #header .skip-cart {
        width: 25%;
    }

    #custommenu-mobile .button,
    #custommenu-mobile .button.open {
        width: 77px;
        height: 44px;
        padding: 0;
        background-position: center center;
    }

    #header #header-cart.skip-active {
        left: 9px;
        top: 225px;
        width: 98%;
        position: absolute;
    }

    #header .toplinks,
    #header-account {
        width: 100%;
    }

    .page-header-container .logo .small {
        display: inline-block;
    }

    /* Menu */
    #header-nav {
        width: 100%;
        padding: 0;
    }

    #header .nav-primary li.level0,
    #header .nav-primary a.level0,
    #header .nav-primary a.level-top {
        display: block;
    }

    .toolbar .limiter label {
        display: inline;
    }

    #header-search {
        height: 68px;
    }

    #header .toplinks li {
        width: 50%;
    }

    #header #header-cart.skip-active {
        float: left;
        left: inherit;
        padding: 15px;
        position: relative;
        top: inherit;
        width: 100%;
    }

    /* Removes */
    .main .product-view .parcelamento .tabela-parcelamento,
    #header #nav li:hover a.level-top::before,
    #header .banners-list,
    #header .count,
    #header .mini-cart-subtotal {
        display: none;
    }

    /* Content */
    #comprar-masculino {
        border-left: 0 none !important;
        padding: 0 !important;
    }

    .banners-home {
        display: none;
    }

    /* Product View */
    .product-view .product-shop .extra-info,
    .product-view .product-shop .price-info {
        max-width: 100%;
    }

    /* Checkout */
    button.btn-proceed-checkout {
        margin-right: 0 !important;
    }

    /* Footer */
    .footer .footer-links-container .sub-cols {
        width: 46.7%;
    }

    .footer-newsletter-container .textnews,
    .footer-newsletter-container .block-subscribe {
        width: 96%;
        margin-right: 2%;
        margin-left: 2%;
    }

    .footer-newsletter-container .block-content,
    .footer-newsletter-container .block-subscribe > form,
    .footer-newsletter-container .block-subscribe .input-text,
    .footer-seals .sub-cols,
    .footer-seals .sub-cols.cols-1 {
        width: 100%;
        margin-bottom: 10px;
    }

    #footer .footer-top .col,
    #footer .footer-bottom .col {
        width: 45%;
        text-align: center;
        margin-bottom: 25px;
    }

    #footer .custom-links,
    #footer .security-icons {
        padding-left: 0;
    }

    #footer .textnews .badge {
        display: none;
    }

}

@media (min-width: 770px) and (max-width: 977px) {

    /* Header */
    #header .info-top {
        margin: 5px 0 0;
        text-align: center;
    }

    #header .header-toolbar {
        padding: 0 12px;
    }

    #header .toplinks li {
        width: 46%;
        float: left;
        text-align: center;
    }

    #header .logo {
        width: 100%;
        height: auto;
    }

    .bx-wrapper {
        display: none;
    }

    .block-related .actions,
    .products-grid .actions {
        bottom: inherit;
        position: static;
        min-height: auto;
    }

    .block-related .product-info,
    .products-grid .product-info {
        min-height: auto !important;
    }

    .banners-list {
        width: 100%;
    }

    .banner-list {
        width: 48%;
        margin: 0 1%;
    }

    .banner-list > a {
        text-align: center;
        width: 100%;
        display: block;
    }

    .banner-list > a img {
        display: inline-block;
    }

    body #header #header-search {
        width: 100%;
        margin: 0;
    }

    #header #header-account li a,
    #header .nav-primary a.level0 {
        text-align: center;
    }

    #header .header-toolbar-content .toplinks {
        display: none;
        min-width: 258px;
    }

    #header .welcome-message {
        display: inline-block;
    }

    #header .info-top {
        margin-right: 55px;
    }

    #header .toplinks,
    #header-account {
        width: 100%;
    }

    .page-header-container .logo .small {
        display: inline-block;
    }

    .toolbar .limiter label {
        display: inline;
    }

    #header .logo {
        max-width: 245px;
    }

    #header .mini-cart-subtotal {
        margin-right: 0;
    }

    #header #nav li a {
        font-size: 12px;
        padding-right: 8px;
        padding-left: 8px;
    }

    #header #header-search {
        width: 45%;
        margin-top: 20px;
        margin-left: 18px;
    }

    /* Removes */
    #header .header-toolbar-wrapper::after,
    #header .header-toolbar-wrapper::before,
    #header .logo .large,
    .main .product-view .parcelamento .tabela-parcelamento,
    #header #nav li:hover a.level-top::before,
    #header .banners-list {
        display: none;
    }

    /* Content */
    #comprar-masculino {
        border-left: 0 none !important;
        padding: 0 !important;
    }

    .main .col-main {
        width: 69%;
    }

    .col1-layout .main .col-main {
        width: 100%;
    }

    /* Product View */
    .product-view .product-shop .extra-info,
    .product-view .product-shop .price-info {
        max-width: 100%;
    }

    body .product-view .add-to-cart-wrapper,
    body .product-view .container-product-basic-and-image-gallery {
        width: 100%;
    }

    .container-product-basic-and-image-gallery .product-img-box {
        min-height: inherit;
    }

    /* Checkout */
    button.btn-proceed-checkout {
        margin-right: 0 !important;
    }

    /* Footer */
    .footer-newsletter-container .textnews,
    .footer-newsletter-container .block-subscribe {
        width: 96%;
        margin-right: 2%;
        margin-left: 2%;
    }

    .footer-newsletter-container .block-content,
    .footer-newsletter-container .block-subscribe > form,
    .footer-newsletter-container .block-subscribe .input-text {
        width: 100%;
    }

    #footer .footer-top .col,
    #footer .footer-bottom .col {
        width: 45%;
        text-align: center;
        margin-bottom: 25px;
    }

    #footer .custom-links,
    #footer .security-icons {
        padding-left: 0;
    }

    #footer .textnews .badge {
        display: none;
    }

    /* Product View */
    .product-view .product-name {
        margin-top: 22px;
    }

    .product-view .product-img-box,
    .product-view .product-img-box .product-image,
    .product-view .more-views {
        width: 100%;
    }

    .product-view .product-shop,
    .product-view .add-to-cart-wrapper-container {
        width: 48%;
    }

    .product-view .product-shop {
        float: left;
    }

    .product-view .block-shipping-estimate .block-title {
        width: 100%;
        float: left;
    }

    .product-view .add-to-cart-buttons {
        width: 100%;
        margin-top: 10px;
    }

}

@media (min-width: 768px) and (max-width: 1279px) {
    #header-nav .parentMenu a.level0 {
        min-width: inherit;
    }
}


@media (min-width: 978px)  and (max-width: 1279px) {

    .logo {
        max-width: inherit;
    }

    .logo .large {
        display: inline-block;
    }

    body #header .logo {
        width: 100%;
        margin-right: 0;
    }

    .skip-cart .icon {
        display: none !important;
    }

    #header #header-search {
        width: 100%;
        margin: 0 0 12px 0;
        border: 1px solid #e0e0e0;
    }

    #header-nav {
        max-width: inherit;
        width: 100%;
    }

    #custommenu {
        width: 100%;
        display: table;
    }

    div.menu {
        display: table-cell;
        float: none;
    }

    .parentMenu {
        width: 100%;
    }

    .footer-newsletter-container .textnews {
        width: 58%;
        margin-left: 12px;
    }

    #header .header-toolbar-wrapper::after,
    #header .header-toolbar-wrapper::before {
        display: none;
    }

    #header .header-toolbar-wrapper {
        padding: 0 20px;
    }

    #header .skip-link .label,
    .bx-wrapper {
        display: none;
    }

    /* Product View */
    .product-view .product-name {
        margin-top: 22px;
    }

    .product-view .product-img-box,
    .product-view .product-img-box .product-image,
    .product-view .more-views {
        width: 100%;
    }

    .product-view .product-shop,
    .product-view .add-to-cart-wrapper-container {
        width: 48%;
    }

    .product-view .product-shop {
        float: left;
    }

    .product-view .block-shipping-estimate .block-title {
        width: 100%;
        float: left;
    }

    .product-view .add-to-cart-buttons {
        width: 100%;
        margin-top: 10px;
    }

    body .product-view .add-to-cart-wrapper,
    body .product-view .container-product-basic-and-image-gallery {
        width: 100%;
        float: none;
        clear: none;
    }

}

@media (max-width: 1208px) {
    #footer .textnews .badge {
        display: none;
    }
}

/* Catalog Search */
.catalogsearch-result-index .col3-layout .col-wrapper {
    width: 100%;
}

.catalogsearch-result-index .col3-layout .col-main {
    width: 73.6842%;
    padding: 0;
}

.catalogsearch-result-index .block-related > li:nth-child(3n),
.catalogsearch-result-index .products-grid > li:nth-child(3n) {
    margin-right: 3.7037%;
}

.catalogsearch-result-index .col3-layout .block-related > li,
.catalogsearch-result-index .col3-layout .products-grid > li,
.catalogsearch-result-index .col3-layout .products-list > li {
    width: 22.2%;
}

.catalogsearch-result-index .block-related > li:nth-child(4n+4),
.catalogsearch-result-index .products-grid > li:nth-child(4n+4) {
    clear: right;
    margin-right: 0;
}

.col-main .block-related > li:nth-child(4n+1),
.col-main .products-grid > li:nth-child(4n+1) {
    clear: left;
}

.block-related > li:nth-child(3n+1),
.products-grid > li:nth-child(3n+1) {
    clear: none;
}

@media (min-width: 768px) and (max-width: 977px) {
    .catalogsearch-result-index .col3-layout .block-related > li:nth-child(odd),
    .catalogsearch-result-index .col3-layout .products-grid > li:nth-child(odd) {
        clear: none;
    }

    .catalogsearch-result-index .col3-layout .block-related > li:nth-child(even),
    .catalogsearch-result-index .col3-layout .products-grid > li:nth-child(even) {
        margin-right: 3.7037%;
    }

    .catalogsearch-result-index .col3-layout .block-related > li,
    .catalogsearch-result-index .col3-layout .products-grid > li {
        width: 30.8642%;
        margin-right: 3.7037%;
    }

    .col2-left-layout .block-related > li:nth-child(3n+1),
    .col2-left-layout .products-grid > li:nth-child(3n+1),
    .catalogsearch-result-index .col3-layout .block-related > li:nth-child(3n+1),
    .catalogsearch-result-index .col3-layout .products-grid > li:nth-child(3n+1) {
        clear: left;
    }

    .col2-left-layout .col-main .block-related > li:nth-child(4n+1),
    .col2-left-layout .col-main .products-grid > li:nth-child(4n+1) {
        clear: none;
    }

    .catalogsearch-result-index .col3-layout .block-related > li:nth-child(3n),
    .catalogsearch-result-index .col3-layout .products-grid > li:nth-child(3n) {
        margin-right: 0;
    }
}

@media (max-width: 767px) {
    .catalogsearch-result-index .col3-layout .col-main {
        width: 100%;
    }

    .catalogsearch-result-index .col3-layout .block-related > li:nth-child(odd),
    .catalogsearch-result-index .col3-layout .products-grid > li:nth-child(odd) {
        clear: none;
    }

    .catalogsearch-result-index .col3-layout .block-related > li:nth-child(even),
    .catalogsearch-result-index .col3-layout .products-grid > li:nth-child(even) {
        margin-right: 3.7037%
    }

    .catalogsearch-result-index .col3-layout .block-related > li,
    .catalogsearch-result-index .col3-layout .products-grid > li {
        width: 47.864%;
        margin-right: 3.7037%;
    }

    .catalogsearch-result-index .col3-layout .block-related > li:nth-child(2n+1),
    .catalogsearch-result-index .col3-layout .products-grid > li:nth-child(2n+1) {
        clear: left;
    }

    .catalogsearch-result-index .col3-layout .block-related > li:nth-child(2n),
    .catalogsearch-result-index .col3-layout .products-grid > li:nth-child(2n) {
        margin-right: 0;
    }

    .block-layered-nav.block-subcategories .block-content {
        border-width: 1px;
    }

}

@media (max-width: 480px) {
    .catalogsearch-result-index .col3-layout .col-main {
        width: 100%;
    }

    .catalogsearch-result-index .col3-layout .block-related > li:nth-child(odd),
    .catalogsearch-result-index .col3-layout .products-grid > li:nth-child(odd) {
        clear: none;
    }

    .catalogsearch-result-index .col3-layout .block-related > li:nth-child(even),
    .catalogsearch-result-index .col3-layout .products-grid > li:nth-child(even) {
        margin-right: 0;
    }

    .catalogsearch-result-index .col3-layout .block-related > li,
    .catalogsearch-result-index .col3-layout .products-grid > li {
        width: 100%;
        margin-right: 0;
    }

    .catalogsearch-result-index .col3-layout .block-related > li:nth-child(2n+1),
    .catalogsearch-result-index .col3-layout .products-grid > li:nth-child(2n+1) {
        clear: left;
    }

    .catalogsearch-result-index .col3-layout .block-related > li:nth-child(2n),
    .catalogsearch-result-index .col3-layout .products-grid > li:nth-child(2n) {
        margin-right: 0;
    }
}

#customer-reviews dl dd {
    border-color: #3D665E;
}

.block.block-related .actions li {
    clear: none;
}

.block.block-related .actions a {
    float: none;
}

.block.block-related .actions .button {
    display: inline-block;
    float: none;
}

.product-view .block.block-related .availability,
.block.block-related .actions .add-to-links .separator,
.block.block-related .actions .add-to-links .link-compare,
.block.block-related .actions .add-to-links .link-wishlist {
    display: inline-block;
}

.product-view .block.block-related .actions .add-to-links li a.link-wishlist::before {
    display: none;
}

.product-view .block.block-related .availability {
    line-height: 33px;
}

.header-minicart {
    float: left;
    position: relative;
}

.skip-cart .count {
    display: none;
}

.skip-link.skip-active .count {
    display: none;
}

.skip-link .label {
    text-transform: capitalize;
    color: #2b4540;
    font-family: "Varela Round";
    font-size: 12px;
    font-weight: normal;
}

body:before {
    display: none;
}

@media screen and (min-width: 770px) {
    .page-header-container .skip-cart {
        display: none;
    }

    .skip-cart {
        height: auto;
        left: inherit;
        line-height: 32px;
        position: inherit;
        top: inherit;
        padding: 0;
    }

    .skip-cart .icon {
        height: 17px;
        width: 12px;
        background: rgba(0, 0, 0, 0) url("../../../media/wysiwyg/sprite.png") no-repeat scroll -72px -177px;
        display: inline-block;
        overflow: hidden;
        text-align: left;
        text-indent: -9999px;
    }

    .skip-cart:hover:not(.skip-active) .icon {
        background-position: -72px -177px;
    }

}

@media all and (max-width: 770px) {
    body:before { content: 'responsive-top';}
}

.skip-links .minicart-wrapper {
    float: left;
    padding: 20px;
    width: 100%;
}