.full-width.footer-news .form-itens input[type="text"] { float: left; }

.checkout-cart-index #header .phone { display: none!important; }
.checkout-cart-index #header { height: auto!important; }

#header .logo { margin-top: 0!important; }

.checkout-onepage-index #header .phone {
    display: none!important;
}

.language-switcher {
    width: 147px;
    height: 32px;
    float: right;
    margin: -5px 10px 0 0;
    position: relative;
    background: url(../../wysiwyg/language/fundoLang.png) center center no-repeat;
}

.language-switcher #select-store{
    text-align: center;
    width: 100%;
    margin-top: 5px;
}

.language-switcher #select-store li {
    width: 22px;
    height: 17px;
    overflow: hidden;
    text-indent: -9999px;
    display: none;
    padding: 0;
    background: none transparent;
}

.language-switcher #select-store li.portugues_br {
    background: url(../../wysiwyg/language/flags/br.jpg) 0 0 /100% no-repeat;
}

.language-switcher #select-store li.ingles {
    background: url(../../wysiwyg/language/flags/us.jpg) 0 0 /100% no-repeat;
}

.language-switcher #select-store li.espanhol {
    background: url(../../wysiwyg/language/flags/esp.jpg) 0 0 /100%  no-repeat;
}

.language-switcher #select-store li.current {
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
}

.language-switcher #select-store li a {
    width: 22px;
    height: 17px;
}

.language-switcher select {
    display: none;
    font-weight: bold;
    margin-top: 5px;
    font-family: "Open Sans",sans-serif;
    color: #FFF;
    border: none;
    background: none transparent;
}

.language-switcher select option {
    color: #000;
}