/* Comentei porque já corrigimos isso no tema */
/* .sorter { z-index: inherit; } */

a.link-boleto {
    width: 425px;
    margin: 30px auto;
    display: block;
}

.form-list .control label,
.sp-methods dt label,
#checkout-shipping-method-load .sp-methods dd label,
#co-shipping-method-form .sp-methods dd label,
.product-options ul.options-list label {
    min-width: 140px;
}

.form-list .control input.radio,
.form-list .control input.checkbox,
.sp-methods dt input.radio, .sp-methods dt input.checkbox,
#checkout-shipping-method-load .sp-methods dd input.radio,
#checkout-shipping-method-load .sp-methods dd input.checkbox,
#co-shipping-method-form .sp-methods dd input.radio,
#co-shipping-method-form .sp-methods dd input.checkbox,
.product-options ul.options-list input.radio,
.product-options ul.options-list input.checkbox {
    margin-right: 6px;
}

.catalog-product-view #product-attribute-specs-table .no,
.catalog-product-view #product-attribute-specs-table .na {
    display: none;
}

div.menu .block-meu-estilo a,
div.wp-custom-menu-popup .block-meu-estilo a {
    margin-bottom: 51px;
    text-align: center;
}

.hide {
    display: none;
}

.img-grid li {
    float: left;
    width: 48%;
    margin-right: 2%;
    margin-left: 0!important;
    margin-bottom: 68px;
    list-style: none;
}

.img-grid li:nth-child(2n+2) {
    margin-right: 0;
}

.img-grid li:nth-child(2n+3) {
    clear: left;
}

.img-grid .image-container {
    float: left;
    vertical-align: middle;
    padding: 2px 20px 2px 0;
    border-right: 2px dotted black;
}

.img-grid .context-container {
    width: 45%;
    float: left;
    margin: 18px 0 18px 4%;
}

.img-grid .context-container strong {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

.img-grid .context-container .adress-container {
    float: left;
    margin-bottom: 10px;
    width: 100%;
}

.img-grid .context-container .tel-label {
    font-weight: bold;
    padding-left: 20px;
    position: relative;
}

.img-grid .context-container .tel-label:after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 7px;
    width: 15px;
    height: 15px;
    background: url("../../wysiwyg/icones/ico-tel.gif") center no-repeat;
}

.img-grid .context-container .tel-label,
.img-grid .context-container .tel-container {
    width: 100%;
    float: left;
}

.img-grid:after { display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }

@media only screen and (max-width: 650px) {
    .img-grid li {
        width: 100%;
        margin-right: 0;
    }
}

/* Cms */
.cms-page-view .title {
    color: #dd114b;
    font-size: 20px;
    font-weight: lighter;
    font-style: italic;
}

.cms-page-view .title strong {
    font-weight: bold;
}

.cms-page-view .std p {
    color: #575757;
    font-size: 13px;
    font-family: "Lato";
    font-style: normal;
    line-height: 20px;
}

.cms-page-view .std .personal-hilight:after,
.cms-page-view .std .half-list:after,
.cms-page-view .std .sides-container:after  { display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }

.cms-page-view .std .left-side {
    width: 50%;
    float: left;
}

.cms-page-view .std .right-side {
    width: 47%;
    margin-left: 3%;
    float: right;
}

.cms-page-view .std .half-list li {
    width: 45%;
    float: left;
}

.cms-page-view .std .personal-highlight {
    padding: 30px 0;
    border: 1px dashed #737373;
    border-width: 1px 0;
    display: table;
}

.cms-page-view .std .img-container,
.cms-page-view .std .seal-stripe-info {
    float: left;
}

.cms-page-view .std .img-container {
    width: 19%;
}

.cms-page-view .std .personal-info {
    width: 78%;
    margin-left: 3%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cms-page-view .std .personal-info .personal-title {
    font-family: "Lato";
    font-style: italic;
    font-size: 20px;
    color: #575757;
    font-weight: 200;
    margin-bottom: 15px;
}

.cms-page-view .std .personal-info .personal-title strong {
    font-size: 25px;
    font-weight: 400;
}

.cms-page-view .std .personal-info p {
    font-size: 40px;
    font-style: italic;
    color: #dd114b;
    font-weight: lighter;
    line-height: 45px;
}

.cms-page-view .std .seal-stripe .img-container {
    margin-top: 28px;
    padding-right: 2%;
    border-right: 1px dashed #737373;
}

.cms-page-view .std .seal-stripe .seal-stripe-info {
    width: 79%;
    margin: 25px 0 0 2%;
}

.cms-page-view .std .seal-stripe .seal-title {
    color: #dd114b;
    font-family: "Lato";
    font-weight: 200;
    font-size: 20px;
    margin-bottom: 20px;
    font-style: italic;
}

.cms-page-view .std .seal-stripe p {
    color: #575757;
    font-family: "Lato";
    font-size: 13px;
}

.contact-form-std .form-list li {
    list-style: none;
    margin-left: 0;
}

.contact-form-std .form-list li .input-text {
    width: 100%;
}

.contact-form-std .form-list label {
    font-family: "Lato";
    font-size: 16px;
    color: #575757;
    font-style: normal;
}

.contact-form-std #contactForm {
    padding-left: 0;
}

.contact-form-std .page-title {
    display: none;
}

.contact-form-std .buttons-set .button {
    float: right;
}

.contact-form-std.right-side {
    text-align: right;
}

.contact-form-std.right-side img {
    display: inline-block;
}

@media only screen and (max-width: 768px) {
    .cms-page-view .std .right-side {
        width: 100%;
        float: left;
        margin-bottom: 15px;
    }

    .cms-page-view .std .left-side {
        width: 100%;
        float: right;
    }

    .cms-page-view .std .half-list li {
        width: 90%;
    }

    .cms-page-view .std .seal-stripe .img-container{
        width: 100%;
        padding: 0;
        border: none;
    }

    .cms-page-view .std .seal-stripe .seal-stripe-info {
        width: 100%;
        margin: 0;
    }
}