<p>&nbsp;</p>
<p>&nbsp;<span style="color: #000000;">A &Oacute;pticas Ipanema adota o sistema de franquias para acelerar a expans&atilde;o da rede, atrav&eacute;s de um relacionamento bem pr&oacute;ximo com o franqueado.</span></p>
<p><span style="color: #000000;">O principal desafio no processo de expans&atilde;o &eacute; garantir sempre a continuidade da filosofia de atendimento ao cliente e o padr&atilde;o de qualidade dos produtos.</span></p>
<p><span style="color: #000000;">Nessa fase de amplia&ccedil;&atilde;o da rede foram escolhidas regi&otilde;es com boa estrutura de com&eacute;rcio, com uma rotina pr&oacute;pria de vida, que possibilita maior proximidade com o consumidor.</span></p>
<p><span style="color: #000000;">Dentro do planejamento estrat&eacute;gico da &Oacute;pticas Ipanema,&nbsp; est&aacute; para os pr&oacute;ximos anos, a internacionaliza&ccedil;&atilde;o da marca com abertura de unidades no exterior: Uruguai, Argentina, Chile, Panam&aacute; e Estados Unidos</span></p>
<p><span style="color: #000000;">&nbsp;</span></p>
<p><strong>A diferen&ccedil;a em ter uma Franquia &Oacute;pticas Ipanema.</strong></p>
<p><strong>&nbsp;</strong></p>
<p>O Franqueado da &Oacute;pticas Ipanema tem total apoio na implementa&ccedil;&atilde;o de sua unidade.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;</p>
<p><span style="text-decoration: underline; color: #000000;">&nbsp;A Franqueadora oferece:</span></p>
<p><span style="color: #000000;">- Treinamento para a equipe de vendas;</span></p>
<p><span style="color: #000000;">- Suporte jur&iacute;dico;</span></p>
<p><span style="color: #000000;">- Projeto arquitet&ocirc;nico;</span></p>
<p><span style="color: #000000;">- Layout de loja projetado para facilitar a apresenta&ccedil;&atilde;o de produtos;</span></p>
<p><span style="color: #000000;">- Marcas pr&oacute;prias e grifes internacionais com adequa&ccedil;&atilde;o conforme a regi&atilde;o do franqueado.</span></p>
<p><span style="color: #000000;">&nbsp;</span></p>
<p><span style="color: #000000;">A maior parte das unidades da rede s&atilde;o lojas de rua, em pontos estrategicamente bem localizados e com possibilidade de lojas em shopping centers.</span></p>
<p><strong><em>&nbsp;</em></strong></p>
<p><span style="color: #000000;"><strong><em>&ldquo;Nosso franqueado tem que ter perfil empreendedor, pois mesmo que n&atilde;o tenha experi&ecirc;ncia no varejo, ele tem que ter condi&ccedil;&otilde;es de assumir o neg&oacute;cio, com o nosso apoio e know-how no segmento &oacute;ptico&rdquo;</em></strong></span></p>
<p><em>Silvio Ferreira s&oacute;cio-propriet&aacute;rio</em></p>
<p><strong><br /></strong></p>
<p><strong>A conquista do Selo de Excel&ecirc;ncia em Franchising</strong></p>
<p><span style="color: #000000;">&nbsp;A &Oacute;pticas Ipanema conquistou o Selo de Excel&ecirc;ncia em Franchising, concedido pela ABF &ndash; Associa&ccedil;&atilde;o Brasileira de Franchising. O selo atesta a credibilidade da rede a partir do ponto de vista do franqueado.&nbsp;</span></p>
<p><em><br /></em></p>