<div class="sides-container">
    <div class="left-side">
        <h3 class="title"><strong>Franchising</strong> - Fa&ccedil;a parte deste grande neg&oacute;cio</h3>
        <p>A &Oacute;pticas Ipanema tem lojas em diversas cidades do interior do estado de S&atilde;o Paulo, Goi&aacute;s e continua se exapandindo cada vez mais pelo pa&iacute;s. Em algumas localidades, est&aacute; presente com maide de uma loja. O contante crescimento faz com que a rede amplie sua atua&ccedil;&atilde;o em outros estados brasileiros.</p>
        <h3 class="title">A expans&atilde;o da rede de lojas atrav&eacute;s do sistema de fraquias</h3>
        <p>A &Oacute;pticas Ipanema adota o sistema de franquias para acelerar a expans&atilde;o da rede, atrav&eacute;s de um relacionamento bem pr&oacute;ximo com o franqueado. O principal desafio no processo &eacute; garantir sempre que a continuidade da filosofia de atendimento ao cliente e o padr&atilde;o de qualidade dos produtos.</p>
        <p>Na fase de amplia&ccedil;&atilde;o da rede forma escolhidas regi&otilde;es com boa estrutura de com&eacute;rcio e uma rotina pr&oacute;pria de vida, que possivilita maior proximidade com o consumidor.</p>
        <p>Dentro do planejamento estrat&eacute;gico da &Oacute;pticas Ipanema est&aacute; a internacionaliza&ccedil;&atilde;o da marca com abertura de unidades no exterior: uruguai, Argentina, Chile, Panam&aacute; e Estados Unidos.</p>
        <h3 class="title">A diferen&ccedil;a em ser um franqueado &Oacute;pticas Ipanema</h3>
        <p>O franqueado da &Oacute;pticas Ipanema tem total apoio na implanta&ccedil;&atilde;o de sua nova unidade e suporte permantente no dia-a-dia da opera&ccedil;&atilde;o. A franqueada oferece gest&atilde;o de alta performance em:</p>
    </div>
    <div class="right-side"><img src="{{media url="wysiwyg/ilustracoes-franqueado/franqueado_03.jpg"}}" alt="" /></div>
</div>
<ul class="half-list">
    <li>Transfer&ecirc;ncia de Know-how</li>
    <li>Sele&ccedil;&atilde;o e avalia&ccedil;&atilde;o na escolha do ponto</li>
    <li>Consultoria de campo - apoio na gest&atilde;o operacional da loja</li>
    <li>Assesoria administrativa, Comercial, Jur&iacute;dica e de Marketing</li>
    <li>Projeto Arquitet&ocirc;nico</li>
    <li>Treinamento inicial: Software, Administrativo, T&eacute;cnico e Vendas</li>
    <li>Treinamento de atualiza&ccedil;&atilde;o</li>
    <li>Software customizado</li>
    <li>Manuais: Implanta&ccedil;&atilde;o, Opera&ccedil;&otilde;es, Identidade Visual, Marketing e Vendas</li>
    <li>Marcas pr&oacute;prias / Fornecedores homologados com condi&ccedil;&otilde;es especiais na compra de produtos</li>
    <li>Projeto Arquitet&ocirc;nico</li>
    <li>Mix de produto completo com marcas nacionais e importadas, ajustadas &agrave; realidade da regi&atilde;o</li>
</ul>
<h3 class="title">Formatos de Franquias</h3>
<p>A maior parte das unidades da rede s&atilde;o lojas de rua, em pontos estrategicamente bem localizados e com possibilidade de lojas em shopping centers.</p>
<p><img src="{{media url="wysiwyg/ilustracoes-franqueado/franqueado_07.jpg"}}" alt="" /></p>
<div class="personal-highlight">
    <div class="img-container"><img src="{{media url="wysiwyg/ilustracoes-franqueado/franqueado_10.jpg"}}" alt="" /></div>
    <div class="personal-info"><span class="personal-title"> <strong>S&iacute;lvio Ferreira</strong> - S&oacute;cio Propriet&aacute;rio </span>
        <p>"Nosso franqueado deve ter perfil empreendedor, pois mesmo sem experi&ecirc;ncia no varejo, ele ter&aacute; condi&ccedil;&otilde;es de assumir o neg&oacute;cio, com o nosso apoio e o know-how no sgmento &oacute;ptico."</p>
    </div>
</div>
<div class="seal-stripe">
    <div class="img-container"><img src="{{media url="wysiwyg/ilustracoes-franqueado/franqueado_14.jpg"}}" alt="" /></div>
    <div class="seal-stripe-info"><span class="seal-title"> Excel&ecirc;ncia em Franchising </span>
        <p>A &Oacute;pticas Ipanema conquistou o Pr&ecirc;mio de Excel&ecirc;ncia em Franchising, concedido pela ABF - Associa&ccedil;&atilde;o Brasileira de Franchisimg, que atesta a credibilidade da rede.</p>
    </div>
</div>