/******* Geral ******/

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
.block-title strong {
    font-family: 'Lato', sans-serif;
}

.phone-header,
.toplinks {
    display:none;
}


/* Media Queries Desktop */
@media only screen and (min-width: 768px){
    a {
        color:#000;
    }
}

/******* Cabeçalho *******/

/* Media Queries Desktop */
@media only screen and (min-width: 768px){

    .phone-header {
        margin-right:7px;
    }

    .phone-header,
    .toplinks {
        float:left;
        margin-top: 58px;
        color:#000;
        display: block;
    }

    .logo {
        margin: 0 auto;
        float: none;
        width: 203px;
    }

    .skip-cart {
        top: 31px;
    }

    #header-cart.skip-active {
        top: 65px;
    }

    .nav-primary {
        margin:0;
        padding:0;
    }

    .nav-primary li.level0 > a {
        border:none;
        color:#000;
    }
}

/* Sprite */
.icon-correios, .icon-siteblindado, .icon-sedex, .icon-siteseguro, .icon-pac,
.icon-certisign, .icon-big-heart, .icon-shipping, .icon-card, .icon-letter,
.icon-place, .icon-telephone, .icon-amex, .icon-boleto-small, .icon-boleto,
.icon-dinners, .icon-itau, .icon-mastercard, .icon-money, .icon-stone,
.icon-facebook-small, .icon-instagram-small, .icon-magnifier, .icon-cart, .icon-heart,
.icon-facebook, .icon-instagram, .icon-user, .icon-chat, .skip-link .icon, .products-grid .add-to-links .link-wishlist,
.block-related .add-to-links .link-wishlist, .products-grid .add-to-links .link-wishlist, .product-view .add-to-links a:before,
.footer-container .sub-cols.sub-col3 .custom-links li a.link1:before, .footer-container .sub-cols.sub-col3 .custom-links li a.link2:before
{ display: inline-block; background-image: url('../../../media/wysiwyg/main-sprite.png'); overflow: hidden; text-indent: -9999px; text-align: left; }

.icon-correios { background-position: -0px -0px; width: 68px; height: 13px; }
.icon-siteblindado { background-position: -0px -13px; width: 67px; height: 17px; }
.icon-sedex { background-position: -0px -30px; width: 62px; height: 14px; }
.icon-siteseguro { background-position: -0px -44px; width: 61px; height: 23px; }
.icon-pac { background-position: -0px -67px; width: 59px; height: 14px; }
.icon-certisign { background-position: -0px -81px; width: 57px; height: 22px; }

.icon-big-heart,
.products-grid .add-to-links .link-wishlist,
.block-related .add-to-links .link-wishlist,
.products-grid .add-to-links .link-wishlist { background-position: -0px -103px; width: 34px; height: 32px; }

.icon-shipping { background-position: -34px -103px; width: 29px; height: 20px; }
.icon-card { background-position: -34px -123px; width: 28px; height: 22px; }
.icon-letter { background-position: -0px -135px; width: 27px; height: 27px; }
.icon-place { background-position: -27px -145px; width: 27px; height: 27px; }
.icon-telephone { background-position: -0px -162px; width: 27px; height: 27px; }
.icon-amex { background-position: -27px -172px; width: 25px; height: 17px; }
.icon-boleto-small { background-position: -0px -189px; width: 25px; height: 17px; }
.icon-boleto { background-position: -25px -189px; width: 25px; height: 19px; }
.icon-dinners { background-position: -0px -206px; width: 25px; height: 17px; }
.icon-itau { background-position: -25px -208px; width: 25px; height: 17px; }
.icon-mastercard { background-position: -0px -223px; width: 25px; height: 17px; }
.icon-money { background-position: -25px -225px; width: 25px; height: 17px; }
.icon-stone { background-position: -0px -240px; width: 24px; height: 22px; }

.icon-facebook-small,
.footer-container .sub-cols.sub-col3 .custom-links li a.link1:before { background-position: -50px -189px; width: 18px; height: 18px; margin: 0 12px -4px 0; }

.icon-instagram-small,
.footer-container .sub-cols.sub-col3 .custom-links li a.link2:before { background-position: -50px -207px; width: 18px; height: 19px; margin: 0 12px -4px 0; }

.icon-magnifier { background-position: -52px -172px; width: 16px; height: 16px; }

.header-minicart .skip-cart .icon,
.skip-cart:hover:not(.skip-active) .icon {
    width: 13px;
    height: 11px;
    background-position: -54px -145px;
    margin-bottom: 4px;
}

.icon-heart,
.product-view .add-to-links a:before { background-position: -54px -156px; width: 13px; height: 12px; }

.icon-facebook { background-position: -50px -226px; width: 12px; height: 12px; }
.icon-instagram { background-position: -50px -238px; width: 12px; height: 12px; }
.icon-user { background-position: -24px -242px; width: 12px; height: 13px; }
.icon-chat { background-position: -57px -81px; width: 11px; height: 12px; }

/* Top Links */
.toplinks,
.skip-links {
    width: 38.4%;
}

.toplinks .link1:before {
    content: " ";
    width: 11px;
    height: 12px;
    margin-right: 3px;
    display: inline-block;
    background: url('../../../media/wysiwyg/main-sprite.png') -57px -81px no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
}

.toplinks .link2:before {
    content: " ";
    width: 12px;
    height: 12px;
    margin-right: 3px;
    display: inline-block;
    background: url('../../../media/wysiwyg/main-sprite.png') -50px -226px no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
}

.toplinks .link3:before {
    content: " ";
    width: 12px;
    height: 13px;
    margin-right: 3px;
    display: inline-block;
    background: url('../../../media/wysiwyg/main-sprite.png') -24px -242px no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
}

.toplinks li,
.header-language-background .links ul li {
    margin-right: 0;
}

.skip-links {
    clear: none;
}

/* Header Search */
#search_mini_form .search-button {
    padding: 0;
}

#header-search {
    float: right;
    height: 40px;
    left: inherit;
    padding: 0;
    position: relative;
    top: inherit;
    width: 28.5%;
}

#search_mini_form .search-button {
    width: 16px;
    height: 16px;
    top: 12px;
    right: 4px;
}

#header-search #search_mini_form .search-button:before {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin: 0;
    left: 0;
    top: 0;
    background: url('../../../media/wysiwyg/main-sprite.png') -52px -172px no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
}

#search {
    height: 36px;
    border-radius: 0;
    margin: 2px 0;
    padding: 0 30px 0 5px;
}

#header-search > form {
    border-right: 2px solid #000000;
}

/* Clears */
.page-header:after,
.nav-container:after,
#header-nav:after,
.footer-container .footer-news .textnews:after,
.footer-container .footer-news .block-subscribe:after,
.footer-container .footer-news .block-subscribe .block-content:after,
.footer-container .list-icon li:after,
.footer-container .footer-news:after,
.footer-container .full-col:after { display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }

/* Menu */
.page-header-container,
#header-nav {
    width: 100%;
    float: left;
}

#custommenu {
    display: table;
    margin: 0;
    background-color: transparent;
}

div.menu {
    float: none;
    text-align: center;
    display: table-cell;
}

.nav-container {
    width: 71.5%;
    float: left;
}

#header-nav {
    background-color: #000;
}

div.menu a:link,
div.menu a:visited {
    height: inherit;
    background-color: transparent;
}

div.menu a,
div.wp-custom-menu-popup a,
div.menu a:link,
div.menu a:visited {
    font-family: "Lato";
    font-size: 15px;
    color: #FFF;
    display: inline-block;
    text-transform: none;
}

div.menu a span {
    height: inherit;
    padding-top: 0;
}

.parentMenu {
    padding: 13px 0;
}

/* Header Links */
#header-links,
.header-minicart {
    float: right;
}

/* Top cart */
.skip-cart {
    position: relative;
    top: inherit;
    right: inherit;
    height: inherit;
    padding: 0;
    line-height: inherit;
}

.logo {
    float: left;
}

#header-links,
.header-minicart {
    margin-top: 58px;
}

.skip-link .label,
.skip-links a,
.toplinks a  {
    font-size: 14px;
    color: #000;
    font-family: "Lato";
    text-transform: none;
}

#header-links > *,
.header-minicart {
    margin-left: 20px;
}

.skip-links .icon-user,
.skip-links .icon-heart {
    margin-right: 6px;
}

.top-container {
    margin-top: 21px;
}

/* Conditions Stripe */
.conditions-stripe {
    width: 100%;
    float: left;
    margin: 30px 0 30px 0 !important;
}

.conditions-stripe .condition {
    width: 25%;
    float: left;
    list-style: none;
    text-align: center;
    font-family: "Lato";
    font-size: 16px;
    color: #000;
    margin: 0!important;
}

.conditions-stripe .condition .icon {
    margin-right: 7px;
    vertical-align: middle;
}

.widget .subtitle,
.product-view .product-essential .box-collateral.box-up-sell h2,
.product-view .product-essential .block-related h2,
.crosssell h2 {
    width: 100%;
    text-transform: uppercase;
    color: #FFF;
    font-size: 17px;
    text-indent: 8px;
    padding: 6px 0;
    background-color: #000;
}

/* General */
.std section {
    width: 100%;
    float: left;
}

/* Footer */

/* Newsletter */
.footer-container {
    padding: 0 30px;
}

.footer-container .footer-news {
    background-color: #000;
    margin-bottom: 48px;
}

.footer-container .footer-news .block-subscribe > form,
.footer-container .footer-news .block-content {
    width: 100%;
}

.footer-container .footer-news .textnews {
    float: left;
}

.footer-container .footer-news .textnews {
    margin: 6px 0 0 8px;
}

.footer-container .footer-news .textnews .selo{
    display: none;
}

.footer-container .footer-news .textnews .news-txt {
    float: left;
}

.footer-container .footer-news .textnews .news-txt .titulo {
    font-family: "Lato";
    font-size: 15px;
    color: #FFF;
}

.footer-container .block-subscribe {
    width: 53.4%;
    float: right;
    margin: 0 17px 0 0;
}

.footer-container .block-subscribe .input-box {
    width: 78.90%;
    float: left;
    padding: 3px 0;
}

.footer-news .input-text {
    width: 100%;
    height: 29px;
    border: 2px solid #ebebeb;
    border-radius: 5px;
    color: #010101;
    font-family: "Lato";
    font-size: 12px;
    padding: 0 10px;
}

.footer-container .block-subscribe .actions {
    width: 18.59%;
    float: left;
    margin: 4px 0 0 2%;
}

.footer-container .footer-news .block-subscribe .block-content {
    margin: 0;
}

.footer-container .footer-news .block.block-subscribe .actions button.button {
    width: 100%;
    padding: 4px 42px 5px;
}

/* Footer Links */
.footer-container .sub-cols {
    width: 22.6%;
    float: left;
    margin-right: 3.1%;
}

.footer-container .sub-cols.sub-col4 {
    margin-right: 0;
}

.footer-container .sub-cols .title {
    font-family: "Lato";
    color: #312829;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 26px;
}

.footer-container .sub-cols .custom-links li {
    line-height: 24px;
}

.footer-container .sub-cols .custom-links li a {
    font-family: "Lato";
    color: #828282;
    font-size: 12px;
}

.footer-container .sub-cols .custom-links li a:before {
    content: "•";
    display: inline-block;
    margin-right: 3px;
}

.footer-container .sub-cols.sub-col4 .custom-links li a.link1:before,
.footer-container .sub-cols.sub-col4 .custom-links li a.link2:before {
    margin-bottom: -4px;
    margin-right: 20px;
}

.footer-container .list-icon li {
    clear: both;
    margin-bottom: 7px;
}

.list-icon .icon,
.list-icon .text-wrapper {
    max-width: 215px;
    float: left;
}

.list-icon .icon {
    margin-right: 23px;
}

.list-icon .text-wrapper {
    color: #828282;
    font-size: 12px;
    line-height: 12px;
    font-family: "Lato";
}

.telephone-info .text-wrapper,
.mail-info .text-wrapper {
    margin-top: 8px;
}

/* Footer Stamps */
.footer-container .full-col {
    width: 100%;
    float: left;
    margin-top: 66px;
}

.footer-container .full-col .sub-cols {
    width: 30.4%;
    margin-right: 4.4%;
}

.footer-container .full-col .sub-cols.last {
    margin-right: 0;
}

.footer-container .full-col .sub-cols li {
    float: left;
    margin-right: 8px;
}

.footer-container .full-col .sub-cols .title {
    margin: 0 8px 0 0;
}

.footer-container .full-col .sub-cols .icon-siteblindado {
    margin-top: 4px;
}

/* Removes */
.product-view .desconto-boleto,
.product-view .product-shop .extra-info,
.footer-news .block-subscribe .block-title,
.footer-news .block-subscribe .form-subscribe-header,
.catalog-category-view .col2-left-layout .col-left,
.catalogsearch-result-index .col3-layout .col-left,
.catalogsearch-result-index .col3-layout .col-right,
.block-related .add-to-links .link-compare,
.products-grid .add-to-links .link-compare,
.products-grid .add-to-links .link-compare,
.catalog-category-view .back-button,
.catalogsearch-result-index .back-button,
.pager .amount,
.pager .limiter > label:after,
.sorter label:after,
.pages .next:before,
.pages .next:hover:before,
.product-view .availability,
.product-view .add-to-links .link-compare,
.catalog-category-view .col3-layout .col-main .category-title {
    display: none;
}

/* Buttons */
.crosssell .actions a.button,
.block-related .actions a.button,
.products-grid .actions a.button,
.products-grid .actions  button.btn-cart,
.footer-container .block-subscribe .button {
    border-radius: 3px;
    padding: 6px 42px;
    background-color: #f4aa00;
}

.crosssell .actions a.button,
.block-related .actions a.button,
.products-grid .actions a.button,
.products-grid .actions  button.btn-cart {
    visibility: hidden;
}

.crosssell .item:hover .actions a.button,
.block-related .item:hover .actions a.button,
.products-grid .item:hover .actions a.button,
.products-grid .item:hover .actions button.btn-cart {
    visibility: visible;
}

.crosssell .actions a.button:hover,
.block-related .actions a.button:hover,
.products-grid .actions a.button:hover,
.products-grid .actions  button.btn-cart :hover,
.footer-container .block-subscribe .button:hover {
    background-color: #f4aa00;
}

.crosssell .actions a.button,
.block-related .actions a.button,
.products-grid .actions a.button,
.products-grid .actions  button.btn-cart span,
.footer-container .block-subscribe .button span {
    text-transform: none;
    font-size: 12px;
    font-family: "Lato";
    color: #FFF;
    font-weight: bold;
}

/* Products Grid */
.block-related > li,
.products-grid > li,
.products-list > li {
    width: 23.33%;
    border: 2px solid #FFF;
    border-radius: 3px;
}

.catalogsearch-result-index .col3-layout .block-related > li,
.catalogsearch-result-index .col3-layout .products-grid > li,
.catalogsearch-result-index .col3-layout .products-list > li {
    width: 22.58%;
}

.block-related > li:hover,
.products-grid > li:hover,
.products-list > li:hover {
    border-color: #ebebeb;
}

.products-grid--max-5-col > li:nth-child(5n),
.products-grid--max-3-col > li:nth-child(3n) {
    margin-right: 2.22222%;
}

.products-grid--max-5-col > li:nth-child(4n),
.products-grid--max-3-col > li:nth-child(4n) {
    margin-right: 0;
    clear: right;
}

.products-grid--max-3-col > li:nth-child(3n),
.products-grid--max-5-col > li:nth-child(5n+1) {
    clear: none;
}

.crosssell .product-name,
.block-related .product-name,
.products-grid .product-name,
.products-list .product-name {
    min-height: 35px;
    font-family: "Lato";
    font-size: 13px;
    color: #000;
    text-transform: none;
    text-align: center;
}

.block-related .product-name:hover,
.products-grid .product-name:hover,
.products-list .product-name:hover {
    text-transform: none;
    text-decoration: none;
}

.block-related > li:hover .product-name,
.products-grid > li:hover .product-name,
.products-list > li:hover .product-name {
    color: #606060;
}

.block-related .price-box .old-price .price-label,
.products-grid .price-box .old-price .price-label,
.products-grid .price-box .special-price .price-label,
.block-related .price-box .price-from,
.block-related .price-box .price-to,
.products-grid .price-box .price-from,
.products-grid .price-box .price-to {
    display: inline-block;
}

.block-related .product-image,
.products-grid .product-image,
.no-touch .products-grid .product-img-box .product-image:hover:not(.zoom-available) {
    border: none;
}

.block-related .product-info ,
.products-grid .product-info {
    padding: 0;
    position: static;
    min-height: inherit!important;
}

.block-related .actions,
.products-grid .actions {
    position: static;
    bottom: inherit;
    padding-top: 8px;
    min-height: inherit;
}

/* Products Grid Prices */
.block-related .price-box,
.products-grid .price-box {
    text-align: left;
    margin-bottom: 0;
    min-height: 22px;
}

.block-related .price-box .old-price,
.products-grid .price-box .old-price,
.block-related .price-box .price-from,
.products-grid .price-box .price-from,
.products-grid .price-box .minimal-price {
    font-size: 12px;
    color: #616161;
    padding-left: 20px;
    font-family: "Lato";
}

.price-box .price-label,
.block-related .price-box .old-price .price-label,
.products-grid .price-box .old-price .price-label,
.products-grid .price-box .price-from .price-label {
    font-size: 12px;
    color: #616161;
    font-family: "Lato";
}

.block-related .price-box .old-price .price,
.products-grid .price-box .old-price .price,
.products-grid .price-box .price-from .price {
    color: #616161;
    font-size: 12px;
    font-family: "Lato";
    text-decoration: line-through;
}

.block-related .price-box .special-price,
.products-grid .price-box .special-price,
.block-related .price-box .price-to,
.products-grid .price-box .price-to {
    padding-left: 20px;
    font-family: "Lato";
    float: right;
    padding-right: 0;
}

.block-related .price-box .special-price .price-label,
.products-grid .price-box .special-price .price-label,
.products-grid .price-box .price-to .price-label {
    font-size: 12px;
    font-weight: normal;
    font-family: "Lato";
    color: #616161;
}

.price-box .price,
.block-related .price-box .special-price .price,
.products-grid .price-box .special-price .price,
.products-grid .price-box .price-to .price {
    font-size: 17px;
    font-weight: normal;
    color: #000;
}

.block-related .price-box .regular-price ,
.products-grid .price-box .regular-price {
    width: 100%;
    text-align: center;
    display: inline-block;
}

.block-related .price-box .regular-price .price,
.products-grid .price-box .regular-price .price {
    font-size: 17px;
    color: #000;
    font-weight: normal;
}

.block-related .nr-pcl,
.products-grid .nr-pcl {
    color: #616161;
    font-size: 12px;
    text-align: center;
    display: block;
    font-family: "Lato";
}


.block-related .add-to-links .link-wishlist,
.products-grid .add-to-links .link-wishlist,
.products-grid .add-to-links .link-wishlist {
    position: absolute;
    top: 7px;
    right: 10px;
    display: none;
    animation: beat 0.7s ease 0s infinite normal;
}

.block-related > li:hover .add-to-links .link-wishlist,
.products-grid > li:hover .add-to-links .link-wishlist,
.products-grid > li:hover .add-to-links .link-wishlist {
    display: block;
}

.catalog-category-view .col2-left-layout .col-main,
.catalogsearch-result-index .col3-layout .col-main,
.catalogsearch-result-index .col3-layout .col-wrapper {
    width: 100%;
    padding: 0;
}

/* Avaiability */
.availability.available-soon,
.availability.out-of-stock {
    font-family: "Lato";
    line-height: 30px;
    margin: 0;
    text-transform: none;
}

.availability.out-of-stock span {
    background-color: #dcdcdc;
    border-radius: 3px;
    color: #616161;
    font-weight: bold;
    padding: 8px 40px;
}

/* Default Styles */
.block-title h2,
.block-title h3,
.block-title strong {
    font-size: 15px;
    color: #000;
    font-family: "Lato";
    text-transform: none;
    font-weight: normal;
    margin-bottom: 7px;
}

.page-title h1,
.page-title h2,
.product-name h1,
.product-name .h1,
h2.product-name,
h3.product-name,
h4.product-name,
h5.product-name,
p.product-name,
.block-related .block-title h2 {
    color: #070707;
    font-family: "Lato";
    font-size: 16px;
    text-transform: none;
    font-weight: normal;
    margin-bottom: 5px;
}

h1, .h1,
h2, .h2 {
    color: #000;
    font-size: 18px;
    font-family: "Lato";
}

h3, .h3 {
    font-family: "Lato";
    text-transform: none;
}

.icon-sprite,
.btn-remove2,
.ratings .rating-box,
.ratings .rating-box .rating,
.sorter > .sort-by .sort-by-switcher,
.sorter > .view-mode .grid,
.sorter > .view-mode .list,
.skip-nav .icon,
.skip-search .icon,
#search_mini_form .search-button:before,
.skip-account .icon,
.product-view .sharing-links a,
.review-summary-table .rating-box .rating-number:after,
.ratings-table .rating-box,
.ratings-table .rating-box .rating {
    background-image: url('../../../media/wysiwyg/icon_sprite.png');
}

.button,
.cart-table .product-cart-actions .button,
#co-shipping-method-form .buttons-set .button,
.footer .button,
.owl-carousel.owl-theme .owl-controls .owl-buttons div {
    border-radius: 4px;
    background-color: #F4AA00;
}

/* breadcrumbs */
.breadcrumbs a,
.breadcrumbs strong,
.breadcrumbs .separator {
    color: #999;
    text-transform: none;
    font-size: 12px;
    font-family: "Lato";
}

.breadcrumbs span {
    padding: 0;
}

.breadcrumbs .separator {
    margin: 0 3px;
}

.breadcrumbs .back-button {
    color: #999;
    font-weight: normal;
}


/* Toolbar */
.toolbar {
    border: none;
    padding: 5px 0 0;
    background: none;
}

.pages li {
    margin: 0 5px;
}

.pages .next,
.pages .previous {
    width: 23px;
    height: 23px;
    border: 1px solid #e7e7e7;
    background: url('../../../media/wysiwyg/arrow-sprite.png') 0 0 no-repeat;
}

.pages .next {
    background-position: -21px -21px;
}

.pages .previous {
    background-position: 0 -21px;
}

.pages a,
.pages .current {
    width: auto;
    height: auto;
    font-size: 13px;
    color: #999;
    line-height: 23px;
    font-family: "Lato";
}

.pages .current {
    color: #000;
}

.pages .current:hover {
    background-color: none;
    border: none;
    color: #000;
    cursor: default;
    width: auto;
}

.pages .current {
    font-size: 13px;
    font-weight: bold;
    border: none;
    line-height: 23px;
}

.pages li {
    line-height: 22px;
}

.toolbar label,
.pager-no-toolbar label {
    text-transform: none;
    font-family: "Lato";
    color: #999;
    line-height: 22px;
}

.pager .amount {
    margin: 0 50px 0 0;
}

.toolbar select {
    min-width: 50px;
    border: none;
    padding: 0 8px 0 3px;
    color: #999;
    font-family: "Lato";
}

.toolbar .select-box {
    position: relative;
    border: 1px solid #b2b2b2;
    border-radius: 4px;
    overflow: hidden;
}

.pager .limiter,
.toolbar .select-box {
    line-height: 20px;
}

.pager .limiter > label {
    float: left;
}

.sorter > .sort-by .sort-by-switcher {
    width: 21px;
    height: 23px;
    float: right;
}

.sorter > .sort-by .sort-by-switcher--desc {
    background-position: 4px -569px;
}

.toolbar .select-box:after {
    width: 21px;
    height: 21px;
    content:'';
    right: 0;
    top: 0;
    position:absolute;
    pointer-events:none;
    background: url('../../../media/wysiwyg/arrow-sprite.png') -21px 0 no-repeat;
}
.toolbar .select-box:before {
    content:'';
    width: 21px;
    height: 21px;
    position:absolute;
    right: 0;
    top: 0;
    display:block;
    pointer-events:none;
    background-color: #FFF;
}

.pages .next,
.pages .previous {
    border: 1px solid #979797;
    border-radius: 4px;
}

.pages .next:hover,
.pages .previous:hover {
    border-color: #000;
}

/* Main Menu */
div.column {
    width: inherit;
}

/* Product View */
.product-view .product-shop {
    width: 31.1%;
}

.product-img-box {
    width: 66.1%;
    padding: 0;
}

.product-view .add-to-cart-wrapper {
    width: 24.7%;
}

.product-name,
.product-name {
    margin-bottom: 5px;
}

.product-name h1,
.product-name .h1 {
    border-bottom: 1px solid #CCC;
    padding-bottom: 2px;
}

.catalog-product-view .short-description .std {
    line-height: 15px;
    color: #999;
    font-family: "Lato";
    font-size: 13px;
}

.product-image,
.no-touch .product-img-box .product-image:hover:not(.zoom-available) {
    border-color: #b2b2b2;
}

.product-view .sharing-links li {
    padding: 0;
}

.product-view .sharing-links li a {
    margin: 0 7px 7px;
}

.product-view .label-sharing {
    font-size: 13px;
    color: #999;
    line-height: 31px;
    font-family: "Lato";
}

/* Thumbnails */
.product-image-thumbs li:first-child {
    margin-left: 0;
}

.product-view .more-views {
    max-width: 580px;
    padding: 0 10px;
}

.product-view .more-views .product-image-thumbs li {
    width: 99px;
    height: 86px;
    margin-right: 13px;
    overflow: hidden;
}

.product-view .more-views .product-image-thumbs li:nth-child(5n+5) {
    margin-right: 0;
}

.product-image-thumbs a { border: none; }

.product-view .more-views .product-image-thumbs li img,
.product-view .more-views .product-image-thumbs li a {
    height: auto;
    width: 100%;
}

/* Product Options */
.product-options,
.product-options-bottom {
    border: none;
    padding: 0;
}

.product-options-bottom {
    margin-bottom: 8px;
    background: none transparent;
}

.product-options {
    padding-bottom: 19px;
    margin-bottom: 15px;
    border-bottom: 1px solid #CCC;
}

.product-view .product-options dt label {
    font-size: 12px;
    font-family: "Lato";
    color: #444;
    font-weight: normal;
    text-transform: capitalize;
}

/* Add to Cart */
.product-view .add-to-cart {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

.product-view .add-to-cart .qty-wrapper label {
    line-height: 33px;
}

.product-view .add-to-cart .qty-wrapper .qty {
    width: 41px;
    height: 31px;
    border: 1px solid #b2b2b2;
    border-radius: 4px;
    text-align: center;
    font-size: 13px;
    color: #b2b2b2;
}

.product-view .add-to-cart .qty-wrapper,
.product-view .product-options-bottom .price-box,
.product-view .add-to-cart-buttons {
    min-height: inherit;
    margin-bottom: 0;
}

/* Wishlist */
.product-view .add-to-links {
    float: right;
}

.product-view .add-to-links a {
    border: none;
    font-size: 12px;
    font-family: "Lato";
    color: #0b0b0b;
}

.product-view .add-to-links a:before {
    content: " ";
    margin-right: 5px;
}

/* Shipping */
.product-view .block-shipping-estimate {
    padding-top: 11px;
    border-top: 1px solid #b7b7b7;
}

.product-view  .block-shipping-estimate .block-title {
    float: left;
    line-height: 36px;
    font-size: 14px;
    font-family: "Lato";
    color: #444;
    margin: 0 18px 0 0;
}

.product-view  .block-shipping-estimate .block-title strong {
    margin-bottom: 0;
    color: #444;
}

.product-view  .block-shipping-estimate .block-title,
.product-view  .block-shipping-estimate .block-title strong {
    font-size: 14px;
    font-family: "Lato";
    color: #444;
}

.product-view  .block-shipping-estimate .input-box button.button {
    text-transform: none;
    background-color: #b2b2b2;
    padding: 4px 33px;
    font-size: 14px;
    color: #FFF;
    font-family: "Lato";
    border-radius: 3px;
}

.product-view .block-shipping-estimate input[type="text"] {
    width: 54.8%;
    height: 25px;
    line-height: 25px;
    border-color: #b2b2b2;
    border-radius: 4px;
    color: #bfbfbf;
    font-family: "Lato";
    margin-top: 1px;
    font-size: 12px;
}

.product-view .block-shipping-estimate input[type="text"]:focus {
    color: #000;
}

.product-view .block-shipping-estimate .block-shipping-results,
.product-view .block-shipping-estimate .block-shipping-results .block-title {
    width: 100%;
    float: left;
}

/* Btn Buy */
.product-view .add-to-cart-buttons .button {
    border-radius: 4px;
    height: 35px;
    line-height: 35px;
    padding: 0 53px;
}

.product-view .add-to-cart-buttons .button span {
    font-size: 15px;
    font-family: "Lato";
    font-weight: bold;
    color: #FFF;
}

button.btn-cart,
button.btn-proceed-checkout,
button.btn-checkout,
button.btn-cart:hover,
button.btn-proceed-checkout:hover,
button.btn-checkout:hover,
button.btn-cart:active,
button.btn-proceed-checkout:active,
button.btn-checkout:active {
    background-color: #000;
}

/* Product Price */
.product-view .price-box {
    margin: 3px 0;
}

.product-view .price-box .old-price {
    margin-bottom: 4px;
}

.product-view .price-box .old-price .price-label,
.product-view .price-box .old-price .price,
.product-view .price-box .special-price .price-label,
.product-view .price-box .regular-price:before,
.product-view .price-box .special-price:before {
    font-size: 15px;
    font-family: "Lato";
    color: #b2b2b2;
    font-weight: normal;
}

.product-view .price-box .regular-price:before {
    content: "De:";
}

.product-view .price-box .special-price .price,
.product-view .price-box .regular-price .price {
    color: #0b0b0b;
    font-size: 23px;
    font-weight: bold;
    font-family: "Lato";
}

.product-view .price-box .special-price .price-label {
    color: #0b0b0b;
}

.product-view .price-box .old-price,
.product-view .price-box .special-price {
    display: block;
}

.product-view .price-box .special-price {
    padding-left: 0;
}

.product-view .nr-pcl {
    color: #b8b8b8;
    font-size: 15px;
    font-family: "Lato";
}

/* Product Info */
.product-infos {
    width: 100%;
    float: left;
    clear: both;
    margin-top: 50px;
}

.product-info {
    width: 100%;
    float: left;
    clear: both;
    margin-bottom: 50px;
}

.product-info-title {
    font-size: 17px;
    font-family: "Lato";
    font-weight: bold;
    color: #979797;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #c7c7c7;
}

.product-info-context {
    font-size: 16px;
    font-family: "Lato";
    font-weight: normal;
    line-height: 19px;
    color: #999;
}

/* Some Glittering */
@keyframes beat {
    0% {
        transform: scale(1)
    }
    50% {
        transform: scale(1.1)
    }
    100% {
        transform: scale(1)
    }
}

/* Submenu */
#custommenu {
    position: static;
}

#header-nav {
    position: relative;
}

div.wp-custom-menu-popup {
    padding: 50px 0 25px 50px;
}

.wp-custom-menu-popup ul li {
    float: left;
    margin: 0 26px;
    min-width: 125px;
    text-align: center;
}

div.wp-custom-menu-popup {
    background: #FFF;
}

.wp-custom-menu-popup div[class^="block"] {
    float: left;
}

div.column,
div.wp-custom-menu-popup a {
    clear: both;
    float: left;
}

a.level1:link,
a.level1:visited {
    margin-top: 0;
    margin-bottom: 1px;
    color: #050505;
}

.wp-custom-menu-popup div[class^="block"] > ul {
    margin-left: 110px;
}

/* Extras (Ajustes Fernando)*/

a.link-boleto {
    width: 425px;
    margin: 30px auto;
    display: block;
}

.shipping .form-list .shipping-postcode {
    margin-right: 0;
    width: 23% !important;
}

/* Responsive */

@media (min-width: 1280px) {

}

/* LtBigger */
@media (max-width: 1280px) {

}

/* Tablet Big */
@media (min-width: 978px)  and (max-width: 1279px) {
    .header-language-background {
        padding: 0 12px;
    }

    .top-container,
    .top-container .no-effect-banner,
    .top-container .no-effect-banner > div,
    .top-container .no-effect-banner img {
        height: auto !important;
        width: 100% !important;
    }

    .page-header .no-effect-banner > div {
        float: left;
        width: 48% !important;
    }

    .page-header .no-effect-banner > div img {
        width: 100%;
    }

    .product-view .product-essential .product-img-box .product-image-zoom {
        width: 100%;
    }

    .product-view .block-shipping-estimate .block-content li.item {
        clear: both;
    }

    .product-view .block-shipping-estimate input[type="text"] {
        width: 40%;
    }

    .icon-cart,
    .skip-link .icon,
    .skip-cart:hover:not(.skip-active) .icon { width: 13px; height: 11px; }

}

/* Tablet */
@media (min-width: 768px) and (max-width: 977px) {
    /* Header */
    .page-header-container {
        margin: 20px 0 0;
    }

    .logo {
        width: 82%;
    }

    .no-touch #header-account a:hover,
    .no-touch .nav-primary a:hover {
        width: 100%;
        float: left;
        background: none transparent;
    }

    .skip-links .skip-link.skip-cart .icon:hover {
        background-position: -50px -101px;
    }

    #header-cart.skip-active,
    .skip-content.skip-active {
        width: 100%;
        float: left;
    }

    .skip-link .label {
        font-size: 12px;
    }

    .nav-primary li.level0 {
        width: 100%;
        float: left;
        display: inline-block;
    }

    .no-touch #header-account a:hover,
    .no-touch .nav-primary a:hover {
        background-color: #171836;
    }

    .page-header .no-effect-banner,
    .std .no-effect-banner {
        display: none;
    }

    .toplinks {
        margin-top: 0;
        width: 100%;
    }

    .skip-links {
        width: 18%;
        margin-top: 35px;
    }

    /* Product List */
    .block-related > li,
    .products-grid > li {
        width: 45%;
    }

    .block-related > li:nth-child(3n),
    .products-grid > li:nth-child(3n) {
        margin-right: 3.7037%;
    }

    .block-related > li:nth-child(3n+1),
    .products-grid > li:nth-child(3n+1) {
        clear: none;
    }

    .block-related .price-box,
    .products-grid .price-box {
        min-height: 56px;
    }

    .block-layered-nav .block-subtitle--filter,
    .block-layered-nav .block-subtitle--filter:hover {
        background-color: #171836;
    }

    .block-layered-nav .block-content > dl > dt:after {
        border-left-color: #ffffff;
        border-right-color: #ffffff;
    }

    /* Newsletter */
    .footer-container .textnews .selo {
        margin: 14px 0 0;
        text-align: center;
        float: none;
    }

    .footer-container .textnews .selo:first-child {
        clear: both;
        float: none;
        margin: 0 auto;
        padding: 30px 0 0;
        width: 91px;
    }

    .titulo > br {
        display: none;
    }

    .footer-container .sub-cols.sub-col1,
    .footer-container .sub-cols,
    .footer-container .full-col .sub-cols,
    .footer-container .sub-cols.sub-col5{
        width: 48%;
    }

    .footer-news #newsletter-validate-detail .block-content {
        background: none transparent;
    }

    .footer-container .full-col .sub-cols {
        margin: 10px 0;
    }

    /* Footer Links */
    .footer-container .links-container .custom-links li {
        text-align: center;
    }

    .footer-container .sub-cols .title {
        text-align: center;
        margin: 20px 0 10px;
    }

    .footer-container {
        margin-top: 10px;
    }

    /* Product View */
    .product-view .container-product-basic-and-image-gallery,
    .product-view .add-to-cart-wrapper {
        clear: none;
        float: left;
        width: 50%;
    }

    .product-img-box,
    .product-view .product-essential .product-img-box .product-image-zoom	{
        width: 100%;
    }

    .product-view .add-to-cart-wrapper {
        margin-left: 5%;
        width: 45%;
    }

    .product-view .product-shop .extra-info,
    .product-view .product-shop .price-info {
        max-width: 100%;
    }

    .product-view .add-to-cart-buttons .button {
        min-width: 195px;
    }

    .product-view .more-views .product-image-thumbs li {
        width: 95px;
    }

    .product-view .block-shipping-estimate input[type="text"] {
        width: 60%;
    }

    .toplinks li, .header-language-background .links ul li {
        float: left;
        margin-right: 14px;
    }

    .logo .small {
        display: none;
    }

    .skip-links {
        width: 100%;
    }

    .toplinks .first.odd {
        margin-left: 20px;
    }

    .header-minicart .skip-cart .icon {
        background-position: 0 -95px;
        background-image: url("../../../media/wysiwyg/icon_sprite.png");
    }

    .header-minicart {
        width: 25%;
        margin: 0;
    }

    .header-minicart .skip-cart {
        width: 100%;
        margin-top: 6px;
    }

}


/* Small */
@media (max-width: 480px) {

    /* Header */
    .logo {
        width: 100%;
        text-align: center;
    }
    .logo .small {
        display: inline-block;
    }

    .top-container,
    .top-container .no-effect-banner,
    .top-container .no-effect-banner > div,
    .top-container .no-effect-banner img {
        width: 100%!important;
        height: auto!important;
    }

    .toplinks,
    .skip-links {
        width: 100%;
    }

    #header-links {
        display: none;
    }

    #header-links,
    .header-minicart {
        margin: 0;
    }

    .skip-search .icon,
    .icon-cart,
    .skip-link .icon,
    .skip-cart:hover:not(.skip-active) .icon {
        width: 30px;
        height: 30px;
    }

    #header-links {
        width: 100%;
    }

    #header-links .my-account-link,
    #header-links .wishlist-link {
        display: inline-block;
        margin: 0;
        text-align: center;
        width: 50%;
    }

    #header-nav {
        padding: 0;
        display: block;
        background: none transparent;
    }

    .nav-container {
        width: 100%;
    }

    .header-minicart,
    .skip-link {
        width: 33%;
    }

    .header-minicart a.skip-cart {
        width: 100%;
        margin-top: 6px;
    }

    .skip-cart .icon {
        background-image: url("../../../media/wysiwyg/icon_sprite.png")!important;
        background-position: 0 -95px!important;
    }

    .skip-cart:hover .icon {
        background-position: -50px -95px!important;
    }

    #header-account .toplinks {
        display: block;
    }

    #header-account li a {
        text-align: center;
    }

    #header-account li::before {
        display: none;
    }

    .skip-link {
        overflow: visible;
    }

    /* Carrinho topo */
    .header-minicart .minicart-wrapper {
        background: none repeat scroll 0 0 #FFF;
        left: 0;
        position: absolute;
        top: 117px;
        width: 100%;
        z-index: 9999;
    }

    /* Search */
    #header-search {
        width: 90%;
        margin: 0 5%;
    }

    #header-search > form {
        border-right: none;
    }

    /* Menu */
    .menu-mobile .parentMenu a:hover,
    .menu-mobile .parentMenu a.act,
    .menu-mobile .parentMenu a.actParent {
        color: #F4AA00;
    }

    /* Removes */
    .skip-cart .count,
    .skip-link.skip-search {
        display: none;
    }

    /* Content */
    .conditions-stripe .condition .icon {
        margin: 0 20px;
    }

    /* Product List */
    .block-related > li,
    .products-grid > li,
    .products-list > li {
        width: 100%;
    }

    .product-info {
        margin-bottom: 0;
    }

    /* Product View */
    .product-view .add-to-cart-wrapper,
    .product-img-box {
        width: 100%;
    }

    /* Footer */

    .list-icon .icon,
    .list-icon .text-wrapper {
        float: none;
        margin: 0;
    }

    .footer-container {
        padding: 0;
    }

    .footer-container .sub-cols,
    .footer-container .sub-cols.sub-col5 {
        width: 100%;
        text-align: center;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .footer-container .block-subscribe {
        width: 80%;
        margin: 0 10%;
    }
    .footer-news .input-text {
        width: 100%;
    }

    .footer-news .input-text {
        width: 100%;
        margin: 0;
    }

    .footer-container .block-subscribe .input-box,
    .footer-container .block-subscribe .actions {
        width: 50%;
        margin: 0;
    }

    .footer-container .block-subscribe .actions {
        margin-top: 4px;
    }

    .footer-container .footer-news .textnews .news-txt {
        text-align: center;
        padding: 0 10px;
    }

    .footer-container .full-col {
        padding: 0 15px;
    }

    .footer-container .list-icon {
        padding: 0 42px;
    }

    .block-related .nr-pcl, .products-grid .nr-pcl {
        text-align: left;
        text-indent: 17px;
    }

    .list-icon .icon, .list-icon .text-wrapper {
        max-width: inherit;
    }
}

/* Mobile Small */
@media (min-width: 480px) and (max-width: 767px) {
    /* Header */
    .logo {
        width: 100%;
        text-align: center;
    }
    .logo .small {
        display: inline-block;
    }

    .top-container,
    .top-container .no-effect-banner,
    .top-container .no-effect-banner > div,
    .top-container .no-effect-banner img {
        width: 100%!important;
        height: auto!important;
    }

    .toplinks,
    .skip-links {
        width: 100%;
    }

    #header-links {
        display: none;
    }

    #header-links,
    .header-minicart {
        margin: 0;
    }

    .skip-search .icon,
    .icon-cart,
    .skip-link .icon,
    .skip-cart:hover:not(.skip-active) .icon {
        width: 30px;
        height: 30px;
    }

    #header-links {
        width: 100%;
    }

    #header-links .my-account-link,
    #header-links .wishlist-link {
        display: inline-block;
        margin: 0;
        text-align: center;
        width: 50%;
    }

    #header-nav {
        padding: 0;
        display: block;
        background: none transparent;
    }

    .nav-container {
        width: 100%;
    }

    .header-minicart,
    .skip-link {
        width: 33%;
    }

    .header-minicart a.skip-cart {
        width: 100%;
        margin-top: 6px;
    }

    .skip-cart .icon {
        background-image: url("../../../media/wysiwyg/icon_sprite.png")!important;
        background-position: 0 -95px!important;
    }

    .skip-cart:hover .icon {
        background-position: -50px -95px!important;
    }

    #header-account .toplinks {
        display: block;
    }

    #header-account li a {
        text-align: center;
    }

    #header-account li::before {
        display: none;
    }

    .skip-link {
        overflow: visible;
    }

    /* Carrinho topo */
    .header-minicart .minicart-wrapper {
        background: none repeat scroll 0 0 #FFF;
        left: 0;
        position: absolute;
        top: 117px;
        width: 100%;
        z-index: 9999;
    }

    /* Search */
    #header-search {
        width: 90%;
        margin: 0 5%;
    }

    #header-search > form {
        border-right: none;
    }

    /* Menu */
    .menu-mobile .parentMenu a:hover,
    .menu-mobile .parentMenu a.act,
    .menu-mobile .parentMenu a.actParent {
        color: #F4AA00;
    }

    /* Removes */
    .skip-cart .count,
    .skip-link.skip-search {
        display: none;
    }

    /* Content */
    .conditions-stripe .condition .icon {
        margin: 0 20px;
    }

    /* Product List */
    .block-related > li,
    .products-grid > li,
    .products-list > li {
        width: 100%;
    }

    .product-info {
        margin-bottom: 0;
    }

    /* Product View */
    .product-view .add-to-cart-wrapper,
    .product-img-box {
        width: 100%;
    }

    /* Footer */
    .footer-container {
        padding: 0;
    }

    .footer-container .sub-cols,
    .footer-container .sub-cols.sub-col5 {
        width: 100%;
        text-align: center;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .footer-container .block-subscribe {
        width: 80%;
        margin: 0 10%;
    }
    .footer-news .input-text {
        width: 100%;
    }

    .footer-news .input-text {
        width: 100%;
        margin: 0;
    }

    .footer-container .block-subscribe .input-box,
    .footer-container .block-subscribe .actions {
        width: 50%;
        margin: 0;
    }

    .footer-container .block-subscribe .actions {
        margin-top: 4px;
    }

    .list-icon .icon,
    .list-icon .text-wrapper {
        float: none;
        margin: 0;
    }

    .footer-container .footer-news .textnews .news-txt {
        text-align: center;
        padding: 0 10px;
    }

    .footer-container .full-col {
        padding: 0 15px;
    }

    .footer-container .list-icon {
        padding: 0 42px;
    }
}

/* Mobile */
@media (max-width: 767px) {

}

/* Custom */
@media (min-width: 768px) and (max-width: 979px) {

    /* Header */
    .logo {
        max-width: inherit;
        text-align: center;
        width: 82%;
        text-indent: 155px;
    }
    .logo .large {
        display: inline-block;
    }

    .top-container,
    .top-container .no-effect-banner,
    .top-container .no-effect-banner > div,
    .top-container .no-effect-banner img {
        width: 100%!important;
        height: auto!important;
    }

    #header-links {
        display: none;
    }

    #header-links {
        margin: 0;
    }

    .header-minicart {
        margin-top: 0;
    }

    #header-links {
        width: 100%;
    }

    #header-links .my-account-link,
    #header-links .wishlist-link {
        display: inline-block;
        margin: 0;
        text-align: center;
        width: 50%;
    }

    #header-nav {
        padding: 0;
        display: block;
    }

    #header-account .toplinks {
        display: block;
    }

    #header-account li a {
        text-align: center;
    }

    #header-account li::before {
        display: none;
    }

    /* Menu */
    .nav-container,
    #header-search {
        width: 100%;
    }

    .menu-mobile .parentMenu a:hover,
    .menu-mobile .parentMenu a.act,
    .menu-mobile .parentMenu a.actParent {
        color: #F4AA00;
    }

    /* Content */
    .conditions-stripe .condition .icon {
        margin: 0 20px;
    }

    /* Product List */
    .block-related > li,
    .products-grid > li,
    .products-list > li {
        width: 100%;
    }

    .product-info {
        margin-bottom: 0;
    }

    /* Footer */
    .footer-container {
        padding: 0;
    }

    .footer-container .footer-news .textnews,
    .footer-container .footer-news .textnews .news-txt {
        width: 100%;
        text-align: center;
    }

    .footer-container .sub-cols,
    .footer-container .sub-cols.sub-col5 {
        width: 48%;
        text-align: center;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .footer-container .sub-cols.sub-col5 {
        width: 100%;
    }

    .list-icon .icon,
    .list-icon .text-wrapper {
        float: none;
    }

    .list-icon .icon {
        margin-right: 0;
    }

    .footer-container .block-subscribe {
        width: 80%;
        margin: 0 10%;
    }
    .footer-news .input-text {
        width: 100%;
    }

    .footer-news .input-text {
        width: 100%;
        margin: 0;
    }

    .footer-container .block-subscribe .input-box,
    .footer-container .block-subscribe .actions {
        width: 50%;
        margin: 0;
    }

    .footer-container .block-subscribe .actions {
        margin-top: 4px;
    }

    .footer-container .footer-news .textnews .news-txt {
        text-align: center;
        padding: 0 10px;
    }

    .footer-container .full-col {
        padding: 0 15px;
    }

    .footer-container .list-icon {
        padding: 0 42px;
    }

}

.no-effect-banner > div, .no-effect-banner img {
    height: auto !important;
    width: 100% !important;
}