/* topo */
.welcome-message { float: left; margin: 0 20px 0 0; }
.logout-link {margin-left: 10px; font-weight:bold; }

#nav li a {
    color: #FFF;
}

header#header .form-search {
    float: left;
    width: 288px;
    border-left: solid 1px #CCC;
    margin: 33px 19px 0;
    padding-left: 25px;
}

header#header .form-search .input-box {
    width: 238px;
}

#search_mini_form #search {
    background: #F1F1F1;
    border: none;
    border-top: solid 1px #DFDFDF;
    border-left: solid 1px #DFDFDF;
    border-radius: 3px;
    height: 41px;
    line-height: 41px;
}

#search_mini_form .search-button {
    width: 56px;
    overflow:hidden;
    height: 41px;
    margin-right: -7px;
    background: url('/media/images/default/btn-search.png') 0 0 no-repeat;
}
#search_mini_form .search-button span {
    background:transparent;
    text-indent: -400px;
}

#search_mini_form .search-button:before {
    display: none;
}

header#header .top-cart,
header#header .top-cart2,
header#header .top-cart3 { background:none; }
#header .top-cart .block-title { display:none; }

header#header .top-cart,
header#header .top-cart2,
header#header .top-cart3,
header#header .links {
    margin-top:38px;
    float: left;
}
header#header .links li {
    padding: 0 0 0 6px;
    float: left;
}

header#header .links a.top-link-account,
header#header .links a.wishlist-link {
    line-height: 15px;
    color: #898989;
    width: 95px;
}

header#header .links a.top-link-account:before,
header#header .links a.wishlist-link:before {
    content: "";
    display: block;
    width: 29px;
    height: 29px;
    border: solid 3px #BBB;
    float: left;
    margin: 0 5px 0 0;
    background: url('/media/images/default/ico-wishlist.png') 50% 50% no-repeat;
}
header#header .links a.top-link-account:before {
    background: url('/media/images/default/ico-orders.png') 50% 50% no-repeat;
}

.atendimento-topo {
    float: left;
    margin: 20px 25px 0 42px;
}

/* Listagem e Widgets */
.widget-grid li.item {
    margin-right: 7px;
    padding-bottom: 11px!important;
    border: 1px solid #e5e5e5;
}

.grid .title,
.slider-container .title { background: none!important; }

.grid .title h3,
.grid.default .title h3,
.slider-container .title h3 {
    color: #da1b79!important;
    margin-bottom: 12px!important;
    font-weight: normal;
    font-size: 16px;
    line-height: 34px;
    border-bottom: 1px solid #ebebeb!important;
}

.products-grid .product-name-home,
.products-grid .product-name,
.grid .product-name {
    font-size: 12px;
    color: #898989;
    min-height: 57px;
    padding: 0 14px 0 11px;
    margin-bottom: 5px;
    border-bottom: 1px solid #efefef;
}

.products-grid .product-name a {
    font-size: 14px;
    color: #898989;
}

.col2-layout .products-grid li.item { width: 265px!important; }
.col2-layout .products-grid li.item .product-box { min-height: 425px; }

.products-grid li.item {
    position: relative;
}

.col2-layout .products-grid li.item {
    min-height: 430px;
    margin-right: 30px;
}

.col2-layout .products-grid li.item:nth-child(3n+3) {
    margin-right: 0;
}

.products-grid li.item .hover-box,
.products-grid li.item .hover-box button.button.btn-cart {
    opacity: 0;
    transition: opacity 500ms ease 0s;
    -moz-transition: opacity 500ms ease 0s;
    -webkit-transition: opacity 500ms ease 0s;
}
.products-grid li.item .hover-box button.button.btn-cart {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -25px 0 0 -51px;
    z-index: 5;
}

.products-grid li.item:hover .hover-box button.button.btn-cart {
    opacity: 1;
}

.products-grid li.item:hover .hover-box {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 1;
    z-index: 2;
    background-color: rgba(255,255,255,0.5);
}

/* rodapé */
footer#footer #formNewsFooter {
    background: #F1F1F1;
    height: 80px;
    line-height: 80px;
}

footer#footer #formNewsFooter h3 {
    background:url('/media/images/default/ico-news.png') 0 50%  no-repeat;
    padding-left:80px;
    color: #818181;
    width: 45%;
    margin: 20px 0 0;
    line-height: 20px;
    font-weight: normal;
    font-size: 15px;
}
footer#footer #formNewsFooter h3 strong {
    display: block;
    color: #DA1B79;
}
footer#footer #formNewsFooter h3 .fa {
    display:none;
}
footer#footer #formNewsFooter .inner-box {
    width:45%;
    float:right;
}
footer#footer #formNewsFooter .inner-box button.button {
    width: 122px;
    height: 41px;
    margin-left: -7px;
    background: url('/media/images/default/bg-btn-arrow.png') 0 0 no-repeat;
}
footer#footer #formNewsFooter .inner-box button.button span {
    background:transparent;
}
footer#footer #formNewsFooter .inner-box .form-itens {
    width: 100%;
}
footer#footer #formNewsFooter .inner-box input[type="text"] {
    line-height: 41px;
    height: 41px;
    border-color: #EBEBEB;
    border-bottom-left-radius:3px;
    border-top-left-radius:3px;
    width: 75%;
}

/* Pagina de detalhe do produto */
.catalog-product-view .content-wrapper .main-container { padding-top: 8px!important; }

.product-view { padding-top: 0!important; }

.product-view .product-img-box .product-image {
    width: 465px;
}

.main-container .product-view .product-img-box {
    width: 610px;
}

.product-view  .nr-pcl,
.products-grid li.item .nr-pcl {
    float: left;
}

.product-view .product-shop .product-name h1 { font-size: 16px; color: #898989; }

#___plusone_0 { vertical-align: top !important; }

.product-view .sku { font-size: 11px; }
.product-view .sku strong { font-size: 13px; }

.product-view .sku,
.product-view .sku strong { color: #adadad; font-weight: normal; }

/* Tabs */

.product-view .product-collateral {
    margin-top: 80px;
}

.meigee-tabs-content { font-size: 13px; color: #8d8d8d; border: 1px solid #e5e5e5; }
.meigee-tabs a { text-transform: none; padding: 16px 13px; font-size: 14px; }
.meigee-tabs li { height: 51px; background-color: #f2f2f2; }

.meigee-tabs li.active a,
.meigee-tabs li.active a:hover { border: 1px solid #e5e5e5!important; background-color: #FFF; }

.product-collateral .box-collateral { line-height: 25px; padding: 5px 16px; }

.product-view .product-collateral a { text-decoration: none!important; }

/* More views */
.product-view .product-img-box #thumbs {
    margin-right: 0;
}

.slick-slider {
    padding: 0!important;
}

.slick-slide > * {
    width: 107px!important;
    height: 104px!important;
    overflow: hidden;
}

.slick-vertical .slick-slide { border: none!important; }

/* Breadcrumbs */
nav.breadcrumbs li,
nav.breadcrumbs li a,
nav.breadcrumbs li strong {
    color: #8a8a8a!important;
    font-size: 11px;
}

/* Related Products */
.block-related { margin-top: 49px; }

.block-related header { margin-bottom: 19px; }
.block-related header h2 { color: #da1b79; font-size: 15px; font-weight: normal; }

.block-related li.item { width: 272px!important; border: 1px solid #e5e5e5; margin-right: 17px!important; }

.block-related .product-name a { min-height: 57px; font-size: 14px; color: #898989; padding-left: 14px; }
.block-related .product-details .price-box .price { font-size: 20px; color: #898989; }

.block-related .product-details .price-box { padding: 0 14px; min-height: 70px; }

.title-divider { background: #e5e5e5; }

/* Prices */
.product-view .product-shop .price-box .special-price span.price,
.product-view .product-shop .price-box .full-product-price span.price,
.product-view .product-shop .price-box .regular-price span.price { font-weight: normal; }

.products-grid .price-box,
.grid .price-box {
    min-height: 50px;
    text-align: center;
    color: #898989;
    font-size: 20px;
    padding: 0 10px;
    margin-bottom: 0;
}

.products-grid .price-box .price,
.grid .price-box  .price{
    color: #898989;
    font-size: 20px!important;
    font-weight: normal!important;
}

.products-grid .price-box .old-price,
.grid .price-box .old-price { margin-bottom: 0; }

.products-grid .price-box .old-price span,
.grid .price-box .old-price span {
    color: #da1b79;
    font-size: 13px!important;
}

.widget-grid .price-box .special-price .price-label,
.products-grid  .price-box .special-price .price-label {
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    vertical-align: bottom;
}

.catalog-product-view .product-view .price-box .old-price .price,
.catalog-product-view .product-view .price-box .old-price .price-label { font-size: 13px; color: #da1b79!important; }

.catalog-product-view .product-view .price-box .special-price,
.catalog-product-view .product-view .price-box .special-price .price-label { color: #22376d; }

.catalog-product-view .product-view .price-box .special-price { font-size: 20px; }
.catalog-product-view .product-view .price-box .special-price .price-label  { font-size: 13px!important; line-height: 31px!important; }

/* Parcelas */
.products-grid li.item .nr-pcl,
.products-grid li.item .nr-pcl-container,
.widget-grid li.item .nr-pcl-container {
    width: 100%;
    display: block;
    font-size: 14px;
    font-weight: 600;
    font-family: "Open Sans";
    text-align: center;
    padding: 0 10px;
}

.block-related .add-to-links, .products-grid .add-to-links { display: none; }
.block-related .actions, .products-grid .actions {
    float: left;
}

.products-grid li.item .nr-pcl-container .nr-pcl { padding: 0; }

/* Removes */
.title-divider span,
.product-name .title-divider,
.product-view .product-shop .ratings,
.products-grid li.item .productlabels_icons,
.widget-grid li.item .productlabels_icons,
.catalog-product-view .box-reviews  { display: none; }

/* Clears */
.no-effect-banner:after,
#header-account:after,
.page-header-container:after,
.home-container:after { display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }

/* Overrides */
#header .top-cart .block-content {
    padding-left: 32px!important;
    background-position: 0 50%!important;
}

/* Checkout */
.checkout-cart-index #header,
.checkout-onepage-index #header { height: auto!important; }


.catalog-product-view .product-shop .productlabels_icons {
    margin: 19px 10px 10px;
}

.checkout-cart-index .td-image { text-align: center; }

.checkout-cart-index .td-image .product-image { display: inline-block; float: none; }

.checkout-cart-index .td-image .product-labels-container {
    display: inline-block!important;
}

.checkout-onepage-index header#header .header-wrapper,
.checkout-onepage-index header#header .header-wrapper.menu-over { background: none transparent!important; }

.col-main p { clear: both; }


#footer ul.social-links li a:before {
    display: none;
}

#footer .social-links .fa.fa-facebook {
    margin: 5px 8px 0 3px;
}

#footer .social-links .fa {
    margin: 5px 5px 0 0;
    font-size: 22px;
}
/*
button.button {
    background: none repeat scroll 0 0 transparent;
    border: 0px none;
    cursor: pointer;
    margin: 10px;
    overflow: visible;
    padding: 0;
    width: auto;
}*/

.box_lista_presente {
    margin:0 auto;
    width:520px;
    border:1px solid #f1f1f1;
    padding:20px;
    border-radius:10px;
}

.busca_lista_presente {
    width:220px;
    float:left;
    min-height:160px;
    border-right:1px solid #ccc;
    padding-right:20px;
    margin-right:20px;
    text-align:center;
}

.busca_lista_presente ul li {
    list-style:none;
}

.links_lista_presente{
    width:220px;
    float:right;
    text-align:center;
}

.links_lista_presente h2 {
    font-size: 14px;
    font-weight: bold;
}

.cria_lista_presente {
    margin-top: 25px;
}

ul.form-alt {
    margin-top: 10px;
}

.busca_lista_presente .widget .block-gr-search .block-title strong span {
    font-size: 14px;
    display: block;
    margin-top: 1px;
}

a.myButton {
    display: block;
    padding: 10px;
    background: #22376D;
    border-radius: 5px;
    width: 160px;
    margin: 0 auto;
    color: #FFF;
    font-weight: bold;
}

body .block-reorder {
    display:none;
}

#shopping-cart-table.cart-table a.product-image { width: 70px; }

.pager .pages li a {
    font-weight: 600;
}

.pager .pages li a, .pager .pages li {
    background-color: #BBB;
    border-radius: 4px;
    display: inline-block;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    text-align: center;
    width: 25px;
}

.pager .pages li.current {
    background: #22376d;
    color: #FFF;
}

.checkout-onepage-success aside.sidebar {
    display: none;
}

.checkout-onepage-success .col-main.main-left {
    width: 100%;
}

.checkout-onepage-success .link-boleto {
    display: inline-block;
    margin: 10px 0 25px;
    text-align: center;
    width: 100%;
}

/* Media Queries */
@media screen and (max-width: 480px){
    #header .line1 {
        text-align: center;
    }

    header#header .form-search {
        border-left: none;
        margin: 33px 0 0;
        padding-left: 0;
        width: 100%;
    }

    .atendimento-topo {
        margin: 20px 5px 0 0;
    }

    header#header .top-cart,
    header#header .top-cart2,
    header#header .top-cart3,
    header#header .links {
        margin-top: 23px;
    }

    header#header .links a.top-link-account::before,
    header#header .links a.wishlist-link::before {
        width: 18px;
    }

    .atendimento-topo {
        max-width: 89px;
    }

    header#header .form-search .input-box {
        width: 82%;
    }

    .welcome-message {
        width: 100%;
    }

    .no-effect-banner > div {
        width: 100%!important;
        height: auto!important;
    }

    .stripe-seals {
        text-align: center;
        width: 100%;
        display: inline-block;
    }

    .bandeiras li {
        display: inline-block;
        margin-right: 3px;
        vertical-align: middle;
    }

    #footer h3 {
        text-align: center;
    }

    footer#footer #formNewsFooter .inner-box {
        width: 94%;
        margin: 0 3%;
    }

    footer#footer #formNewsFooter .inner-box input[type="text"] {
        width: 72%;
    }

    footer#footer #formNewsFooter .inner-box button.button {
        width: 30%;
        margin-left: -13px;
    }

    footer#footer #formNewsFooter h3 {
        width: 48%;
        padding-left: 0;
        background: none transparent;
    }

    footer#footer #formNewsFooter h3 strong {
        line-height: 19px!important;
    }

    header#header .top-cart {
        width: 100%;
        float: left;
        padding: 0;
    }

    #header .top-cart .block-content a span {
        display: inline-block;
    }

    header#header .top-cart .block-content {
        width: 100%;
        padding: 0!important;
    }

    #header .top-cart .block-content a {
        display: inline-block;
        text-align: center;
        width: 100%;
    }

    header#header .top-cart:hover a span,
    header#header .top-cart.active a {
        color: #22376D;
    }

    footer#footer #formNewsFooter h3 {
        width: 98%;
    }

}

header#header .menu-button {
    width: 65px;
    position: relative;
    background-color: #1D2E5B;
    background-repeat: no-repeat;
    background-position: center 0;
}

header#header .menu-button::after {
    color: #ffffff;
    content: "Menu";
    font-weight: bold;
    position: absolute;
    right: -46px;
    text-transform: uppercase;
    top: 7px;
}

header#header .nav-container.mobile {
    margin: 32px 0 0;
}

/* Migracao */
.header-language-background {
    background: none transparent;
}

.header-language-background .phone-header {
    color: #28448c;
    font-weight: 600;
}

.header-language-background {
    font-size: 11px;
    color: #898989;
    line-height:35px;
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: 10px;
    min-height: 25px;
}
.header-language-background a { color:#28448d; }

.header-language-background .fa {
    font-size: 16px;
    margin: 3px 0 0;
    color: #C5C5C5;
}

.header-language-background .btn-wedding {
    float: right;
}

#header-nav {
    clear: both;
    float: left;
    width: 100%;
    position: relative;
    z-index: 2;
}

.skip-links {
    clear: none;
}

#header-search {
    float: left;
    position: relative;
    left: inherit;
    top: inherit;
    border-left: 1px solid #cccccc;
    margin: 33px 19px 0;
    padding-left: 25px;
    width: 288px;
}

.nav-primary {
    width: 100%;
    display: table;
    margin-top: 0;
    position: relative;
    z-index: 2;



    background-color: #22376D;
}

.nav-primary li.level0 {
    display: table-cell;
    float: none;
}

.nav-primary li.level0 > a {
    border: none;
}

.page-header-container .links a.top-link-account,
.page-header-container .links a.wishlist-link {
    color: #898989;
    line-height: 15px;
    width: 95px;
    display: inline-block;
}

#header-nav::after {
    background: #1d2e5b none repeat scroll 0 0;
    content: " ";
    height: 100%;
    left: -48%;
    position: absolute;
    top: 10px;
    width: 50%;
    z-index: 0;
}

#header-nav::before {
    background: #1d2e5b none repeat scroll 0 0;
    content: " ";
    height: 100%;
    right: -48%;
    position: absolute;
    top: 10px;
    width: 50%;
    z-index: 0;
}

#nav::before {
    border-bottom: 10px solid rgba(0, 0, 0, 0);
    border-right: 25px solid #0e172e;
    border-top: 10px solid rgba(0, 0, 0, 0);
    bottom: -10px;
    content: "";
    height: 0;
    left: -1px;
    position: absolute;
    width: 0;
    z-index: 1;
}

#nav::after {
    border-bottom: 10px solid rgba(0, 0, 0, 0);
    border-left: 25px solid #0e172e;
    border-top: 10px solid rgba(0, 0, 0, 0);
    bottom: -10px;
    content: " ";
    height: 0;
    position: absolute;
    right: -1px;
    width: 0;
    z-index: 0;
}

#nav {
    position: relative;
}

.skip-cart {
    background: #ffffff url("/media/images/default/cart-icon.png") no-repeat scroll 0 50%;
    font-size: 12px;
    padding: 0 0 0 32px;
}

.skip-link .label,
.skip-link .icon {
    display: none;
}

.skip-cart {
    position: inherit;
    right: inherit;
    top: inherit;
}

.mini-cart-subtotal,
.mini-cart-itens a {
    color: #28448c;
    font-weight: bold;
}

.skip-links {
    line-height: 45px;
}

.header-minicart {
    margin-top: 31px;
    margin-right: 12px;
}

#header-cart.skip-active {
    top: 75px;
}

.header-minicart .block-subtitle {
    color: #28448c;
}

.nav-primary li.level0 ul {
    padding: 0;
    background: #22376d none repeat scroll 0 0;
}

.nav-primary li.level1 a {
    padding: 0 14px;
}

.nav-primary li.level1 ul {
    left: 248px;
    top: -1px;
}

.nav-primary .nav-7 ul li ul,
.nav-primary .nav-8 ul li ul,
.nav-primary .nav-9 ul li ul,
.nav-primary .nav-10 ul li ul{
    left: -248px;
}

.page {
    overflow-x: hidden;
}

.container_12,
.no-effect-banner {
    margin: 0 auto;
    max-width: 1260px;
    padding: 0 30px;
}

.no-effect-banner div:nth-child(1), .no-effect-banner div:nth-child(3), .no-effect-banner div:nth-child(5) {
    float: left;
}

.no-effect-banner div:nth-child(2), .no-effect-banner div:nth-child(4), .no-effect-banner div:nth-child(6) {
    float: right;
}

.no-effect-banner div:nth-child(1), .no-effect-banner div:nth-child(3), .no-effect-banner div:nth-child(5) {
    float: left;
}

.no-effect-banner div:nth-child(2), .no-effect-banner div:nth-child(4), .no-effect-banner div:nth-child(6) {
    float: right;
}

.no-effect-banner div {
    margin: 0 0 10px;
}

.top-block-wrapper {
    clear: both;
    float: left;
    margin: 6px 0 20px;
    min-height: 35px;
    width: 100%;
}

.special-links {
    text-align: center;
}

.special-links li {
    line-height: 35px;
    margin: 0 8px;
    display: inline-block;
}

.special-links li strong {
    color: #da1b79;
}

.special-links li.link-with-bg {
    background: rgba(0, 0, 0, 0) url("/media/images/default/bg-special-links.png") no-repeat scroll 0 0;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    width: 435px;
}

.special-links li.link-with-bg a {
    color: #ffffff;
}

.footer_banner .no-effect-banner div {
    text-align: center;
    width: 33.33% !important;
}

.footer_banner .no-effect-banner div a, .footer_banner .no-effect-banner img {
    width: 98%;
}

.footer-content > div {
    float: left;
    width: 20%;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    .footer-content > div {
        width: 50%;
    }
}

@media screen and (max-width: 480px) {
    .footer-content > div {
        width: 100%;
    }
}
.footer-container h3 {
    color: #ffffff;
    font-size: 13px;
    margin: 38px 0 20px 0;
    text-transform: uppercase;
}

.custom-footer-content,
.custom-footer-content a {
    color: #ffffff;
    font-size: 12px;
    text-transform: none;
}
.footer-container ul li a {
    line-height: 25px;
    text-decoration: none;
}

.footer-container {
    clear: both;
    background: rgba(0, 0, 0, 0) url("/media/images/default/faixa-footer.png") no-repeat scroll 50% 0;
    height: 226px;
}

.products-list .button.btn-cart,
.products-grid .button.btn-cart {
    width: 100%;
}

#header-nav #nav a span, .nav-primary a span, .nav-primary li.level0 > a span {
    color: #FFF;
}

.footer-container::before {
    background-color: #1d2e5b;
    content: " ";
    height: 100%;
    left: -50%;
    position: absolute;
    top: 0;
    width: 50%;
}

.footer-container::after {
    background-color: #1d2e5b;
    content: " ";
    height: 100%;
    right: -50%;
    position: absolute;
    top: 0;
    width: 50%;
}

#footer .a-center p {
    color: #22376d;
    font-size: 13px;
    font-weight: 600;
}

.stripe-seals > div {
    float: left;
    width: 25%;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    .stripe-seals > div {
        width: 50%;
    }
}

@media screen and (max-width: 480px) {
    .stripe-seals > div {
        width: 100%;
    }
}

.custom-footer-flags-title::after {
    content: ": ";
}

.custom-footer-flags-title {
    color: #22376d;
    display: inline-block;
    font-family: "Open Sans",Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 0 0 15px 0;
    padding: 0 15px 0 0;
}

.bandeiras li {
    display: inline-block;
    margin-right: 3px;
    vertical-align: middle;
    background: rgba(0, 0, 0, 0) url("../images/footer_link_divider.gif") no-repeat scroll right 7px;
    float: left;
    padding: 0 10px 0 8px;
}


.footer-flags .coluna:nth-child(1) {
    padding-left: 4%;
}
.footer-flags .coluna {
    float: left;
    padding-left: 1%;
    width: 33%;
}

.footer-flags {
    clear: both;
    float: left;
    margin: 20px 0 10px;
    width: 100%;
}

/* Clears */
.footer-content:after,
.page-header:after { display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }

/* Responsive */
@media screen and (min-width: 1280px) {

}

@media screen and (max-width: 1280px) {

}

@media screen and (min-width: 771px) and (max-width: 1268px) {
    .nav-primary a.level0, .nav-primary a.level-top {
        padding: 0 15px;
    }
}

@media screen and (min-width: 978px) and (max-width: 1279px) {

}

@media screen and (min-width: 768px) and (max-width: 770px) {
    .container_12,
    .no-effect-banner {
        width: 100%;
    }

    .skip-links {
        clear: both;
    }

    .page-header {
        display: block;
    }

    .logo .small {
        display: inline-block;
        max-width: 80%;
        padding: 25px 0;
    }

    .logo {
        text-align: center;
        width: 100%;
    }

    .skip-nav,
    .skip-link {
        width: 25%;
    }

    .header-minicart {
        float: left;
        width: 25%;
        margin: 0;
    }

    .skip-link .icon {
        display: inline-block;
    }

    .skip-cart {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        padding: 0;
        width: 100%;
    }

    .mini-cart-subtotal, .mini-cart-itens a {
        display: none;
    }

    header#header .links {
        width: 100%;
    }

    header#header .links li {
        width: 50%;
        text-align: center;
    }

    .atendimento-topo {
        max-width: inherit;
        text-align: center;
        width: 100%;
    }

    .atendimento-topo a {
        display: inline-block;
    }

    .special-links li.link-with-bg {
        width: 100%;
        background-repeat: repeat-y;
    }

    .stripe-seals > div, .stripe-seals a, .stripe-seals img {
        display: inline-block;
        width: 100%;
    }

    .no-effect-banner div, .no-effect-banner div img {
        width: 100%;
    }

    .block-related > li, .products-grid > li {
        width: 100%;
        margin: 0;
    }

    .footer-container {
        background: #22376d none repeat scroll 0 0;
        height: auto;
        margin-bottom: 10px;
    }

    .footer_banner .no-effect-banner div {
        width: 100%!important;
    }

    #header-search {
        width: 100%;
        margin: 0;
    }

    #header-cart.skip-active {
        left: 0;
        position: absolute;
        top: 179px;
        width: 100%;
    }

    .atendimento-topo,
    .top-block-wrapper {
        display: none;
    }

    .no-effect-banner {
        margin: 20px 0;
    }

    header#header .links {
        display: none;
    }

    header#header .skip-content .links {
        display: inline-block;
    }

    #header-nav::after,
    #header-nav::before {
        display: none;
    }

    .nav-primary {
        display: block;
    }

    .nav-primary li.level0 {
        display: inline-block;
    }

    .nav-primary li.level0 {
        width: 100%;
        margin: 12px 0;
    }

    .no-touch #header-account a:hover, .no-touch .nav-primary a:hover {
        background-color: transparent;
    }

    #header-account li a, .nav-primary a.level0 {
        text-align: center;
    }

    header#header .links li {
        text-align: center;
        width: 100%;
    }

    .no-effect-banner > div, .no-effect-banner > img {
        height: auto !important;
        width: 100% !important;
    }

    .block-related > li, .products-grid > li {
        margin: 0;
        width: 46%;
    }

    .block-related > li:nth-child(2n+1),
    .products-grid > li:nth-child(2n+1) {
        clear: none;
    }

    .block-related > li:nth-child(2n+1),
    .products-grid > li:nth-child(2n+1) {
        clear: left;
    }

    .block-related > li:nth-child(3n+1), .products-grid > li:nth-child(3n+1) {
        clear: none;
    }

    .block-related > li:nth-child(2n+1), .products-grid > li:nth-child(2n+1) {
        clear: left;
        margin-right: 3.7037%;
    }

    .block-related > li:nth-child(3n), .products-grid > li:nth-child(3n) {
        margin-right: 3.7037%;
    }

    .footer-content > div {
        width: 50%;
    }

    .footer-flags .coluna {
        width: auto;
        padding-left: 11px;
    }

    .footer-flags .coluna:nth-child(1) {
        padding-left: 10px;
        width: auto;
    }

}

@media screen and (max-width: 767px) {
    .container_12,
    .no-effect-banner {
        width: 100%;
    }

    .skip-links {
        clear: both;
    }

    .page-header {
        display: block;
    }

    .logo .small {
        display: inline-block;
        max-width: 80%;
        padding: 25px 0;
    }

    .logo {
        text-align: center;
        width: 100%;
    }

    .skip-nav,
    .skip-link {
        width: 25%;
    }

    .header-minicart {
        float: left;
        width: 25%;
        margin: 0;
    }

    .skip-link .icon {
        display: inline-block;
    }

    .skip-cart {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        padding: 0;
        width: 100%;
    }

    .mini-cart-subtotal, .mini-cart-itens a {
        display: none;
    }

    header#header .links {
        width: 100%;
    }

    header#header .links li {
        width: 50%;
        text-align: center;
    }

    .atendimento-topo {
        max-width: inherit;
        text-align: center;
        width: 100%;
    }

    .atendimento-topo a {
        display: inline-block;
    }

    .special-links li.link-with-bg {
        width: 100%;
        background-repeat: repeat-y;
    }

    .stripe-seals > div, .stripe-seals a, .stripe-seals img {
        display: inline-block;
        width: 100%;
    }

    .no-effect-banner div, .no-effect-banner div img {
        width: 100%;
    }

    .block-related > li, .products-grid > li {
        width: 100%;
        margin: 0;
    }

    .footer-container {
        background: #22376d none repeat scroll 0 0;
        height: auto;
        margin-bottom: 10px;
    }

    .footer_banner .no-effect-banner div {
        width: 100%!important;
    }

    #header-search {
        width: 100%;
        margin: 0;
    }

    #header-cart.skip-active {
        left: 0;
        position: absolute;
        top: 162px;
        width: 100%;
    }

    .atendimento-topo,
    .top-block-wrapper {
        display: none;
    }

    .no-effect-banner {
        margin: 20px 0;
    }

    header#header .links {
        display: none;
    }

    header#header .skip-content .links {
        display: inline-block;
    }

    #header-nav::after,
    #header-nav::before {
        display: none;
    }

    .nav-primary {
        display: block;
    }

    .nav-primary li.level0 {
        display: inline-block;
    }

    .nav-primary li.level0 {
        width: 100%;
        margin: 12px 0;
    }

    .no-touch #header-account a:hover, .no-touch .nav-primary a:hover {
        background-color: transparent;
    }

    #header-account li a, .nav-primary a.level0 {
        text-align: center;
    }

    header#header .links li {
        text-align: center;
        width: 100%;
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) { }

@media screen and (min-width: 771px) and (max-width: 1023px) {
    .container_12,
    .no-effect-banner {
        width: 100%;
    }

    .skip-links {
        clear: both;
    }

    .page-header {
        display: block;
    }

    .logo .small {
        display: inline-block;
        max-width: 80%;
        padding: 25px 0;
    }

    .logo .large {
        display: none;
    }

    .logo {
        text-align: center;
        width: 100%;
    }

    .skip-nav,
    .skip-link {
        width: 25%;
    }

    .header-minicart {
        float: left;
        width: 25%;
        margin: 0;
    }

    .skip-link .icon {
        display: inline-block;
    }

    .skip-cart {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        padding: 0;
        width: 100%;
    }

    .mini-cart-subtotal, .mini-cart-itens a {
        display: none;
    }

    header#header .links {
        width: 100%;
    }

    header#header .links li {
        width: 50%;
        text-align: center;
    }

    .atendimento-topo {
        max-width: inherit;
        text-align: center;
        width: 100%;
    }

    .atendimento-topo a {
        display: inline-block;
    }

    .special-links li.link-with-bg {
        width: 100%;
        background-repeat: repeat-y;
    }

    .stripe-seals > div, .stripe-seals a, .stripe-seals img {
        display: inline-block;
        width: 100%;
    }

    .no-effect-banner div, .no-effect-banner div img {
        width: 100%;
    }

    .block-related > li, .products-grid > li {
        width: 100%;
        margin: 0;
    }

    .footer-container {
        background: #22376d none repeat scroll 0 0;
        height: auto;
        margin-bottom: 10px;
    }

    .footer_banner .no-effect-banner div {
        width: 100%!important;
    }

    #header-search {
        width: 100%;
        margin: 0;
    }

    #header-cart.skip-active {
        left: 0;
        position: absolute;
        top: 179px;
        width: 100%;
    }

    .atendimento-topo,
    .top-block-wrapper {
        display: none;
    }

    .no-effect-banner {
        margin: 20px 0;
    }

    header#header .links {
        display: none;
    }

    header#header .skip-content .links {
        display: inline-block;
    }

    #header-nav::after,
    #header-nav::before {
        display: none;
    }

    .nav-primary {
        display: block;
    }

    .nav-primary li.level0 {
        display: inline-block;
    }

    .nav-primary li.level0 {
        width: 100%;
        margin: 12px 0;
    }

    .no-touch #header-account a:hover, .no-touch .nav-primary a:hover {
        background-color: transparent;
    }

    #header-account li a, .nav-primary a.level0 {
        text-align: center;
    }

    header#header .links li {
        text-align: center;
        width: 100%;
    }

    .no-effect-banner > div, .no-effect-banner > img {
        height: auto !important;
        width: 100% !important;
    }

    .block-related > li, .products-grid > li {
        margin: 0;
        width: 46%;
    }

    .block-related > li:nth-child(2n+1),
    .products-grid > li:nth-child(2n+1) {
        clear: none;
    }

    .block-related > li:nth-child(2n+1),
    .products-grid > li:nth-child(2n+1) {
        clear: left;
    }

    .block-related > li:nth-child(3n+1), .products-grid > li:nth-child(3n+1) {
        clear: none;
    }

    .block-related > li:nth-child(2n+1), .products-grid > li:nth-child(2n+1) {
        clear: left;
        margin-right: 3.7037%;
    }

    .block-related > li:nth-child(3n), .products-grid > li:nth-child(3n) {
        margin-right: 3.7037%;
    }

    .footer-content > div {
        width: 50%;
    }

    .footer-flags .coluna {
        width: auto;
        padding-left: 11px;
    }

    .footer-flags .coluna:nth-child(1) {
        padding-left: 10px;
        width: auto;
    }
}

@media screen and (max-width: 480px) { }

@media screen and (min-width: 1024px) and (max-width: 1233px) {
    .atendimento-topo {
        display: none;
    }
}

/* Alteração Fernando */
a.link-boleto {
    display: block !important;
    width: 430px !important;
    margin: 25px auto !important;
}

.catalog-product-view .desconto-boleto {
    background: #DA1B79;
    padding: 10px;
    color: #FFFFFF !important;
    width: 244px;
    text-align: center;
    margin-top: 25px;
    font-weight: bold;
}

.catalog-product-view .desconto-boleto span#preco-boleto {
    color: #FFFFFF !important;
}

.catalog-product-view .product-view .price-box .regular-price .price,
.catalog-product-view .product-view .price-box .special-price .price {
    font-size: 30px;
}


p.confirm_ajax_cart {
    width: 400px !important;
    color: #FFF !important;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 15px !important;
    text-align: center;
    line-height: 20px;
}

.header-minicart .mini-products-list li {
    border: none;
}

#header-cart.skip-active {
    box-shadow: 3px 8px 18px rgb(160, 160, 160);
}