/*Grid Overide */
.container_12,
#newsletter-validate-detail-footer {
    width:1167px;
    margin:0 auto;
}



.container_12 .grid_3 { width: 271px; }
.container_12 .grid_4 { width: 299px; }
.container_12 .grid_6 { width: 560px; }
.container_12 .grid_9 { width: 855px; }
.container_12 .grid_12 { width: 1147px; }


/* Default Elements */
button.button > span,
.ratings .rating-links { background-color:#00306d; }

/*  Header */
header#header > .container_12 { display:table; }
#header .top-container { padding-top: 0; }
header#header .logo { margin-left:0 !important; margin-top: 10px; float:left; }

#header .top-cart { float: left; margin: 0; }

/* Menu Global*/
header#header .header-wrapper,
header#header .header-wrapper.menu-over {
    background: url('/media/images/default/faixa-menu-centralizada.png') 50% 0 no-repeat;
    min-height: 72px;
    margin-top:20px;
}
#nav > li.over > a { background-color:#28458c; }

/* special-links */
.top-block-wrapper { min-height:35px; margin: 6px 0 20px;}
.special-links {  text-align:center; }
.special-links li { margin:0 8px; line-height: 35px; }
.special-links li strong { color:#da1b79; }
.special-links li.link-with-bg { background: url('/media/images/default/bg-special-links.png') 0 0 no-repeat; font-weight: bold; text-transform: uppercase; color: #FFF; text-align: center; width: 435px; }
.special-links li.link-with-bg a { color:#fff; }
/* Widgets */
.grid.default .title { background:none; }
.grid.default .title h3 { text-indent: 0; color: #f38123; font-size: 16px; border-bottom: solid 1px #f38123; font-weight: normal; }
.products-grid .product-name,
.grid .product-name { text-align:left; }
.widget-grid li.item { padding-bottom: 35px; border-bottom: solid 1px #e0dede; }

/* Border Radius */
button.button > span,
#header .top-cart .block-title,
#header .top-news a  { border-radius:3px;  }

/* Links Topo*/
#header .links { float:left; }

/* Carrinho Topo */
#header .top-cart { float:right; }
#header .top-cart .block-content { padding: 0 0 0 44px; background: #FFF url('/media/images/default/cart-icon.png') no-repeat 10px 50%; font-size: 12px; }

/* Content */
.col-main.main-left { float:right; }
.content-wrapper .main-container { padding:15px 0 30px; }

/* Newsletter Topo */
#header .top-news a { background-color:#00306d; color:#FFF }
#header .top-news a.active { background-color:#f38123; }

#header .top-news #formNewsTop {
    -webkit-box-shadow: 1px 2px 0px 0px rgba(218, 218, 218, 1);
    -moz-box-shadow: 1px 2px 0px 0px rgba(218, 218, 218, 1);
    box-shadow: 1px 2px 0px 0px rgba(218, 218, 218, 1);
}

#header .beneficios {
    margin: 20px 0;
    background-color: #F1F1F1;
    height: 70px;
    clear: both;
    display:block;
}
body:not(.cms-home) #header .beneficios {  display:none; }

/* Banners Principais - Home */
.no-effect-banner:after { content:" "; clear:both; display:table; }
.no-effect-banner div { margin:0 0 10px; }
.no-effect-banner div:nth-child(1),
.no-effect-banner div:nth-child(3),
.no-effect-banner div:nth-child(5) { float:left; }

.no-effect-banner div:nth-child(2),
.no-effect-banner div:nth-child(4),
.no-effect-banner div:nth-child(6) { float:right }

/* Detalhes */
.product-view .product-collateral ul { margin:0; padding:0; }

/*Carrinho de Compras */
.checkout-cart-index #header { height:100px; }
.checkout-cart-index .content-wrapper { background:#FFF; }
.checkout-cart-index #footer .icons { border:none; padding-top:0; }
.checkout-cart-index #header .phone { padding-top:35px; font-size:1.5em}
.checkout-cart-index #header .phone .fa { font-size: 1.3em; line-height: 0.8em; }
.checkout-cart-index #footer #formNewsFooter,
.checkout-cart-index #footer .grid_6,
.checkout-cart-index #footer .grid_3 { display:none; }
button.btn-proceed-checkout span,
.cart .cart-collaterals.standard .totals button.button span  { padding:10px 25px; }
.cart .cart-collaterals.standard .totals button.button span span { padding:0 15px; }

/* Checkout */
.checkout-onepage-index #header { height:100px; }
.checkout-onepage-index .content-wrapper { background:#FFF; }
.checkout-onepage-index #footer .icons { border:none; padding-top:0; }
.checkout-onepage-index #header .phone { padding-top:35px; font-size:1.5em}
.checkout-onepage-index #header .phone .fa { font-size: 1.3em; line-height: 0.8em; }
.checkout-onepage-index #footer #formNewsFooter,
.checkout-onepage-index #footer .grid_6,
.checkout-onepage-index #footer .grid_3 { display:none; }
.checkout-onepage-index button.btn-checkout span  { padding:10px 25px; }
.checkout-onepage-index button.btn-checkout span span { padding:0 15px; }

/* footer */
#footer  { background:none; }
#footer .footer-container { background:url('/media/images/default/faixa-footer.png') 50% 0 no-repeat; height:226px; }
#footer h3 { margin: 38px 0 20px 20px; color: #FFF; text-transform: none; font-size: 13px;}
#footer .custom-footer-content { text-align:left; }
#footer .custom-footer-content,
#footer .custom-footer-content a { color:#fff; text-transform: none; padding-left: 20px; font-size: 12px;}
#footer .custom-footer-content a { padding:0; }
#footer .custom-footer-content ul.custom-links li:before { display:none }

/* Banners Rodapé */
.footer_banner { padding: 15px 0 40px; }
.footer_banner .no-effect-banner div { width: 33.33% !important; text-align: center; }

/* Bandeiras */
.footer-flags {
    margin: 0 auto;
}
.footer-flags .coluna { float:left; width:370px; padding-left:15px; }
.footer-flags .coluna:nth-child(1) { padding-left: 95px; }
.footer-flags .coluna:nth-child(3) { float:right; width: 288px; }

.custom-footer-flags-title {
    color: #22376d;
    display: inline;
    display: inline-block;
    font-weight: bold;
    margin: 0;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding: 0 15px 0 0;
}
.custom-footer-flags-title:after {
    content: "\: ";
}

.bandeiras {
    padding: 0;
    display: inline;
    display: inline-block;
    vertical-align: middle;
}
.bandeiras li {
    display: inline;
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
}

#footer .a-center p {
    color: #22376d;
    font-weight: 600;
    font-size: 13px;
}

/* Lista de Presentes */
.event_date { width:96% }
.col-main p {
    clear: both;
}
.cart .cart-collaterals-block.totals { width: 475px; }
.btn-gift-registry .input-box {
    float: left;
    line-height: 36px;
}

.btn-gift-registry  {
    border: dotted 1px #DA1B79;
    padding:8px;
}
.btn-gift-registry button.button > span {
    padding:0 !important;
    background:none;
}
.btn-gift-registry button.button > span > span {
    background-color: #DA1B79;
    padding: 0px 13px !important;
    font-size: 11px !important;
}
.data-table a.product-image {
    border:none;
    padding:0;
    /*width:auto;*/
}
.data-table .product-name a {
    line-height: auto;
    font-size: inherit;
}
.data-table td {
    padding: 8px;
}
.btn-wedding {
    float: right;
    margin-left: 20px;
}