a.link-boleto {
    display: block;
    margin: 0 auto;
    width: 420px;
    margin-top: 10px;
}

.block-layered-nav--no-filters .block-title {
    color: #343434;
    font-size: 12px;
    font-family: "roboto-light";
    background: url("../../wysiwyg/i_cat-seta-diereita.png") no-repeat scroll 8px center;
    background-color: #f2f2f2;
    display: block;
    padding: 6px 0 5px 35px;
    border: none;
}

.block-layered-nav--no-filters .block-title strong {
    font-weight: normal;
    color: #343434;
}

.nav_vert li {
    text-transform: none;
    background: url("../../wysiwyg/i_sub-cat-seta-baixo.png") no-repeat scroll left center;
}

.nav_vert li a {
    text-transform: none;
}

.nav_vert li a,
#narrow-by-list dt,
.block-layered-nav dl ol > li > a,
.block-layered-nav--no-filters .block-title strong {
    color: #343434;
}

.limiter select,
.sort-by select {
    min-width: 50px;
}

.is-sticky #custommenu {
    margin-top: 0;
}

.search-autocomplete {
    z-index: 10000;
}

.search-autocomplete ul li {
    color: #343434;
}

.search-autocomplete ul {
    border-color: #ff532b;
}

.search-autocomplete::before {
    border-bottom-color: #ff532b;
}

.search-autocomplete ul li.selected {
    background-color: #FFF;
    color: #343434;
}

#header-cart.skip-active {
	z-index: 99999;
}