<div class="home-banners">
    <div class="banner banner-p">{{widget type="banner/widget" group="home_top_left" template="unibanner/widget.phtml"}}</div>
    <div class="banner banner-g">{{widget type="banner/widget" group="home_top_right" template="unibanner/widget.phtml"}}</div>
    <div class="banner banner-g">{{widget type="banner/widget" group="home_bottom_left" template="unibanner/widget.phtml"}}</div>
    <div class="banner banner-p">{{widget type="banner/widget" group="home_bottom_right" template="unibanner/widget.phtml"}}</div>
</div>
<div class="faixa-promo">
    <ul style="width: 100%; list-style: none; margin: 0 0 20px 0; float: left;">
        <li style="width: 25%; float: left; text-align: center;"><img style="display: inline-block;" src="{{media url="wysiwyg/boleto.png"}}" alt="" /></li>
        <li style="width: 25%; float: left; text-align: center;"><img style="display: inline-block;" src="{{media url="wysiwyg/parcelamento.png"}}" alt="" /></li>
        <li style="width: 25%; float: left; text-align: center;"><img style="display: inline-block;" src="{{media url="wysiwyg/frete.png"}}" alt="" /></li>
        <li style="width: 25%; float: left; text-align: center;"><img style="display: inline-block;" src="{{media url="wysiwyg/seguranca.png"}}" alt="" /></li>
    </ul>
</div>
<div class="vitrine-titulo" style="text-align: center; margin: 15px 0 25px 0;"><img style="display: inline-block;" src="{{media url="wysiwyg/ajudaluciano.png"}}" alt="" /></div>
<div class="vitrine-produtos">
    <div class="vitrine">{{widget type="cmswidgets/category" title="Lançamentos" featured_category="category/182" products_amount="8" column_count="4" template="signativa/cmswidgets/category.phtml" slider="1" cache_lifetime="3600"}}</div>
    <div class="vitrine">{{widget type="cmswidgets/category" title="Os mais desejados" featured_category="category/182" products_amount="8" column_count="4" template="signativa/cmswidgets/category.phtml" cache_lifetime="3600"}}</div>
    <div class="vitrine">{{widget type="cmswidgets/category" title="Descontos Especiais" featured_category="category/182" products_amount="8" column_count="4" template="signativa/cmswidgets/category.phtml" cache_lifetime="3600"}}</div>
</div>