<?php
$_productCollection = $this->getMyCollection();
$_helper = $this->helper('catalog/output');
$_columnCount = $this->getColumnCount();
?>
<section class="widget category-products">
    <header class="centered-title">
        <h1><?php echo $this->getTitle();?></h1>
        <div class="bx-slider-controls-runner" data-title="<?php echo $this->getTitle(); ?>">
        </div>
    </header>
    <div class="category-products-slider-container">
        <ul class="category-products-slider products-grid products-grid--max-<?php echo $_columnCount;?>-col" data-slider="<?php echo $this->getTitle(); ?>">
            <?php foreach ($_productCollection as $_product): ?>
                <?php $_productNameStripped = $this->stripTags($_product->getName(), null, true); ?>
                <li class="item">
                    <div class="product-image-container">
                        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
                            <?php $_imgSize = 260; ?>
                            <img id="product-collection-image-<?php echo $_product->getId(); ?>"
                                 src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($_imgSize,$_imgSize); ?>"
                                 alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
                        </a>

                        <div class="related-overlay">
                            <?php
                            // Get related products
                            $relatedProductsIds = $_product->getRelatedProductIds();
                            ?>

                            <?php if (count($relatedProductsIds) > 0): // If there are related products... ?>
                                <ul class="products-grid-related-products">
                                    <?php
                                    $i = 0;
                                    foreach ($relatedProductsIds as $relatedProductId): ?>
                                        <?php
                                        $object = Mage::getModel('catalog/product');

                                        if($i == 3 && count($relatedProductsIds) > 4) {
                                            echo "<li class='item'><span class='more-colors'><span class='plus'>".$this->__('+ cores')."</span><span class='minus'>".$this->__('- cores')."</span></span></li>";
                                        }

                                        $relatedProduct = $object->load($relatedProductId);
                                        $imgUrl = Mage::helper('catalog/image')->init($relatedProduct, 'small_image')->resize(50,40);
                                        $url = $relatedProduct->getProductUrl();
                                        $name = $relatedProduct->getName();
                                        ?>
                                        <li class="item">
                                            <a class="product-image related-product-image" href="<?php echo $url ?>" title="<?php echo $name ?>">
                                                <img src="<?php echo $imgUrl ?>" alt="<?php echo $name ?>" title="<?php echo $name ?>" />
                                            </a>
                                        </li>
                                        <?php
                                        $i++;
                                    endforeach; ?>
                                </ul>
                            <?php endif ?>
                        </div>
                    </div>

                    <div class="product-info">
                        <a class="product-name" href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_product->getName(); ?></a>

                        <div class="price-info">
                            <?php echo $this->getPriceHtml($_product, true) ?>
                            <?php echo Mage::helper('parcelamento')->showMaxParcelas($_product,'categoria'); ?>
                        </div>
                    </div>

                    <div class="actions">
                        <?php if($_product->isSaleable()): ?>
                            <div class="actions-buttons">
                                <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                                <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                    <a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="button btn-wishlist"><span class="icon"></span><span class="text visuallyhidden"><?php echo $this->__('Add to Wishlist') ?></span></a>
                                <?php endif; ?>
                            </div>
                        <?php else: ?>
                            <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                        <?php endif; ?>
                    </div>
                </li>
            <?php endforeach; ?>
        </ul>
    </div>
    <script type="text/javascript">decorateGeneric($$('ul.products-grid li.item'), ['odd','even','first','last'])</script>

    <script>
        $j(document).ready( function () {
            if ( $j(window).width() > (bp.medium + 1) ) {
                if ( $j('[data-slider="<?php echo $this->getTitle(); ?>"] li').length > 4 ) {
                    $j('[data-title="<?php echo $this->getTitle(); ?>"]').html('<div class="bx-prev"></div><div class="bx-next"></div>')

                    $j('[data-slider="<?php echo $this->getTitle(); ?>"]').bxSlider({
                        auto: false,
                        pager: false,
                        controls: true,
                        minSlides: 1,
                        maxSlides: 4,
                        slideMargin: 30,
                        slideWidth: 260,
                        infiniteLoop: false,
                        nextText: "",
                        prevText: "",
                        prevSelector: "[data-title='<?php echo $this->getTitle(); ?>'] .bx-prev",
                        nextSelector: "[data-title='<?php echo $this->getTitle(); ?>'] .bx-next"
                    })
                }
            }
        });
    </script>
    <script type="text/javascript">
        jQuery(document).ready(function(){
            jQuery(".products-grid .item .products-grid-related-products .more-colors").click(function(){
                if(jQuery(this).parent().parent().hasClass("show-more")){
                    jQuery(this).parent().parent().removeClass("show-more");
                    jQuery(this).removeClass("show-more");
                } else {
                    jQuery(this).parent().parent().addClass("show-more");
                    jQuery(this).addClass("show-more");
                }
            });
        });
    </script>
</section>
