a.link-boleto {
    width: 425px;
    margin: 30px auto;
    display: block;
}

/* steps */
.ui-content .step {
    display:none;
}
.ui-content .active {
    display:block;
}

.category-encontre-o-tenis-ideal .col-main { width: 100%; }
.category-encontre-o-tenis-ideal .col-left { display: none; }
.form-list #onestepcheckout-billing-address-list .control label {
    min-width: 35%;
    background: none transparent;
}

.form-list #onestepcheckout-billing-address-list .control .radio {
    margin-right: 0;
}

.header-minicart .minicart-actions .checkout-types {
    float: left;
    width: 50%;
}

.header-minicart .minicart-actions .cart-link {
    bottom: inherit;
    float: left;
    font-size: 12px;
    height: 47px;
    left: inherit;
    line-height: 54px;
    position: relative;
    text-align: center;
    width: 50%;
}

.account-create .control.fields.tipopessoa .field {
    float: left;
}

.pager {
    position: relative;
}

.block.block-reorder {
    display: none;
}

a.link-boleto {
    width: 425px;
    margin: 30px auto;
    display: block;
}

/* steps */
.ui-content .step {
    display:none;
}
.ui-content .active {
    display:block;
}

.category-encontre-o-tenis-ideal .col-main { width: 100%; }
.category-encontre-o-tenis-ideal .col-left { display: none; }
.form-list #onestepcheckout-billing-address-list .control label {
    min-width: 35%;
    background: none transparent;
}

.form-list #onestepcheckout-billing-address-list .control .radio {
    margin-right: 0;
}

.header-minicart .minicart-actions .checkout-types {
    float: left;
    width: 50%;
}

.header-minicart .minicart-actions .cart-link {
    bottom: inherit;
    float: left;
    font-size: 12px;
    height: 47px;
    left: inherit;
    line-height: 54px;
    position: relative;
    text-align: center;
    width: 50%;
}

.account-create .control.fields.tipopessoa .field {
    float: left;
}

.pager {
    position: relative;
}

.block.block-reorder {
    display: none;
}

/*
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
/* display none until init */
.owl-carousel{
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
    overflow: hidden;
    position: relative;
    width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item{
    float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
    cursor: pointer;
}
.owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing {
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
}

/*
* 	Owl Carousel Owl Demo Theme
*	v1.3.3
*/

.owl-theme .owl-controls{
    margin-top: 10px;
    text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
    color: #FFF;
    display: inline-block;
    zoom: 1;
    *display: inline;/*IE7 life-saver */
    margin: 5px;
    padding: 3px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background: #869791;
    filter: Alpha(Opacity=50);/*IE7 fix*/
    opacity: 0.5;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
    filter: Alpha(Opacity=100);/*IE7 fix*/
    opacity: 1;
    text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
    display: inline-block;
    zoom: 1;
    *display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);/*IE7 fix*/
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
    filter: Alpha(Opacity=100);/*IE7 fix*/
    opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
    height: auto;
    width: auto;
    color: #FFF;
    padding: 2px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
    min-height: 150px;
    background: url(AjaxLoader.gif) no-repeat center center
}

/*
 *  Owl Carousel CSS3 Transitions
 *  v1.3.2
 */

.owl-origin {
    -webkit-perspective: 1200px;
    -webkit-perspective-origin-x : 50%;
    -webkit-perspective-origin-y : 50%;
    -moz-perspective : 1200px;
    -moz-perspective-origin-x : 50%;
    -moz-perspective-origin-y : 50%;
    perspective : 1200px;
}
/* fade */
.owl-fade-out {
    z-index: 10;
    -webkit-animation: fadeOut .7s both ease;
    -moz-animation: fadeOut .7s both ease;
    animation: fadeOut .7s both ease;
}
.owl-fade-in {
    -webkit-animation: fadeIn .7s both ease;
    -moz-animation: fadeIn .7s both ease;
    animation: fadeIn .7s both ease;
}
/* backSlide */
.owl-backSlide-out {
    -webkit-animation: backSlideOut 1s both ease;
    -moz-animation: backSlideOut 1s both ease;
    animation: backSlideOut 1s both ease;
}
.owl-backSlide-in {
    -webkit-animation: backSlideIn 1s both ease;
    -moz-animation: backSlideIn 1s both ease;
    animation: backSlideIn 1s both ease;
}
/* goDown */
.owl-goDown-out {
    -webkit-animation: scaleToFade .7s ease both;
    -moz-animation: scaleToFade .7s ease both;
    animation: scaleToFade .7s ease both;
}
.owl-goDown-in {
    -webkit-animation: goDown .6s ease both;
    -moz-animation: goDown .6s ease both;
    animation: goDown .6s ease both;
}
/* scaleUp */
.owl-fadeUp-in {
    -webkit-animation: scaleUpFrom .5s ease both;
    -moz-animation: scaleUpFrom .5s ease both;
    animation: scaleUpFrom .5s ease both;
}

.owl-fadeUp-out {
    -webkit-animation: scaleUpTo .5s ease both;
    -moz-animation: scaleUpTo .5s ease both;
    animation: scaleUpTo .5s ease both;
}
/* Keyframes */
/*empty*/
@-webkit-keyframes empty {
    0% {opacity: 1}
}
@-moz-keyframes empty {
    0% {opacity: 1}
}
@keyframes empty {
    0% {opacity: 1}
}
@-webkit-keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:1; }
}
@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes fadeOut {
    0% { opacity:1; }
    100% { opacity:0; }
}
@-moz-keyframes fadeOut {
    0% { opacity:1; }
    100% { opacity:0; }
}
@keyframes fadeOut {
    0% { opacity:1; }
    100% { opacity:0; }
}
@-webkit-keyframes backSlideOut {
    25% { opacity: .5; -webkit-transform: translateZ(-500px); }
    75% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); }
    100% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); }
}
@-moz-keyframes backSlideOut {
    25% { opacity: .5; -moz-transform: translateZ(-500px); }
    75% { opacity: .5; -moz-transform: translateZ(-500px) translateX(-200%); }
    100% { opacity: .5; -moz-transform: translateZ(-500px) translateX(-200%); }
}
@keyframes backSlideOut {
    25% { opacity: .5; transform: translateZ(-500px); }
    75% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
    100% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
}
@-webkit-keyframes backSlideIn {
    0%, 25% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(200%); }
    75% { opacity: .5; -webkit-transform: translateZ(-500px); }
    100% { opacity: 1; -webkit-transform: translateZ(0) translateX(0); }
}
@-moz-keyframes backSlideIn {
    0%, 25% { opacity: .5; -moz-transform: translateZ(-500px) translateX(200%); }
    75% { opacity: .5; -moz-transform: translateZ(-500px); }
    100% { opacity: 1; -moz-transform: translateZ(0) translateX(0); }
}
@keyframes backSlideIn {
    0%, 25% { opacity: .5; transform: translateZ(-500px) translateX(200%); }
    75% { opacity: .5; transform: translateZ(-500px); }
    100% { opacity: 1; transform: translateZ(0) translateX(0); }
}
@-webkit-keyframes scaleToFade {
    to { opacity: 0; -webkit-transform: scale(.8); }
}
@-moz-keyframes scaleToFade {
    to { opacity: 0; -moz-transform: scale(.8); }
}
@keyframes scaleToFade {
    to { opacity: 0; transform: scale(.8); }
}
@-webkit-keyframes goDown {
    from { -webkit-transform: translateY(-100%); }
}
@-moz-keyframes goDown {
    from { -moz-transform: translateY(-100%); }
}
@keyframes goDown {
    from { transform: translateY(-100%); }
}

@-webkit-keyframes scaleUpFrom {
    from { opacity: 0; -webkit-transform: scale(1.5); }
}
@-moz-keyframes scaleUpFrom {
    from { opacity: 0; -moz-transform: scale(1.5); }
}
@keyframes scaleUpFrom {
    from { opacity: 0; transform: scale(1.5); }
}

@-webkit-keyframes scaleUpTo {
    to { opacity: 0; -webkit-transform: scale(1.5); }
}
@-moz-keyframes scaleUpTo {
    to { opacity: 0; -moz-transform: scale(1.5); }
}
@keyframes scaleUpTo {
    to { opacity: 0; transform: scale(1.5); }
}
/*
* 	Owl Carousel Owl Demo Theme
*	v1.3.3
*/

.owl-theme .owl-controls{
    margin-top: 10px;
    text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
    color: #FFF;
    display: inline-block;
    zoom: 1;
    *display: inline;/*IE7 life-saver */
    margin: 5px;
    padding: 3px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background: #869791;
    filter: Alpha(Opacity=50);/*IE7 fix*/
    opacity: 0.5;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
    filter: Alpha(Opacity=100);/*IE7 fix*/
    opacity: 1;
    text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
    display: inline-block;
    zoom: 1;
    *display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);/*IE7 fix*/
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
    filter: Alpha(Opacity=100);/*IE7 fix*/
    opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
    height: auto;
    width: auto;
    color: #FFF;
    padding: 2px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
    min-height: 150px;
    background: url(AjaxLoader.gif) no-repeat center center
}

.slider-marcas-container .owl-pagination {
    display: none;
}

.slider-marcas-container .owl-theme .owl-controls .owl-buttons div {
    position: absolute;
    margin: -13px 0 0;
    padding: 0;
    top: 50%;
    width: 26px;
    height: 26px;
    overflow: hidden;
    text-indent: -9999px;
    background: url(../../wysiwyg/setas-banner-circulo.png) 0 0 no-repeat;
}

.slider-marcas-container .owl-theme .owl-controls .owl-buttons .owl-prev {
    left: -31px;
    background-position: 0 0;
}

.slider-marcas-container .owl-theme .owl-controls .owl-buttons .owl-prev:hover {
    background-position: 0 -26px;
}

.slider-marcas-container .owl-theme .owl-controls .owl-buttons .owl-prev:active {
    background-position: 0 -52px;
}

.slider-marcas-container .owl-theme .owl-controls .owl-buttons .owl-next {
    right: -31px;
    background-position: -26px 0;
}

.slider-marcas-container .owl-theme .owl-controls .owl-buttons .owl-next:hover {
    background-position: -26px -26px;
}

.slider-marcas-container .owl-theme .owl-controls .owl-buttons .owl-next:active {
    background-position: -26px -52px;
}

/* Menu Refactor */
div.menu {
    padding: 29px 12px 15px;
    display: table-cell;
    float: none;
    width: auto;
}

#custommenu {
    display: table;
    width: 100%;
}

div.wp-custom-menu-popup {
    padding: 20px 15px;
    top: 58px!important;
}

.block1 {
    width: 100%;
    padding-top: 0;
}

div.column {
    width: 33%;
}

div.level1 {
    margin-bottom: 20px;
}

a.level1:link, a.level1:visited {
    margin-bottom: 5px;
}

a.level1:link::before,
a.level1:visited::before {
    display: none;
}

#popup59 a.level1:link,
#popup59 a.level1:visited {
    margin-bottom: 15px;
}

#popup59 a.level1:link::before,
#popup59 a.level1:visited::before {
    display: none;
}

.skip-cart {
    right: 6px;
}

.header-menu-side-container {
    float: right;
    margin-right: 54px;
}

.product-image-container .related-overlay {
    height:50px;
}

.wp-custom-menu-popup .itemMenu.level1 > a {
    font-weight: bold;
}

dl#checkout-payment-method-load dt label {
    width: 320px;
}

/* Product disable for purchase */
hr.amconf-hr {
    width: 35px!important;
    top: 17px!important;
    left: 1px!important;
    border-color: #ff6060;
}

hr.amconf-hr:after {
    content: " ";
    left: 16px;
    bottom: -17px;
    position: absolute;
    width: 2px;
    height: 34px;
    background-color: red;
    z-index: 2;
    display: none;
}

.amconf-image {
    display: inline-block;
    text-align: center;
    margin: 2px 0 -2px 0;
    border: none;
    height: 27px;
    line-height: 27px;
    width: 27px;
}

.amconf-image-selected {
    box-shadow: 0 0 0 4px #449E6A;
}

.amconf-image-container {
    min-width: 35px!important;
    min-height: 35px!important;
    border: 2px solid rgb(200, 200, 200);
    border-radius: 100%;
    text-align: center;
}

/* Destaque para links no checkout */
.checkout-onepage-success .col-main a {
    color: blue;
    text-decoration: underline;
}


.catalogsearch-result-index .block-layered-nav .block-content > dl > dt:nth-child(1),
.catalogsearch-result-index .block-layered-nav .block-content > dl > dd:nth-child(2) {
    display: none;
}

.header-menu-side-container { visibility: hidden; }

.products-grid .product-info {
    min-height: 122px!important;
}

.bx-wrapper .bx-next, .bx-slider-controls .bx-next {
    right: 14px;
    background-position: -31px -2px;
}

.bx-wrapper .bx-prev, .bx-slider-controls .bx-prev {
    left: 14px;
    background-position: -3px -2px;
}

.bx-wrapper .bx-next:hover,
.bx-wrapper .bx-next:focus,
.bx-slider-controls .bx-next:hover,
.bx-slider-controls .bx-next:focus,
.bx-wrapper .bx-next:active,
.bx-slider-controls .bx-next:active {
    background-position: -31px -62px;
}

.bx-wrapper .bx-prev:hover,
.bx-wrapper .bx-prev:focus,
.bx-slider-controls .bx-prev:hover,
.bx-slider-controls .bx-prev:focus,
.bx-wrapper .bx-prev:active,
.bx-slider-controls .bx-prev:active {
    background-position: -3px -62px;
}

.bx-wrapper .bx-pager.bx-default-pager a,
.bx-wrapper .bx-pager.bx-default-pager a:hover {
    background-color: #FFDF00;
}

.top-container .bx-wrapper .bx-controls-direction a {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    border: 2px solid #FFF;
    background-image: url(../../../skin/frontend/rwd/velocita/images/setas-banner-maior.png);
}

/* More colors */
.products-grid-related-products {
    height: 40px;
    overflow: hidden;
    transition: all ease-out 0.2s;
}

.widget .products-grid-related-products {
    height: 50px;
}

.products-grid-related-products .more-colors {
    min-height: 40px;
    line-height: 37px;
    display: inline-block;
    margin-left: 3px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.widget .products-grid-related-products .more-colors {
    min-height: 50px;
    line-height: 50px;
}

.products-grid-related-products .more-colors .minus {
    display: none;
}

.products-grid-related-products .more-colors.show-more .minus{
    display: inline-block;
}

.products-grid-related-products .more-colors.show-more .plus {
    display: none;
}

.product-image-container .related-overlay {
    position: relative;
}

.products-grid-related-products.show-more {
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #F5F5F5;
    z-index: 10;
    padding: 5px 0;
    border-radius: 4px;
}

.product-view .product-name .h1, .product-view .product-name h1 {
    margin-bottom: 0;
}

.product-view .product-essential .ratings {
    margin: 10px 0 16px 0;
}

.sorter > .view-mode .list {
    margin-right: 12px;
}

.bx-wrapper ul li {
    position: absolute;
}

.cms-index-index .footer-bar-background {
    display: block;
}

.footer-bar-background {
    display: none;
}

.bg-blackfriday-2015 {
    background-color: #000000 !important;
}

.checkout-cart-index .label-container {
    display: none;
}

.block-layered-nav .block-subtitle--filter {
    display: none;
}

.block-layered-nav dl ol > li > a:before, .block-layered-nav dl ol > li > span:before {
    display: none;
}

.main-container div.block-layered-nav li.amshopby-cat-multi a {
    background-color: transparent;
    background-image: url(../../../skin/frontend/base/default/images/amshopby-cb1.gif);
    background-repeat: no-repeat;
    background-position: left center;
}

.main-container div.block-layered-nav li.amshopby-cat-multiselected a {
    background-color: transparent;
    background-image: url(../../../skin/frontend/base/default/images/amshopby-cb2.gif);
    background-repeat: no-repeat;
    background-position: left center;
}

.sidebar div.amshopby-overlay {
    width: 120%;
    margin-left: -20px;
}

.block-layered-nav .currently .btn-remove {
    width: 11px;
    height: 11px;
    margin-left: 4px;
    border: none;
    box-shadow: none;
    margin-top: 3px;
    background: url(../../../skin/frontend/base/default/images/am_btn_remove.gif);
}

span.multiselect-child {
    width: 100%;
    display: inline-block;
}

.amshopby-slider-ui .ui-slider-handle {
    background-color: #FFDF00;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.3);
    width: 6px;
}

.amshopby-slider-ui .ui-slider-range {
    background-color: #121E2C;
}