<div id="wizard" data-role="page">
    <div class="ui-content"><form id="questions" method="get">
        <div class="steps">
            <div class="step s-init first-step validated">
                <div class="step-content-wrapper">
                    <h3 class="step-title">Encontre o t&ecirc;nis de corrida ideal para voc&ecirc;!</h3>
                    <h4 class="step-subtitle">Voc&ecirc; nos conta um pouco sobre seu estilo de corrida e n&oacute;s indicamos o t&ecirc;nis ideal para seu objetivo.</h4>
                </div>
                <button class="next-step" type="button"> <span>Come&ccedil;ar</span> </button></div>
            <div class="step s-1">
                <div class="step-content-wrapper">
                    <h3 class="step-title">1 - Qual o seu objetivo?</h3>
                </div>
                <fieldset>
                    <ul class="fields-list">
                        <li class="field-list"><input id="amortecimento" type="radio" name="objetivo" value="amortecimento" checked="checked" /> <label for="amortecimento"><span>Amortecimento</span></label></li>
                        <li class="field-list"><input id="controle" type="radio" name="objetivo" value="controle" /> <label for="controle"><span>Controle</span></label></li>
                        <li class="field-list"><input id="competicao" type="radio" name="objetivo" value="competicao" /> <label for="competicao"><span>Competi&ccedil;&atilde;o</span></label></li>
                        <li class="field-list"><input id="estabilidade" type="radio" name="objetivo" value="estabilidade" /> <label for="estabilidade"><span>Estabilidade</span></label></li>
                        <li class="field-list"><input id="leveza" type="radio" name="objetivo" value="Leveza" /> <label for="leveza"><span>Leveza</span></label></li>
                        <li class="field-list"><input id="trilha" type="radio" name="objetivo" value="Trilha" /> <label for="trilha"><span>Trilha</span></label></li>
                    </ul>
                </fieldset>
                <div class="button-container"><button class="back-step" type="button"> <span>Voltar</span> </button> <button class="next-step" type="button"> <span>Avan&ccedil;ar</span> </button></div>
            </div>
            <div class="step s-2">
                <div class="step-content-wrapper">
                    <h3 class="step-title">2 - Qual seu tipo de pisada?</h3>
                </div>
                <fieldset>
                    <ul class="fields-list with-imgs with-borders">
                        <li class="field-list">
                            <div class="step-image">
                                <img class="ps-img" src="{{media url='wysiwyg/shoe-advisor/pronado-velocita.jpg'}}" alt="" />
                                <img class="ps-gif" src="{{media url='wysiwyg/shoe-advisor/pronado-velocita.gif'}}" alt="" />
                            </div>
                            <div class="field-container"><input id="pronada" type="radio" name="pisada" value="pronada" checked="checked" /> <label for="pronada"> <span>Pronada</span> </label> <span class="more-info"> ? <span class="more-info-txt"> morbi quis elit ligula vestibulum morbi vulputate consectetur a turpis. </span> </span></div>
                        </li>
                        <li class="field-list">
                            <div class="step-image">
                                <img class="ps-img" src="{{media url='wysiwyg/shoe-advisor/neutro-velocita.jpg'}}" alt="" />
                                <img class="ps-gif" src="{{media url='wysiwyg/shoe-advisor/neutro-velocita.gif'}}" alt="" />
                            </div>
                            <div class="field-container"><input id="neutra" type="radio" name="pisada" value="neutra" /> <label for="neutra"> <span>Neutra</span> </label> <span class="more-info"> ? <span class="more-info-txt"> morbi quis elit ligula vestibulum morbi vulputate consectetur a turpis. </span> </span></div>
                        </li>
                        <li class="field-list">
                            <div class="step-image">
                                <img class="ps-img" src="{{media url='wysiwyg/shoe-advisor/supinado-velocita.jpg'}}" alt="" />
                                <img class="ps-gif" src="{{media url='wysiwyg/shoe-advisor/supinado-velocita.gif'}}" alt="" />
                            </div>
                            <div class="field-container"><input id="supinada" type="radio" name="pisada" value="supinada" /> <label for="supinada"> <span>Supinada</span> </label> <span class="more-info"> ? <span class="more-info-txt"> morbi quis elit ligula vestibulum morbi vulputate consectetur a turpis. </span> </span></div>
                        </li>
                    </ul>
                </fieldset>
                <style type="text/css">

                    .steps .fields-list.with-imgs .step-image img.ps-gif {
                        display: none;
                    }
                    .steps .fields-list.with-imgs .checked .step-image img.ps-gif {
                        display: block;
                    }
                    .steps .fields-list.with-imgs .checked .step-image img.ps-img {
                        display: none;
                    }
                </style>
                <div class="button-container"><button class="back-step" type="button"> <span>Voltar</span> </button> <button class="next-step" type="button"> <span>Avan&ccedil;ar</span> </button></div>
            </div>
            <div class="step s-3">
                <div class="step-content-wrapper">
                    <h3 class="step-title">3 - Qual seu n&iacute;vel de experi&ecirc;ncia com corrida?</h3>
                </div>
                <fieldset>
                    <ul class="fields-list with-imgs">
                        <li class="field-list">
                            <div class="step-image"><img src="{{media url='wysiwyg/shoe-advisor/shoe-advisor-ilustration_11.png'}}" alt="" /></div>
                            <div class="field-container"><input id="iniciante" type="radio" name="nivel" value="iniciante" checked="checked" /> <label for="iniciante"> <span>iniciante</span> </label></div>
                        </li>
                        <li class="field-list">
                            <div class="step-image"><img src="{{media url='wysiwyg/shoe-advisor/shoe-advisor-ilustration_23.png'}}" alt="" /></div>
                            <div class="field-container"><input id="intermediario" type="radio" name="nivel" value="intermediario" /> <label for="intermediario"> <span>Intermedi&aacute;rio</span> </label></div>
                        </li>
                        <li class="field-list">
                            <div class="step-image"><img src="{{media url='wysiwyg/shoe-advisor/shoe-advisor-ilustration_09.png'}}" alt="" /></div>
                            <div class="field-container"><input id="avancado" type="radio" name="nivel" value="avancado" /> <label for="avancado"> <span>Avan&ccedil;ado</span> </label></div>
                        </li>
                    </ul>
                </fieldset>
                <div class="button-container"><button class="back-step" type="button"> <span>Voltar</span> </button> <button class="next-step" type="button"> <span>Avan&ccedil;ar</span> </button></div>
            </div>
            <div class="step s-4">
                <div class="step-content-wrapper">
                    <h3 class="step-title">4 - Qual o seu sexo?</h3>
                </div>
                <fieldset>
                    <ul class="fields-list with-imgs">
                        <li class="field-list">
                            <div class="step-image"><img src="{{media url='wysiwyg/shoe-advisor/shoe-advisor-ilustration_11.png'}}" alt="" /></div>
                            <div class="field-container"><input id="masculino" type="radio" name="genero" value="masculino" checked="checked" /> <label for="masculino"> <span>Masculino</span> </label></div>
                        </li>
                        <li class="field-list">
                            <div class="step-image"><img src="{{media url='wysiwyg/shoe-advisor/shoe-advisor-ilustration_21.png'}}" alt="" /></div>
                            <div class="field-container"><input id="feminino" type="radio" name="genero" value="feminino" /> <label for="feminino"> <span>Feminino</span> </label></div>
                        </li>
                    </ul>
                </fieldset>
                <div class="button-container"><button class="back-step" type="button"> <span>Voltar</span> </button> <button class="next-step" type="button"> <span>Avan&ccedil;ar</span> </button></div>
            </div>
            <div class="step s-5 last-step">
                <div class="step-content-wrapper">
                    <h3 class="step-title">5 - Selecione sua marca favorita</h3>
                </div>
                <fieldset>
                    <ul class="fields-list">
                        <li class="field-list"><input id="todas" type="radio" name="marca" value="todas" checked="checked" /> <label for="todas"> <span>Todas</span> </label></li>
                        <li class="field-list"><input id="saucony" type="radio" name="marca" value="saucony" /> <label for="saucony"> <span>Saucony</span> </label></li>
                        <li class="field-list"><input id="skechers" type="radio" name="marca" value="skechers" /> <label for="skechers"> <span>Skechers</span> </label></li>
                        <li class="field-list"><input id="nike" type="radio" name="marca" value="nike" /> <label for="nike"> <span>Nike</span> </label></li>
                        <li class="field-list"><input id="adidas" type="radio" name="marca" value="adidas" /> <label for="adidas"> <span>Adidas</span> </label></li>
                        <li class="field-list"><input id="five-fingers" type="radio" name="marca" value="five-fingers" /> <label for="five-fingers"> <span>Five Fingers</span> </label></li>
                        <li class="field-list"><input id="fila" type="radio" name="marca" value="fila" /> <label for="fila"> <span>Fila</span> </label></li>
                        <li class="field-list"><input id="under-armor" type="radio" name="marca" value="under-armor" /> <label for="under-armor"> <span>Under Armour</span> </label></li>
                        <li class="field-list"><input id="asics" type="radio" name="marca" value="asics" /> <label for="asics"> <span>Asics</span> </label></li>
                        <li class="field-list"><input id="mizuno" type="radio" name="marca" value="mizuno" /> <label for="mizuno"> <span>Mizuno</span> </label></li>
                        <li class="field-list"><input id="new-balance" type="radio" name="marca" value="new-balance" /> <label for="new-balance"> <span>New Balance</span> </label></li>
                    </ul>
                </fieldset>
                <div class="button-container"><button class="back-step" type="button"> <span>Voltar</span> </button> <button class="finish next-step" type="submit"> <span>Ver Resultado</span> </button></div>
            </div>
            <ul class="progress-bar">
                <li><span class="progress-count">&nbsp;</span> <span class="progress-label">Objetivo</span></li>
                <li><span class="progress-count">&nbsp;</span> <span class="progress-label">Pisada</span></li>
                <li><span class="progress-count">&nbsp;</span> <span class="progress-label">N&iacute;vel do Corredor</span></li>
                <li><span class="progress-count">&nbsp;</span> <span class="progress-label">G&ecirc;nero</span></li>
                <li><span class="progress-count">&nbsp;</span> <span class="progress-label">Marca</span></li>
            </ul>
        </div>
    </form></div>
</div>
<script type="text/javascript">// <![CDATA[
function addPastClass() {
    var prevAll = jQuery(".steps").find(".active").prevAll();
    var nextAll = jQuery(".steps").find(".active").nextAll();
    var current = jQuery(".steps").find(".active");

    prevAll.removeClass("past-step");

    prevAll.addClass("past-step");

    nextAll.removeClass("past-step");
    current.removeClass("past-step");

    var numItems = jQuery(".steps").find('.past-step').length;
    jQuery(".progress-bar li").removeClass("checked");
    jQuery(".progress-bar li").removeClass("last");
    jQuery(".progress-bar li:nth-child(" + numItems + ")").addClass("checked");
    jQuery(".progress-bar li.checked").last().addClass("last");

    var prevAllChecked = jQuery(".progress-bar li.checked").prevAll();
    prevAllChecked.addClass("checked");

}

function verifyChecked (){
    jQuery("#questions .field-container input").each(function(){
        if(jQuery(this).is(":checked")){
            jQuery(this).parent().parent().addClass("checked");
        }else{
            jQuery(this).parent().parent().removeClass("checked");
        }
    });
}

jQuery(document).ready(function () {

    jQuery(".step:eq(0)").addClass("active");

    addPastClass();

    var buttons = jQuery(".back-step, .next-step");


    buttons.on("click", function (e) {

        var action = jQuery(this).attr('class'),
                nextStep = jQuery(".steps").find(".active").next(".step"),
                prevStep = jQuery(".steps").find(".active").prev(".step");

        jQuery(".step.active").removeClass("active").addClass("past-step");

        if(action == "next-step") {
            nextStep.addClass("active");
        }

        if(action == "back-step") {
            prevStep.addClass("active");
        }

        addPastClass();

    });


    jQuery(".finish").on("click", function (e) {
        event.preventDefault();
        jQuery("#questions").attr("action","/calcados?" + jQuery(this).serialize());
        jQuery("#questions").submit();
    });

    verifyChecked();

    jQuery("#questions .field-container input").change(function() {
        verifyChecked();
    });

});
// ]]></script>