<nav class="user-nav">
    {{user_info}}
    {{link 'new_request' class='submit-a-request'}}
    {{link 'my_activities' class='my-activities'}}
    {{#if alternative_locales}}
    <div class="dropdown language-selector" aria-haspopup="true">
        <a class="dropdown-toggle">
            {{current_locale.name}}
        </a>
      <span class="dropdown-menu dropdown-menu-end" role="menu">
        {{#each alternative_locales}}
          <a href="{{url}}" dir="{{direction}}" rel="nofollow" role="menuitem">
              {{name}}
          </a>
        {{/each}}
      </span>
    </div>
    {{/if}}
</nav>
<header class="header">
    <div class="header-inner">
        {{search scoped=true}}
        <div class="logo">{{#link 'help_center'}}
            <img src="{{logo_url}}" alt="{{t 'logo'}}">
            {{/link}}</div>
    </div>
</header>
<link rel="stylesheet" href="https://www.signashop.com.br/zendesk/zoom/zoom.css" />
<script src="https://www.signashop.com.br/zendesk/zoom/zoom.js"></script>