/******* Fontes Personalizadas ******/
body,
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
.block-title strong,
#search,
.header-language-container,
.page-header,
.nav-primary a,
.products-grid .product-name,
.products-list .product-name,
.block-layered-nav .block-content>dl>dt,
.price-box,
.button,
.footer, .footer button{
    font-family: "Montserrat";
}

/********* Alterações AGP - INICIO **********/
.page-title h1, .page-title h2, .product-name h1, .product-name .h1,
h2.product-name, h3.product-name, h4.product-name, h5.product-name, p.product-name,
.header-minicart .block-subtitle{
    color: #611975;
}
.block-title strong{
    color: #611975;
}

h2, .h2{
    color: #611975;
}

.nr-pcl{
    color: #7e2896;
    font-size: 16px;
}

.price-box .price{
    font-size: 12px;
}
.pagseguroapi-installments .installment-table {
    display: none;
}

.installment-table-container element.style {
    display: none;
}

.shipping .form-list .shipping-postcode input {
    font-size: 14px;
}

/********* Alterações AGP - FINAL **********/








/********* Top Link **********/
.page .header-language-background{
    display:none;
}

/********* Topo **********/
.logo{
    height:auto;
}
.logo .large {
    top: 0;
    transform: none;
}

#header{
    clear:both;
}
#header.page-header{
    max-width:100%;
    padding: 0;
    background:#000;
}
#header .page-header-container{
    max-width: 1260px;
    padding: 0 30px;
    margin: 0 auto;
}
#header .skip-link .label {
    text-transform: capitalize;
}

/* Media Queries Desktop */
@media only screen and (min-width: 770px){
    .skip-cart {
        top: 22px;
        right: 40px;
        background:transparent;
        color:#FFF;
    }
    .skip-cart .icon {
        background-image: url(/media/wysiwyg/ico-sprite.png);
        background-position: -50px -95px;
        margin-right: -2px;
    }

    #header-cart.block-cart{
        top: 63px;
    }
    a.skip-active{
        border: solid 1px #eee;
    }
    #header-links{
        display: block;
        position: absolute;
        top: 34px;
        right: 200px;
    }
    #header-links .links li{
        display:inline-block;
    }
    #header-links li a{
        background-image: url(/media/wysiwyg/ico-sprite.png);
        padding-left: 25px;
        color:#FFF;
    }
    #header-links li.link1 a{
        background-position: 2px -192px;
    }
    #header-links li.link2 a{
        background-position: -46px -53px;
    }
    #header-links li.link3 a{
        background-position: 2px -221px;
    }
    #header-links li.customer-logout a{
        background-position: 2px -650px;
    }
}

/**** Busca ****/
/* Media Queries Desktop */
@media only screen and (min-width: 770px){
    #header-search {
        display: block;
        width: 25%;
        height: 40px;
        padding: 0;
        top: 10px;
        right: 30px;
        left: initial;
    }
    #header-search.mini-search{
        display:none;
    }
    .search-autocomplete:before{
        display:none;
    }
}

/*****  Menu *****/
#header-nav {
    background-color: #FFF;
    clear: both;
    position:relative;
}
#header-nav #nav {
    width: 100%;
    margin:0 30px;
}
#header-nav .header-bar{
    max-width: 1260px;
    margin: 0 auto;
    position: relative;
    padding: 0 30px;
}
#header-nav ul.level1{
    top:0;
}
/* Media Queries Desktop */
@media only screen and (min-width: 770px){
    #header-nav #nav {
        width: 70%;
        margin:0;
    }

    .nav-primary {
        padding: 0;
    }
    .nav-primary li.level0>a {
        border: 0;
        color: #000;
        padding: 10px 60px 10px 0;
        font-size: 14px;
        font-weight: bold;
    }
    .nav-primary li.level0>a:hover {
        color: #999;
    }
    .nav-primary li.level0 ul {
        top: 60px;
    }
    .nav-primary li.level:hover{
        background:#666;
    }
}
/* Media Queries Celular */
@media only screen and (max-width: 771px){
    #header-nav {
        margin: 0 30px;
    }
    #header-nav .header-bar{
        padding:0 10px;
    }
    #header-nav #nav{
        margin:0;
    }
    .nav-primary li.level0>a {
        text-transform: uppercase;
        border: 0;
        padding: 10px 0;
        border-bottom: 1px solid #333;
        color: #000;
    }
    .no-touch #header-account a:hover,
    .no-touch .nav-primary a:hover{
        background-color: #F4F4F4;
        color:#333;
    }
}

/******** Home *********/
header.h2.subtitle{
    color: #000;
    border-bottom: 3px solid #611975;
}
.barra-face{
    width:100%;
    margin:0 auto;
    background:#3468AF;
}
.barra-face img{
    max-width:100%;
    margin:0 auto;
}
.products-grid .product-name,
.products-list .product-name{
    text-transform: none;
}


/******* Página de detalhes ******/
.catalog-product-view .main-container.col1-layout {
    background: #FFF;
}
.product-img-box  .product-image{
    float:right;
    width:80%;
}
.product-img-box .more-views{
    float:left;
    width:20%;
}


/******* Rodapé  *******/
#footer {
    background-color: #252525;
    color:#a4a4a4;
}
#footer .footer-bar{
    background: #EEE;
    padding-top: 10px;
    text-align: center;
}
#footer .footer-bar .sub-cols{
    width: 19%;
    display: inline-block;
    margin-right: 10px;
    min-width: 150px;
    vertical-align: top;
    margin-top: 20px;
    text-align:left;
}
#footer .footer-bar .sub-col5{
    margin-right:0;
}
#footer .footer-bar .sub-cols h3{
    color: #000;
    border-bottom: 2px solid #611975;
    padding-bottom: 10px;
    margin-bottom: 22px;
}
.footer,
.footer address {
    border:none;
}

.footer address {
    padding: 0;
}

.footer .block-subscribe .actions .button {
    border: 1px solid #C0C0C0;
    border-left:0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

/* Bandeiras de pagamento */
.bandeiras li{
    float:left;
    color: transparent;
    font-size:0;
    background: url('/media/wysiwyg/sprite-pagamento.png') no-repeat;
    width: 53px;
    height: 35px;
    margin: 12px 12px 0 0;
}
.bandeiras .visa {background-position: -64px 0;}
.bandeiras .master {background-position: -128px 0px;}
.bandeiras .diners {background-position: -1px -47px;}
.bandeiras .elo {background-position: -128px -47px;}
.bandeiras .american {background-position: -65px -93px;}
.bandeiras .boleto{background-position: -1px -138px; }

.footer h4,
.footer .block-title strong {
    color: #E5E5E5;
    font-weight: normal;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    border-bottom: 1px solid #393939;
    padding-bottom: 16px;
    display:block;
}
.footer .links li {
    border-bottom: 1px solid #393939;
    line-height: 1.3em;
    padding: 5px 0px;
}
.footer .links{
    min-width: 200px;
    min-height:130px;
}


/* Media Queries Desktop */
@media only screen and (min-width: 771px){
    .footer .bottom-container .widget-static-block {
        width: 70%;
        margin-bottom: 35px;
    }

    .footer a:hover,
    .footer .links a:hover {
        color: #D1D1D1;
        text-decoration:none;
    }

    .footer .block-subscribe .actions .button {
        width: 100%;
    }

}

/* Media Queries Celular */
@media only screen and (max-width: 480px){
    .footer .bottom-container .widget-static-block {
        margin-bottom: 35px;
        text-align: justify;
    }

    .footer .links {
        width:100%;
        clear:both;
    }

    .footer address {
        font-size: 13px;
    }

    .f-left {
        float: none;
        display: table;
        clear: both;
    }

    .footer a:hover,
    .footer .links a:hover {
        color: #D1D1D1;
        text-decoration:none;
    }


}

.footer .block-title,
.footer address {
    color:#999;
    border:0;

}


.button, .cart-table .product-cart-actions .button, #co-shipping-method-form .buttons-set .button, .footer .button {background: #000000;}
button.btn-cart, button.btn-proceed-checkout, button.btn-checkout {background: #000000;}

.button:hover, .cart-table .product-cart-actions .button:hover, #co-shipping-method-form .buttons-set .button:hover, .footer .button:hover {background: #3468af;}
button.btn-cart:hover, button.btn-proceed-checkout:hover, button.btn-checkout:hover {background: #3468af;}
.price-box .price {color: #000;}


/* Responsive */
@media (max-width: 767px) {
    /* header */
    .logo {
        width: 100%;
        text-align: center;
    }

    .logo .small {
        display: inline-block;
    }

    .block-related .actions,
    .products-grid .actions {
        position: static;
    }

    .block-related .product-info,
    .products-grid .product-info {
        padding-bottom: 0;
    }

    /* Product List */
    .block-related > li,
    .products-grid > li {
        width: 100%;
        margin-right: 0;
    }

    /* Footer */
    #footer .footer-bar .sub-cols {
        width: 100%;
        margin-right: 0;
    }

}

@media (max-width: 767px) {

}

@media (min-width: 768px) and (max-width: 769px) {
    /* Footer */
    #footer .footer-bar .sub-cols {
        width: 48%;
    }
}

@media (min-width: 770px) and (max-width: 977px) {
    /* Footer */
    #footer .footer-bar .sub-cols {
        width: 48%;
    }
}

@media (min-width: 978px)  and (max-width: 1279px) {

}