footer .container .h4 {
    margin-bottom: 15px;
    display: inline-block;
}

.ico-pagseguro, .ico-paypal, .ico-aurora, .ico-amex, .ico-master,
.ico-dinners, .ico-hipercard, .ico-boleto, .ico-visa, .ico-bradesco
{ display: inline-block; background: url('../../wysiwyg/sprite-pagamentos.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }

.ico-pagseguro { background-position: -2px -0px; width: 138px; height: 32px; }
.ico-paypal { background-position: -2px -34px; width: 70px; height: 32px; }
.ico-aurora { background-position: -74px -34px; width: 64px; height: 32px; }
.ico-amex { background-position: -2px -68px; width: 63px; height: 32px; }
.ico-master { background-position: -67px -68px; width: 62px; height: 32px; }
.ico-dinners { background-position: -2px -102px; width: 59px; height: 32px; }
.ico-hipercard { background-position: -63px -102px; width: 55px; height: 32px; }
.ico-boleto { background-position: -2px -136px; width: 51px; height: 32px; }
.ico-visa { background-position: -55px -136px; width: 51px; height: 32px; }
.ico-bradesco { background-position: -2px -170px; width: 45px; height: 32px; }

/* Footer */
.footer-links li {
    display: inline-block;
    margin-right: 5px;
}

.footer-links.social-links li a {
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    background-color: #565656;
    color: #FFF;
}

.footer-links.social-links li a:hover { opacity: 0.7; }

/* Sidebar */
.block-layered-nav .block-title,
.block-layered-nav .block-subtitle { display: none; }

.block-layered-nav dt {
    background: #000;
    clear: both;
    color: #FFFFFF;
    font-size: 17px;
    font-weight: bold;
    margin: 0;
    padding: 5px 10px;
    text-transform: uppercase;
}

div.block-layered-nav {
    border: none;
    background: none transparent;
}

.block-layered-nav dd {
    background-color: #FFF;
    margin-bottom: 25px;
    padding: 5px 15px 3px 20px;
}

/* Price Slider */
.amshopby-slider-ui .ui-slider-handle {
    width: 13px;
    height: 15px;
    position: absolute;
    left: 20%;
    top: -4px;
    margin-left: -6px;
    cursor: pointer;
    cursor: hand;
    border: none;
    background: url(../../wysiwyg/jslider.png) no-repeat 0 -40px;
}

div.amshopby-overflow-scroll-enabled div.block-content dl dd>ol:first-of-type { overflow-y: inherit!important; }

.amshopby-slider-ui .ui-slider-range {
    top: 0;
    height: 5px;
    background: url(../../wysiwyg/jslider.png) no-repeat 0 -20px;
}

.amshopby-slider-ui {
    background: url(../../wysiwyg/jslider.png) no-repeat right 0;
}

aside .banner-item {
    margin: 0 auto 15px auto;
    text-align: center;
}

/* Pagination */
.pages strong {
    margin-right: 10px;
}

.pager .pages ol > li > a:hover { color: #000; }

.pager .pages ol > .active > span:hover,
.pager .pages ol > .active > span {
    background-color: #E3C600;
    color: #000;
    border-color: #E3C600;
}