<div style="height: 100% !important;width: 100% !important;margin: 0;padding: 0;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #F2F2F2;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" id="bodyTable" style="background-color: #F2F2F2; height: 100% !important;width: 100% !important; border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;margin: 0;padding: 0;">
        <tr>
            <td align="center" valign="top" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateHeader" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #FFFFFF;border-top: 0;border-bottom: 0;">
                    <tr>
                        <td class="mcnImageContent" valign="top" style="padding: 0 9px;text-align: center;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                            <img align="center" alt="" src="https://d335luupugsy2.cloudfront.net/cms%2Ffiles%2F7123%2F1443720642Campanhaa-selos.png" width="120" style="max-width: 120px;padding-bottom: 0;display: inline !important;vertical-align: bottom;border: 0;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" class="mcnImage" />
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" class="mcnTextContent" style="padding-top: 9px;padding-right: 18px;padding-bottom: 9px;padding-left: 18px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #606060;font-family:Arial;font-size: 15px;line-height: 150%;text-align: left;">
                            <h1 style="text-align: center;margin: 0;padding: 0;display: block;font-family: Arial;font-size: 40px;font-style: normal;font-weight: bold;line-height: 125%;letter-spacing: -1px;color: #606060 !important;">
                                <span style="font-size:24px">5 Selos de Segurança mais utilizados no e-commerce</span>
                            </h1>
                            <p style="margin: 0 0 0.5em;padding: 0;-webkit-padding-start: 0px;-webkit-margin-before: 0px;-webkit-margin-after: 0px;color: #555555;font-family: 'Arial';font-size: 11px;line-height: 20px;text-align: justify;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                <span style="font-size:14px">
                                    <br />
                                    Atualmente, as fraudes eletrônicas representam uma grande ameaça ao consumidor, que está cada vez mais apreensivo quando compra algo pela internet. Por este motivo, a segurança do site é algo fundamental e está diretamente ligada às vendas. Se ela não for identificada pelo cliente, a probabilidade de fechamento de um pedido é mínima.  Preparamos este post com algumas dicas para se prevenir  das fraudes.
                                    Clique no botão abaixo e confira:
                                </span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="middle" class="mcnButtonContent" style="font-family: Arial;font-size: 22px;padding: 16px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                            <a class="mcnButton " title="Ver no blog" href="http://www.signashop.com.br/blog/selos-seguranca-utilizados-e-commerce/" target="_blank" style="width: 500px; font-weight: bold;letter-spacing: normal;line-height: 100%;text-align: center;text-decoration: none;color: #FFFFFF;word-wrap: break-word;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%; border: 2px none #DD013F;border-radius: 5px;padding: 16px;background-color: #DD013F;">Blindar minha loja</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>