/* CSS World Combat */

/* General */

html {
    background: url('../images/bg.jpg');
}

body {
    background:url('../images/bg-main_3.png') no-repeat 50% 251px;
}

.title,
.subtitle,
.sub-title,
.product-name,
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
div.menu a,
#menu-button a:link,
.selos-beneficios {
    font-family: "Jockey One",arial,sans-serif;
}

#bar,
.btn-default .badge-success,
.button .badge-success,
.availability .badge-success,
.my-wishlist .link-edit .badge-success {
    background-color: #e3c600;
}

.owl-carousel-products .item:hover .product-image img,
.products-grid .item:hover .product-image img {
    border-color:  #e3c600;
}

.subtitle,
.sub-title,
.regular-price .price,
.price-box .price,
a:hover,
a:focus {
    color: #e3c600;
}

.subtitle {
    border-bottom: solid 3px #E3C600;
    padding-bottom: 5px;
}

.page-header h1,
.page-title h1,
.subtitle,
.sub-title {
    font-size: 25px;
}

.form-control:focus, .input-text:focus, .form-list textarea:focus, .form-list select:focus, .form-language select:focus, .product-options dd .input-text:focus, .product-options dd select:focus, .product-options dd textarea:focus, .multiple-checkout .data-table select:focus, .my-wishlist textarea:focus {
    border-color: #e3c600;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(227, 198, 0, 0.6);
    outline: 0 none;
}

.breadcrumb { margin-bottom:0;}

.add-to-links { display:none; }

.item .product-name {
    font-size: 18px;
    color: #fff;
    min-height: 70px;
    display: block;
}

.category-image img { width:100%; }

/* =========================  Header ========================= */
.header-container {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #eee;
    border-top: 5px solid #e3c600;
}
header[role="banner"] > .logo { margin-bottom: 15px; }
header[role="banner"] > .logo strong { display:none; }

@media (min-width: 992px) {
    header[role="banner"] .quick-access { margin-top: 20px; }
}


/* ========================= Menu ========================= */
@media (min-width: 992px) {
    .nav-container {
        clear: both;
        margin-top: -35px;
        background: url("../images/shadow-menu_1.png") no-repeat scroll center bottom;
        padding-bottom: 20px;
    }
    #custommenu {
        background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #e3c500 0%, #cf9d00 100%) repeat scroll 0 0;
        border-bottom: 1px solid #e3c600;
        border-left: 1px solid #e3c600;
        border-radius: 5px;
        border-top: 1px solid #ffffff;
        height: 48px;
        padding: 0;
    }
    div.menu a:link,
    div.menu a:visited {
        padding: 0 14px;
        background-color: transparent;
        color: #333;
        font-size: 16px;
        text-shadow: 0 1px 0 #efdf99;
        line-height: 22px;
    }

    div.wp-custom-menu-popup {
        background: #222;
        border:none;
        color: #e3c600;
    }



    a.level1:link, a.level1:visited,
    a.level2:link, a.level2:visited,
    a.level1:hover, a.level1.act, a.level1.actParent,
    a.level2:hover, a.level2.act, a.level2.actParent {
        color: #e3c600;
    }


    a.level1:hover, a.level1.act, a.level1.actParent,
    a.level2:hover, a.level2.act, a.level2.actParent {
        background-color: #000000;
    }

    div.block1 div.column {
        width:100%;
    }


}

#custommenu-mobile { margin-bottom: 20px; }
#menu-button {
    display:block;
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #e3c500 0%, #cf9d00 100%) repeat scroll 0 0;
    border-bottom: 1px solid #e3c600;
    border-left: 1px solid #e3c600;
    border-radius: 5px;
    border-top: 1px solid #ffffff;
    height: 48px;
    padding: 0;
}

#menu-button a:link {
    color: #333;
    font-size: 24px;
    text-shadow: 0 1px 0 #efdf99;
    line-height: 47px;
    margin: 0;
    float: none;
}

#menu-button a > span:after {
    content: "\f0c9";
    color: #333;
    border: 0;
    font: normal normal normal 30px/1 FontAwesome;
    margin: 10px 30px 0 0;
    opacity: 1;
}

#custommenu-mobile .button.open,
#custommenu-mobile .button {
    width: 44px;
    background-position: 50%;
}

/* ========================= Banners ========================= */
.owl-carousel { margin-bottom: 10px; }


/* ========================= Benefícios ========================= */

.selos-beneficios {
    border: none;
    background-color: #000;
    color: #fff;
    margin-bottom: 10px;
    margin-top: 0px;
    font-size: 20px;
    border-radius:0;
}

/* ========================= Main Container ========================= */

/* Listagem */
.products-grid .item,
.products-grid--max-4-col .item,
.owl-carousel-products .item { min-height: 420px; }

.owl-carousel-products .item .product-image,
.products-grid .product-image { position: relative; margin-bottom:0; }

.img-thumbnail,
.products-grid .product-image img,
.products-list .product-image img,
.product-essential .product-img-box img,
.owl-carousel-products .item .product-image img { border-radius:0; }

.owl-carousel-products .item,
.products-grid .item { overflow:hidden; }

.owl-carousel-products .product-info,
.products-grid .product-info {
    background: #000;
    color: #fff;
    padding: 10px;
}

.owl-carousel-products .product-info .actions,
.products-grid .product-info .actions {
    transition: all 300ms ease 0s;
    position: absolute;;
    text-align: center;
    width: 100%;
    top:-50px;
    left:0;
}

.owl-carousel-products .product-info .actions .button,
.owl-carousel-products .product-info .actions button,
.products-grid .product-info .actions .button,
.products-grid .product-info .actions button {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #e3c500 0%, #cf9d00 100%) repeat scroll 0 0;
    border-color: #fff #e3c600 #e3c600;
    color: #fff;
    font-family:"Jockey One",sans-serif;
    font-size: 20px;
    padding-left: 25px;
    padding-right: 25px;
    text-transform: uppercase;
    transform: skewX(-15deg);
}

.owl-carousel-products .product-info .actions .button:hover,
.owl-carousel-products .product-info .actions button:hover,
.products-grid .product-info .actions .button:hover,
.products-grid .product-info .actions button:hover { background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #ffd400 0%, #e1c000 100%) repeat scroll 0 0; }

.owl-carousel-products .item:hover .product-image img,
.products-grid .item:hover .product-image img {  }

.owl-carousel-products .item:hover .product-info .actions,
.products-grid .item:hover .product-info .actions { top:100px; }

.owl-carousel-products .item:hover .product-info,
.products-grid .item:hover .product-info { background-color: #e3c600; color:#000; }

.owl-carousel-products .item:hover .regular-price .price,
.products-grid .item:hover .regular-price .price {
    color:#fff;
}

.products-grid--max-4-col .item { width: 33.3333%; }
.products-grid--max-4-col .item .ratings { display:none; }

/* Labels de Proddutos */
.std ul:not(.owl-carousel-products) {
    list-style:none;
    position: absolute;
    width: 100%;
    z-index: 9;
}
.item .badge-free-shipping {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgba(227, 198, 0, 1) 3%, rgba(227, 198, 0, 0.33) 68%, rgba(255, 255, 255, 0) 100%) repeat scroll 0 0;
    color: #000000;
    font-family: "Jockey One",sans-serif;
    font-size: 18px;
    height: 32px;
    left: 0;
    line-height: 1.7;
    padding: 0;
    position: absolute;
    text-indent: 10px;
    text-shadow: 0 1px 0 #fff;
    text-transform: uppercase;
    top: 230px;
    width: 100%;
}

.item .badge-free-shipping img {
    display: none!important;
}

/* ========================= Produto ========================= */

.topo-fixo-produto {
    border-top: 5px solid #e3c600;
}

.topo-fixo-produto .btn-cart {
    background: #e3c500;
    background: -moz-linear-gradient(top, #e3c500 0%, #cf9d00 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e3c500), color-stop(100%, #cf9d00));
    background: -webkit-linear-gradient(top, #e3c500 0%, #cf9d00 100%);
    background: -o-linear-gradient(top, #e3c500 0%, #cf9d00 100%);
    background: -ms-linear-gradient(top, #e3c500 0%, #cf9d00 100%);
    background: linear-gradient(to bottom, #e3c500 0%, #cf9d00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3c500', endColorstr='#cf9d00', GradientType=0 );
    font-family: 'Jockey One', sans-serif;
    border-top: 1px solid #fff;
    border-left: 1px solid #E3C600;
    border-right: 1px solid #E3C600;
    border-bottom: 1px solid #E3C600;
    color: #FFFFFF;
    cursor: pointer;
    text-shadow: 0 1px 2px #a58300;
    border-radius: 5px;
    box-shadow: 0 1px 3px #333;
    text-transform: uppercase;

}

.topo-fixo-produto .btn-cart:active {
    margin-top: 1px;
    margin-bottom: -1px;
}

.topo-fixo-produto .btn-cart:hover {
    background: #ffd400;
    background: -moz-linear-gradient(top, #ffd400 0%, #e1c000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffd400), color-stop(100%, #e1c000));
    background: -webkit-linear-gradient(top, #ffd400 0%, #e1c000 100%);
    background: -o-linear-gradient(top, #ffd400 0%, #e1c000 100%);
    background: -ms-linear-gradient(top, #ffd400 0%, #e1c000 100%);
    background: linear-gradient(to bottom, #ffd400 0%, #e1c000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd400', endColorstr='#e1c000', GradientType=0 );
}


/* Zoom do produto */
.product-img-box .badge-free-shipping {
    top: 0;
    z-index: 9;
}

.zoomWrapper {
    max-width: 100%;
    width: 100% !important;
}

.product-shop .price-box .price {
    font-size: 30px;
}


.product-view .product-shop .product-options-bottom .price-box,
.product-view .product-shop .product-options-bottom .add-to-cart { width: 100%; }

.product-view .btn-cart {
    background: #e3c500;
    background: -moz-linear-gradient(top, #e3c500 0%, #cf9d00 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e3c500), color-stop(100%, #cf9d00));
    background: -webkit-linear-gradient(top, #e3c500 0%, #cf9d00 100%);
    background: -o-linear-gradient(top, #e3c500 0%, #cf9d00 100%);
    background: -ms-linear-gradient(top, #e3c500 0%, #cf9d00 100%);
    background: linear-gradient(to bottom, #e3c500 0%, #cf9d00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3c500', endColorstr='#cf9d00', GradientType=0 );
    font-family: 'Jockey One', sans-serif;
    border-top: 1px solid #fff;
    border-left: 1px solid #E3C600;
    border-right: 1px solid #E3C600;
    border-bottom: 1px solid #E3C600;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 36px;
    line-height: 1;
    margin: 0;
    padding: 0;
    text-shadow: 0 1px 2px #a58300;
    float: none;
    clear: both;
    display: block;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 1px 3px #333;
    text-transform: uppercase;
    height: 75px;
    z-index: 1;
}

.product-view .btn-cart:active {
    margin-top: 1px;
    margin-bottom: -1px;
}

.product-view .btn-cart:hover {
    background: #ffd400;
    background: -moz-linear-gradient(top, #ffd400 0%, #e1c000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffd400), color-stop(100%, #e1c000));
    background: -webkit-linear-gradient(top, #ffd400 0%, #e1c000 100%);
    background: -o-linear-gradient(top, #ffd400 0%, #e1c000 100%);
    background: -ms-linear-gradient(top, #ffd400 0%, #e1c000 100%);
    background: linear-gradient(to bottom, #ffd400 0%, #e1c000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd400', endColorstr='#e1c000', GradientType=0 );
}

/* ========================= Footer ========================= */
footer[role="contentinfo"] {
    background: #fff url("../images/rodape-bg.jpg") repeat-x scroll 0 0;
    padding: 20px 0 0;
}

footer[role="contentinfo"] .company-bar {
    background:none;
    border:none;
    border-bottom: solid 1px #e7e7e7;
}

footer[role="contentinfo"] address { margin-bottom: 20px; }