body,
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
.block-title strong,
#search,
.header-language-container,
.page-header,
.nav-primary a,
.products-grid .product-name,
.products-list .product-name,
.price-box,
.button,
.price-box .price, .price{
    font-family: "Lato";
}


/******* Geral ******/
.logo{
    max-width: 300px;
    text-align: left;
    width: auto;
    height: auto;
}
.logo .large{
    top: 0;
    transform: none;
}
.welcome-message{
    margin: 30px 0 0 10px;
}
.header-language-background,
.bx-wrapper .bx-pager.bx-default-pager a.active {
    background-color: #3e1130;
}

.block-title h2,
.block-title h3,
.block-title strong,
.cms-index-index .subtitle,
.products-grid .product-name,
.products-list .product-name {
    color: #a4a4a4;
}

/********* Topo **********/
#header.page-header{
    max-width:100%;
    padding: 0;
}
#header .page-header-container,
#header-nav #nav{
    max-width: 1260px;
    padding: 0 30px;
    margin: 0 auto;
    clear: both;
}
#header .header-language-background{
    font-size:10px;
}
#header .phone-header{
    background: url(/media/wysiwyg/ico-sprite.png) no-repeat -2px -708px;
    display:inline-block;
    padding-left: 20px;
    line-height: 12px;
    font-size: 10px;
    display:inline-block;
}

#header .chatonline{
    display:inline-block;
    color:#FFFFFF;
    padding-left:20px;
    margin-left: 10px;
    background: url(/media/wysiwyg/ico-sprite.png) no-repeat -2px -671px;
}

#header .redes-sociais {padding-left: 15px;}
#header .redes-sociais a{
    background: url(/media/wysiwyg/ico-sprite.png) no-repeat;
    display:inline-block;
    width:20px;
    height:20px;
    margin-top:10px;
}
#header .redes-sociais .twitter		{background-position: 0px -737px;}
#header .redes-sociais .instagram	{background-position: -20px -737px;}
#header .redes-sociais .pinterest	{background-position: -42px -737px;}
#header .redes-sociais .facebook		{background-position: -63px -737px;}
#header .redes-sociais .google		{background-position: -82px -737px;}
#header .redes-sociais .youtube		{background-position: -105px -737px;}

#header-search{
    top: 20px;
    left: 387px;
    width: 35%;
}
#search {
    width: 100%;
    height: 40px;
    padding-right: 60px;
    background-color: #f0f0f0;
    border: 0;
    border-radius: 20px;
    font-size: 12px;
    color: #b0b7b6;
    padding-left: 20px;

}


/* Media Queries Desktop */
@media only screen and (min-width: 770px){
    .skip-cart {
        top: 20px;
        right: 30px;
    }
    .skip-cart .icon {
        background-image: url(/media/wysiwyg/ico-sprite.png);
        background-position: -50px -95px;
    }

    #header-cart.block-cart{
        top: 63px;
    }
    a.skip-active{
        border: solid 1px #eee;
    }
    #header-links{
        display: block;
        position: absolute;
        top: 28px;
        right: 165px;
    }
    #header-links span{
        display:none;
    }
    #header-links span a{
        background-image: url(/media/wysiwyg/ico-sprite.png);
    }
    #header-links span.favorito a{
        background-position: 2px -184px;
        padding-left: 25px;
        height: 28px;
        display: block;
        line-height: 28px;
        margin-right: 20px;
    }
    #header-links span.meus-pedidos a{
        background-position: 2px -214px;
        padding-left: 25px;
        height: 28px;
        display: block;
        line-height: 28px;
    }
}

/* Media Queries Desktop */
@media only screen and (min-width: 980px){
    #header-links span.meus-pedidos{
        display:inline-block;
    }
}

/* Media Queries Desktop */
@media only screen and (min-width: 1150px){
    #header-links span.favorito{
        display:inline-block;
    }
}



/***** Menu ******/
#header-nav {
    background-color: transparent;
    border-top: 1px dotted #000;
    border-bottom: 1px dotted #000;
    clear: both;
}

#header-nav #nav .nav-primary {
    margin-top: 0;
    padding:0;
}

.nav-primary a{
    color: #3e1130;
    text-transform: uppercase;
}

.nav-primary li.level0>a:hover,
.nav-primary li.level1 a:hover{
    color: #fd8a77;
}

.nav-primary li.level0>a {
    text-transform: uppercase;
    font-weight: bold;
    color: #3e1130;
    border: 0;
    text-align: left;
    padding:0;
    padding: 10px 60px 10px 0px
}


.nav-primary li.level0>ul{
    top:60px;
}
.nav-primary li.level1 ul{
    top:0;
}
/******* Home *********/
.faixa-mini{
    display: inline-block;
    text-align: center;
    width: 100%;
}
.faixa-mini>div{
    display:inline-block;
    width: 49%;
}

.faixa-mini div div{
    padding:14px;
    display:inline-block;
    width: 49%;
    min-width: 200px;
}
.faixa-mini img{
    max-width:100%;
    min-width: 200px;
    display: inline-block;
}

.main-container header.h2.subtitle {
    color: #3e1130;
    text-transform: none;
    font-size: 18px;
}
.category-products .products-grid>li{
    border: 1px solid #ebebeb;
}
.category-products .products-grid .product-image {
    border: 0;
    border-bottom: 1px solid #ebebeb;
    padding:5px;
}

.category-products .products-grid .product-name,
.category-products .products-list .product-name {
    text-transform: none;
    color:#312829;
}
.category-products .products-grid .product-info {
    padding: 0 10px 95px;
}
.category-products .products-grid .actions{
    margin-left: -10px;
}
.category-products .button{
    background: #25c46d;
    border-radius: 20px;
    width: 80%;
    height: 40px;
    line-height: 28px;
}
.price-box .price{
    font-weight:normal;
}
.products-grid .add-to-links li {
    width: 50%;
    float: left;
    border: 0;
    min-width: 80px;
}
.products-grid .add-to-links li:first-child {
    border-right: 1px dotted #000;
}
.products-grid .add-to-links li a{
    background: url(/media/wysiwyg/ico-sprite.png) no-repeat;
    text-indent:-9999px;
    display:inline-block;
    height:20px;
    margin:0 10px;
}
.products-grid .add-to-links li .link-wishlist{
    background-position: 1px -1049px;
    width: 66px;
    float:right;

}
.products-grid .add-to-links li .link-compare{
    background-position: 1px -1034px;
    width: 70px;
    float:left;
}

/* Media Queries Celular */
@media only screen and (max-width: 770px){
    .products-grid .actions{
        position:relative;
    }
    .category-products .products-grid .product-info{
        padding:0 10px;
    }

    .products-grid .add-to-links li{
        width: 100%;
        display: inline-block;
    }
    .products-grid .add-to-links li:first-child{
        border:0;
    }
    .products-grid .add-to-links li .link-compare,
    .products-grid .add-to-links li .link-wishlist{
        float:none;
    }
}

/******** Footer *********/
#footer .footer-bar {
    background: #3e1130;
    margin: 0 auto;
}
#footer .footer-news .block-subscribe{
    margin: 0;
    padding: 0;
}
#footer .footer-news .block-title,
#footer .footer-news .block-content .form-subscribe-header{
    display:none;
}
#footer .footer-bar .footer-container{
    padding: 0;
    text-align:center;
}
#footer .footer-bar .textnews {
    display: inline-block;
    width: 55%;
    min-width: 624px;
}
#footer .footer-bar .footer-news{
    display: inline-block;
    min-width: 470px;
    padding: 15px 0;
    position:relative;
}
#footer .footer-bar .selo {
    display: inline-block;
    margin: 10px;
    width: 71px;
}
#footer .footer-bar .selo img{
    max-width:100%;
}
#footer .footer-bar .texto {
    display: inline-block;
    padding: 10px;
    width: 84%;
}
#footer .footer-bar span{
    color:#FFF;
    float: left;
}

#footer .footer-bar .actions span{
    color:#FFF;
}
#footer .footer-bar  .titulo {
    font-size: 19px;
}
#footer .footer-bar  .sub-titulo{
    font-size: 14px;
}
#footer .footer-bar .block-subscribe .block-content,
#footer .footer-bar .block-subscribe .input-box,
#footer .footer-bar .block-subscribe .input-box .actions{
    float: left;
    margin:0;
}
#footer .footer-bar .block-subscribe .block-content{
    width:100%;
}
#footer .footer-bar .block-subscribe .input-box{
    width:90%;
}
#footer .footer-bar .block-subscribe .input-box input{
    width: 100%;
    height: 39px;
    border-radius: 20px;
}
#footer .footer-bar .block .actions .button {
    float: right;
    height: 39px;
    background: #fd8a77;
    text-transform: capitalize;
    border-radius: 20px;
    padding: 0 30px;
    position: absolute;
    right: 0;
    top:15px;
}
#footer .footer-bar .block-subscribe .block-content div{
    float:left;
    margin:0;
    padding:0;
}
/* Media Queries Celular */
@media only screen and (max-width: 1250px){
    #footer .footer-bar .titulo{
        font-size: 17px;
    }
    #footer .footer-bar .sub-titulo{
        font-size: 13px;
    }
}
/* Media Queries Celular */
@media only screen and (max-width: 650px){
    #footer .footer-bar .textnews {
        width:90%;
        min-width:inherit;
    }
    #footer .footer-bar .footer-news{
        width:90%;
        min-width:inherit;
        margin:0 auto;
    }
    #footer .footer-bar .titulo{
        font-size:14px;
    }
    #footer .footer-bar .sub-titulo{
        font-size: 11px;
    }
    #footer .footer-bar .block-subscribe .block-content{
        width:90%
    }
}
#footer .footer-container .footer{
    text-align:center;
    border:0;
}
#footer .footer-container .footer .cols{
    width: 49%;
    display: inline-block;
    text-align:left;
    vertical-align: top;
    min-width:460px;
    margin-bottom: 20px;
}
#footer .footer .sub-cols {
    width: 33%;
    display: inline-block;
    padding-right: 10px;
    min-width: 150px;
    vertical-align: top;
    margin-bottom:20px;
    text-align:left;
}
#footer .footer .sub-col3 {
    width:32%;
}
#footer .footer .sub-cols h3{
    font-size:12px;
    font-weight:bold;
    z-index: 2;
    position: relative;
    text-align:left;
    color:#3e1130;
    background:#FFF;
}
#footer .footer .sub-cols ul{
    border-top: 1px solid #fd8a77;
    margin-top: -19px;
    padding-top: 30px;
    z-index: 1;
    position: relative;
    text-align:left;
}
#footer .footer .sub-cols ul li {
    font-size: 11px;
    text-align:left;
    list-style-type: square;
    margin-left: 15px;
    line-height: 26px;
}
#footer .footer .sub-cols ul li a{
    color:#828282;
}
#footer .footer div .sub-cols h3{
    width: auto;
    display: inline-block;
    padding-right: 15px;
}

#footer .footer .col2 .sub-col1{
    width:39%;
    vertical-align: top;
}
#footer .footer .col2 .sub-col2{
    width: 45%;
}

#footer .footer .redes-sociais ul li,
#footer .footer .contatos ul li {
    background: url(/media/wysiwyg/ico-sprite.png) no-repeat;
    list-style-type: none;
    margin: 0;
    padding-left: 40px;
    line-height: 33px;
    height: 33px;
}
#footer .footer .redes-sociais ul li.twitter 	{ background-position: 0 -765px;}
#footer .footer .redes-sociais ul li.instagram 	{ background-position: 0 -798px; }
#footer .footer .redes-sociais ul li.facebook 	{ background-position: 0 -830px;}
#footer .footer .redes-sociais ul li.youtube 	{ background-position: 0 -864px;}
#footer .footer .contatos ul li {
    line-height: 36px;
    height: 36px;
    margin-bottom:10px;
}
#footer .footer .contatos ul li.end { background-position: 0 -904px;}
#footer .footer .contatos ul li.tel { background-position: 0 -948px;}
#footer .footer .contatos ul li.fax { background-position: 0 -991px;}
#footer .footer .contatos ul li span {
    line-height: 19px;
    float: left;
    clear: both;
}
/* Media Queries Celular */
@media only screen and (max-width: 510px){
    #footer .footer-container .footer .col1{
        text-align: center;
        width: 100%;
        min-width: inherit;
    }
    #footer .footer .col1 .sub-cols{
        width: 49%;
        min-width: inherit;
    }
    #footer .footer-container .footer .cols,
    #footer .footer .col1 .sub-col3,
    #footer .footer .col2 .sub-col1,
    #footer .footer .col2 .sub-col2,
    #footer .footer .cols{
        width: 100%;
        min-width: inherit;
    }
    #footer .footer .sub-cols {
        width:100%;
    }
}
#footer .footer .full-col{
    clear:both;
    width:100%;
}
#footer .footer  .full-col .sub-cols{
    min-width: 230px;
}
#footer .footer .full-col ul li {
    background: url(/media/wysiwyg/ico-sprite.png) no-repeat;
    list-style-type: none;
    margin: 0;
    display:inline-block;
    line-height: 25px;
    height: 25px;
}

#footer .footer .full-col .sub-col1 ul li{
    width: 29px;
}

#footer .footer .full-col ul li.no-bg {
    width: auto!important;
    height: auto;
    margin-right: 10px;
    background: none transparent;
}

#footer .footer .full-col .sub-col1 ul li.visa		{ background-position: -1px -243px; }
#footer .footer .full-col .sub-col1 ul li.master		{ background-position: -36px -243px;}
#footer .footer .full-col .sub-col1 ul li.dinners	{ background-position: -70px -243px; }
#footer .footer .full-col .sub-col1 ul li.itau		{ background-position: -106px -243px;}
#footer .footer .full-col .sub-col1 ul li.boleto		{ background-position: -140px -243px;}
#footer .footer .full-col .sub-col1 ul li.amex		{ background-position: -175px -243px;}

#footer .footer .full-col .sub-col2 ul li{
    width: 71px;
}
#footer .footer .full-col .sub-col2 ul li.correios	{ background-position: -1px -270px; }
#footer .footer .full-col .sub-col2 ul li.sedex		{ background-position: -73px -270px;width: 65px;}
#footer .footer .full-col .sub-col2 ul li.pac		{ background-position: -138px -270px;}

#footer .footer .full-col .sub-col3 ul li{
    width: 71px;
}
#footer .footer .full-col .sub-col3 ul li.blindado	{ background-position: -1px -294px;}
#footer .footer .full-col .sub-col3 ul li.certsign	{ background-position: -77px -294px; width: 64px;}
#footer .footer .full-col .sub-col3 ul li.seguro		{ background-position: -149px -294px;}
.footer address{
    display:none;
}

#footer .footer .cols .sub-cols.sub-col1 {
    min-width: 100px;
    width: 30%;
}

#footer .footer-container .footer .cols {
    float: left;
}

.bx-wrapper .bx-viewport {
    text-align: center;
}

.bx-wrapper img {
    display: inline-block;
}

.cms-page-view .std p, .cms-no-route .std p {
    color: #5d5d5d;
    font-family: "Arial",Verdana,sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: 24px;
}