<div class="sub-cols sub-col1">
    <h3>Formas de Pagamento</h3>
    <div>
        <ul>
            <li><img src="http://i59.tinypic.com/14sl9v4.png" alt="" width="280" height="29" /></li>
        </ul>
    </div>
</div>
<div class="sub-cols sub-col2">
    <h3>Formas de Entrega</h3>
    <ul>
        <li class="correios"><a href="#">&nbsp;</a></li>
        <li class="sedex"><a href="#">&nbsp;</a></li>
        <li class="pac"><a href="#">&nbsp;</a></li>
    </ul>
</div>
<div class="sub-cols sub-col3">
    <h3>Selos de Seguran&ccedil;a</h3>
    <ul>
        <li class="no-bg">
            <div id="aw_malware">
                <param id="aw_malware_preload" value="true" />
            </div>
            <script type="text/javascript" src="//selo.siteblindado.com/aw_malware.js"></script>
        </li>
        <li class="no-bg">
            <div id="sustainable_website">&nbsp;</div>
            <script type="text/javascript" src="//selo.sitesustentavel.com.br/selo_sustentavel.js"></script>
        </li>
    </ul>
</div>