body {
    background: url("../../wysiwyg/light_wool.png") repeat scroll center top rgba(0, 0, 0, 0)!important;
}

.wrapper {
    background: none transparent!important;
}

/* Cores */
body .input-text:focus {
    border: 1px solid #BA0B0B;
}

body a {
    color: #353535;
}

body  .block-subtitle,
body #customer-reviews h2,
body #customer-reviews h3 span {
    color: #BA0B0B;
}

/* General */
body .input-text {
    border-radius: 4px;
}

body .block-title h2,
body .block-title h3,
body .block-title strong {
    font-family: "Open Sans";
    color: #353535;
}

body .block-title {
    padding: 0 13px;
}

.sidebar .block-layered-nav .block-subtitle--filter:hover,
body .block-layered-nav .block-content > dl > dt,
body:not(.customer-account) .block:first-child .block-title {
    background-color: #ba0b0b;
}

body:not(.customer-account) .block:first-child .block-title strong span,
body .block-layered-nav .block-content > dl > dt a,
body .block-layered-nav .block-content > dl > dt {
    color: #FFF;
    font-family: "Open Sans";
    font-weight: bold;
}

body .pages .current,
body .pages .current:hover {
    color: #BA0B0B;
}

body .osc-title,
body h2.product-name,
body h3.product-name,
body h4.product-name,
body h5.product-name,
body p.product-name{
    color: #353535;
}

.dashboard .col2-set .col-1 .box-title a,
.dashboard .col2-set .col-2 .box-title a {
    position: static;
    left: inherit;
    top: inherit;
    padding-left: 0;
}

/* Header */
#header {
    font-family: "Open Sans";
}

#header .header-toolbar {
    height: auto;
    line-height: inherit;
    font-size: inherit;
    background-color: transparent;
    margin-bottom: 10px;
}

#header .header-toolbar-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    border-bottom: 1px solid #cccccc;
    position: relative;
    z-index: 2;
}

#header .header-toolbar-wrapper:before {
    left: 100%;
}

#header .header-toolbar-wrapper:after,
#header .header-toolbar-wrapper:before {
    border-bottom: 1px solid #cccccc;
    content: " ";
    display: block;
    position: absolute;
    top: 100%;
    width: 150px;
    z-index: 1;
}

#header .header-toolbar-wrapper:after {
    right: 100%;
}

#header-nav {
    width: 100%;
    clear: both;
}

#header .toplinks {
    float: left;
}

#header .welcome-message {
    margin-top: 0;
    line-height: 28.1667px;
    padding: 10px;
}

#header .info-top {
    float: right;
    margin: 5px 35px 0 0;
}

#header .tel-top {
    float: right;
}

.banners-list {
    clear: both;
    float: none;
    margin: 35px auto 25px auto;
    width: 600px;
}

.banner-list {
    float: left;
    margin: 0 5px;
}

.welcome-message {
    font-size: 13px;
    font-weight: 600;
    color: #000;
}

#header .toplinks li {
    line-height: 28.1667px;
    padding: 10px;
}

#header .toplinks li.last {
    background: none repeat scroll 0 0 #ba0b0b !important;
    color: #FFF!important;
    margin: 5px;
    border-radius: 2px;
    padding: 5px!important;
}

#header .toplinks li.last:hover {
    background: none repeat scroll 0 0 #000000 !important;
}

#header .toplinks li a {
    color: #909090;
    padding: 5px;
    font-size: 13px;
}

#header .toplinks li.last a {
    color: #FFF!important;
    font-size: 14px!important;
    font-weight: bold;
    text-decoration: none;
}

.phone-header {
    color: #000;
    background: url("../../wysiwyg/phone.png") no-repeat scroll 0 50% rgba(0, 0, 0, 0);
    font-size: 16px;
    font-weight: 600;
    line-height: 38px;
    padding-left: 30px;
}

#header .toplinks li.last a:hover {
    background: #000;
}

/* Menu */
#header #header-nav {
    width: 100%;
    background-color: #ba0b0b;
}

#header .header-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

#header .nav-primary {
    margin: 0;
    padding: 0;
}

#header .nav-primary li.level0 > a {
    border: none;
}

#header #nav li a {
    width: 100%;
    text-align: center;
    display: inline-block;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    padding: 15px;
    border: none;
    font-family: "Open Sans";
    text-shadow: 1px 1px 3px #353535;
    transition: all 200ms ease 0s;
}

#header #nav li:hover a.level-top::before {
    background-color: #890000;
    bottom: -15px;
    box-shadow: 5px 2px 7px #890000;
    content: " ";
    height: 15px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 999;
}

#header #nav li.last:hover a.level-top::before {
    display: none;
}

#header #nav li:hover a.level-top {
    position: relative;
    background-color: #890000;
}

#header #nav li:hover a.level-top {
    box-shadow: 0 12px 10px -6px #540000 inset;
}

#header .nav-primary {
    width: 100%;
    display: table;
    position: relative;
}

#header .nav-primary li.level0,
#header .nav-primary a.level0,
#header .nav-primary a.level-top {
    display: table-cell;
    position: static;
}

#header .skip-links {
    clear: none;
    overflow: inherit;
}

#header #header-search {
    width: 45%;
    position: static;
    left: inherit;
    top: inherit;
    float: left;
    margin-top: 35px;
    border-radius: 0 0 3px 3px;
}

.minicart-wrapper .mini-products-list .product-details {
    float: left;
    margin-left: 15px;
    width: calc(100% - 70px);
}

#header .subtotal {
    line-height: 21px;
}

.skip-active .block-cart,
.block-cart.skip-active {
    position: relative;
    z-index: 10;
}

.close.skip-link-close {
    float: right;
    font-size: 35px;
}

.minicart-wrapper .mini-products-list .product-details .product-name {
    padding-top: 0;
    font-weight: bold;
}

.mini-products-list .qty.cart-item-quantity {
    margin: 0 10px;
    min-height: 32px;
    text-align: center;
    width: 42px;
}

.minicart-wrapper .mini-products-list li {
    margin-bottom: 15px;
}

#header #header-cart.skip-active {
    top: 80px;
}

.mini-cart-actions .cart-link {
    line-height: 30px;
}

/* Sub Menu */
#header .nav-primary li.level0 ul {
    width: 100%;
    top: 60px;
    padding: 0;
    border: none;
    z-index: 11;
    box-shadow: 0 12px 10px -6px #540000 inset;
    background-color: #890000;
}

#nav .level0 li {
    float: left;
    min-width: 119px;
}

/* Header Cart */
#header .skip-cart {
    position: relative;
    background: url("../../wysiwyg/top_cart.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 35px;
    margin: 38px 0 0 15px;
    padding: 0;
    position: relative;
    right: inherit;
    top: inherit;
    width: 50px;
}

#header .mini-cart-subtotal {
    background-color: transparent;
    margin: 53px 92px 0 0;
    float: left;
    text-decoration: none;
}

#header .mini-cart-subtotal {
    text-decoration: none;
}

#header .mini-cart-subtotal .price {
    font-size: 20px;
    font-weight: 800;
    color: #000;
}

#header .count {
    background: none repeat scroll 0 0 #353535;
    border-radius: 20px;
    color: #FFF!important;
    display: block;
    font-size: 10px;
    font-weight: 400;
    left: 30px;
    line-height: 17px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 16px;
    height: auto;
    font-family: "Open Sans";
}

#header .skip-cart .label {
    display: none;
}

 .minicart-wrapper {
     padding: 10px;
    box-shadow: 0 5px 11px 2px #878787;
}

.mini-cart-actions .cart-link {
    float: left;
}

/* Banner home */
.banners-home {
    float: right;
}

/* Footer Icons */

#footer .footer {
    font-family: "Open Sans";
}

#footer .payment-icons li,
#footer .security-icons li {
    float: left;
    margin: 0 20px 0 0;
}

#footer .payment-icons span.ico.mastercard {
    background-position: -264px 0;
    width: 31px;
}

#footer .payment-icons span.ico.visa {
    background-position: -300px 0;
    width: 40px;
}

#footer .payment-icons span.ico.diners {
    background-position: -385px 0;
    width: 28px;
}

#footer .payment-icons span.ico.amex {
    background-position: -347px 0;
    width: 31px;
}

#footer .payment-icons span.ico.boleto {
    background-position: -222px 0;
    width: 37px;
}

#footer .payment-icons span.ico,
#footer .security-icons span.ico {
    background: url("../../wysiwyg/footer_icons.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 21px;
}

#footer .custom-footer-content .custom-links li {
    background: none transparent;
    display: block;
    line-height: 1.7em;
    padding: 0;
}

#footer .custom-footer-content em {
    font-style: normal;
}

#footer .security-icons span.ico.comodo {
    background-position: -486px 0;
    width: 15px;
}

#footer .security-icons span.ico.seguro {
    background-position: -424px 0;
    width: 48px;
}

#footer .col {
    float: left;
}

#footer .footer-top,
#footer .footer-bottom {
    width: 100%;
    float: left;
    clear: both;
}

#footer .footer-top {
    margin-bottom: 60px;
    padding-bottom: 0;
    padding-top: 55px;
}

#footer .footer-bottom {
    border-bottom: 2px solid #e4e4e4;
    border-top: 2px solid #e4e4e4;
    margin-bottom: 10px;
    padding: 25px 0;
    background-color: #FFF;
}

#footer .footer-top .col,
#footer .footer-bottom .col { width: 30%; margin-right: 3.33%; }

#footer .title {
    color: #747474;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 3px;
    text-transform: uppercase;
    font-family: "Raleway",sans-serif;
}

#footer div.title-divider span {
    display: none;
}

.title-divider {
    background: none repeat scroll 0 0 #d2d2d2;
    height: 1px;
    overflow: hidden;
    width: 100%;
    margin-bottom: 5px;
}

#footer .custom-links,
#footer .security-icons {
    padding: 16px 0 0 12px;
}

#footer .security-icons {
    padding-left: 0;
}

#footer .custom-links a {
    font-family: "Open Sans",​sans-serif;
    font-size: 12.8px;
    font-weight: 400;
    font-style: normal;
    color: #909090;
    text-decoration: none;
    line-height: 19.2px;
    transition: all 200ms ease 0s;
}

#footer .custom-links a:hover {
    color: #890000;
}

#footer .footer-container {
    padding: 0 15px;
}

#footer .footer-bottom-container {
    margin: 0 auto;
    max-width: 1260px;
    padding: 15px;
    position: relative;
}

.footer-newsletter {
    min-height: 135px;
    background: #353535;
}

.footer-newsletter-container {
    margin: 0 auto;
    max-width: 1260px;
}

.footer-newsletter-container .block-title,
.footer-newsletter-container .form-subscribe-header {
    display: none;
}

.footer-newsletter-container .textnews {
    width: 65%;
    font-size: 24px;
    color: #FFF;
    float: left;
    font-weight: 400;
    line-height: 28px;
    margin: 40px 0 0;
}

.footer-newsletter-container .block-subscribe {
    width: 35%;
    float: left;
}

.footer-newsletter-container .block-content {
    float: left;
    border: 3px solid #e1e4da;
    height: 48px;
    line-height: 48px;
    padding: 0;
    margin-top: 40px;
    background: #FFF;
}

.footer-newsletter-container .block-subscribe .input-text {
    height: 40px;
    border: none;
    float: left;
    font-size: 13px;
    text-indent: 12px;
    color: #000;
    background: none transparent;
}

.footer-newsletter-container .block-subscribe .actions,
.footer-newsletter-container .block-subscribe .input-box {
    float: left;
    margin: 0;
}

.footer-newsletter-container .block-subscribe .actions {
    width: 16.33%;
}

.footer-newsletter-container .block-subscribe .input-box {
    width: 83.67%;
}

.footer-newsletter-container .block-subscribe button {
    width: 100%;
    border-left: 0 none;
    cursor: pointer;
    position: relative;
    float: left;
    font-size: 30px;
    padding: 0 6px;
    height: 42px;
    border-left: 3px solid #e1e4da;
    transition: all 200ms ease 0s;
    overflow: hidden;
    text-align: center;
    color: #999699;
    background: none #FFF;
}

.footer-newsletter-container .block-subscribe button span {
    text-indent: -9999px;
    display: inline-block;
}

.footer-newsletter-container .block-subscribe button:before {
    content: "+";
    display: inline-block;
}

.footer-newsletter-container .block-subscribe button:hover {
    color: #FFF;
    background: #890000;
}

/* Titles */
body h1,
body .h1,
body h2,
body .h2,
body .page-title h1,
body .page-title h2,
body .product-name h1,
body .product-name .h1,
body .block-related .block-title h2 {
    font-family: "Open Sans",​sans-serif;
    font-size: 25px;
    font-weight: 400;
    font-style:	normal;
    color: #333;
    line-height: 25px;
    vertical-align:	top;
}

/* Product Name */
body .block-related .product-name,
body .products-grid .product-name,
body .products-list .product-name {
    min-height: 80px;
    font-family: "Open Sans",​sans-serif;
    font-size: 13px;
    font-weight: normal;
    font-style:	normal;
    color:	#353535;
    text-decoration: none;
    line-height: 15.6px;
    text-align:	center;
}

body .price-box .price,
body .price {
    font-family: "Open Sans",​sans-serif;
    font-size: 14px;
    font-weight: 700;
    font-style:	normal;
    color: #cb232d;
    line-height: 20px;
    text-align:	center;
    vertical-align:	top;
}

/* Removes */
.skip-cart .count::after,
.skip-cart .count::before,
.catalog-category-view .sidebar .block-subcategories,
.customer-account .block-categories,
.customer-account .block-compare,
.sidebar .block-reorder,
.sidebar .block-viewed,
.product-view .link-compare,
.more-views > h2,
#show-parcelas,
.product-view .availability,
body .block-related .add-to-links,
body .products-grid .add-to-links {
    display: none;
}

/* Buttons */
body .products-grid button.btn-cart,
body .col-main .products-grid button.btn-cart,
body .button,
body .cart-table .product-cart-actions .button,
body #co-shipping-method-form .buttons-set .button,
body .footer .button,
body .owl-carousel.owl-theme .owl-controls .owl-buttons div {
    background: none #353535;
    font-weight: bold;
    border-radius: 2px;
    font-family: "Open Sans",​sans-serif;
}

body button.btn-cart:focus,
body button.btn-proceed-checkout:focus,
body button.btn-checkout:focus,
body .button:focus,
body .cart-table .product-cart-actions .button:focus,
body #co-shipping-method-form .buttons-set .button:focus,
body .footer .button:focus,
body .owl-carousel.owl-theme .owl-controls .owl-buttons div:focus,
body .products-grid button.btn-cart:hover,
body .col-main .products-grid button.btn-cart:hover,
body .button:hover,
body .cart-table .product-cart-actions .button:hover,
body #co-shipping-method-form .buttons-set .button:hover,
body .footer .button:hover,
body .owl-carousel.owl-theme .owl-controls .owl-buttons div:hover,
body .button:active,
body .cart-table .product-cart-actions .button:active,
body #co-shipping-method-form .buttons-set .button:active,
body .footer .button:active,
body .owl-carousel.owl-theme .owl-controls .owl-buttons div:active {
    background: none #890000;
}

/* Final Buttons */

body button.btn-cart,
body button.btn-proceed-checkout,
body button.btn-checkout,
body button.btn-cart:hover,
body button.btn-proceed-checkout:hover,
body button.btn-checkout:hover,
body button.btn-cart:active,
body button.btn-proceed-checkout:active,
body button.btn-checkout:active {
    background: none repeat scroll 0 0 #f77b2a;
}

/* Product List */
body .block-related .button,
body .products-grid .button,
body .products-list .button {
    width: 100%;
}

/* Breadcrumbs */
body .bradcrumbs {
    margin: 0 0 28px;
}

body .breadcrumbs li {
    text-transform: none;
    font-family: "Open Sans";
}

.breadcrumbs strong {
    color: #890000;
}

/* Sprite */
body .icon-sprite,
body .btn-remove2,
body .ratings .rating-box,
body .ratings .rating-box .rating,
body .sorter > .sort-by .sort-by-switcher,
body .sorter > .view-mode .grid,
body .sorter > .view-mode .list,
body .skip-nav .icon,
body .skip-search .icon,
body #search_mini_form .search-button::before,
body .skip-account .icon,
body .skip-cart .icon,
body .product-view .sharing-links a,
body .review-summary-table .rating-box .rating-number::after,
body .ratings-table .rating-box,
body .ratings-table .rating-box .rating {
    background-image: url("../../wysiwyg/icon_sprite.png");
}

/* Product View */
body .product-collateral .toggle-tabs {
    background-color: #ebebeb;
    border-radius: 4px;
}

body .product-collateral .toggle-tabs li.current > span {
    box-shadow: 0 5px 14px -5px #353535 inset;
    background: none transparent;
}

body .product-collateral .toggle-tabs li {
    border: none!important;
}

body .product-collateral .toggle-tabs li > span {
    color: #353535;
    font-family: "Open Sans";
    bottom: inherit;
    padding: 2px 30px 0 30px;
}

body .product-collateral .toggle-tabs li.current span,
body .product-collateral .toggle-tabs li:hover span {
    color: #353535;
}

body .product-view .product-essential .extra-info .ratings .rating-box,
body .product-view .product-essential .extra-info .ratings .amount {
    float: right;
}

body .product-view .ratings .rating-links {
    margin: 8px 10px;
}

.product-view .price-box .regular-price .price,
.product-view .price-box .special-price .price {
    font-size: 25px;
}

.product-image,
.no-touch .product-img-box .product-image:hover:not(.zoom-available) {
    border-color: #353535!important;
    border-radius: 2px;
}

.products-grid .product-image {
    border-color: #ededed!important;
}

.price-info {
    margin-bottom: 35px;
}

body .product-options-bottom,
body .product-options {
    border: none;
    color: #353535;
    background: #ebebeb;
}

body .product-options p.required {
    text-align: right;
    font-weight: bold;
    background: rgba(255,255,255,0.2);
    padding: 5px 10px;
}

.product-options dt {
    color: #353535;
}

/* Clears */
#header-account:after,
.skip-links:after,
.minicart-actions:after,
.banners-list:after,
.footer-newsletter-container:after,
.header-toolbar-content:after {
    content: ".";
    overflow: hidden;
    display: block;
    height: 0;
    line-height: 0;
    font-size: 0;
    clear: both;
}

/* Checkout */
.form-list .control label, .sp-methods dt label, #checkout-shipping-method-load .sp-methods dd label, #co-shipping-method-form .sp-methods dd label, .product-options ul.options-list label { max-width: 300px; }

/* Success */
#bannerEbit {
    text-align: center;
}
#bannerEbit img {
    display: inline-block;
    margin: 10px 0;
}

.block-layered-nav.block-subcategories .block-content {
    padding-left: 28px;
}

body:not(.customer-account) .block:first-child .block-title {
    padding: 10px;
}

/* Customer Account */
.block-account li a,
.block-cms-menu li a {
    padding-left: 30px;
}

/* Responsive */
@media (max-width: 480px) {
    /* Header */
    #header .info-top {
        margin: 5px 0 0;
        text-align: center;
    }

    #header #header-search {
        float: none;
    }

    #header .header-toolbar {
        padding: 0 12px;
    }

    #header .tel-top {
        width: 100%;
        clear: both;
        text-align: center;
    }

    #header .skip-links {
        width: 100%;
        clear: both;
    }

    .topLinks-container,
    #header .toplinks {
        width: 100%;
    }

    #header .toplinks li {
        width: 46%;
        float: left;
        text-align: center;
    }

    #header .logo {
        width: 100%;
    }

    .skip-link {
        width: 26%;
    }

    #header .skip-link .label,
    .bx-wrapper {
        display: none;
    }

    .block-related .actions,
    .products-grid .actions {
        bottom: inherit;
        position: static;
        min-height: auto;
    }

    .block-related .product-info,
    .products-grid .product-info {
        min-height: auto!important;
    }

    .banners-list {
        width: 100%;
    }

    .banner-list {
        width: 48%;
        margin: 0 1%;
    }

    .banner-list > a {
        text-align: center;
        width: 100%;
        display: block;
    }

    .banner-list > a img {
        display: inline-block;
    }

    #header #header-search {
        width: 100%;
        margin-top: 0;
    }

    #header #header-account li a,
    #header .nav-primary a.level0 {
        text-align: center;
    }

    #header .skip-cart{
        margin: 0;
        background: none transparent;
    }

    #header .logo .small {
        display: inline-block;
    }

    /* Menu */
    #header .nav-primary li.level0,
    #header .nav-primary a.level0,
    #header .nav-primary a.level-top {
        display: block;
    }

    .toolbar .limiter label {
        display: inline;
    }

    /* Removes */
    #header .header-toolbar-wrapper::after,
    #header .header-toolbar-wrapper::before,
    .main .product-view .parcelamento .tabela-parcelamento,
    #header #nav li:hover a.level-top::before,
    #header .banners-list,
    #header .count,
    #header .mini-cart-subtotal,
    #header .header-toolbar .toplinks {
        display: none;
    }

    /* Content */
    #comprar-masculino {
        border-left: 0 none !important;
        padding: 0 !important;
    }

    .banners-home {
        display: none;
    }

    /* Product View */
    .product-view .product-shop .extra-info,
    .product-view .product-shop .price-info {
        max-width: 100%;
    }

    /* Checkout */
    button.btn-proceed-checkout {
        margin-right: 0!important;
    }

    /* Footer */
    .footer-newsletter-container .textnews,
    .footer-newsletter-container .block-subscribe {
        width: 96%;
        margin-right: 2%;
        margin-left: 2%;
    }

    .footer-newsletter-container .block-content,
    .footer-newsletter-container .block-subscribe > form,
    .footer-newsletter-container .block-subscribe .input-text {
        width: 100%;
    }

    #footer .footer-top .col,
    #footer .footer-bottom .col {
        width: 100%;
        text-align: center;
        margin-bottom: 25px;
    }

    #footer .custom-links,
    #footer .security-icons {
        padding-left: 0;
    }

}

@media (min-width: 480px) and (max-width: 767px) {
    /* Header */
    #header .logo .small {
        display: inline-block;
    }

    #header #header-search {
        float: none;
    }

    #header .info-top {
        margin: 5px 0 0;
        text-align: center;
    }

    #header .header-toolbar {
        padding: 0 12px;
    }

    #header .tel-top {
        width: 100%;
        clear: both;
        text-align: center;
    }

    #header .skip-links {
        width: 100%;
        clear: both;
    }

    .topLinks-container,
    #header .toplinks {
        width: 100%;
    }

    #header .toplinks li {
        width: 46%;
        float: left;
        text-align: center;
    }

    #header .logo {
        width: 100%;
    }

    .skip-link {
        width: 26%;
    }

    #header .skip-link .label,
    .bx-wrapper {
        display: none;
    }

    .block-related .actions,
    .products-grid .actions {
        bottom: inherit;
        position: static;
        min-height: auto;
    }

    .block-related .product-info,
    .products-grid .product-info {
        min-height: auto!important;
        padding-bottom: 0;
    }

    .banners-list {
        width: 100%;
    }

    .banner-list {
        width: 48%;
        margin: 0 1%;
    }

    .banner-list > a {
        text-align: center;
        width: 100%;
        display: block;
    }

    .banner-list > a img {
        display: inline-block;
    }

    #header #header-search {
        width: 100%;
        margin-top: 0;
    }

    #header #header-account li a,
    #header .nav-primary a.level0 {
        text-align: center;
    }

    #header .skip-cart{
        width: 21%;
        height: 44px;
        margin: 0;
        background: #FFF;
    }

    /* Menu */
    #header .nav-primary li.level0,
    #header .nav-primary a.level0,
    #header .nav-primary a.level-top {
        display: block;
    }

    .toolbar .limiter label {
        display: inline;
    }

    /* Removes */
    #header .header-toolbar-wrapper::after,
    #header .header-toolbar-wrapper::before,
    .main .product-view .parcelamento .tabela-parcelamento,
    #header #nav li:hover a.level-top::before,
    #header .banners-list,
    #header .count,
    #header .mini-cart-subtotal,
    #header .header-toolbar .toplinks {
        display: none;
    }

    /* Content */
    #comprar-masculino {
        border-left: 0 none !important;
        padding: 0 !important;
    }

    .banners-home {
        display: none;
    }

    /* Product View */
    .product-view .product-shop .extra-info,
    .product-view .product-shop .price-info {
        max-width: 100%;
    }

    /* Checkout */
    button.btn-proceed-checkout {
        margin-right: 0!important;
    }

    /* Footer */
    .footer-newsletter-container .textnews,
    .footer-newsletter-container .block-subscribe {
        width: 96%;
        margin-right: 2%;
        margin-left: 2%;
    }

    .footer-newsletter-container .block-content,
    .footer-newsletter-container .block-subscribe > form,
    .footer-newsletter-container .block-subscribe .input-text {
        width: 100%;
    }

    #footer .footer-top .col,
    #footer .footer-bottom .col {
        width: 100%;
        text-align: center;
        margin-bottom: 25px;
    }

    #footer .custom-links,
    #footer .security-icons {
        padding-left: 0;
    }
}

@media (max-width: 767px) {

}

@media (min-width: 768px) and (max-width: 769px) {

    /* Header */
    #header .info-top {
        margin: 5px 0 0;
        text-align: center;
    }

    #header .header-toolbar {
        padding: 0 12px;
    }

    #header .toplinks li {
        width: 46%;
        float: left;
        text-align: center;
    }

    #header .logo {
        width: 100%;
    }

    .skip-link {
        width: 26%;
    }

    #header .skip-link .label,
    .bx-wrapper {
        display: none;
    }

    .block-related .actions,
    .products-grid .actions {
        bottom: inherit;
        position: static;
        min-height: auto;
    }

    .block-related .product-info,
    .products-grid .product-info {
        min-height: auto!important;
    }

    .banners-list {
        width: 100%;
    }

    .banner-list {
        width: 48%;
        margin: 0 1%;
    }

    .banner-list > a {
        text-align: center;
        width: 100%;
        display: block;
    }

    .banner-list > a img {
        display: inline-block;
    }

    #header #header-search {
        width: 100%;
        margin-top: 0;
    }

    #header #header-account li a,
    #header .nav-primary a.level0 {
        text-align: center;
    }

    #header .skip-cart{
        margin: 0;
        background: none transparent;
    }

    #header .header-toolbar-content .toplinks {
        display: none;
        min-width: 258px;
    }

    #header .welcome-message {
        display: inline-block;
    }

    #header .info-top {
        margin-right: 55px;
    }

    #header .skip-cart {
        width: 20%;
    }

    #header #header-cart.skip-active {
        left: 9px;
        top: 225px;
        width: 98%;
        position: absolute;
    }

    #header .toplinks,
    #header-account {
        width: 100%;
    }

    .page-header-container .logo .small {
        display: inline-block;
    }

    /* Menu */
    #header .nav-primary li.level0,
    #header .nav-primary a.level0,
    #header .nav-primary a.level-top {
        display: block;
    }

    .toolbar .limiter label {
        display: inline;
    }

    /* Removes */
    .main .product-view .parcelamento .tabela-parcelamento,
    #header #nav li:hover a.level-top::before,
    #header .banners-list,
    #header .count,
    #header .mini-cart-subtotal {
        display: none;
    }

    /* Content */
    #comprar-masculino {
        border-left: 0 none !important;
        padding: 0 !important;
    }

    .banners-home {
        display: none;
    }

    /* Product View */
    .product-view .product-shop .extra-info,
    .product-view .product-shop .price-info {
        max-width: 100%;
    }

    /* Checkout */
    button.btn-proceed-checkout {
        margin-right: 0!important;
    }

    /* Footer */
    .footer-newsletter-container .textnews,
    .footer-newsletter-container .block-subscribe {
        width: 96%;
        margin-right: 2%;
        margin-left: 2%;
    }

    .footer-newsletter-container .block-content,
    .footer-newsletter-container .block-subscribe > form,
    .footer-newsletter-container .block-subscribe .input-text {
        width: 100%;
    }

    #footer .footer-top .col,
    #footer .footer-bottom .col {
        width: 45%;
        text-align: center;
        margin-bottom: 25px;
    }

    #footer .custom-links,
    #footer .security-icons {
        padding-left: 0;
    }
}

@media (min-width: 770px) and (max-width: 977px) {

    /* Header */
    #header .info-top {
        margin: 5px 0 0;
        text-align: center;
    }

    #header .header-toolbar {
        padding: 0 12px;
    }

    #header .toplinks li {
        width: 46%;
        float: left;
        text-align: center;
    }

    #header .logo {
        width: 100%;
        height: auto;
    }

    .skip-link {
        width: 26%;
    }

    #header .skip-link .label,
    .bx-wrapper {
        display: none;
    }

    .block-related .actions,
    .products-grid .actions {
        bottom: inherit;
        position: static;
        min-height: auto;
    }

    .block-related .product-info,
    .products-grid .product-info {
        min-height: auto!important;
    }

    .banners-list {
        width: 100%;
    }

    .banner-list {
        width: 48%;
        margin: 0 1%;
    }

    .banner-list > a {
        text-align: center;
        width: 100%;
        display: block;
    }

    .banner-list > a img {
        display: inline-block;
    }

    #header #header-search {
        width: 100%;
        margin-top: 0;
    }

    #header #header-account li a,
    #header .nav-primary a.level0 {
        text-align: center;
    }

    #header .header-toolbar-content .toplinks {
        display: none;
        min-width: 258px;
    }

    #header .welcome-message {
        display: inline-block;
    }

    #header .info-top {
        margin-right: 55px;
    }

    #header #header-cart.skip-active {
        left: 9px;
        top: 225px;
        width: 98%;
        position: absolute;
    }

    #header .toplinks,
    #header-account {
        width: 100%;
    }

    .page-header-container .logo .small {
        display: inline-block;
    }

    .toolbar .limiter label {
        display: inline;
    }

    #header .logo {
        max-width: 245px;
    }

    #header .mini-cart-subtotal {
        margin-right: 0;
    }

    #header #nav li a {
        font-size: 12px;
        padding-right: 8px;
        padding-left: 8px;
    }

    #header #header-search {
        width: 45%;
        margin-top: 35px;
    }

    /* Removes */
    #header .header-toolbar-wrapper::after,
    #header .header-toolbar-wrapper::before,
    #header .logo .large,
    .main .product-view .parcelamento .tabela-parcelamento,
    #header #nav li:hover a.level-top::before,
    #header .banners-list,
    #header .skip-cart .icon {
        display: none;
    }

    /* Content */
    #comprar-masculino {
        border-left: 0 none !important;
        padding: 0 !important;
    }

    .main .col-main {
        width: 69%;
    }

    .catalog-product-view .main .col-main {
        width: 100%;
    }

    .product-view .container-product-basic-and-image-gallery {
        clear: none;
        float: left;
        width: 75%;
    }

    /* Product View */
    .product-view .product-shop .extra-info,
    .product-view .product-shop .price-info {
        max-width: 100%;
    }

    /* Checkout */
    button.btn-proceed-checkout {
        margin-right: 0!important;
    }

    /* Footer */
    .footer-newsletter-container .textnews,
    .footer-newsletter-container .block-subscribe {
        width: 96%;
        margin-right: 2%;
        margin-left: 2%;
    }

    .footer-newsletter-container .block-content,
    .footer-newsletter-container .block-subscribe > form,
    .footer-newsletter-container .block-subscribe .input-text {
        width: 100%;
    }

    #footer .footer-top .col,
    #footer .footer-bottom .col {
        width: 45%;
        text-align: center;
        margin-bottom: 25px;
    }

    #footer .custom-links,
    #footer .security-icons {
        padding-left: 0;
    }
}

@media (min-width: 978px)  and (max-width: 1279px) {
    .skip-cart .icon {
        display: none!important;;
    }

    #header #header-search {
        width: 37%;
    }

    .footer-newsletter-container .textnews {
        width: 58%;
        margin-left: 12px;
    }

    #header .header-toolbar-wrapper::after,
    #header .header-toolbar-wrapper::before {
        display: none;
    }

    #header .header-toolbar-wrapper {
        padding: 0 20px;
    }

}

@media (max-width: 980px) {
    .zoomWindowContainer,
    .zoomLens {
        display: none!important;
    }
}

@media (min-width: 1280px) {
    .skip-cart .icon {
        display: none!important;
    }
}