.col2-layout .products-grid.default-grid li.item {
    width: 213px;
}

.products-grid.default-grid li.item:nth-child(3n+3) {
    margin-right: 10px;
}

.col2-layout .products-grid.default-grid li.item {
    width: 213px;
}

.checkout-cart-configure .add-to-cart .qty {
    height: 42px;
    text-align: center;
    width: 12% !important;
}

.checkout-cart-configure .product-view .button.btn-cart {
    float: right;
    width: 80%;
}


.my-wishlist .data-table button {
    margin: 10px 5%;
    width: 90%;
}

.my-wishlist .data-table button.button span {
    width: 100%;
    display: inline-block;
    height: auto;
    white-space: normal;
}

.my-wishlist .data-table button.button span span {
    padding: 0;
}

.my-wishlist .data-table td {
    padding-top: 10px;
    text-align: center;
}

.my-wishlist .btn-remove {
    margin: 15px 0;
    position: static;
    left: inherit;
    top: inherit;
    display: inline-block;
}

.my-wishlist .data-table .qty {
    float: none;
    text-align: center;
    margin: 0 50px;
}

.my-wishlist .data-table td.last {
    padding: 10px 28px;
}

.my-wishlist .page-title.title-buttons .title-divider {
    float: left;
}

a.fancybox {
    width: 30px;
    height: 30px;
    background: url(../../wysiwyg/magnifier-icon.png) 0 0 no-repeat;
}

.my-wishlist .data-table textarea {
    float: none;
    margin: 0 auto;
}

.my-wishlist .data-table .price-box {
    display: none;
}

.product-view .add-to-links {
    margin-bottom: 25px;
}

.product-view .add-to-links .link-compare {
    font-size: 20px;
    padding-left: 20px;
    background: url(/../../media/wysiwyg/compare_marker.png) 0 6px no-repeat;
}

body .product-view .button.btn-cart {
    width: 88%;
    float: left;
}

body .product-view .product-shop .add-to-cart .no-display {
    display: inline-block;
    float: left;
    margin-right: 2%;
    width: 10%;
    position: relative;
}

body .product-view .product-shop .add-to-cart label {
    display: block;
    margin-bottom: 5px;
}

body .product-view .product-shop .add-to-cart .qty {
    box-sizing: border-box;
    float: left;
    min-height: 28px;
    text-align: center;
    width: 100% !important;
}

.add-to-cart input.quantity-decrease,
.add-to-cart input.quantity-increase {
    display: none;
}