.nav-primary {
    margin-top: 0;
}

.nav-primary li.level0>a {
    font-weight: bold;
}

/********* Top Link **********/
.page .header-language-background{
    display:none;
}

/********* Topo **********/
#header{
    clear:both;
}
#header.page-header{
    max-width:100%;
    padding: 0;
}
#header .page-header-container {
    width: 100%;
    max-width: 1260px;
    padding: 5px 30px 10px 30px;
    margin: 0 auto;
}

#header .skip-link {
    background-color: transparent;
}
#header .skip-link .label {
    text-transform: capitalize;
}

.welcome-message {
    display:block;
    float: left;
    color: #FFF;
    margin-top: 0;
    margin-left: 50px;
}

/* Media Queries Desktop */
@media only screen and (min-width: 771px){

    #header-cart.block-cart{
        top: 90px;
    }
    a.skip-active{
        border: solid 1px #eee;
    }
    #header-links{
        display: block;
    }
    #header-links .links li{
        display:inline-block;
    }
    #header-links li a{
        padding-left: 25px;
    }
    #header-links li.link1 a{
        background-position: 2px -192px;
    }
    #header-links li.link2 a{
        background-position: -46px -53px;
    }
    #header-links li.link3 a{
        background-position: 2px -221px;
    }
}

/**** Busca ****/
/* Media Queries Desktop */
@media only screen and (min-width: 771px){
    #header-search {
        display: block;
        float: right;
        width: 25%;
        height: 40px;
        padding: 0;
        left: inherit;
        top: inherit;
        position: inherit;
    }
    #header-search.mini-search{
        display:none;
    }
    .search-autocomplete:before{
        display:none;
    }
}

/*****  Menu *****/
#header-nav {
    background-color: #1F2434;
    clear: both;
    border-top: 1px solid #3b4154;
    position:relative;
}
#header-nav #nav {
    width: 100%;
    margin:0 30px;
}
#header-nav .header-bar{
    max-width: 1260px;
    margin: 0 auto;
    position: relative;
    padding: 0 30px;
}
#header-nav ul.level1{
    top:0;
}

.nav-primary {
    width: 100%;
    display: table;
}

#nav li.level0 {
    border-right: 1px solid #3b4154;
    display: table-cell;
    text-align: center;
}
/* Media Queries Desktop */
@media only screen and (min-width: 770px){
    #header-nav #nav {
        margin:0;
    }

    .nav-primary {
        padding: 0;
    }
    .nav-primary li.level0>a {
        border: 0;
        color: #EEE;
        padding: 10px 25px;
    }
    .nav-primary li.level0>a:hover {
        color: #999;
    }
    .nav-primary li.level0 ul {
        top: 60px;
        background-color: #1F2434;
    }
    .nav-primary li.level:hover{
        background:#666;
    }
}
/* Media Queries Celular */
@media only screen and (max-width: 771px){
    #header-nav {
        margin: 0 32px;
    }
    #header-nav .header-bar{
        padding:0 10px;
    }
    #header-nav #nav{
        margin:0;
    }
    .nav-primary li.level0>a {
        text-transform: uppercase;
        border: 0;
        padding: 10px 0;
        border-bottom: 1px solid #333;
        color: #FFF;
    }
    .no-touch #header-account a:hover,
    .no-touch .nav-primary a:hover{
        background-color: transparent;
        color:#333;
    }
}

/* Banner Home*/
div#area-banner>div {
    display: inline-block;
    max-width:100%;
}

#area-banner .banner1  {
    width: 74%;
}
#area-banner .banner2 {
    width: 24%;
    margin-left: 10px;
}
/* Media Queries Desktop */
@media only screen and (max-width: 770px){
    #area-banner .banner1  {
        width: 100%;
    }
    #area-banner .banner2 {
        display:none;
    }
}
#area-banner .banner2 .bx-controls-direction {
    display: none;
}
#area-banner .bx-wrapper .bx-pager{
    right:10px;
}

/******** Home *********/
.cms-home .category-products{
    border-top: 2px dotted #8b8c8d;
    text-align: center;
}
.cms-home header.h2.subtitle {
    margin-top: -15px;
    background: #FFF;
    display: inline-block;
    padding: 0 10px;
}

.products-grid .add-to-links {
    display: none;
}

.cms-home .products-grid .product-info{
    padding-bottom: 0;
}
.news-home {
    background-color: #d8e600;
}
.news-home .texto {
    line-height: 90px;
    font-size: 20px;
    padding: 0 10px;
    width: 60%;
    display: inline-block;
    margin:0;
}
.news-home .texto span {
    line-height: 20px;
    display: inline-block;
    vertical-align: middle;
}
.news-home .block.block-subscribe {
    width: 39%;
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 90px;
}
/* Media Queries Desktop */
@media only screen and (max-width: 770px){
    .news-home .texto,
    .news-home .block.block-subscribe {
        width: 100%;
    }
    .news-home .texto {
        text-align: center;
        font-size:15px;
    }
    .news-home .block.block-subscribe .block-content {
        margin: 0 10px;
    }
}
.news-home .block.block-subscribe .block-title,
.news-home .block.block-subscribe .form-subscribe-header{
    display:none;
}
.news-home .block.block-subscribe  input#newsletter {
    width: 100%;
    height:40px;
}
.news-home .block.block-subscribe .block-content {
    margin: 0;
}
.news-home .block.block-subscribe .input-box {
    display: inline-block;
    width: 70%;
}
.news-home .block.block-subscribe .actions{
    display: inline-block;
    width: 29%;
    margin:0;
}
.news-home .block.block-subscribe .actions .button{
    float:none;
    height: 40px;
}
.barra-face{
    width:100%;
    margin:0 auto;
    background:#3468AF;
}
.barra-face img{
    max-width:100%;
    margin:0 auto;
}

/******* Página de detalhes ******/
.catalog-product-view .main-container.col1-layout {
    background: #FFF;
}
.product-img-box  .product-image{
    float:right;
    width:80%;
}
.product-img-box .more-views{
    float:left;
    width:20%;
}


/******* Rodapé  *******/
#footer {
    color:#a4a4a4;
}

.footer,
.footer address {
    border:none;
}

.footer address {
    padding: 0;
}

.footer .block-subscribe .actions .button {
    border: 1px solid #C0C0C0;
    border-left:0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

/* Bandeiras de pagamento */
.bandeiras li{
    float:left;
    color: transparent;
    font-size:0;
    background: url('/media/wysiwyg/sprite-pagamento.png') no-repeat;
    width: 53px;
    height: 35px;
    margin: 12px 12px 0 0;
}
.bandeiras .visa {background-position: -64px 0;}
.bandeiras .master {background-position: -128px 0px;}
.bandeiras .diners {background-position: -1px -47px;}
.bandeiras .elo {background-position: -128px -47px;}
.bandeiras .american {background-position: -65px -93px;}
.bandeiras .boleto{background-position: -1px -138px; }

.footer h4,
.footer .block-title strong {
    color: #E5E5E5;
    font-weight: normal;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    border-bottom: 1px solid #393939;
    padding-bottom: 16px;
    display:block;
}
.footer .links li {
    border-bottom: 1px solid #393939;
    line-height: 1.3em;
    padding: 5px 0px;
}
.footer .links{
    min-width: 200px;
    min-height:130px;
}


/* Media Queries Desktop */
@media only screen and (min-width: 771px){
    .footer .bottom-container .widget-static-block {
        width: 70%;
        margin-bottom: 35px;
    }

    .footer a:hover,
    .footer .links a:hover {
        color: #D1D1D1;
        text-decoration:none;
    }

    .footer .block-subscribe .actions .button {
        width: 100%;
    }

}

/* Media Queries Celular */
@media only screen and (max-width: 480px){
    .footer .bottom-container .widget-static-block {
        margin-bottom: 35px;
        text-align: justify;
    }

    .footer .links {
        width:100%;
        clear:both;
    }

    .footer address {
        font-size: 13px;
    }

    .f-left {
        float: none;
        display: table;
        clear: both;
    }

    .footer a:hover,
    .footer .links a:hover {
        color: #D1D1D1;
        text-decoration:none;
    }


}

.footer .block-title,
.footer address {
    color:#999;
    border:0;
}

.input-text {font-size: 13px!important;}

.store-language-container {
    display: none;
}

.logo {
    width: auto;
}
/* Clears */
.header-search-holder:after,
.page-header-container:after { display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }

/* Language Switcher */
.language-switcher {
    width: 147px;
    height: 32px;
    float: right;
    margin: -5px 10px 5px 0;
    position: relative;
    background: url(../../wysiwyg/language/fundoLang.png) center center no-repeat;
}

.language-switcher #select-store{
    text-align: center;
    width: 100%;
    margin-top: 5px;
}

.language-switcher #select-store li {
    width: 22px;
    height: 17px;
    overflow: hidden;
    text-indent: -9999px;
    display: none;
    padding: 0;
    background: none transparent;
}

.language-switcher #select-store li.portugues_br {
    background: url(../../wysiwyg/language/flags/br.jpg) 0 0 /100% no-repeat;
}

.language-switcher #select-store li.ingles {
    background: url(../../wysiwyg/language/flags/us.jpg) 0 0 /100% no-repeat;
}

.language-switcher #select-store li.espanhol {
    background: url(../../wysiwyg/language/flags/esp.jpg) 0 0 /100%  no-repeat;
}

.language-switcher #select-store li.current {
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
}

.language-switcher #select-store li a {
    width: 22px;
    height: 17px;
}

.language-switcher select {
    display: none;
    font-weight: bold;
    margin-top: 5px;
    font-size: 11px;
    color: #FFF;
    border: none;
    background: none transparent;
}

.language-switcher select option {
    color: #000;
}

.language-switcher .store-switcher label {
    display: none;
}

.skip-cart {
    top: inherit;
    left: inherit;
    position: inherit;
}

.right-header-container {
    float: left;
    width: 85%;
    margin-top: 10px;
}

.right-header-bottom {
    display: table;
    width: 100%;
}

#header-links {
    float: right;
}

.language-switcher option {
    background-color: #fff;
}

.top-cart {
    float: right;
    line-height: 45px;
}

#header .top-cart .mini-cart-subtotal .price {
    color: #00aee6;
}

.skip-cart .label {
    display: none;
}

.skip-cart .icon {
    width: 43px;
    height: 37px;
    background: url(../../wysiwyg/botao-carrinho.png) center center no-repeat;
}

.header-search-holder {
    width: 80%;
    float: right;
    margin-right: 2%;
    margin-top: 3px;
}

#search {
    color: #333;
    border: medium none;
    border-radius: 3px;
    text-transform: uppercase;
}

#search_mini_form .search-button:before  {
    width: 15px;
    height: 16px;
    margin-left: -6px;
    margin-top: -9px;
    background: url(../../wysiwyg/lupa-busca.png) center center no-repeat;
}

.skip-cart:hover:not(.skip-active) .icon {
    background-position: 0 0;
}

@media screen and (max-width: 980px) {
    .logo {
        max-width: inherit;
        text-align: center;
        width: 100%;
    }

    .logo .large {
        display: inline-block;
    }

    .logo .small {
        display: none;
    }

}

@media screen and (max-width: 769px) {

}

body:before {
    display: none;
}

@media all and (max-width: 770px) {
    body:before { content: 'responsive-top';}

    .skip-link {
        border-left: 1px solid #ececec;
    }

    .skip-links .skip-link.skip-cart .icon {
        background-image: url("../../../media/wysiwyg/icon_sprite.png");
        background-position: 0 -101px;
        background-repeat: no-repeat;
        height: 20px;
        width: 28px;
    }

    .mini-cart-subtotal,
    .mini-cart-itens {
        display: none;
    }

    .header-minicart.skip-active .block-cart,
    .block-cart.skip-active {
        display: block;
        float: left;
        padding: 10px;
        width: 100%;
    }

    #header-search {
        width: 100%;
        float: left;
    }

    #nav li.level0 {
        display: block;
    }

    #header-nav .header-bar {
        padding: 0;
    }

    .welcome-message,
    .header-search-holder {
        display: none;
    }

    .right-header-container {
        width: 100%;
        margin-bottom: 10px;
    }

    .language-switcher {
        float: none;
        margin: 0 auto;
    }

}


#header-search {
    width: 100%;
}

@media screen and (min-width: 770px) and (max-width: 1000px) {
    .welcome-message {
        margin-left: 25px;
    }

    .right-header-container {
        width: 100%;
    }

    .header-search-holder {
        width: 70%;
    }

    #nav li.level0:last-child {
        border: medium none;
    }
}

.footer-lv1 .footer-col {
    width: 23%;
    margin: 0 1%;
    float: left;
}

.footer-lv2 .footer-col {
    width: 30%;
    margin: 0 1%;
    float: left;
}

#footer .h1 {
    width: 100%;
    float: left;
    font-size: 14px;
    margin-bottom: 15px;
    font-weight: bold;
}

#footer .custom-links {
    line-height: 25px;
}

.footer-lv1,
.footer-lv2 {
    float: left;
    margin-bottom: 25px;
    width: 100%;
}

.footer-lb {
    float: left;
    font-size: 13px;
    font-weight: bold;
    line-height: 45px;
    margin-right: 12px;
    text-transform: uppercase;
}

.copyright {
    clear: both;
    float: left;
    margin-top: 10px;
    text-align: center;
    width: 100%;
}

@media screen and (min-width: 481px) and (max-width: 1080px) {
    .footer-lv1 .footer-col,
    .footer-lv2 .footer-col {
        width: 48%;
        margin: 0 1% 15px 1%;
    }
}

@media screen and (max-width: 480px) {
    .footer-lv1 .footer-col,
    .footer-lv2 .footer-col {
        width: 100%;
        margin: 0 0 15px 0;
        text-align: center;
    }
}

a.button, .wrapper button.button, .products-grid .item .button, .products-list .item .button, .cart-table .product-cart-actions .button, #co-shipping-method-form .buttons-set .button, .owl-carousel.owl-theme .owl-controls .owl-buttons div {
    border-radius: 3px;
}

.products-grid .button,
.products-list .button {
    width: 100%;
}

.block-related .actions, .products-grid .actions { position: inherit; }

.block-related .product-name, .products-grid .product-name, .products-list .product-name { min-height: 40px; }
.bx-wrapper { text-align: center; }
.bx-wrapper img { display: inline-block; }

.cms-index-index .breadcrumbs {
    display: none;
}

.skip-cart .count {
    display: none;
}

a.skip-active {
    border: none;
}

#header-cart.skip-active {
    padding: 10px;
}

#header-cart.skip-active a, #header-cart.skip-active span {
    color: #1f2434;
}

.close.skip-link-close {
    float: right;
    font-size: 32px;
}

.minicart-wrapper .block-subtitle {
    color: #1F2434;
}

.cart-link {
    display: inline-block !important;
    text-align: center;
    width: 50%;
}