/* Header */

#header, #header a {
    font-family: "Open Sans";
}

#header .redes-sociais a {
    margin-left: 14px;
}

.header-language-background {
    height: auto;
    line-height: 24px;
    color: #FFF;
    background-color: #171836;
}

.header-language-background .phone-header {
    color: #dc3136;
    font-size: 11px;
}

.header-language-background .phone-header .icon-call {
    margin: 0 5px -5px 8px;
}

#header-nav {
    width: 100%;
    background-color: #dc3136;
    border-radius: 2px;
}

.header-language-background .toplinks li:before {
    content: "•";
    display: inline-block;
}

.top-links-container {
    margin-right: 24px;
}

#header .redes-sociais {
    line-height: 22px;
    margin-top: 3px;
}

/* Top font-size */
.header-language-background .phone-header,
#header .toplinks a {
    font-size: 11px;
}

.skip-links { clear: none; margin-top: 43px; }
.skip-links #header-links { float: left; }

#header-links a:hover { text-decoration: none; }

#header-links .my-account-link { margin-right: 26px; }

#header-links .my-account-link:before {
    width: 12px;
    height: 12px;
    content: " ";
    display: inline-block;
    background: url('../../../media/wysiwyg/sprite.png') -76px -185px no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
    margin-right: 6px;
}

#header-links .my-orders-link { margin-right: 24px; }

#header-links .my-orders-link:before {
    width: 12px;
    height: 12px;
    content: " ";
    display: inline-block;
    background: url('../../../media/wysiwyg/sprite.png') -39px -241px no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
    margin-right: 6px;
}

.page-header-container { min-height: auto; margin: 20px 0; }

/* Menu */
.nav-primary {
    display: table;
    width: 100%;
    padding: 0;
    margin-top: 0;
}

.nav-primary li.level0 {
    display: table-cell;
    text-align: center;
    transition: background-color 500ms linear 0s;
    -webkit-transition: background-color 500ms linear 0s;
}

.nav-primary li.level0 > a {
    width: 100%;
    border-color: #d02a2f;
    text-transform: none;
    font-size: 13px;
    color: #FFF;
}

.nav-primary li.level0.last > a { border: none; }

.nav-primary a { padding: 12px 0; }

.nav-primary a.level0,
.nav-primary a.level-top { padding: 0; }

.header-language-background .store-tel-container .icon-small-tel { margin-right: 3px; }

.nav-primary li.level0:first-child{
    border-radius: 2px 0 0 0;
}

.nav-primary li.level0:last-child{
    border-radius: 0 2px 0 0;
}

.nav-primary .menu-active,
.nav-primary li.level0:hover {
    background-color: #171836;
    transition: background-color 100ms linear 0s;
    -webkit-transition: background-color 100ms linear 0s;
}

/* Sub menu */
.nav-primary li.level0 ul {
    border-radius: 0 0 2px 2px;
}

.nav-primary li.level1 ul {
    left: 125px;
    top: 0;
}

.nav-primary li.level0.last ul {
    left: inherit;
    right: 0;
}

.nav-primary li.level0 ul li {
    float: left;
    width: 50%;
}

.nav-primary li:last-child > a {
    border-bottom: 1px solid #f0f0f0;
}

.nav-primary li.level1 a {
    line-height: 15px;
}

.nav-primary li:hover > ul {
    display: block;
}

.nav-primary li.level0 ul {
    padding: 0;
}

.nav-primary li.level1:nth-child(n+3) ul {
    left: -250px;
}

/* Logo */
.logo {
    width: auto;
    min-height: auto;
    min-width: auto;
}

/* Banner */
#header .bx-wrapper {
    margin-top: 24px;
    margin-bottom: 1px;
}

.page-header .no-effect-banner > div {
    float: left;
}

.page-header .no-effect-banner > div:nth-child(2) {
    margin-left: 20px;
}

/* Clears */
.page-header-container:after,
.footer-news #newsletter-validate-detail .block-content:after,
.footer-container .footer-news:after,
.footer-container .footer-news .block-subscribe:after,
#header:after { display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }

/* Removes */
.availability,
.product-view .link-price-alert,
.product-view .add-to-links .separator,
.product-view .add-to-links .link-compare,
.products-grid .add-to-links .link-compare,
.block-related .add-to-links .link-compare,
.crosssell .add-to-links .link-compare,
.products-grid .add-to-links .separator,
.block-related .add-to-links .separator,
.crosssell .add-to-links .separator,
.products-grid .add-to-links,
.block-related .add-to-links,
.crosssell .add-to-links,
.category-title,
.breadcrumbs .back-button,
#header .bx-wrapper .bx-pager .bx-pager-item,
.form-subscribe-header,
.products-grid .price-box .minimal-price-link,
.block-related .price-box .minimal-price-link,
.crosssell .price-box .minimal-price-link,
.footer-news .block-subscribe .block-title,
#header .bx-wrapper .bx-controls-auto .bx-controls-auto-item,
.pages .next:before,
.pages .previous:before,
body:not(.cms-home) .col-left-first > .block.block-subcategories:nth-child(4),
body:not(.cms-home) .col-left-first > .block.block-layered-nav.block-layered-nav--no-filters:first-child  { display: none; }

/* Sprite */
.icon-news, .icon-correios, .icon-site-blindado, .icon-sedex, .icon-site-seguro,
.icon-pac, .icon-certisign, .icon-mail, .icon-place, .icon-telefone,
.icon-boleto, .icon-dinners, .icon-itau, .icon-mastercard, .icon-money,
.icon-visa, .skip-links .skip-link.skip-cart  .icon, .icon-twitter, .icon-menu, .icon-instagram,
.icon-people, .icon-so-fast, .icon-pinterest, .icon-face, .icon-small-tel, .icon-call, .icon-youtube
{ display: inline-block; background: url('../../../media/wysiwyg/sprite.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }

.icon-news { background-position: -2px -0px; width: 91px; height: 68px; }
.icon-correios { background-position: -2px -70px; width: 68px; height: 13px; }
.icon-site-blindado { background-position: -2px -85px; width: 67px; height: 17px; }
.icon-sedex { background-position: -2px -104px; width: 62px; height: 14px; }
.icon-site-seguro { background-position: -2px -120px; width: 61px; height: 23px; }
.icon-pac { background-position: -2px -145px; width: 58px; height: 14px; }
.icon-certisign { background-position: -2px -161px; width: 57px; height: 22px; }
.icon-mail { background-position: -2px -185px; width: 35px; height: 35px; }
.icon-place { background-position: -39px -185px; width: 35px; height: 35px; }
.icon-telefone { background-position: -2px -222px; width: 35px; height: 35px; }
.icon-boleto { background-position: -66px -104px; width: 25px; height: 17px; }
.icon-dinners { background-position: -65px -123px; width: 25px; height: 17px; }
.icon-itau { background-position: -65px -142px; width: 25px; height: 17px; }
.icon-mastercard { background-position: -61px -161px; width: 25px; height: 17px; }
.icon-money { background-position: -39px -222px; width: 25px; height: 17px; }
.icon-visa { background-position: -66px -222px; width: 25px; height: 17px; }
.skip-links .skip-link.skip-cart .icon { background-position: -72px -70px; width: 17px; height: 13px; }
.icon-twitter { background-position: -71px -85px; width: 17px; height: 14px; }
.icon-menu { background-position: -76px -185px; width: 15px; height: 11px; }
.icon-instagram { background-position: -76px -198px; width: 14px; height: 14px; }
.icon-people { background-position: -39px -241px; width: 12px; height: 12px; }
.icon-so-fast { background-position: -53px -241px; width: 12px; height: 24px; }
.icon-pinterest { background-position: -67px -241px; width: 11px; height: 14px; }
.icon-face { background-position: -80px -241px; width: 7px; height: 14px; }
.icon-small-tel { background-position: -37px -255px; width: 15px; height: 11px; }
.icon-call { background-position: -2px -259px; width: 14px; height: 16px; }
.icon-youtube { background-position: -20px -259px; width: 14px; height: 17px; }

/* Sidebar */
.block-layered-nav.block-subcategories .block-content,
.block-layered-nav .block-content dl dd {
    padding: 10px 8px;
}

.block-layered-nav.block-subcategories .block-title,
.block-layered-nav .block-content dl dt {
    border: none;
    line-height: 12px;
    padding-top: 5px;
    padding-bottom: 6px;
    border-radius: 2px;
    text-transform: none;
    background-color: #171836;
}

.block-layered-nav.block-subcategories .main-block-title,
.block-layered-nav .block-content dl dt a,
.block-layered-nav.block-subcategories .block-title strong,
.block-layered-nav .block-content #narrow-by-list dt,
.block-layered-nav .block-content #narrow-by-list2 dt {
    color: #FFF;
    font-size: 15px;
    padding-left: 27px;
    position: relative;
    line-height: 25px;
}

.block-layered-nav .block-content #narrow-by-list dt,
.block-layered-nav .block-content #narrow-by-list2 dt {
    padding-left: 36px;
}

.block-layered-nav.block-subcategories .block-title {
    padding-left: 10px;
}

.block-layered-nav .block-content dl dt a:hover { text-decoration: none; }

.block-layered-nav.block-subcategories .main-block-title:before,
.block-layered-nav .block-content dl dt a:before,
.block-layered-nav.block-subcategories .block-title:before,
.block-layered-nav .block-content #narrow-by-list dt:before,
.block-layered-nav .block-content #narrow-by-list2 dt:before {
    content: "";
    width: 12px;
    height: 24px;
    position: absolute;
    left: 2px;
    top: -3px;
    margin-right: 9px;
    background: url('../../../media/wysiwyg/sprite.png') -53px -241px no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
}

.block-layered-nav.block-subcategories .block-title:before {
    left: 11px;
    top: 6px;
}

.block-layered-nav.block-subcategories .block-content a,
.block-layered-nav dl dd ol > li > span,
.block-layered-nav dl dd ol > li > a {
    font-family: "Open Sans";
    font-size: 14px;
    color: #383838;
    display: inline-block;
    padding: 3px 0 4px;
}

.block-layered-nav.block-subcategories .block-content .level0 a:before,
.block-layered-nav dl dd ol > li > span:before,
.block-layered-nav dl dd ol > li > a:before {
    content: "•";
    margin-right: 5px;
    display: inline-block;
}

.block-layered-nav dl dd ol > li > a:hover {
    text-decoration: none;
}

.block-layered-nav.block-subcategories .main-block-title {
    display: block!important;
    font-weight: normal;
}

.block-layered-nav.block-subcategories .main-block-title strong {
    font-weight: normal;
}

.block-layered-nav.block-subcategories .block-content {
    list-style: none;
}

.block-layered-nav.block-subcategories .block-content .level1 {
    padding-left: 30px;
}

.block-layered-nav.block-subcategories .block-content li:not(.level0) a:before {
    display: none;
}

/* Content Title */
.widget .subtitle,
.product-view .product-essential .box-collateral.box-up-sell h2,
.product-view .product-essential .block-related h2,
.crosssell h2 {
    font-size: 14px;
    color: #383838;
    padding-bottom: 5px;
    margin-top: 24px;
    margin-bottom: 23px;
    font-family: "Open Sans";
    border-bottom: 1px solid #f0f0f0;
}

/* Buttons */
.crosssell .actions a.button,
.block-related .actions a.button,
.products-grid .actions a.button,
.products-grid .actions  button.btn-cart {
    width: 100%;
    border-radius: 2px;
    padding: 8px 15px 8px 15px;
    background-color: #58b932;
}

.crosssell .actions a.button:hover,
.block-related .actions a.button:hover,
.products-grid .actions a.button:hover,
.products-grid .actions  button.btn-cart :hover {
    background-color: #58b932;
}

.crosssell .actions a.button,
.block-related .actions a.button,
.products-grid .actions a.button,
.products-grid .actions  button.btn-cart span {
    text-transform: none;
    font-size: 13px;
    font-family: "Open Sans";
}

/* Products Grid */
.products-grid > li { margin-bottom: 38px; }

.crosssell .product-name,
.block-related .product-name,
.products-grid .product-name,
.products-list .product-name {
    min-height: 90px;
    font-family: "Open Sans";
    font-size: 13px;
    color: #2e2e2e;
    text-transform: none;
    text-align: left;
    margin-bottom: 4px;
}

.block-related .product-name:hover,
.products-grid .product-name:hover,
.products-list .product-name:hover {
    text-transform: none;
    text-decoration: none;
}

.block-related .price-box .old-price .price-label,
.products-grid .price-box .old-price .price-label,
.products-grid .price-box .special-price .price-label {
    display: inline-block;
}

.block-related .product-image,
.products-grid .product-image,
.no-touch .products-grid .product-img-box .product-image:hover:not(.zoom-available) {
    border: none;
}

.block-related .product-info ,
.products-grid .product-info {
    padding: 0;
    min-height: inherit!important;
}

.block-related .actions,
.products-grid .actions {
    position: relative;
    bottom: inherit;
    padding-top: 13px;
    min-height: inherit;
}

/* Products Grid Prices */
.block-related .price-box,
.products-grid .price-box {
    text-align: left;
    margin-bottom: 0;
    min-height: 45px;
}

.block-related .price-box .old-price,
.products-grid .price-box .old-price {
    display: block;
    font-size: 11px;
    margin-bottom: 4px;
    font-family: "Open Sans";
}

.block-related .price-box .old-price .price-label,
.products-grid .price-box .old-price .price-label,
.products-grid .price-box .price-from .price-label {
    font-size: 11px;
    color: #8d8585;
}

.block-related .price-box .old-price .price,
.products-grid .price-box .old-price .price,
.products-grid .price-box .price-from .price {
    color: #8d8585;
}

.block-related .price-box .special-price,
.products-grid .price-box .special-price {
    padding-left: 0;
    font-family: "Open Sans";
}

.block-related .price-box .special-price .price-label,
.products-grid .price-box .special-price .price-label,
.products-grid .price-box .price-to .price-label {
    font-size: 12px;
    color: #e94044;
}

.block-related .price-box .special-price .price,
.products-grid .price-box .special-price .price,
.products-grid .price-box .price-to .price {
    font-size: 15px;
    font-weight: bold;
    color: #e94044;
}

.block-related .nr-pcl,
.products-grid .nr-pcl {
    color: #8d8585;
    font-size: 11px;
    text-align: left;
    display: block;
    font-family: "Open Sans";
}

.block-related .price-box .regular-price .price,
.products-grid .price-box .regular-price .price {
    font-size: 15px;
    color: #e94044;
}

/* Search */
#header-search #search {
    height: 35px;
    color: #b4b4b4;
    font-size: 12px;
    font-family: "Open Sans";
    background-color: #efefef;
    border-top: none;
    border-color: #e8e8e8;
    border-radius: 2px;
    box-shadow: 0 2px 0px -1px #DDD;
}

#header-search #search:focus{
    color: #2e2e2e;
}

#search_mini_form .search-button:before {
    top: 65%;
    left: 82%;
    background: url('../../../media/wysiwyg/sprite.png') -67px -258px no-repeat!important;
}

/* Header Cart */
#header-cart.skip-active {
    padding: 10px;
    top: 65px;
    right: 25px;
    z-index: 201;
    box-shadow: 0 4px 5px #E7E7E7;
}

.skip-link.skip-cart  { float: left; }

.skip-link.skip-cart .count {
    font-size: 11px;
    line-height: inherit;
    height: inherit;
    top: inherit;
}

.skip-cart {
    padding: 0;
    position: relative;
    right: inherit;
    top: inherit;
    background: none transparent;
    height: auto;
    line-height: inherit;
    text-transform: none;
}

.skip-cart .block-title {
    font-weight: bold;
    margin-bottom: 7px;
    text-transform: uppercase;
}

.mini-products-list li {
    margin: 10px 0 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid #E7E7E7;
}

.close.skip-link-close {
    float: right;
}

.mini-products-list .product-details .product-name {
    padding-top: 0;
}

.minicart-wrapper .block-content {
    text-align: right;
}

.qty.cart-item-quantity {
    height: 35px;
    margin-left: 5px;
    text-align: center;
    width: 50px;
}

.minicart-message {
    color: #DC3136;
    font-family: "Open Sans";
}

.minicart-wrapper .subtotal label {
    color: #DC3136;
    font-weight: normal;
}

.minicart-wrapper .subtotal .price {
    color: #DC3136;
    font-weight: bold;
}

/* Footer */
.footer-bar {
    background-color: #e7e7e7;
}

.textnews .texto .titulo {
    font-size: 20px;
    color: #828282;
    margin-bottom: 4px;
}

.textnews .texto .sub-titulo {
    color: #828282;
    font-size: 14px;
}

.textnews .selo,
.textnews .texto,
.footer-news .block.block-subscribe #newsletter-validate-detail,
#newsletter-validate-detail .input-box,
#newsletter-validate-detail .actions {
    float: left;
}

.footer-container {
    padding-bottom: 5px;
    margin-top: 39px;
    font-family: "Lato";
}

.footer-container .footer-news .block-subscribe {
    float: right;
    margin-top: 26px;
}

.textnews .texto > * {
    display: block;
}

.footer-news #newsletter-validate-detail .block-content {
    border-radius: 8px;
    background-color: #f9f9f9;
}

.footer-container .textnews .selo {
    margin: 14px 34px 0 0;
}

#newsletter-validate-detail #newsletter.input-text {
    background-color: none;
    border: none;
    font-size: 12px;
    color: #b0b7b6;
    height: 34px;
    padding: 0 13px;
    background-color: transparent;
}

#newsletter-validate-detail #newsletter.input-text:focus {
    color: #828282;
}

#newsletter-validate-detail .actions button.button {
    font-size: 14px;
    color: #FFF;
    border-radius: 9px;
    background: #dc3136;
    text-transform: none;
    padding: 9px 33px;
}

#newsletter-validate-detail .actions button.button:hover { background-color: #171836; }

#newsletter-validate-detail .actions { margin: 0; }

.footer-container .textnews .texto { padding-top: 30px; }

.input-text:focus {
    border: 1px solid #dc3136;
}

.customer-account-create .fieldset,
.customer-account-create .buttons-set { margin: 0; }

button.btn-cart,
button.btn-proceed-checkout,
button.btn-checkout { background-color: #58B932; }

button.btn-cart:hover,
button.btn-proceed-checkout:hover,
button.btn-checkout:hover { background-color: #58B932; }

/* Footer Links */
.footer-container {}

.footer-container .sub-cols .icon {
    float: left;
    margin-right: 15px;
}

.footer-container .sub-cols {
    float: left;
    margin-right: 2%;
    width: 13.33%;
}

.footer-container .sub-cols .highlight-txt {
    color: #dc3136;
}

.footer-container .sub-cols.sub-col1 {
    width: 25%;
}

.sub-cols.sub-col1 li {
    margin-bottom: 7px;
}

.footer-container .sub-cols.sub-col5 {
    width: 27%;
    margin-right: 0;
}

.footer-container .full-col {
    width: 100%;
    clear: both;
}

.footer-container .sub-cols .title {
    font-family: "Lato";
    font-size: 12px;
    color: #312829;
    font-weight: bold;
    margin-bottom: 26px;
    text-transform: uppercase;
}

.footer-container .links-container .custom-links li  {
    line-height: 25px;
}

.footer-container .links-container .custom-links li a{
    color: #828282;
}

.footer-container .links-container .custom-links li:before {
    content: "•";
    display: inline-block;
    color: #828282;
    font-size: 8px;
}

.footer-container .full-col .sub-cols {
    width: 32%;
    margin-right: 2%;
}

.footer-container .full-col .sub-col3 {
    margin-right: 0;
}

.footer-container .full-col .sub-cols .title {
    position: relative;
}

.footer-container .full-col .sub-cols .title span {
    z-index: 2;
    position: relative;
    padding-right: 12px;
    background-color: #FFF;
}

.footer-container .full-col .sub-cols .title:after {
    border: 1px solid #d3d3d3;
    content: " ";
    height: 1px;
    position: absolute;
    right: 0;
    top: 8px;
    width: 100%;
    z-index: 1;
}

.footer-container .full-col li {
    margin-right: 12px;
}

/* Product List */
.category-image {
    border: none;
    padding: 0;
}

.block-layered-nav {
    margin-bottom: 0;
}

.block-layered-nav .block-content #narrow-by-list dt:before,
.block-layered-nav .block-content #narrow-by-list2 dt:before {
    left: 12px;
    top: 6px;
}

body .sidebar .block-layered-nav .block-title {
    font-family: "Open Sans";
    color: #dc3136;
    font-size: 15px;
    text-transform: none;
}

.products-grid .item {
    box-shadow: 0 0 0 0 #FFF;
    transition: all 0.1s ease 0s;
    -moz-transition: all 0.1s ease 0s;
    -webkit-transition: all 0.1s ease-in 0s;
}

.products-grid .item:hover {
    box-shadow: 0 0 0px 8px #ffffff, 0 0 8px 10px #c3c3c3;
    transition: all 0.1s ease 0s;
    -moz-transition: all 0.1s ease 0s;
    -webkit-transition: all 0.1s ease-out 0s;
}

.products-grid .ratings {
    margin: 0;
    position: absolute;
    right: 36%;
    top: -20px;
    z-index: 10;
}

/* Toolbar */
.toolbar {
    border: none;
    padding: 5px 0 0;
    background: none;
}

.pages li {
    margin: 0 5px;
}

.pages .next,
.pages .previous {
    width: 22px;
    height: 22px;
    border: 1px solid #e7e7e7;
    background: url('../../../media/wysiwyg/arrow-sprite.png') 0 0 no-repeat;
}

.pages .next {
    background-position: -20px 0;
}

.pages .previous {
    background-position: -20px -20px;
}

.pages a,
.pages .current {
    width: auto;
    height: auto;
    font-size: 12px;
    color: #383838;
    font-family: "Open Sans";
}

.pages .current:hover {
    background-color: none;
    border: none;
    color: #383838;
    cursor: default;
    width: auto;
}

.pages .current {
    font-size: 14px;
    font-weight: bold;
    border: none;
    line-height: 32px;
}

.toolbar label,
.pager-no-toolbar label {
    text-transform: none;
    font-family: "Open Sans";
    color: #383838;
}

.pager .amount {
    margin: 0 50px 0 0;
}

.toolbar select {
    min-width: 50px;
    border: none;
    padding: 0 8px 0 3px;
}

.toolbar .select-box { position: relative; border: 1px solid #f0f0f0; }
.toolbar .select-box:after {
    width: 20px;
    height: 20px;
    content:'';
    right: 5px;
    top: 5px;
    position:absolute;
    pointer-events:none;
    background: url('../../../media/wysiwyg/arrow-sprite.png') 0 0 no-repeat;
}
.toolbar .select-box:before {
    content:'';
    width:20px;
    height:30px;
    position:absolute;
    right: 0;
    top: 0;
    display:block;
    pointer-events:none;
    background-color: #FFF;
}

/* Breadcrumbs */
.breadcrumbs strong,
.breadcrumbs span,
.breadcrumbs a {
    color: #AAA;
    font-size: 12px;
    font-family: "Open Sans";
}

.breadcrumbs span,
.breadcrumbs strong { text-decoration: italic; }

.breadcrumbs li { text-transform: none; }

.breadcrumbs strong {
    font-style: italic;
    font-weight: bold;
}

.breadcrumbs .separator { padding: 0; }

.breadcrumbs .separator {
    float: left;
    padding: 0 7px;
}

/* Sign - Footer */
#assinatura { margin-top: 15px; }

/* Default Styles */
#customer-reviews h3 span,
#customer-reviews h2 { color: #dc3136; }

.block-title h2,
.block-title h3,
.block-title strong {
    font-size: 15px;
    color: #dc3136;
    font-family: "Open Sans";
    text-transform: none;
    font-weight: normal;
    margin-bottom: 7px;
}

.page-title h1,
.page-title h2,
.product-name h1,
.product-name .h1,
.block-related .block-title h2 { color: #e94044; font-family: "Open sans"; }

h2, .h2 {
    color: #e94044;
    font-size: 18px;
    font-family: "Open sans";
}

h3, .h3 {
    font-family: "Open sans";
}

.button, .cart-table .product-cart-actions .button:active,
#co-shipping-method-form .buttons-set .button:active,
.footer .button:active,
.owl-carousel.owl-theme .owl-controls .owl-buttons div:active,
.owl-carousel.owl-theme .owl-controls .owl-buttons div,
.cart-table .product-cart-actions .button,
#co-shipping-method-form .buttons-set .button,
.footer .button {
    background: none repeat scroll 0 0 #dc3136;
    border-radius: 2px;
    color: #ffffff;
    font-size: 14px;
    padding: 9px 33px;
    text-transform: none;
}

.product-view  .add-to-cart-wrapper .shipping-estimation-form .button {
    border-radius: 9px;
}

.catalog-product-view .product-options-bottom .add-to-cart .add-to-cart-buttons button.button.btn-cart {
    border-radius: 2px;
}

.button:hover,
.cart-table .product-cart-actions .button:hover,
#co-shipping-method-form .buttons-set .button:hover,
.footer .button:hover { background-color: #171836; }

.icon-sprite,
.btn-remove2,
.ratings .rating-box,
.ratings .rating-box .rating,
.sorter > .sort-by .sort-by-switcher,
.sorter > .view-mode .grid,
.sorter > .view-mode .list,
.skip-nav .icon,
.skip-search .icon,
#search_mini_form .search-button:before,
.skip-account .icon,
.skip-cart .icon,
.product-view .sharing-links a,
.review-summary-table .rating-box .rating-number:after,
.ratings-table .rating-box,
.ratings-table .rating-box .rating {
    background-image: url('../../../media/wysiwyg/icon_sprite.png');
}

/* Customer account */
.dashboard .col2-set .col-1 .box-title a,
.dashboard .col2-set .col-2 .box-title a {
    position: inherit;
    top: inherit;
    right: inherit;
    padding: 10px 0;
}

.block-account li,
.block-cms-menu li {
    text-transform: none;
    font-family: "Open Sans";
}

.block-account li.current strong {
    font-weight: bold;
}

.crosssell .block-title h2,
.block-related .block-title h2 { font-family: "Open Sans"; }

/* Product View */
.product-img-box {
    width: 100%;
    padding-left: 0;
}

.product-view .product-essential .product-img-box .product-image-zoom {
    width: 578px;
    border: 1px solid #dedede;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 9px;
}

/* Review */
.product-view .extra-info .ratings .rating-links {
    background-color: #dc3136;
    clear: none;
    border-radius: 2px;
    margin: 0;
    padding: 2px 13px 3px 13px;
}
.product-view .extra-info .ratings .rating-links a {
    font-size: 11px;
    font-family: "Open Sans";
    color: #FFF;
}

.product-view .product-essential .extra-info .ratings .rating-box{
    float: right;
    margin: 5px 7px;
}

.product-view .extra-info .ratings {
    border: 1px solid #dedede;
    border-radius: 2px;
}

#customer-reviews dl dd table {
    margin: 5px 0;
}

#customer-reviews .review-heading {
    border-bottom: 1px solid #aa2a36;
    border-top: none;
    margin-top: 30px;
    padding: 10px 0 5px;
}

#customer-reviews dl dd {
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 15px;
    margin: 0;
}

#customer-reviews dl dt {
    font-weight: bold;
    margin: 25px 0 0;
}

#customer-reviews dl dd:last-child {
    border-bottom: medium none;
}

.review-summary-table tbody th {
    padding: 10px 2px;
    text-transform: none;
}

.review-summary-table thead th {
    padding: 10px 7px 10px 8px;
}

#customer-reviews .fieldset {
    padding-top: 0;
}

#customer-reviews h3 {
    margin: 15px 0 25px;
}

/* Thumbnails */
.product-image-thumbs li:first-child {
    margin-left: 0;
}

.product-view .more-views {
    max-width: 580px;
    padding: 0 10px;
}

.product-view .more-views .product-image-thumbs li {
    width: 99px;
    height: 86px;
    border: 1px solid #dedede;
    border-radius: 2px;
    margin-right: 13px;
    overflow: hidden;
}

.product-view .more-views .product-image-thumbs li:nth-child(5n+5) {
    margin-right: 0;
}

.product-image-thumbs a { border: none; }

.product-view .more-views .product-image-thumbs li img, .product-view .more-views .product-image-thumbs li a {
    height: auto;
    width: 100%;
}

/* Tabs */
.product-collateral .toggle-tabs {
    border-top: none;
}

.product-collateral .toggle-tabs li > span {
    text-transform: none;
    font-family: "Open Sans";
    font-size: 15px;
    color: #8d8585;
}

.catalog-product-view .product-collateral .std {
    font-family: "Open Sans";
    font-size: 13px;
    color: #8d8585;
}

#customer-reviews .fieldset .form-list {
    text-transform: none;
}

.catalog-product-view .product-name h1,
.catalog-product-view .product-name .h1 {
    text-transform: none;
    color: #000;
    font-size: 16px;
    border: none;
    font-weight: normal;
}

.container-product-basic-and-image-gallery,
.product-view .add-to-cart-wrapper {
    width: 50%;
}

.product-view .product-shop { width: 100%; }

.product-options,
.product-options-bottom {
    border: none;
}

/* Sprite product page */
.sprite-shipping, .sprite-twitter, .sprite-instagram, .sprite-heart, .sprite-pinterest,
.sprite-facebook
{ display: inline-block; background: url('../../../media/wysiwyg/sprite-product.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }

.sprite-shipping { background-position: -2px -0px; width: 21px; height: 19px; }
.sprite-twitter { background-position: -2px -21px; width: 17px; height: 14px; }
.sprite-instagram { background-position: -2px -37px; width: 14px; height: 14px; }
.sprite-heart { background-position: -2px -53px; width: 11px; height: 10px; }
.sprite-pinterest { background-position: -2px -65px; width: 11px; height: 14px; }
.sprite-facebook { background-position: -2px -81px; width: 7px; height: 14px; }

.product-view .desconto-boleto {
    font-size: 18px;
    font-family: "Open Sans";
    display: inline-block;
    color: #FFF;
    border-radius: 2px;
    padding: 14px 24px;
    margin: 25px 0;
    background-color: #3e4081;
}

.product-view .desconto-boleto .price {
    font-weight: bold;
}

.product-view .price-box {
    width: 100%;
    float: left;
}

.product-view .price-box .old-price .price-label,
.product-view .price-box .old-price .price,
.product-view .price-box .special-price .price-label,
.price-box .regular-price:before,
.price-box .special-price:before {
    font-size: 14px;
    font-family: "Open Sans";
    color: #8d8585;
    font-weight: normal;
}

.price-box .regular-price:before {
    content: "De:";
}

.product-view .price-box .special-price .price,
.product-view .price-box .regular-price .price {
    color: #e94044;
    font-size: 22px;
}


.product-view .parcelamento ,
.product-view .parcelamento .link-parcelas {
    font-size: 13px;
    font-family: "Open Sans";
    color: #8d8585;
}

.product-view .parcelamento .link-parcelas {
    text-decoration: underline;
}

.product-view .add-to-cart,
.product-view .add-to-cart .qty-wrapper {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
    height: auto;
}

.product-view .add-to-cart {
    float: left;
}

.product-view .add-to-links {
    clear: none;
}

.product-view .add-to-links .link-wishlist {
    font-size: 11px;
    color: #8d8585;
    border: none;
    margin: 8px 0 0 13px!important;
    font-family: "Open Sans";
}

.product-view .add-to-links .link-wishlist:before {
    width: 11px; height: 10px;
    content: " ";
    display: inline-block;
    background: url('../../../media/wysiwyg/sprite-product.png') -2px -53px no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
    margin-right: 5px;
}

.product-view .add-to-cart .qty-wrapper .qty {
    height: 34px;
}

.product-view .add-to-cart-buttons .button {
    min-width: 205px;
    height: 34px;
    line-height: 34px;
    margin-bottom: 0;
}

.product-view .add-to-cart .qty-wrapper label {
    line-height: 34px;
}

.product-view .product-essential {
    margin-bottom: 65px;
}

.product-view .price-info {
    float: left;
    width: 100%;
}

/* Sharing icons */
.product-view .container-sharing {
    width: 100%;
    float: left;
    padding: 15px 3px;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    text-transform: uppercase;
    font-size: 12px;
    font-family: "Open Sans";
    color: #8d8585;
}

.product-view .container-sharing a {
    margin: 0 7px;
}

/* Product Description */
.product-view .product-shop .short-description {
    font-size: 13px;
    font-family: "Open Sans";
    color: #8d8585;
    line-height: 20px;
    padding-top: 9px;
    border-top: 1px solid #ebebeb;
}

.product-view .add-to-box {
    border-radius: 2px;
    width: 100%;
    float: left;
    margin-bottom: 17px;
    padding: 19px 18px 19px;
    background-color: #f0f0f0;
}

/* Shipping */
.product-view  .block-shipping-estimate .block-title {
    float: left;
    line-height: 36px;
    margin: 0 18px 0 0;
}

.product-view  .block-shipping-estimate .block-title strong {
    margin-bottom: 0;
}

.product-view  .block-shipping-estimate .block-title,
.product-view  .block-shipping-estimate .block-title strong {
    font-size: 12px;
    font-family: "Open Sans";
    color: #8d8585;
}

.product-view  .block-shipping-estimate .block-title:before {
    content: " ";
    display: inline-block;
    width: 21px;
    height: 19px;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
    margin-right: 5px;
    background: url('../../../media/wysiwyg/sprite-product.png') -2px -0px no-repeat;
}

.product-view  .block-shipping-estimate .input-box button.button {
    text-transform: uppercase;
    background-color: #c3c3c3;
    padding: 5px 12px 4px;
    font-size: 11px;
    font-family: "Open Sans";
}

.product-view .block-shipping-estimate input[type="text"] {
    width: 30%;
    height: 27px;
    line-height: 25px;
    border-color: #dedede;
    border-radius: 2px;
}

.product-view .block-shipping-estimate .block-shipping-results,
.product-view .block-shipping-estimate .block-shipping-results .block-title {
    width: 100%;
    float: left;
}

.form_rh #contactForm {
    padding-left:0 !important;
    width: 365px;
}

.product-view .add-to-cart-wrapper .shipping-estimation-form .button {
    border-radius: 6px;
}

.welcome-message {
    margin-left: 60px;
    color: #171836;
}

/* Crosssell */
.crosssell {
    width: 100%;
    padding: 0;
}

.discount {
    color: #8d8585;
    font-family: "Open Sans";
    text-align: left;
}

/* Sucess */
.checkout-onepage-success .link-boleto {
    display: block;
}

.checkout-onepage-success img[alt="Imprimir boleto"] {
    display: inline-block;
    margin: 75px 0 25px 0;
    text-align: center;
}

.checkout-onepage-success #bannerEbit {
    text-align: center;
    margin-bottom: 60px;
}

.checkout-onepage-success #bannerEbit img {
    display: inline-block;
}

/* Checkout */
.onestepcheckout #onestepcheckout-address-billing .control input.checkbox {
    margin-top: 3px;
}

/* Carrinho */
.product-cart-image .productlabels_icons .label img {
    width: 100%;
}

/* Responsive */

/* Bigger */
@media (min-width: 1280px) {

}

/* LtBigger */
@media (max-width: 1280px) {

}

/* Tablet Big */
@media (min-width: 978px)  and (max-width: 1279px) {
    .header-language-background {
        padding: 0 12px;
    }

    .page-header .no-effect-banner > div {
        float: left;
        width: 48% !important;
    }

    .page-header .no-effect-banner > div img {
        width: 100%;
    }

    .product-view .product-essential .product-img-box .product-image-zoom {
        width: 100%;
    }

    .product-view .block-shipping-estimate .block-content li.item {
        clear: both;
    }

    .product-view .block-shipping-estimate input[type="text"] {
        width: 40%;
    }

}

/* Tablet */
@media (min-width: 768px) and (max-width: 977px) {
    /* Header */
    .page-header-container {
        margin: 20px 0 0;
    }

    .no-touch #header-account a:hover,
    .no-touch .nav-primary a:hover {
        width: 100%;
        float: left;
        background: none transparent;
    }

    .skip-links #header-links {
        display: none;
    }

    .skip-links .skip-link.skip-cart .icon {
        background-image: url("../../../media/wysiwyg/icon_sprite.png");
        background-position: 0 -101px;
        background-repeat: no-repeat;
        height: 20px;
        width: 28px;
    }

    .skip-cart {
        margin-top: 9px;
    }

    .skip-links .skip-link.skip-cart .icon:hover {
        background-position: -50px -101px;
    }

    #header-cart.skip-active,
    .skip-content.skip-active {
        width: 100%;
        float: left;
    }

    .skip-link .label {
        font-size: 12px;
    }

    .nav-primary li.level0 {
        width: 100%;
        float: left;
        display: inline-block;
    }

    .no-touch #header-account a:hover,
    .no-touch .nav-primary a:hover {
        background-color: #171836;
    }

    .toplinks li {
        float: left;
        width: 100%;
    }

    .toplinks li:hover a {
        color: #FFF;
    }

    .page-header .no-effect-banner,
    .std .no-effect-banner {
        display: none;
    }

    /* Product List */
    .block-related > li,
    .products-grid > li {
        width: 45%;
    }

    .block-related > li:nth-child(3n),
    .products-grid > li:nth-child(3n) {
        margin-right: 3.7037%;
    }

    .block-related > li:nth-child(3n+1),
    .products-grid > li:nth-child(3n+1) {
        clear: none;
    }

    .block-related .price-box,
    .products-grid .price-box {
        min-height: 56px;
    }

    .block-layered-nav .block-subtitle--filter,
    .block-layered-nav .block-subtitle--filter:hover {
        background-color: #171836;
    }

    .block-layered-nav .block-content dl dt:after {
        border-left-color: #ffffff;
        border-right-color: #ffffff;
    }

    /* Newsletter */
    .footer-container .textnews .selo {
        margin: 14px 0 0;
        text-align: center;
        float: none;
    }

    .footer-container .textnews .selo:first-child {
        clear: both;
        float: none;
        margin: 0 auto;
        padding: 30px 0 0;
        width: 91px;
    }

    .titulo > br {
        display: none;
    }

    .footer-container .sub-cols.sub-col1,
    .footer-container .sub-cols,
    .footer-container .full-col .sub-cols,
    .footer-container .sub-cols.sub-col5{
        width: 48%;
    }

    .footer-news #newsletter-validate-detail .block-content {
        margin-left: 99px;
        background: none trasnparent;
    }

    #newsletter-validate-detail #newsletter.input-text {
        background: none trasnparent;
    }

    .footer-container .full-col .sub-cols {
        margin: 10px 0;
    }

    /* Footer Links */
    .footer-container .links-container .custom-links li {
        text-align: center;
    }

    .footer-container .sub-cols .title {
        text-align: center;
        margin: 20px 0 10px;
    }

    .footer-container {
        margin-top: 10px;
    }

    /* Product View */
    .product-view .container-product-basic-and-image-gallery,
    .product-view .add-to-cart-wrapper {
        clear: none;
        float: left;
        width: 50%;
    }

    .product-img-box,
    .product-view .product-essential .product-img-box .product-image-zoom	{
        width: 100%;
    }

    .product-view .add-to-cart-wrapper {
        margin-left: 5%;
        width: 45%;
    }

    .product-view .product-shop .extra-info,
    .product-view .product-shop .price-info {
        max-width: 100%;
    }

    .product-view .add-to-cart-buttons .button {
        min-width: 195px;
    }

    .product-view .more-views .product-image-thumbs li {
        width: 95px;
    }

    .product-view .block-shipping-estimate input[type="text"] {
        width: 60%;
    }

}

/* Mobile */
@media (max-width: 767px) {

}

/* Mobile Small */
@media (min-width: 480px) and (max-width: 767px) {
    /* Header */
    .page-header-container {
        margin: 20px 0 0;
    }

    .no-touch #header-account a:hover,
    .no-touch .nav-primary a:hover {
        width: 100%;
        float: left;
        background: none transparent;
    }

    .skip-links #header-links {
        display: none;
    }

    .skip-links .skip-link.skip-cart .icon {
        background-image: url("../../../media/wysiwyg/icon_sprite.png");
        background-position: 0 -101px;
        background-repeat: no-repeat;
        height: 20px;
        width: 28px;
    }

    .skip-cart {
        margin-top: 9px;
    }

    .skip-links .skip-link.skip-cart .icon:hover {
        background-position: -50px -101px;
    }

    #header-cart.skip-active,
    .skip-content.skip-active {
        width: 100%;
        float: left;
    }

    .nav-primary li.level0 {
        width: 100%;
        float: left;
        display: inline-block;
    }

    .no-touch #header-account a:hover,
    .no-touch .nav-primary a:hover {
        background-color: #171836;
    }

    .toplinks li {
        float: left;
        width: 100%;
    }

    .toplinks li:hover a {
        color: #FFF;
    }

    .page-header .no-effect-banner,
    .std .no-effect-banner {
        display: none;
    }

    /* Product List */
    .block-layered-nav .block-subtitle--filter,
    .block-layered-nav .block-subtitle--filter:hover {
        background-color: #171836;
    }

    .block-layered-nav .block-content > dl > dt:after {
        border-left-color: #ffffff;
        border-right-color: #ffffff;
    }

    /* Newsletter */
    .footer-container .textnews .selo {
        margin: 14px 0 0;
        text-align: center;
    }

    .footer-container .textnews .selo:first-child {
        clear: both;
        float: none;
        margin: 0 auto;
        padding: 30px 0 0;
        width: 91px;
    }

    .titulo > br {
        display: none;
    }

    .footer-container .sub-cols.sub-col1,
    .footer-container .sub-cols,
    .footer-container .full-col .sub-cols,
    .footer-container .sub-cols.sub-col5,
    .sub-cols.sub-col1 > img	{
        width: 100%;
    }

    .footer-news #newsletter-validate-detail .block-content {
        background: none trasnparent;
    }

    #newsletter-validate-detail #newsletter.input-text {
        background: none trasnparent;
    }

    .footer-container .full-col .sub-cols {
        margin: 10px 0;
    }

    /* Footer Links */
    .footer-container .links-container .custom-links li {
        text-align: center;
    }

    .footer-container .sub-cols .title {
        text-align: center;
        margin: 20px 0 10px;
    }

    .footer-container {
        margin-top: 10px;
    }
}

/* Small */
@media (max-width: 480px) {
    /* Header */
    .page-header-container {
        margin: 20px 0 0;
    }

    .logo {
        width: 100%;
    }

    .logo .small {
        display: inline-block;
    }

    .skip-links {
        clear: none;
        float: left;
        margin-top: 0;
        width: 100%;
        padding-bottom: 10px:
    }

    .no-touch #header-account a:hover,
    .no-touch .nav-primary a:hover {
        width: 100%;
        float: left;
        background: none transparent;
    }

    .skip-links #header-links {
        display: none;
    }

    .skip-links .skip-link.skip-cart .icon {
        background-image: url("../../../media/wysiwyg/icon_sprite.png");
        background-position: 0 -101px;
        background-repeat: no-repeat;
        height: 20px;
        width: 28px;
    }

    .skip-cart {
        margin-top: 9px;
    }

    .skip-links .skip-link.skip-cart .icon:hover {
        background-position: -50px -101px;
    }

    #header-cart.skip-active,
    .skip-content.skip-active {
        width: 100%;
        float: left;
    }

    .nav-primary li.level0 {
        width: 100%;
        float: left;
        display: inline-block;
    }

    .no-touch #header-account a:hover,
    .no-touch .nav-primary a:hover {
        background-color: #171836;
    }

    .toplinks li {
        float: left;
        width: 100%;
    }

    .toplinks li:hover a {
        color: #FFF;
    }

    .page-header .no-effect-banner,
    .std .no-effect-banner {
        display: none;
    }

    /* Product List */
    .block-related > li,
    .products-grid > li {
        width: 100%;
    }

    .block-layered-nav .block-subtitle--filter,
    .block-layered-nav .block-subtitle--filter:hover {
        background-color: #171836;
    }

    .block-layered-nav .block-content dl dt:after {
        border-left-color: #ffffff;
        border-right-color: #ffffff;
    }

    /* Newsletter */
    .footer-container .textnews .selo {
        margin: 14px 0 0;
        text-align: center;
    }

    .footer-container .textnews .selo:first-child {
        clear: both;
        float: none;
        margin: 0 auto;
        padding: 30px 0 0;
        width: 91px;
    }

    .titulo > br {
        display: none;
    }

    .footer-container .footer-news .block-subscribe,
    .block.block-subscribe,
    #newsletter-validate-detail .actions .button,
    .footer-container .sub-cols.sub-col1,
    .footer-container .sub-cols,
    .footer-container .full-col .sub-cols,
    .footer-container .sub-cols.sub-col5,
    .sub-cols.sub-col1 > img	{
        width: 100%;
    }

    .block.block-subscribe .input-box,
    #newsletter-validate-detail .actions {
        width: 40%;
    }

    .footer-news #newsletter-validate-detail .block-content {
        background: none trasnparent;
    }

    #newsletter-validate-detail #newsletter.input-text {
        background: none trasnparent;
    }

    .footer-container .full-col .sub-cols {
        margin: 10px 0;
    }

    /* Footer Links */
    .footer-container .links-container .custom-links li {
        text-align: center;
    }

    .footer-container .sub-cols .title {
        text-align: center;
        margin: 20px 0 10px;
    }

    .footer-container {
        margin-top: 10px;
    }

    /* Product View */
    .product-view .product-essential .product-img-box .product-image-zoom,
    .container-product-basic-and-image-gallery, .product-view .add-to-cart-wrapper{
        width: 100%;
    }

    .product-view .product-shop .extra-info,
    .product-view .product-shop .price-info {
        max-width: 100%;
    }

    .product-view .add-to-cart-buttons .button {
        min-width: 165px;
    }

}

div#onestepcheckout-title h1 {
  color: #dc3136;
}

table.onestepcheckout-cart-table h3.product-name {
  color: #dc3136;
}

/* Custom */
@media (min-width: 768px) and (max-width: 979px) {
    .toplinks li {
        width: auto;
        float: none;
    }

    .nav-primary li.level0 {
        display: table-cell;
        float: none;
        width: auto;
    }

    .header-language-background {
        padding: 0 12px;
    }

    .no-touch #header-account a:hover,
    .no-touch .nav-primary a:hover {
        float: none;
    }

    .skip-cart {
        margin-top: 0;
    }
}

/* Uggly */
.block.block-layered-nav:nth-child(3) {
    display: none;
}